

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>A News Tip | Public Death, Private Life: Army Major Alan Rogers and the  Washington Post
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #0710b5;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #0710b5;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/25/knightcase_logo_rogers.JPG') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_25.html" title="Home"><span>A News Tip</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_25_id_315.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_25_id_302.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_25_id_303.html">Gays in the Military</a>





</li>


<li class="leaf"><a  href="case_id_25_id_304.html">Gays and the Media</a>





</li>


<li class="leaf"><a  href="case_id_25_id_305.html">The Rise of "Outing"</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_25_id_306.html">A News Tip</a>





</li>


<li class="leaf"><a  href="case_id_25_id_307.html">The Arlington Ceremony</a>





</li>


<li class="leaf"><a  href="case_id_25_id_308.html">At the Inn</a>





</li>


<li class="leaf"><a  href="case_id_25_id_309.html">What did Rogers want?</a>





</li>


<li class="leaf"><a  href="case_id_25_id_310.html">Who was Alan Rogers?</a>





</li>


<li class="leaf"><a  href="case_id_25_id_311.html">What to Write</a>





</li>


<li class="leaf"><a  href="case_id_25_id_312.html">Deliberating</a>





</li>


<li class="leaf"><a  href="case_id_25_id_313.html">On Downie's Desk</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/25/Army&#32;Major&#32;Alan&#32;Rogers&#32;and&#32;the&#32;Washington&#32;Post_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_25.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">A News Tip</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="padding: 10px; float: right;"><img src="../../files/photos/271/newed_newsroompano.jpg" alt="" /><br />
<p class="caption">The Washington Post newsroom.<br />
&copy; <i>Washington Post</i></p>
</div>
<p>In early March 2008, <i>Washington Post</i> reporter Anne Hull received an email from Sharon Alexander, the deputy director for policy at the Servicemembers Legal Defense Network (SLDN), an activist organization working for the repeal of &ldquo;don&rsquo;t ask, don&rsquo;t tell.&rdquo; Alexander offered a news tip: the death of someone she claimed was the first openly gay officer in Iraq. Army Major Alan Rogers, she said, had also been a Washington-area resident.</p>
<p>This, Alexander wrote, was more than the story of a local soldier dying in the war. Because Rogers was a decorated officer, Alexander believed that a news report about his death could have important policy implications.<a title="" name="_ftnref1" href="case_id_25_id_306_pid_0.html#_ftn1"><span><span><span><span>[1]</span></span></span></span></a> Alexander said that she and Rogers&rsquo; friends had struggled with whether or not to take the story to the media, but eventually decided that they could trust the <i>Post</i> to write a full and balanced story about the entirety of Rogers&rsquo; life.<a title="" name="_ftnref2" href="case_id_25_id_306_pid_0.html#_ftn2"><span><span><span><span>[2]</span></span></span></span></a> Rogers would be buried with full military honors at Arlington National Cemetery later that week&mdash;on Friday, March 14&mdash;and Alexander suggested that Hull attend the service and write about Rogers.</p>
<p>When Hull followed up with her on the phone, Alexander said SLDN wanted to give the <i>Post</i> first crack at the story, but if they didn&rsquo;t want it, Alexander said the organization would approach the <i>New York Times</i> instead. Hull, who had recently written about the firing of a gay Army linguist, was intrigued. But she was on leave, so she passed the original email on to an editor at the <i>Post</i>, Metro Editor R.B. Brenner, and let Alexander know.<a title="" name="_ftnref3" href="case_id_25_id_306_pid_0.html#_ftn3"><span><span><span><span>[3]</span></span></span></span></a></p>
<p>On the afternoon of Thursday, March 13, the tip landed on the desk of Patti Davis, an editor on the <i>Post</i>&rsquo;s Metro desk. The <i>Post </i>covered every Arlington Cemetery funeral of a service member who died in Iraq, and was planning to cover this one. But the information on Rogers&rsquo; sexual orientation suggested the possibility of writing a more extensive article that delved into the complexity of a decorated soldier who apparently led a double life.</p>
<p>While there were many secretly gay soldiers serving and dying in Iraq, none could be open while on active duty. Yet SLDN had described Major Rogers as the highest ranking, openly gay casualty of the war. Davis talked to her Metro colleague, Brenner, about the potential story. Both found it intriguing.</p>
<p>Davis assigned the story to <a href="case_id_25_id_100_c_bio.html">Donna St. George</a>, an enterprise reporter. Davis felt that St. George, who specialized in human interest stories and had written about the military, would be able to handle this thorny issue with sensitivity and respect. If the reporting came together, they planned to run the story that Saturday, March 15, the day after the burial.</p>
<p>St. George gathered as much material as she could before the service, which was scheduled for Friday morning. By the time she had the assignment, however, it was already late Thursday afternoon. Starting with leads from Alexander at SLDN, St. George began making preliminary phone calls to Rogers&rsquo; family and friends but discovered fairly quickly that Rogers had no surviving family or a partner to speak for him; his parents had died two weeks apart in 2000, and he had been an only child. &ldquo;It was very slow going,&rdquo; says St. George. &ldquo;There were not a lot of people who could develop the story line, so I ended up working late into the night that Thursday, and going to the service the next day with not that much material.&rdquo;</p>
<div><br clear="all" />
<hr width="33%" size="1" align="left" />
<div id="ftn1">
<p><span style="font-size: smaller;"><a title="" name="_ftn1" href="case_id_25_id_306_pid_0.html#_ftnref1">[1]</a> Author&rsquo;s interview with Sharon Alexander, October 27, 2008, in New York, NY. All further quotes from Alexander, unless otherwise attributed, are from this interview.</span></p>
</div>
<div id="ftn2">
<p><a title="" name="_ftn2" href="case_id_25_id_306_pid_0.html#_ftnref2"></a><span style="font-size: smaller;"><a title="" name="_ftn2" href="case_id_25_id_306_pid_0.html#_ftnref2">[2]</a> Author&rsquo;s interview with Donna St. George, October 1, 2008, in Washington, DC. All further quotes from St. George, unless otherwise attributed, are from this interview.</span></p>
</div>
<div id="ftn3">
<p><a title="" name="_ftn3" href="case_id_25_id_306_pid_0.html#_ftnref3"></a><span style="font-size: smaller;"><a title="" name="_ftn3" href="case_id_25_id_306_pid_0.html#_ftnref3">[3]</a> Author&rsquo;s interview with Anne Hull, October 20, 2008, in New York, NY. All further quotes from Hull, unless otherwise attributed, are from this interview.</span></p>
</div>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_25_id_305_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;The Rise of "Outing"</a>

<a href="case_id_25_id_307_pid_0.html" class="page-next" title="Go to next page">The Arlington Ceremony&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_25_id_100_c_bio.html">Donna&nbsp;St. George</a></li>

<li class="leaf"><a  href="case_id_25_id_101_c_bio.html">Leonard&nbsp;Downie, Jr.</a></li>

<li class="leaf"><a  href="case_id_25_id_102_c_bio.html">Robert&nbsp;McCartney</a></li>

<li class="leaf"><a  href="case_id_25_id_103_c_bio.html">Deborah&nbsp;Howell</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
