<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   The Rise of "Outing" | Public Death, Private Life: Army Major Alan Rogers and the  Washington Post
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #0710b5;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #0710b5;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/25/knightcase_logo_rogers.JPG') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_25.html" title="Home">
         <span>
          The Rise of "Outing"
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_25_id_315.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_303.html">
          Gays in the Military
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_304.html">
          Gays and the Media
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_25_id_305.html">
          The Rise of "Outing"
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_306.html">
          A News Tip
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_307.html">
          The Arlington Ceremony
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_308.html">
          At the Inn
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_309.html">
          What did Rogers want?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_310.html">
          Who was Alan Rogers?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_311.html">
          What to Write
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_312.html">
          Deliberating
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_313.html">
          On Downie's Desk
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/25/Army Major Alan Rogers and the Washington Post_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_25.html">
        Home
       </a>
      </div>
      <h1 class="title">
       The Rise of "Outing"
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         In February 1990, Malcolm Forbes, a publishing magnate known for his extravagant lifestyle, died at the age of 70. In the weeks after his death, rumors about his sexual orientation began to circulate until a cover story in
         <i>
          OutWeek,
         </i>
         a gay publication, reported what it felt had become an open secret: Forbes had, in fact, been gay. But because Forbes had never revealed this in his lifetime and because the story relied on a number of anonymous sources, the piece kicked up a storm of controversy, as well as soul-searching within the gay community. Should someone who was not publicly gay be “outed” without his or her consent?
        </p>
        <p>
         The term “outing” was coined by
         <i>
          Time
         </i>
         magazine that year, but the idea itself came out of the early gay rights movement. Originally, “outing”—declaring that you were gay—was a personal decision which was meant to be liberating. Soon, however, some gay activists were calling for mandatory outing for all gays and lesbians under the slogan, “out of the closet and into the street.” Allowing a gay person to stay in the proverbial closet, they contended, perpetuated a lie and held back the cause of gay rights.
         <a href="case_id_25_id_305.html#_ftn1" name="_ftnref1" title="">
          <span>
           <span>
            <span>
             <span>
              [1]
             </span>
            </span>
           </span>
          </span>
         </a>
        </p>
        <p>
         If the public did not know that some of the nation’s most respected figures were gay, they argued, gays would continue to be treated as outsiders. “There is no ‘right’ to the closet,” contended activist Michelangelo Signorile, the foremost proponent of outing.
         <a href="case_id_25_id_305.html#_ftn2" name="_ftnref2" title="">
          <span>
           <span>
            <span>
             <span>
              [2]
             </span>
            </span>
           </span>
          </span>
         </a>
         If the media reported on the private lives of heterosexual figures, some activists noted, why did they avoid the love lives of homosexuals? Why, for example, had the press reported on the women Forbes had slept with, but not the men?
         <a href="case_id_25_id_305.html#_ftn3" name="_ftnref3" title="">
          <span>
           <span>
            <span>
             <span>
              [3]
             </span>
            </span>
           </span>
          </span>
         </a>
        </p>
        <p>
         Others disagreed. Many in the gay community felt that just as there was respect for the privacy of heterosexuals, the media should respect the privacy of gay people, especially those who did not wish to make their private lives public. “Under our system of law,” wrote columnist Mike Royko in the
         <i>
          Chicago Tribune
         </i>
         , “an American’s home is his castle… So if a secret homosexual’s home is his castle, his closet is a nook in that castle, and if he doesn’t want to be dragged out of his closet, that’s his right.”
         <a href="case_id_25_id_305.html#_ftn4" name="_ftnref4" title="">
          <span>
           <span>
            <span>
             <span>
              [4]
             </span>
            </span>
           </span>
          </span>
         </a>
         Those opposed to “outing” argued that if a gay person wanted to come out, it should be a personal—not an ideological—decision.
         <a href="case_id_25_id_305.html#_ftn5" name="_ftnref5" title="">
          <span>
           <span>
            <span>
             <span>
              [5]
             </span>
            </span>
           </span>
          </span>
         </a>
        </p>
        <p>
         <b>
          <i>
           Outing as revenge.
          </i>
         </b>
         <i>
          C
         </i>
         omplicating the debate was the fact that “outing” had become a tool of political vengeance and blackmail. Activists began to out politicians they knew to be gay but who were nevertheless voting against gay rights.
         <a href="case_id_25_id_305.html#_ftn6" name="_ftnref6" title="">
          <span>
           <span>
            <span>
             <span>
              [6]
             </span>
            </span>
           </span>
          </span>
         </a>
         In 1991, Signorile outed Pentagon spokesman Pete Williams in an
         <i>
          Advocate
         </i>
         article, claiming the move was justified by the Pentagon’s contradictory stance: While defense officials tacitly accepted Williams’ orientation, they discriminated against rank and file gays in the military.
         <a href="case_id_25_id_305.html#_ftn7" name="_ftnref7" title="">
          <span>
           <span>
            <span>
             <span>
              [7]
             </span>
            </span>
           </span>
          </span>
         </a>
         <span>
          Other outings, however, proved to be smear campaigns. Representative Thomas Foley (D-Wash.), for example, was falsely accused of being gay, and had to go to great lengths to disprove the reports. This, activists feared, perpetuated the notion that there was something wrong with being gay in the first place.
         </span>
        </p>
        <p>
         <span>
          This stand-off was far from resolved when, in March 2008, the
          <i>
           Washington Post
          </i>
          found itself facing a tricky editorial decision.
         </span>
        </p>
        <div>
         <br clear="all"/>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size: smaller;">
            <a href="case_id_25_id_305.html#_ftnref1" name="_ftn1" title="">
             [1]
            </a>
            Journalist Andrew Miller wrote: “Since when did telling the truth become taboo? As a journalist, I find it appalling that so many of my colleagues are tripping over each other to justify… the longest on-going media cover-up in the history of the fourth estate: hiding the homosexuality of the rich and famous.”
            <i>
             OutWeek
            </i>
            , May 16, 1990.
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <a href="case_id_25_id_305.html#_ftnref2" name="_ftn2" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_25_id_305.html#_ftnref2" name="_ftn2" title="">
             [2]
            </a>
            Michelangelo Signorile,
            <i>
             Queer in America: Sex, The Media, and the Closets of Power
            </i>
            (Madison: University of Washington Press), 1993, p.363-364.
           </span>
          </p>
         </div>
         <div id="ftn3">
          <p>
           <a href="case_id_25_id_305.html#_ftnref3" name="_ftn3" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_25_id_305.html#_ftnref3" name="_ftn3" title="">
             [3]
            </a>
            Randy Shilts, “Is ‘Outing’ Gays Ethical?”
            <i>
             New York Times
            </i>
            , April 12, 1990.
           </span>
          </p>
         </div>
         <div id="ftn4">
          <p>
           <a href="case_id_25_id_305.html#_ftnref4" name="_ftn4" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_25_id_305.html#_ftnref4" name="_ftn4" title="">
             [4]
            </a>
            Mike Royko, “Antsy Closet Crowd Should Think Twice,”
            <i>
             Chicago Tribune
            </i>
            , April 2, 1990.
           </span>
          </p>
         </div>
         <div id="ftn5">
          <p>
           <a href="case_id_25_id_305.html#_ftnref5" name="_ftn5" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_25_id_305.html#_ftnref5" name="_ftn5" title="">
             [5]
            </a>
            David Tuller, “Uproar over Gays Booting Others out of Closet,”
            <i>
             San Francisco Chronicle
            </i>
            , March 12, 1990.
           </span>
          </p>
         </div>
         <div id="ftn6">
          <p>
           <a href="case_id_25_id_305.html#_ftnref6" name="_ftn6" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_25_id_305.html#_ftnref6" name="_ftn6" title="">
             [6]
            </a>
            “There is a right to privacy, but not hypocrisy,” Barney Frank, a powerful and openly gay Massachusetts Democrat said at the time. “If politicians are gay or lesbian, and then use that against other people, they have forfeited their right to privacy. I resented very much that there were gay Republicans using gayness as an accusation.” Dirk Johnson, “Privacy vs. the Pursuit of Gay Rights,”
            <i>
             New York Times
            </i>
            , March 27, 1990.
           </span>
          </p>
         </div>
         <div id="ftn7">
          <p>
           <a href="case_id_25_id_305.html#_ftnref7" name="_ftn7" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_25_id_305.html#_ftnref7" name="_ftn7" title="">
             [7]
            </a>
            Michelangelo Signorile, “The Outing of Assistant Secretary of Defense Pete Williams,”
            <i>
             The Advocate
            </i>
            , August 27, 1991.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_25_id_304.html" title="Go to previous page">
          « Gays and the Media
         </a>
         <a class="page-next" href="case_id_25_id_306.html" title="Go to next page">
          A News Tip »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_25_id_100_c_bio.html">
         Donna St. George
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_25_id_101_c_bio.html">
         Leonard Downie, Jr.
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_25_id_102_c_bio.html">
         Robert McCartney
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_25_id_103_c_bio.html">
         Deborah Howell
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
