

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>On Downie's Desk | Public Death, Private Life: Army Major Alan Rogers and the  Washington Post
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #0710b5;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #0710b5;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/25/knightcase_logo_rogers.JPG') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_25.html" title="Home"><span>On Downie's Desk</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_25_id_315.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_25.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_25_id_303.html">Gays in the Military</a>





</li>


<li class="leaf"><a  href="case_id_25_id_304.html">Gays and the Media</a>





</li>


<li class="leaf"><a  href="case_id_25_id_305.html">The Rise of "Outing"</a>





</li>


<li class="leaf"><a  href="case_id_25_id_306.html">A News Tip</a>





</li>


<li class="leaf"><a  href="case_id_25_id_307.html">The Arlington Ceremony</a>





</li>


<li class="leaf"><a  href="case_id_25_id_308.html">At the Inn</a>





</li>


<li class="leaf"><a  href="case_id_25_id_309.html">What did Rogers want?</a>





</li>


<li class="leaf"><a  href="case_id_25_id_310.html">Who was Alan Rogers?</a>





</li>


<li class="leaf"><a  href="case_id_25_id_311.html">What to Write</a>





</li>


<li class="leaf"><a  href="case_id_25_id_312.html">Deliberating</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_25_id_313.html">On Downie's Desk</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/25/Army&#32;Major&#32;Alan&#32;Rogers&#32;and&#32;the&#32;Washington&#32;Post_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_25.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">On Downie's Desk</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>On receiving McCartney&rsquo;s memo, Downie called a meeting with him, St. George, and the other editors. In Downie&rsquo;s office, they briefly laid out the case. As Downie considered the situation, he had his own questions. Where was the evidence, he wondered, that Rogers even <i>was</i> gay? Just because he had gay friends and was part of a gay rights group was not proof enough. Downie knew that the <i>Post</i>&rsquo;s stylebook addressed this issue directly: &nbsp;</p>
<blockquote>
<p>A person&rsquo;s sexual orientation should not be mentioned unless relevant to the story&hellip; Not everyone espousing gay rights causes is homosexual. When identifying an individual as gay or homosexual, be cautious about invading the privacy of someone who may not wish his or her sexual orientation known.<a title="" name="_ftnref1" href="case_id_25_id_313.html#_ftn1"><span><span><span><span>[1]</span></span></span></span></a></p>
</blockquote>
<p>In this case, Rogers&rsquo; sexual orientation as an active-duty officer was clearly relevant, but was it true? What if he hadn&rsquo;t been gay and the <i>Post</i>, prompted by an advocacy group with a clear agenda, outed the wrong man? &ldquo;I&rsquo;m a member of the Gay and Lesbian Journalists Association,&rdquo; Downie says. &ldquo;I&rsquo;m a member of the National Association of Black Journalists. I&rsquo;m a member of the Hispanic Journalists Association. I&rsquo;m a member of the Asian Journalists Association, and I&rsquo;m none of those things. I belong to them because I believe in those journalists, and I believe in the issues that those organizations were formed for. So I knew that he cared about that issue. That did not prove to me that he was gay.&rdquo;<a title="" name="_ftnref2" href="case_id_25_id_313.html#_ftn2"><span><span><span><span>[2]</span></span></span></span></a> &nbsp;</p>
<p><b><i>A paper of record.</i></b> On the other hand, what was a reasonable standard for verifying someone&rsquo;s sexual orientation? St. George was a sensitive and seasoned reporter, and she had no real doubts that Rogers had been gay. If St. George excised all mention of Rogers&rsquo; sexuality, and if Rogers was in fact gay, publishing a story without mentioning that fact could be viewed as a major omission. &nbsp;</p>
<p>This bothered Downie on a number of levels. &ldquo;We&rsquo;re nationally and internationally looked to as a newspaper of record,&rdquo; Downie says, &ldquo;so what we publish is significant.&rdquo; But the <i>Washington Post</i> was a local paper, too. It had one of the highest local circulation figures in the country. &ldquo;We know from all the feedback from our readers that readers care a lot about what we publish and they care a lot about the nature of the newspaper that comes into their houses,&rdquo; Downie says. Publishing an incomplete or inaccurate story could hurt the <i>Post</i>&rsquo;s reputation, both nationally and locally. &nbsp;</p>
<p>Furthermore, it seemed unlikely that such an omission would go unnoticed. Downie, who encouraged coverage of gay issues and who had many gay reporters and editors on staff, knew that a story like this would be read closely in the gay community. What the story said, or did not say, could well spark controversy. Downie would have to decide shortly what to do with the Rogers story.</p>
<div><br clear="all" />
<hr width="33%" size="1" align="left" />
<div id="ftn1">
<p><span style="font-size: smaller;"><a title="" name="_ftn1" href="case_id_25_id_313.html#_ftnref1">[1]</a> As quoted in Deborah Howell, &ldquo;Public Death, Private Life,&rdquo; <i>Washington Post</i>, March 30, 2008, p.B06.</span></p>
</div>
<div id="ftn2">
<p><a title="" name="_ftn2" href="case_id_25_id_313.html#_ftnref2"></a><span style="font-size: smaller;"><a title="" name="_ftn2" href="case_id_25_id_313.html#_ftnref2">[2]</a> Author&rsquo;s interview with Leonard Downie, October 1, 2008, in Washington, DC. All further quotes from Downie, unless otherwise attributed, are from this interview.</span></p>
</div>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_25_id_312.html" class="page-previous" title="Go to previous page">&#171;&#160;Deliberating</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_25_id_100_c_bio.html">Donna&nbsp;St. George</a></li>

<li class="leaf"><a  href="case_id_25_id_101_c_bio.html">Leonard&nbsp;Downie, Jr.</a></li>

<li class="leaf"><a  href="case_id_25_id_102_c_bio.html">Robert&nbsp;McCartney</a></li>

<li class="leaf"><a  href="case_id_25_id_103_c_bio.html">Deborah&nbsp;Howell</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
