<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   What did Rogers want? | Public Death, Private Life: Army Major Alan Rogers and the  Washington Post
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #0710b5;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #0710b5;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/25/knightcase_logo_rogers.JPG') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_25.html" title="Home">
         <span>
          What did Rogers want?
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_25_id_315.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_303.html">
          Gays in the Military
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_304.html">
          Gays and the Media
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_305.html">
          The Rise of "Outing"
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_306.html">
          A News Tip
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_307.html">
          The Arlington Ceremony
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_308.html">
          At the Inn
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_25_id_309.html">
          What did Rogers want?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_310.html">
          Who was Alan Rogers?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_311.html">
          What to Write
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_312.html">
          Deliberating
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_25_id_313.html">
          On Downie's Desk
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/25/Army Major Alan Rogers and the Washington Post_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_25.html">
        Home
       </a>
      </div>
      <h1 class="title">
       What did Rogers want?
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         St. George stayed at the bed &amp; breakfast far into the night, and the longer she stayed, the larger one question loomed in her mind: Would Alan Rogers have wanted to be publicly identified as gay in the event of his death? This was, after all, a central consideration in the
         <i>
          Post
         </i>
         ’s general standard for determining whether a person should be identified as gay in its pages. However, because Rogers had died without making his wishes on the subject known, she was left to piece things together. It was no easy task. Going to gay bars and being open with certain friends was one thing, but publishing Rogers’ sexual orientation in one of the nation’s most widely read newspapers was another. “This is a private, personal matter,” St. George thought at the time, “and we need to know that someone has a wish to have this published in the
         <i>
          Washington Post
         </i>
         and told in a story for a million people, or not.”
        </p>
        <p>
         At one point in the evening, St. George approached the evening’s organizer and Rogers’ close friend, Tami Sadowski. Sadowski, a Maryland realtor, had been helping Rogers scout for a place to live after his return from the war. At the end of his deployment, Sadowski said, Rogers had planned to retire from the Army and work as a military contractor because contractors did work similar to active duty personnel, yet were paid significantly more and could be open about their sexuality.
         <a href="case_id_25_id_309.html#_ftn1" name="_ftnref1" title="">
          <span>
           <span>
            <span>
             <span>
              [1]
             </span>
            </span>
           </span>
          </span>
         </a>
        </p>
        <p>
         Knowing that Sadowski and Rogers had been close—Rogers had stood as “man of honor” at Sadowski’s recent wedding—St. George decided to broach the issue: Did Rogers want to be identified as gay after his death? “I asked her, ‘Did you ever have a conversation with him? How do you know… what he wanted?’” St. George recalls. “And she said, ‘I wish I could be sure. I feel like it’s what he wanted because I think that he was going to retire from the military at some point so that he could live more openly. So, taking those ideas together, I feel this is what he wanted.’” This did not help St. George. “It was [his friends’] guess of what [Rogers] wanted, and it wasn’t anyone who had a conversation saying this is what he wanted,” she says. St. George asked several others the same question, and received similar answers.
        </p>
        <p>
         But if Rogers’ preference was murky, one thing was clear: He had been a warm and engaging human being. St. George was “very struck by how many people felt like they were his best friend, who felt like he had this incredible gift for listening to people, for making people feel like they were the only person in the world, in his life,” she says. Each person she talked to claimed to have known Rogers best, to have been his adopted family. But ultimately they were all just friends. Moreover, their accounts of Rogers’ wishes were not consistent. Different people had different understandings of how open and comfortable Rogers had been with his sexuality as an ambitious, active-duty officer.
        </p>
        <p>
         St. George left the party no closer to an answer. The next morning, she sat down to try to make sense of it in a story for Sunday’s paper.
        </p>
        <div>
         <span style="font-size: smaller;">
          <br clear="all"/>
         </span>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <a href="case_id_25_id_309.html#_ftnref1" name="_ftn1" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_25_id_309.html#_ftnref1" name="_ftn1" title="">
             [1]
            </a>
            Ben McGrath, “A Soldier’s Legacy,”
            <i>
             The New Yorker
            </i>
            , August 4, 2008.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_25_id_308.html" title="Go to previous page">
          « At the Inn
         </a>
         <a class="page-next" href="case_id_25_id_310.html" title="Go to next page">
          Who was Alan Rogers? »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_25_id_100_c_bio.html">
         Donna St. George
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_25_id_101_c_bio.html">
         Leonard Downie, Jr.
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_25_id_102_c_bio.html">
         Robert McCartney
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_25_id_103_c_bio.html">
         Deborah Howell
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
