<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Earthquake and a strategy rethink | Côte Sud Initiative: Integrated Development in Haiti
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/124/haitibanner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_124.html" title="Home"><span>Earthquake and a strategy rethink</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_124.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_124_id_850.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_124_id_851.html">International development comes to Haiti </a>





</li>


<li class="leaf"><a  class="active"  href="case_id_124_id_852.html">Earthquake and a strategy rethink</a>





</li>


<li class="leaf"><a  href="case_id_124_id_853.html">Dollars and data</a>





</li>


<li class="leaf"><a  href="case_id_124_id_854.html">Bureaucracy and capacity</a>





</li>


<li class="leaf"><a  href="case_id_124_id_855.html">Shifting politics and realities</a>





</li>


<li class="leaf"><a  href="case_id_124_id_856.html">Fragile state factor</a>





</li>


<li class="leaf"><a  href="case_id_124_id_857.html">Appendix 1</a>





</li>


<li class="leaf"><a  href="case_id_124_id_858.html">Appendix 2</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/124/Haiti&#32;final&#32;031114.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_124.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Earthquake and a strategy rethink</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	Late on the afternoon of January 12, 2010, Levy, Fischer, Morton, and several other UNEP staff had finished a series of meetings in Port-au-Prince. They decided to stop at the UNEP office, located in the UNDP compound, before going back to the Hotel Montana where they were staying. Meanwhile, Wah and a research assistant had stopped by Wah&rsquo;s apartment in Port-au-Prince on their way to a meet a group of Columbia University students at the same hotel. Wah got a call: the students were headed to the UNDP office instead. Then, at 4:53 p.m., a magnitude 7.0 earthquake struck 10 miles southwest of Port-au-Prince.<sup><a href="case_id_124_id_852.html#_ftn1" name="_ftnref1" title="">[18]</a>&nbsp;</sup>At Wah&rsquo;s apartment, &ldquo;everything shifted,&rdquo; she recalls.</p>
<blockquote>
	<p>
		It just moved all at once: the dressers, the desk, the dining room table. We thought at first it was just a bomb, and then it kept going. We couldn&rsquo;t get out. [Eventually] we had three guys hold these stairs for us to escape from the house. The stairs were shaking. Every split second there was a shake.</p>
</blockquote>
<p>
	Wah and her assistant walked to the UNDP compound to find Levy, Fischer and the other Columbia University students, who were helping move injured people from the UN Headquarters. The building had collapsed and killed 84 of the UN staff. &ldquo;It was horror everywhere,&quot; she says.</p>
<blockquote>
	<p>
		It was as if everything was bombed. White soot was everywhere, from the horrible cement that these houses were built on. Everybody was covered in white all over, and everyone was huddling together and praying. That was all we saw for miles.</p>
</blockquote>
<p>
	The UNDP office in the UN complex withstood the earthquake; Levy, Fischer, Morton and their team were unhurt. They were lucky. &ldquo;Normally at that time of day, it would have been a coin toss as to whether we go back to the Hotel Montana or go back to the office,&rdquo; notes Levy. &ldquo;And luckily we went to the office because the Montana, very few people survived that. The whole place just collapsed.&rdquo;<sup><a href="case_id_124_id_852.html#_ftn2" name="_ftnref2" title="">[19]</a></sup> The steep hillsides around Port-au-Prince meant that numerous buildings, like the Montana Hotel, slid off their pillars and down the slopes.&nbsp;</p>
<p>
	The earthquake destroyed thousands of structures in the capital, including the presidential palace. Estimates of the dead ranged from 46,000 to 316,000.<a href="case_id_124_id_852.html#_ftn3" name="_ftnref3" title="">[20]</a> One and a half million people were displaced, creating an internal refugee crisis. Losses were estimated at $8-$14 billion.<sup><a href="case_id_124_id_852.html#_ftn4" name="_ftnref4" title="">[21]</a></sup> The Reuters Thompson Foundation called it the biggest urban disaster in modern history.<sup><a href="case_id_124_id_852.html#_ftn5" name="_ftnref5" title="">[22]</a></sup></p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/832/4273890315_999f8f68aa.jpg" /><br />
	<p class="caption">
		<a href="http://www.flickr.com/photos/unitednationsdevelopmentprogramme/4273890315/sizes/l/">&copy; United Nations Development Programme</a><br />
		Damage from the earthquake in Haiti</p>
</div>
<p>
	<strong><em>Higher priorities.</em></strong> Work on the Haiti Regeneration Initiative and the Millennium Village Project was put on hold as all available resources went into helping Haiti recover from the earthquake. &quot;My first thought was, my job changed,&quot; says Wah. &quot;I can&rsquo;t even mention MDGs or MVPs when 300,000 people have just died.&quot; Even if Wah had wanted to pursue the Millennium Village Project, there was no one in the government to work with. All 18 of the Government of Haiti&rsquo;s national ministry headquarters had collapsed (the regional offices were not damaged). In the Ministry of Planning alone, 36 people died. &quot;The top managers who I had been talking to were no longer there,&quot; she says.</p>
<p>
	Prime Minister Jean-Max Bellerive had been in office only two months when the earthquake struck. On April 15, the Haitian parliament approved the Interim Haiti Recovery Commission (IHRC) to coordinate relief efforts. Bellerive and former US President Bill Clinton were co-chairs. (Together with former President George W. Bush, Clinton also launched the Clinton-Bush Haiti Fund to raise funds in the US.) Wah, who had represented Haiti&rsquo;s interests in the design of the IHRC, was named its director of strategy and planning.</p>
<p>
	The international community and the government of Haiti also created the Haiti Reconstruction Fund (HRF), which pooled and distributed funds for rebuilding. The UN, World Bank and Inter-American Development Bank were authorized to draw from the fund to finance specific projects. The IHRC would receive and vet project proposals, then submit approved proposals to the HRF for funding.</p>
<p>
	<strong><em>Reverse migration</em>.</strong> The earthquake had displaced hundreds of thousands from the capital, increasing development pressures in rural areas as many returned to extended families in their home regions. Rural communities strained to absorb the influx: more people meant greater demands on already limited food supplies, health services and jobs. The southern coastal areas and mountains had limited capacity to support a growing population. The south already had high food insecurity, serious malnutrition, and weak social services. The region was also particularly vulnerable to hurricanes and flooding. Nevertheless, many people headed south. Wah recalls:</p>
<blockquote>
	<p>
		We started with the map of where these people went after the earthquake, because people went back home. And that&rsquo;s when we started seeing the number of people who went back into the south. It&#39;s a very vulnerable place, but people still went back there.</p>
</blockquote>
<p>
	Planners had long grappled with overpopulation in the capital, and slowing if not reversing rural-to-urban migration was a government priority. &quot;[Port-au-Prince] was not built to hold two million people,&quot; says Wah. So rather than being sidelined by the earthquake recovery imperative, the south became a key part of the government&#39;s recovery strategy. Meanwhile, in February 2010 the UN, with government assistance, conducted a post-disaster needs assessment to put a dollar figure on replacing what was lost, says Wah. But Prime Minister Bellerive didn&rsquo;t want recovery efforts simply to restore what had been. &quot;It wasn&rsquo;t built right in the first place,&quot; says Wah. &quot;We needed to start over. There was no sewer system or access to safe water or sanitation for most.&quot; The government labeled the recovery effort the &quot;refoundation&quot; of Haiti.</p>
<p>
	In March 2010, the government released a crisis recovery plan that called for four development hubs outside the capital, including the south. The UN&#39;s assessment report, together with the government&rsquo;s recovery plan, led to a donor conference in New York on March 30, during which countries pledged $9.3 billion toward recovery and development.</p>
<div style="float:right;padding:10px">
	<br />
	<p class="caption">
		&nbsp;</p>
</div>
<div style="float:right;padding:10px">
	<img src="../../files/photos/825/Map_Watershed.JPG" style="height: 333px; width: 250px;" /><br />
	<p class="caption">
		&copy; Columbia Earth Institute<br />
		A hand-drawn watershed map with techniques for<br />
		using vegetation as anti-erosion infrastructure.</p>
</div>
<p>
	<em><strong>Watershed moment.</strong></em> At the same time, the Earth Institute considered moving the Haiti Regeneration Initiative watershed project to a suburb of Port-au-Prince. &quot;You don&rsquo;t have to go too far outside of Port-au-Prince [to] get a lot of these same ecological problems: deforestation, flooding, erosion and so on,&quot; says Levy. But after the Port-&agrave;-Piment municipal government reported a post-earthquake population increase of 50 percent, they decided to stay put.</p>
<p>
	By spring 2010, UNEP had completed two reports about environmental recovery and poverty reduction with a focus on watersheds. Their analysis showed that international aid projects typically spanned only a year or two. In the reports, UNEP acknowledged that short-term funding would be inadequate for this type of project. &ldquo;One of the key lessons learned from earlier initiatives in Haiti is that over-reliance on short term aid funding (particularly ad hoc grants of 1-3 years) undermines project impact and sustainability,&rdquo; said one.<a href="case_id_124_id_852.html#_ftn6" name="_ftnref6" title="">[23]</a> The second report concurred. It stated:</p>
<blockquote>
	<p>
		The Haiti Regeneration Initiative... is not a conventional project but instead the proposed start of a national scale campaign with a targeted turnover of over 3 billion dollars over a 20-year period. Hence the vision and goals are extremely ambitious and the design and planning process is quite elaborate.<sup><a href="case_id_124_id_852.html#_ftn7" name="_ftnref7" title="">[24]</a></sup></p>
</blockquote>
<p>
	On March 22 and 23, 2010, key players from the government, UNEP, donor organizations and the Earth Institute met in Miami to review post-earthquake thinking on Haitian redevelopment. According to Levy, participants discussed ecological sustainability, decentralized economic development and evidence-based, science-grounded development strategies. The meeting also focused on reducing risks from disasters. Hurricanes, in particular, were an endemic threat, and played a part in landslides and unhealthy watersheds. There had been recent episodes of silt and mud inundating slums around Port-au-Prince after upstream deforestation. &quot;There was no point protecting yourself against earthquakes if all these other disasters were going to kill people,&quot; says Levy.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/833/800px-Flag_of_Norway.svg.png" /><br />
	<p class="caption">
		The Norwegian flag</p>
</div>
<p>
	<strong><em>Norway steps up.</em></strong> As part of the influx of international aid following the earthquake, the Norwegian government pledged NK800 million ($127 million) in reconstruction and development aid, with an initial NK200 million ($31.8 million) committed to the Haiti Reconstruction Fund. Norway targeted its assistance to the south&shy;&mdash;neglected by other donors&mdash;with the aim of giving residents reason to remain in rural areas rather than migrate to cities, and to identify pathways to more resilient communities, both ecologically and socio-economically.<sup><a href="case_id_124_id_852.html#_ftn8" name="_ftnref8" title="">[25]</a></sup></p>
<p>
	For the HRI watershed project, the pieces were beginning to come together: government interest with post-earthquake urgency, a deep-pockets international funder claiming the south as its turf, the UN taking the long view, and the Earth Institute with its scientific approach to sustainable development. The missing piece was an integrated, multi-sector development project. So Levy and Morton approached Wah about joining CSI, and moving the envisioned Millennium Village from the Central Plateau to the south. Wah agreed readily. Such a move dovetailed with the government&rsquo;s focus on the south and decentralization.</p>
<p>
	So in March 2010, the combined watershed reclamation project plus Millennium Village became the C&ocirc;te Sud Initiative, a subset of UNEP&rsquo;s Haiti Regeneration Initiative. CSI included intensive investment in the Port-&agrave;-Piment watershed, and other projects across a 10-county (<em>commune</em>) region. The Millennium Village, a geographic subset of the watershed, aimed to bring intensive investment in social services to a small area (the goal was $120 per capita per year).</p>
<p>
	The Port-&agrave;-Piment watershed reclamation portion of CSI was known as the Haiti Southwest Sustainable Development Project. Says Levy: &quot;There was a desperate desire for a proven model of how to achieve sustainability at a watershed scale that was going to be relevant for the entire country, including the immediate environs of Port-au-Prince.&quot; With luck, CSI would be that model.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_124_id_852.html#_ftnref1" name="_ftn1" title="">[18]</a>&nbsp;US Geological Survey. See: <a href="http://earthquake.usgs.gov/earthquakes/eqinthenews/2010/us2010rja6/">http://earthquake.usgs.gov/earthquakes/eqinthenews/2010/us2010rja6/</a></span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:11px;"><a href="case_id_124_id_852.html#_ftnref2" name="_ftn2" title="">[19]</a>&nbsp;Next to the UNDP compound was a 7-story building that housed the United Nations Stabilization Mission in Haiti (MINUSTAH), or peacekeepers. The MINUSTAH building collapsed, killing 102 staffers. &ldquo;By the time I saw them, Marc and Alex were carrying folks on stretchers,&rdquo; says Wah. &ldquo;The bodies piled up one on top of another, and just the mess of it all, it was just shocking.&rdquo;</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:11px;"><a href="case_id_124_id_852.html#_ftnref3" name="_ftn3" title="">[20]</a>&nbsp;Maura R. O&#39;Connor, &ldquo;Two Years Later, Haitian Earthquake Death Toll in Dispute,&rdquo; <em>Columbia Journalism Review,</em> January 12, 2012<em>.</em> See: <a href="http://www.cjr.org/behind_the_news/one_year_later_haitian_earthqu.php">http://www.cjr.org/behind_the_news/one_year_later_haitian_earthqu.php</a></span></p>
	</div>
	<div id="ftn4">
		<p>
			<span style="font-size:11px;"><a href="case_id_124_id_852.html#_ftnref4" name="_ftn4" title="">[21]</a>&nbsp;Reuters Thompson Foundation. See: <a href="http://www.trust.org/spotlight/Haiti-earthquake-2010">http://www.trust.org/spotlight/Haiti-earthquake-2010</a></span></p>
	</div>
	<div id="ftn5">
		<p>
			<span style="font-size:11px;"><a href="case_id_124_id_852.html#_ftnref5" name="_ftn5" title="">[22]</a>&nbsp;Ibid.</span></p>
	</div>
	<div id="ftn6">
		<p>
			<span style="font-size:11px;"><a href="case_id_124_id_852.html#_ftnref6" name="_ftn6" title="">[23]</a>&nbsp;Haiti Regeneration Initiative Preliminary Concept Note, September 2009, United Nations Environment Program.</span></p>
	</div>
	<div id="ftn7">
		<p>
			<span style="font-size:11px;"><a href="case_id_124_id_852.html#_ftnref7" name="_ftn7" title="">[24]</a>&nbsp;Haiti Regeneration Initiative: Study of lessons learned in managing environmental projects in Haiti. See: <a href="https://www.cimicweb.org/cmo/haiti/Crisis%20Documents/Cross%20Cutting%20Issues/Environment/UNEP%20-%20Lessons%20Learned%20in%20Managing%20Environmental%20Projects%20in%20Haiti.pdf">https://www.cimicweb.org/cmo/haiti/Crisis Documents/Cross Cutting Issues/Environment/UNEP - Lessons Learned in Managing Environmental Projects in Haiti.pdf</a>.</span></p>
	</div>
	<div id="ftn8">
		<p>
			<span style="font-size:11px;"><a href="case_id_124_id_852.html#_ftnref8" name="_ftn8" title="">[25]</a>&nbsp;&ldquo;Norway joins Interim Haiti Recovery Commission,&rdquo; Norwegian Ministry of Foreign Affairs website, June 18, 2010. See: <a href="http://www.norway-un.org/NorwayandUN/Selected_Topics/Humanitarian-Efforts1/Norway-joins-Commission-in-charge-of-Haitis-recovery-and-development/">http://www.norway-un.org/NorwayandUN/Selected_Topics/Humanitarian-Efforts1/Norway-joins-Commission-in-charge-of-Haitis-recovery-and-development/</a></span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_124_id_851.html" class="page-previous" title="Go to previous page">&#171;&#160;International development comes to Haiti</a>

<a href="case_id_124_id_853.html" class="page-next" title="Go to next page">Dollars and data&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_124_id_241_c_bio.html">Tatiana&nbsp;Wah</a></li>

<li class="leaf"><a  href="case_id_124_id_242_c_bio.html">Marc&nbsp;Levy</a></li>

<li class="leaf"><a  href="case_id_124_id_243_c_bio.html">Alex&nbsp;Fischer</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
