<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Côte Sud Initiative: Integrated Development in Haiti | Côte Sud Initiative: Integrated Development in Haiti
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/124/haitibanner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_124.html" title="Home"><span>Côte Sud Initiative: Integrated Development in Haiti</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  class="active"  href="case_id_124.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_124_id_850.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_124_id_851.html">International development comes to Haiti </a>





</li>


<li class="leaf"><a  href="case_id_124_id_852.html">Earthquake and a strategy rethink</a>





</li>


<li class="leaf"><a  href="case_id_124_id_853.html">Dollars and data</a>





</li>


<li class="leaf"><a  href="case_id_124_id_854.html">Bureaucracy and capacity</a>





</li>


<li class="leaf"><a  href="case_id_124_id_855.html">Shifting politics and realities</a>





</li>


<li class="leaf"><a  href="case_id_124_id_856.html">Fragile state factor</a>





</li>


<li class="leaf"><a  href="case_id_124_id_857.html">Appendix 1</a>





</li>


<li class="leaf"><a  href="case_id_124_id_858.html">Appendix 2</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/124/Haiti&#32;final&#32;031114.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="two-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_124.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Côte Sud Initiative: Integrated Development in Haiti</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	
	<br />
	<strong>ABSTRACT</strong><wbr><wbr><wbr><wbr><wbr></wbr></wbr></wbr></wbr></wbr></p>
<p>
	<wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr><wbr><em>CCC-14-0001.0&nbsp;</em>This case takes students into the world of international sustainable development. It looks at the challenges that confront a comprehensive development project (environment, education, health etc.) in the south of Haiti in 2012. The C&ocirc;te Sud Initiative (CSI) is one piece of the government&rsquo;s response to the devastating earthquake of January 2010 that leveled large parts of the capital and sent refugees streaming into the countryside, including the south. The project starts with data collection and is just gearing up to deliver services when, in March 2012, staff learn the chief funder is withdrawing. Readers follow CSI&rsquo;s increasingly frantic efforts to secure other funds to sustain the locally popular initiative.</wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr></wbr></wbr></p>
	<wbr><wbr>
	<p>
		<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>Among other elements present in the case are: changing donor priorities, an unstable government, unfilled key jobs, and cooperation/competition among international development agencies. It includes Haiti&rsquo;s effort to adopt the Millenium Development Goals through creation of a Millenium Development Village. The case will draw students into the world of international donors, intergovernmental organizations, academic institutions, nongovernmental organizations and a national government all pursuing sustainable development goals. The case raises for discussion whether those goals are or can be aligned.</wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>Ask students to consider what is required to implement ambitious and comprehensive development projects in an unstable political context. What kind of skills are required to negotiate such an environment? What role does science play in development projects? Consider the various international players. Is their work integrated? Does it serve the best interests of the host country? What happens to international development in the wake of a disaster like the earthquake&mdash;is it an opportunity for long-term change or an emergency with a short-term horizon? Finally, what is required for the multiple players in sustainable development to manage holistic projects?</wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></p>
	<wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr><wbr>
	<p>
		Use this case in a course/class on international sustainable development, humanitarian aid, international affairs, project management, or organizational behavior.</p>
	<p>
	<p style="margin-top: 0.5em; margin-bottom: 0.9em; color: rgb(0, 0, 0); font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.200000762939453px;">
		<strong>Credits</strong></p>
	<p style="margin-top: 0.5em; margin-bottom: 0.9em; color: rgb(0, 0, 0); font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.200000762939453px;">
		<span style="font-size:12px;"><em style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px;">This case was written by Eric Smalley for the Case Consortium @ Columbia and the Global Association of MDP Programs. Funding was provided by the Open Society Foundations. (0314)</em></span></p>
	<strong>For further information:</strong></div>
<div>
	E-mail: <a href="mailto:ccnmtl+casestudies@columbia.edu" style="color: rgb(17, 85, 204);" target="_blank">ccnmtl+casestudies@columbia.edu</a></div>
<div>
	Website:&nbsp;<a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">https://casestudies.ccnmtl.columbia.edu</a></div>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		&nbsp;</p>
	</wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></p>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_124_id_850.html" class="page-next" title="Go to next page">Introduction&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
<div>
	<strong>For further information:</strong></div>
<div>
	E-mail: <a href="mailto:ccnmtl+casestudies@ccnmtl.edu" style="color: rgb(17, 85, 204);" target="_blank">ccnmtl+casestudies@ccnmtl.edu</a></div>
<div>
	Website:&nbsp;<a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">https://casestudies.ccnmtl.columbia.edu</a></div>
</div>




</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
