<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Chivilcoy | ¿Periodistas o policías? CONTACTO y la búsqueda de Paul Schaefer
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #e8123d;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #e8123d;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/50/knightcase_logo_contacto_espanol.JPG') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_50.html" title="Home">
         <span>
          Chivilcoy
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_50.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_504.html">
          Introducción
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_505.html">
          Paul Schaefer
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_506.html">
          Schaefer y las autoridades chilenas
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_507.html">
          CONTACTO
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_508.html">
          Indicios hacia Argentina
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_50_id_509.html">
          Chivilcoy
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_510.html">
          ¿Se justifica ir encubierto?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_511.html">
          Profundizando en la Investigación
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_512.html">
          Hugo Placente
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_513.html">
          Gente peligrosa
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_514.html">
          El Segundo Viaje—a Desenmascarar
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_515.html">
          El dilema de la cámara oculta
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_516.html">
          Encubierto en Chivilcoy
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_517.html">
          ¿Policías y ladrones?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_518.html">
          Dudas en Santiago
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_519.html">
          La Solita
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_520.html">
          Un avance
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_521.html">
          ¿Sin Alternativas?
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/50/CONTACTO y la bussqueda de Paul Schaefer_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_50.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Chivilcoy
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <span>
          Al llegar a la dirección que aparece en el registro, Fuentes se sorprendió al descubrir que no era una residencia, sino un negocio de reparación llamado Calandrino Auto Shop.
         </span>
        </p>
        <!--<embed allowfullscreen="true" allowscriptaccess="always" flashvars="file=../../files/videos/186/031_1_fuentes_arrives_auto_shop.flv&amp;autostart=false" height="245" id="player" name="player" quality="high" src="player.swf" style="" type="application/x-shockwave-flash" width="420"/>-->
        <iframe frameborder="0" height="270" src="https://www.youtube.com/embed/-a2wnHsAWB4?rel=0&amp;modestbranding=1&amp;autohide=1&amp;showinfo=0" type="text/html" width="480">
        </iframe>
        <p>
         <span class="caption2">
          Fuentes
         </span>
        </p>
        <p>
         <span>
          Desanimados, Fuentes y el camarógrafo regresaron al taller mecánico Calandrino y decidieron esperar.
         </span>
        </p>
        <!--<embed allowfullscreen="true" allowscriptaccess="always" flashvars="file=../../files/videos/187/032_33_34_1_fuentes_following_schmidt.flv&amp;autostart=false" height="245" id="player" name="player" quality="high" src="player.swf" style="" type="application/x-shockwave-flash" width="420"/>-->
        <iframe frameborder="0" height="270" src="https://www.youtube.com/embed/5vkLdNgZRtI?rel=0&amp;modestbranding=1&amp;autohide=1&amp;showinfo=0" type="text/html" width="480">
        </iframe>
        <p>
         <span class="caption2">
          Fuentes
         </span>
        </p>
        <p>
         <span>
          Fuentes pensó que había ubicado el lugar donde vivía Schmidt, pero ¿qué iba a hacer posteriormente? Tenía la esperanza de obtener una prueba visual del paradero de Schaefer, y luego denunciarlo a las autoridades. Aunque ella todavía no lo había visto y mucho menos lo había filmado. ¿Debería tratar de obtener más información de Calandrino?
         </span>
        </p>
        <p>
         <b>
          <i>
           ¿Qué sigue?
          </i>
          <span>
          </span>
         </b>
         <span>
          Sin estar segura de cómo proceder, Fuentes llamó a la oficina de prensa en Santiago. Sus editores estaban encantados por su hazaña. Pero también se dio cuenta de que esto podría ser sólo el comienzo de una larga y ardua investigación. Fuentes decidió regresar a Santiago a consultar con el editor ejecutivo Bazán Cardemil y Editor Rodríguez.
         </span>
        </p>
        <!--<embed allowfullscreen="true" allowscriptaccess="always" flashvars="file=../../files/videos/188/037_1_fuentes_dilemma_being_chilean.flv&amp;autostart=false" height="245" id="player" name="player" quality="high" src="player.swf" style="" type="application/x-shockwave-flash" width="420"/>-->
        <iframe frameborder="0" height="270" src="https://www.youtube.com/embed/_834SlBa6TY?rel=0&amp;modestbranding=1&amp;autohide=1&amp;showinfo=0" type="text/html" width="480">
        </iframe>
        <p>
         <span class="caption2">
          Fuentes
         </span>
        </p>
        <p>
         <span>
          El grupo tuvo una idea: ¿por qué no enviar a alguien que no fuera chileno y por lo tanto, no pareciera sospechoso a los alemanes? Bazán Cardemil ya tenía a alguien en mente, un español/italiano periodista de investigación en el personal de CONTACTO llamado Gustavo Villarrubia. Villarrubia había vivido en todo el mundo y hablaba varios idiomas, mejor aún, su acento no era chileno. Rodríguez propuso que Villarrubia fuera a Chivilcoy encubierto con otra identidad. El equipo se inclinó por esta opción, pero los tres tenían problemas: ¿Debe un periodista ir de incógnito?
         </span>
        </p>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_50_id_508.html" title="Go to previous page">
          « Indicios hacia Argentina
         </a>
         <a class="page-next" href="case_id_50_id_510.html" title="Go to next page">
          ¿Se justifica ir encubierto? »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
