<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Introducción | ¿Periodistas o policías? CONTACTO y la búsqueda de Paul Schaefer
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #e8123d;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #e8123d;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/50/knightcase_logo_contacto_espanol.JPG') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_50.html" title="Home">
         <span>
          Introducción
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_50.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_50_id_504.html">
          Introducción
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_505.html">
          Paul Schaefer
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_506.html">
          Schaefer y las autoridades chilenas
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_507.html">
          CONTACTO
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_508.html">
          Indicios hacia Argentina
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_509.html">
          Chivilcoy
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_510.html">
          ¿Se justifica ir encubierto?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_511.html">
          Profundizando en la Investigación
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_512.html">
          Hugo Placente
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_513.html">
          Gente peligrosa
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_514.html">
          El Segundo Viaje—a Desenmascarar
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_515.html">
          El dilema de la cámara oculta
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_516.html">
          Encubierto en Chivilcoy
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_517.html">
          ¿Policías y ladrones?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_518.html">
          Dudas en Santiago
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_519.html">
          La Solita
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_520.html">
          Un avance
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_50_id_521.html">
          ¿Sin Alternativas?
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/50/CONTACTO y la bussqueda de Paul Schaefer_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_50.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Introducción
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <span>
          En diciembre de 2003, la periodista chilena de investigación Carola Fuentes, recibió una llamada inesperada. El abogado de las víctimas de Paul Schaefer tenía información de donde estaba escondido el hombre más buscado en Chile.
         </span>
         <span>
          Schaefer había creado la
          <i>
           Colonia Dignidad
          </i>
          , un infame complejo religioso alemán en el sur de Chile, donde abusó sexualmente de niños y ayudó al régimen del dictador militar Augusto Pinochet a torturar y matar a los disidentes.
         </span>
         <span>
          Schaefer había evadido a las autoridades y desaparecido sin dejar rastro en 1997, pero el abogado dijo tener una pista de su ubicación.
         </span>
        </p>
        <div style="padding: 10px; float: right;">
         <img alt="" src="../../files/photos/392/contacto_program_logo.jpg"/>
        </div>
        <p>
         <span>
          Fuentes y los editores de CONTACTO, un programa de televisión conocido en Chile por sus investigaciones innovadoras, estaban intrigados. Era una pista débil, ya que no había pruebas de que a los 83 años de edad, Schaefer aún viviera. Pero si llevara a algo seguir el escape de Schaefer de la justicia, o incluso su captura, esto sería un golpe importante para CONTACTO, tal vez el más grande del programa con 12 años de historia. Patricia Bazán Cardemil, editor ejecutivo de CONTACTO, pidió a Fuentes proseguir la historia.
         </span>
        </p>
        <p>
         <span>
          Mientras Fuentes comenzó a investigar, encontró informes cercanos a los guardaespaldas de Schaefer, y posiblemente del mismo Schaefer en Chivilcoy, Argentina. Sin embargo, Fuentes no podía seguir más, porque como chilena, podría aumentar las sospechas de los alemanes. Así que Bazán Cardemil asignó la historia a un miembro de su equipo, al veterano periodista de investigación, de ascendencia italiana, Gustavo Villarrubia.
         </span>
        </p>
        <p>
         <span>
          Bajo la supervisión de la editora Pilar Rodríguez, el equipo de noticias decidió que, a pesar de los riesgos del descubrimiento y de algunas limitaciones éticas, tenia sentido enviar encubierto a Villarrubia hacia Chivilcoy. Se presentaría como un sociólogo investigando la inmigración italiana en la zona. Cuando llegó en enero de 2004, Villarrubia fue capaz de ganar la confianza de los residentes y vivió durante largos períodos de tiempo, cerca de La Solita, una hacienda ocupada por los alemanes, donde el sospechaba que Schaefer se escondía.
         </span>
        </p>
        <p>
         <span>
          Los próximos seis meses fueron frustrantes, se multiplicaban los callejones sin salida, más de una vez Bazán Cardemil consideró cancelar el proyecto. Además, agregando el peligro de que Villarrubia pudiera ser descubierto, el equipo varias veces se preguntó, si era prudente dejar al periodista en peligro. ¿Era éste un asunto para la policía, o para los periodistas? No estaban todos los miembros del equipo a gusto con la presentación de informes secretos. ¿El fin justifica los medios? ¿O era una práctica engañosa?
         </span>
        </p>
        <p>
         <span>
          Por último, en julio de 2004, Villarrubia se tropezó con una prueba confiable de que Schaefer estaba viviendo en Chivilcoy y al final del año, él y Fuentes habían ya establecido la ubicación de Schaefer. La búsqueda había terminado, pero ¿ahora qué? ¿CONTACTO debía notificar a la policía? Y de ser así, ¿cual policía, la Argentina? ¿La Chilena? ¿Internacional? Bazán Cardemil tuvo siempre la intención de involucrar a la policía, pero de repente parecía arriesgado. En 1997, Schaefer probablemente había escapado de Chile después de un alianza en el gobierno o avisado por la policía. El equipo de noticias de televisión tuvo que suponer que Schaefer tenía vínculos similares en la Argentina. Nadie quería verlo desaparecer por segunda vez.
         </span>
        </p>
        <p>
         <span>
          Una opción era acercarse a la Interpol, la organización policial internacional, pero esto planteaba un problema también. ¿Qué pasa si la Interpol no permitía a CONTACTO filmar el momento de la detención de Schaefer? Después de un año de laboriosa investigación, esto parecía un precio demasiado alto a pagar. Sin embargo, para informar sobre el paradero de Schaefer, sin participación de la policía, también era arriesgado. Si había violencia y él huía de nuevo, CONTACTO sería responsable.
         </span>
        </p>
        <p>
         <span>
          Mientras tanto, la presencia de Villarrubia en Chivilcoy por fin había despertado las sospechas del entorno alemán a Schaefer. CONTACTO tuvo que actuar pronto, o perder todo lo que se había trabajado en un año.
         </span>
        </p>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_50.html" title="Go to previous page">
          « ¿Periodistas o policías? CONTACTO y la búsqueda de Paul Schaefer
         </a>
         <a class="page-next" href="case_id_50_id_505.html" title="Go to next page">
          Paul Schaefer »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
