

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Information Exchanges and Reader Forums | Crowdsourcing: Promise or Hazard? Part A: Debate at the Fort Myers, FL, News-Press
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #996632;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #996632;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/19/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_19.html" title="Home"><span>Information Exchanges and Reader Forums</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_19_id_214.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_19_id_215.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_19_id_216.html">The News-Press</a>





</li>


<li class="leaf"><a  href="case_id_19_id_217.html">Crowdsourcing?</a>





</li>


<li class="leaf"><a  href="case_id_19_id_218.html">Gannett Comes to Town</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_19_id_219.html">Information Exchanges and Reader Forums</a>





</li>


<li class="leaf"><a  href="case_id_19_id_220.html">The Right Kind of Story</a>





</li>


<li class="leaf"><a  href="case_id_19_id_221.html">Cape Coral Utility Expansion</a>





</li>


<li class="leaf"><a  href="case_id_19_id_222.html">Debating the Merits</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/19/Crowdsourcing&#32;Text&#32;Part&#32;A_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_19.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Information Exchanges and Reader Forums</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>While crowdsourcing initially seemed an unfamiliar concept, some of its features were not completely untested at the <em>News-Press</em>. Part of Maness&rsquo; impetus for visiting Fort Myers in the first place was the paper&rsquo;s openness to innovation. The <em>News-Press</em> had conducted an experiment similar to crowdsourcing in August 2004, when Hurricane Charley swept up Florida&rsquo;s west coast. Deputy to the Publisher Warren recounts that he and his colleagues realized that the storm would affect people &ldquo;very differently from neighborhood to neighborhood, maybe even from block to block and door to door.&rdquo; He continues:</p>
<blockquote>
<p>We weren&rsquo;t going to be able to tell all their stories. So we cooked up this quick software solution. We called it Information Exchanges. We said, &ldquo;You&rsquo;re going to help tell the story. Connect here. Find people who have answers to your questions, because we&rsquo;re not able to answer them all.&rdquo;</p>
</blockquote>
<p>Warren feels that by providing the Information Exchanges, the paper performed a public service that would have been impossible in what he calls &ldquo;the traditional journalism mindset of: &lsquo;We&rsquo;re going to hear what the police have to say, and then write it down on a pad of paper, and that&rsquo;s the story we&rsquo;re going to tell 10 hours from now when our newspaper comes out.&rsquo;&rdquo; The Information Exchanges were a particularly valuable tool for seasonal residents of Lee County who lived elsewhere during the summer and could not easily learn how their property had fared. One such seasonal resident was in the Philippines when the storm hit and successfully located, via the Information Exchanges, a missing relative she had been unable to contact after area phone lines went down. Others used the Information Exchanges to learn where beer, cigarettes, and gas were still available as retail supplies dwindled.</p>
<p>The offspring of the Information Exchanges were reader forums: space on the <em>News-Press</em> website, news-press.com, where readers could submit comments and discuss issues. The forums occupied their own section of the website, insulated from news-press.com&rsquo;s news content. Unlike Information Exchanges, reader forums tied related comments into topic threads, which readers could introduce themselves. Also unlike the Information Exchanges, which focused on a single issue&mdash;the hurricane&mdash;reader forums were, in Warren&rsquo;s words, &ldquo;a free-for-all.&rdquo;</p>
<p><em>Listen to Warren explain the difference between Information Exchanges and reader forums.</em><br />
<span class="footnoteslength"><strong>Length:</strong> 1 min</span><br />
<img border="0" alt="" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/newspress/Warren%20info%20exchanges%20versus%20forums.mp3" class="audiofile" /></p>
<p>The <em>News-Press</em> was, in 2004, among the first American newspapers to adopt forum technology. Marymont recalls that the paper took a lot of criticism as a result. &ldquo;Many around the industry were very apprehensive about open forums where people could make unsubstantiated claims, call each other names... rant and rave about anything,&rdquo; she recalls. Other &ldquo;early adopters&rdquo; of forums exercised strict control over what could be posted there; the <em>News-Press</em>, by contrast, decided early on to take a more laissez-faire approach. But the paper&rsquo;s editors still grappled with what kinds of restrictions, if any, they should place on what users could post to their website. Publisher Carol Hudler consulted the paper&rsquo;s legal counsel about the <em>News-Press</em>&rsquo; responsibility for the accuracy of what appeared on its forums. The lawyer gave Hudler a useful comparison:</p>
<blockquote>
<p>If you hold a town meeting, and someone says something that&rsquo;s true or not true... you can&rsquo;t sue the person that holds the town meeting for libel because they held a town meeting and someone said something... The whole idea behind it is to invite comment... Now, there are some that are real problems. Someone that enters in the forum and says something hostile and untrue about somebody could be sued for libel themselves.<sup><a title="txtfn20" name="txtfn20"></a><a href="case_id_19_id_219.html#fn20">[20]</a></sup></p>
</blockquote>
<p>Liability apart, Executive Editor Marymont recalls occasions when she would &ldquo;read something on the forums and blanch.&rdquo; News-press.com&rsquo;s immigration threads were especially acrimonious. Marymont explains:</p>
<blockquote>
<p>We have a lot of migrant workers here, and the debate over illegal immigration is very hot in Southwest Florida, and it&rsquo;s often very ugly... Some of the hateful racism, I remember [thinking], just pull it down. I don&rsquo;t want that on our website. That&rsquo;s just not right. But it&rsquo;s part of the community conversation.</p>
</blockquote>
<p>For the most part, the <em>News-Press&rsquo;</em> editors did not remove comments from the forums. This was partly because of their enthusiasm for the &ldquo;town hall&rdquo; model, but it also stemmed from a lack of capacity to police the forums. Readers posted hundreds of comments a day, and the <em>News-Press</em> lacked the staff to monitor them all for accuracy and civility. Ultimately, the only posts the <em>News-Press</em> removed were physical threats or excessive profanity. Even so, Marymont says, &ldquo;we let people get pretty raw.&rdquo;</p>
<p>Reporters had also used the forums to solicit sources. <a href="case_id_19_id_47_c_bio.html">Betty Wells</a>, Metro Editor of news-press.com, recalls that reporters would begin discussion threads with specific questions in mind. &ldquo;If you have problems with your homeowners&rsquo; insurance, let us know,&rdquo; Wells offers as one example.<sup><a title="txtfn21" name="txtfn21"></a><a href="case_id_19_id_219.html#fn21">[21]</a></sup> Crowdsourcing could use the forums in a similar way to collect readers&rsquo; reporting, tips, and perspectives.</p>
<div class="footnotesblock">
<h3 class="footnotes">Footnotes</h3>
<p><a title="fn20" name="fn20"></a><a class="textfn" href="case_id_19_id_219.html#txtfn20">[20]</a> Author&rsquo;s interview with Carol Hudler, August 15, 2007, in Fort Myers, Florida. All further quotes from Hudler, unless otherwise attributed, are from this interview.</p>
<p><a title="fn21" name="fn21"></a><a class="textfn" href="case_id_19_id_219.html#txtfn21">[21]</a> Author&rsquo;s interview with Betty Wells, on August 17, 2007, in Fort Myers, Florida. All further quotes from Wells, unless otherwise attributed, are from this interview.</p>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_19_id_218_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Gannett Comes to Town</a>

<a href="case_id_19_id_220_pid_0.html" class="page-next" title="Go to next page">The Right Kind of Story&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_19_id_40_c_bio.html">Jeff&nbsp;Cull</a></li>

<li class="leaf"><a  href="case_id_19_id_41_c_bio.html">Tom&nbsp;Hayden</a></li>

<li class="leaf"><a  href="case_id_19_id_42_c_bio.html">Carol&nbsp;Hudler</a></li>

<li class="leaf"><a  href="case_id_19_id_43_c_bio.html">Kate&nbsp;Marymont</a></li>

<li class="leaf"><a  href="case_id_19_id_44_c_bio.html">Cindy&nbsp;McCurry-Ross</a></li>

<li class="leaf"><a  href="case_id_19_id_45_c_bio.html">Don&nbsp;Ruane</a></li>

<li class="leaf"><a  href="case_id_19_id_46_c_bio.html">Mackenzie &nbsp;Warren</a></li>

<li class="leaf"><a  href="case_id_19_id_47_c_bio.html">Betty&nbsp;Wells</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
