

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Introduction | Crowdsourcing: Promise or Hazard? Part A: Debate at the Fort Myers, FL, News-Press
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #996632;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #996632;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/19/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_19.html" title="Home"><span>Introduction</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_19.html">Title Page</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_19_id_215.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_19_id_216.html">The News-Press</a>





</li>


<li class="leaf"><a  href="case_id_19_id_217.html">Crowdsourcing?</a>





</li>


<li class="leaf"><a  href="case_id_19_id_218.html">Gannett Comes to Town</a>





</li>


<li class="leaf"><a  href="case_id_19_id_219.html">Information Exchanges and Reader Forums</a>





</li>


<li class="leaf"><a  href="case_id_19_id_220.html">The Right Kind of Story</a>





</li>


<li class="leaf"><a  href="case_id_19_id_221.html">Cape Coral Utility Expansion</a>





</li>


<li class="leaf"><a  href="case_id_19_id_222.html">Debating the Merits</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/19/Crowdsourcing&#32;Text&#32;Part&#32;A_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_19.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Introduction</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p><span class="inline inline-right"><img width="240" height="200" border="0" src="../../files/newspress_a/images/News-Press-gannet.jpg" class="image image-_original" alt="" /></span>In the summer of 2006, the editors of the <em>News-Press</em>, a metro daily in Fort Myers, Florida, worried that &ldquo;watchdog&rdquo; journalism&mdash;aggressive investigations of public officials and the use of public funds&mdash;was in danger. Short, timely news updates, rather than longer investigative pieces that often took weeks or months to report and assemble, increasingly set the standard for Internet-delivered news. At the same time, the <em>News-Press</em>&rsquo; editors recognized that the Internet could be a tremendous aid to exactly the kind of watchdog work they hoped to perform.</p>
<p>That June, two executives from Gannett, the <em>News-Press</em>&rsquo; parent company, visited the paper and proposed an innovative way to harness technology for investigative journalism. They suggested that the paper solicit the help of its audience in examining their community. The paper&rsquo;s readership, they speculated, had ideas, expertise, and access to people and documents that no member of the <em>News-Press</em>&rsquo; small staff had. The paper could collect and share the combined knowledge of its own public.</p>
<p>This strategy, labeled &ldquo;crowdsourcing,&rdquo; had already enjoyed success in the private sector. Corporations like the Boeing Company and Procter &amp; Gamble had crowdsourced certain research and development functions, posting some of their most difficult scientific problems online and soliciting solutions. The Gannett executives wanted to see the strategy employed in journalism and hoped the <em>News-Press</em> would serve as a laboratory.</p>
<p>Editors at the<em> News-Press</em> were intrigued, but not entirely persuaded. The breaking story in mid-2006 that lent itself most readily to crowdsourcing was about a local utilities project. Prices for sewer and potable water hookups to homes in the city of Cape Coral had recently shot up, and the newspaper had reported on the project&rsquo;s devastating financial impact on city residents, some of whom feared they would be forced to sell their homes. It remained unclear, however, why the cost to citizens had skyrocketed.</p>
<p>There were potential benefits to crowdsourcing the story. Affected residents could suggest angles to pursue and offer eyewitness reports of the utility project&rsquo;s day-to-day progress. The <em>News-Press</em> might obtain from its readers information that would otherwise be unavailable to reporters. It would be as if the newspaper had thousands of reporters on the story, rather than the six who constituted the Cape Coral bureau. Residents were likely to be receptive if the paper appealed for their input, since the issue was one that affected many financially. The project could further engage existing readers and perhaps attract new ones.</p>
<p>But there were risks as well. The request for information could stimulate an unmanageable volume of feedback. The <em>News-Press</em>&rsquo; editors worried about what they owed readers who offered input: Were editors and reporters obliged to respond to each of potentially hundreds of emails and phone calls? How much could they trust their readers to offer credible information? What forum should the <em>News-Press</em> provide for reader input and, if it was public, was the paper responsible for the accuracy of what appeared there? If the <em>News-Press</em> were to test-run crowdsourcing for journalism, editors would have to make some challenging decisions.</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_19.html" class="page-previous" title="Go to previous page">&#171;&#160;Crowdsourcing: Promise or Hazard? Part A: Debate at the Fort Myers, FL, <i>News-Press</i></a>

<a href="case_id_19_id_216.html" class="page-next" title="Go to next page">The <i>News-Press</i>&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_19_id_40_c_bio.html">Jeff&nbsp;Cull</a></li>

<li class="leaf"><a  href="case_id_19_id_41_c_bio.html">Tom&nbsp;Hayden</a></li>

<li class="leaf"><a  href="case_id_19_id_42_c_bio.html">Carol&nbsp;Hudler</a></li>

<li class="leaf"><a  href="case_id_19_id_43_c_bio.html">Kate&nbsp;Marymont</a></li>

<li class="leaf"><a  href="case_id_19_id_44_c_bio.html">Cindy&nbsp;McCurry-Ross</a></li>

<li class="leaf"><a  href="case_id_19_id_45_c_bio.html">Don&nbsp;Ruane</a></li>

<li class="leaf"><a  href="case_id_19_id_46_c_bio.html">Mackenzie &nbsp;Warren</a></li>

<li class="leaf"><a  href="case_id_19_id_47_c_bio.html">Betty&nbsp;Wells</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
