

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>The Right Kind of Story | Crowdsourcing: Promise or Hazard? Part A: Debate at the Fort Myers, FL, News-Press
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #996632;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #996632;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/19/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_19.html" title="Home"><span>The Right Kind of Story</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_19_id_214.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_19_id_215.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_19_id_216.html">The News-Press</a>





</li>


<li class="leaf"><a  href="case_id_19_id_217.html">Crowdsourcing?</a>





</li>


<li class="leaf"><a  href="case_id_19_id_218.html">Gannett Comes to Town</a>





</li>


<li class="leaf"><a  href="case_id_19_id_219.html">Information Exchanges and Reader Forums</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_19_id_220.html">The Right Kind of Story</a>





</li>


<li class="leaf"><a  href="case_id_19_id_221.html">Cape Coral Utility Expansion</a>





</li>


<li class="leaf"><a  href="case_id_19_id_222.html">Debating the Merits</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/19/Crowdsourcing&#32;Text&#32;Part&#32;A_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_19.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">The Right Kind of Story</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>If the paper decided to experiment with crowdsourcing, however, the editors needed to find a story that could benefit from such an approach. To that end, Marymont and McCurry-Ross held a meeting of editors and writers on June 14, the day after meeting with Maness, to introduce the crowdsourcing idea and discuss possible applications. McCurry-Ross felt that it was important to select a story that strongly impacted individuals. The investigation itself, rather than just the investigation&rsquo;s results, should affect readers. That way, they would be motivated to participate. Several ideas emerged from the discussion.</p>
<p><i><b>Nursing homes.</b></i> One possible topic was nursing homes. They represented an intense personal issue for families who worried that their elderly members might encounter abuse and neglect at such facilities. The paper could even ask readers to take video cameras into the nursing homes they visited.</p>
<p><i><b>Human trafficking.</b></i> Human trafficking was another possibility. Southwest Florida was a favored conduit for smugglers who transported impoverished immigrants to the US and enslaved them. The <i>News-Press</i> had been investigating the issue&mdash;in a traditional, paper-based way&mdash;for about a year, and had found that Florida&rsquo;s combination of numerous low-paying jobs, seasonal farm work, and a sex trade that accompanied migrant workers gave the state the third highest number of human trafficking cases in the US, after New York and California.<sup><a name="txtfn22"></a><a href="case_id_19_id_220_pid_0.html#fn22">[22]</a></sup></p>
<p>Meanwhile, the formation of a human trafficking task force in the Lee County Sherriff&rsquo;s Department had brought more attention to the issue. The <i>News-Press</i> covered one case that involved a 13-year-old Guatemalan girl whose parents had sold her for $260. She had been brought to Lee County&rsquo;s Cape Coral, where she was forced into domestic and sexual servitude. The <i>News-Press</i> reported that the situation persisted for a year while police investigated the case.<sup><a name="txtfn23"></a><a href="case_id_19_id_220_pid_0.html#fn23">[23]</a></sup></p>
<p><i><b>Taxes.</b></i> Taxes, too, were an attractive candidate for crowdsourcing. As a slump in housing prices began in 2006, the taxable value of Florida homes nevertheless continued to increase. &ldquo;In other words,&rdquo; Deputy Warren explains, &ldquo;people were getting taxed higher, and their homes were going to be going down in value.&rdquo; What gave it the potential for reader-assisted reporting, Warren continues, was that much of the story involved analyzing public records, which any <i>News-Press</i> reader could access. Further, says Warren, &ldquo;everybody&rsquo;s version of the story was going to be a little different, because everybody&rsquo;s got a different value of their homes.&rdquo;<sup><a name="txtfn24"></a><a href="case_id_19_id_220_pid_0.html#fn24">[24]</a></sup></p>
<p><i><b>Insurance.</b></i> For similar reasons, insurance rates could offer an interesting crowdsourcing experiment. The hurricanes of 2004 and 2005 had damaged or destroyed countless Florida homes and properties, and insurers often refused to cover the losses, arguing that water damage was the province of flood insurance, not hurricane insurance. &ldquo;Lots of people lost their homes around here because of that,&rdquo; Warren recalls:</p>
<blockquote>
<p>And then on top of that lots of companies who write insurance policies started bailing out of the Florida market and saying... &lsquo;We&rsquo;re not even going to write insurance policies.&rsquo;... Less competition means prices go up.</p>
</blockquote>
<p>However, Florida residents were required by law to purchase insurance. The so-called &ldquo;insurer of last resort&rdquo; was a taxpayer-funded system for the growing proportion of otherwise uninsurable Floridians. But this system, according to Warren, was even more expensive and less effective than private insurance. The result, as Warren describes it, was that &ldquo;people were having their insurance rates go up 400 [or] 500 percent every year.&rdquo; He continues:</p>
<blockquote>
<p>And if you can&rsquo;t pay it, too bad, you&rsquo;ve got to leave your house. But... you can&rsquo;t sell your house because nobody else is going to buy a house that has to have a $5,000 bill attached to it every year.<sup><a name="txtfn25"></a><a href="case_id_19_id_220_pid_0.html#fn25">[25]</a></sup></p>
</blockquote>
<p>The issue, like that of taxes, affected most homeowners and impacted each one a little differently. Insurance presented several reporting challenges that taxes did not, however. Not everyone had the same insurance, for one thing. For another, explains Warren, &ldquo;[insurance] rate structures, although subject to public review, are not totally transparent.&rdquo;</p>
<p>The most attractive possibility, however, was one McCurry-Ross learned about in a routine phone call with Cape Coral Bureau Chief <a href="case_id_19_id_41_c_bio.html">Tom Hayden</a> before the meeting. In the course of inquiring about that week&rsquo;s developing stories, she had mentioned Maness&rsquo; crowdsourcing idea. Hayden had pointed out that community dissatisfaction over an expensive public utility project was gathering force.</p>
<div class="footnotesblock">
<h3 class="footnotes">Footnotes</h3>
<p><a name="fn22"></a><a class="textfn" href="case_id_19_id_220_pid_0.html#txtfn22">[22]</a> Jeff Cull, &ldquo;Young Task Force Cracks Down on Slavery,&rdquo; <i>The News-Press</i>, June 10, 2005.</p>
<p><a name="fn23"></a><a class="textfn" href="case_id_19_id_220_pid_0.html#txtfn23">[23]</a> Jeff Cull, &ldquo;System Fails Abused Guatemalan Girl,&rdquo; <i>The News-Press</i>, July 24, 2005.</p>
<p><a name="fn24"></a><a class="textfn" href="case_id_19_id_220_pid_0.html#txtfn24">[24]</a> Author&rsquo;s telephone interview with Mackenzie Warren, October 23, 2007.</p>
<p><a name="fn25"></a><a class="textfn" href="case_id_19_id_220_pid_0.html#txtfn25">[25]</a> Ibid.</p>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_19_id_219_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Information Exchanges and Reader Forums</a>

<a href="case_id_19_id_221_pid_0.html" class="page-next" title="Go to next page">Cape Coral Utility Expansion&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_19_id_40_c_bio.html">Jeff&nbsp;Cull</a></li>

<li class="leaf"><a  href="case_id_19_id_41_c_bio.html">Tom&nbsp;Hayden</a></li>

<li class="leaf"><a  href="case_id_19_id_42_c_bio.html">Carol&nbsp;Hudler</a></li>

<li class="leaf"><a  href="case_id_19_id_43_c_bio.html">Kate&nbsp;Marymont</a></li>

<li class="leaf"><a  href="case_id_19_id_44_c_bio.html">Cindy&nbsp;McCurry-Ross</a></li>

<li class="leaf"><a  href="case_id_19_id_45_c_bio.html">Don&nbsp;Ruane</a></li>

<li class="leaf"><a  href="case_id_19_id_46_c_bio.html">Mackenzie &nbsp;Warren</a></li>

<li class="leaf"><a  href="case_id_19_id_47_c_bio.html">Betty&nbsp;Wells</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
