

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Experience Corps to Baltimore | Scientific Method in the Real World: Experience Corps and the Johns Hopkins Study
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/125/test.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_125.html" title="Home"><span>Experience Corps to Baltimore</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_125_id_859.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_125_id_869.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_125_id_870.html">Origins: Gardner and Freedman</a>





</li>


<li class="leaf"><a  href="case_id_125_id_871.html">Experience Corps Model: Fried</a>





</li>


<li class="leaf"><a  href="case_id_125_id_872.html">Fried and Freedman join forces</a>





</li>


<li class="leaf"><a  href="case_id_125_id_873.html">First demonstrations</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_125_id_874.html">Experience Corps to Baltimore</a>





</li>


<li class="leaf"><a  href="case_id_125_id_875.html">Baltimore pilot (1999-2000)</a>





</li>


<li class="leaf"><a  href="case_id_125_id_876.html">Seeking NIH grant</a>





</li>


<li class="leaf"><a  href="case_id_125_id_877.html">Second attempt (2005)</a>





</li>


<li class="leaf"><a  href="case_id_125_id_878.html">Appendix</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/125/Experience&#32;Corps&#32;Final.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_125.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Experience Corps to Baltimore</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	Fried chose Baltimore as an affiliate city because she saw another strong rationale for continuing Experience Corps past the two-year demonstration period: deeper evaluation. The initial results of the five-city demonstration project were positive and encouraging&mdash;but were they sufficient? Many funders were swayed. However, the results provided only initial evidence of the validity of the program; it did not assess the full impact of a mature program. To attract significant federal support, both political and financial, and to get long-term funding from large foundations would require an evaluation that went beyond focus groups and questionnaires. Fried knew a randomized controlled trial was needed to establish the value of the Experience Corps model.</p>
<p>
	Properly done, an RCT would establish two sets of treatment and control groups: for the older adult volunteers, and for the schools in which they were placed. Volunteers would be randomly assigned to the treatment group (i.e. be placed in an Experience Corps school) or the control group. Those randomized to the control group would be directed to another agency that offered traditional low-impactvolunteer opportunities for seniors. Schools likewise would be randomly assigned to the treatment group and receive a cohort of volunteers, or to the control group and go without. This would allow researchers to isolate Experience Corps as a variable, and determine its impact on both the volunteers and the schools in which they worked.</p>
<p>
	Unfortunately, except for tracking the children&rsquo;s academic progress, resistance had emerged to conducting any further evaluation at the original demonstration sites. Fried cites a cultural stigma against the elderly that was prevalent in the 1980s and 1990s. Many favored helping children achieve academically; fewer supported the aged, who were often perceived as soaking up resources needed for the young and &ldquo;selfishly&rdquo; opposing the allocation of property tax revenues to schools. According to Fried, the initial backers of Experience Corps &ldquo;didn&rsquo;t want to have any evaluation of the older adults, because it shouldn&rsquo;t be ever understood, be perceived, as being designed to be good for older people.&lsquo;It&rsquo;s just for the kids.&rsquo; And so they wouldn&rsquo;t actually let us do a full and formal evaluation.&rdquo;</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/861/GreaterHomewoodCommunityCorporation3.JPG" style="height: 263px; width: 350px;" /><br />
	<p class="caption">
		&copy; Greater Homewood Community Corporation<br />
		Volunteers in Baltimore celebrate the end of the school year.</p>
</div>
<p>
	So in 1998, Fried decided to establish Experience Corps in Baltimore, where she and her colleagues at COAH could evaluate it. In addition, Fried wanted older residents and schoolchildren in her home city to benefit from what she considered a powerful program. &ldquo;It was my judgment that it was going to work, and I wanted it in my own city, too,&rdquo; says Fried.</p>
<p>
	<em>GHCC</em>. The first step for Fried and her team of researchers at COAH was to recruit as partner a community organization with access to public schools. They found Greater Homewood Community Corporation (GHCC), a nonprofit that had been serving North Central Baltimore City since 1969. GHCC had a number of programs focused on community building and strengthening schools. It was already operating in six elementary schools in its immediate area and had strong relationships with the principals. This level of integration into the neighborhood would make it easier&mdash;or possible&mdash;for COAH to recruit schools and volunteers to Experience Corps and the RCT.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/835/SylviaMcGill-Left.jpg" style="height: 219px; width: 250px;" /><br />
	<p class="caption">
		Courtesy of William Miller<br />
		Sylvia McGill (left) receiving an award<br />
		from Baltimore Mayor Stephanie Rawlings-Blake</p>
</div>
<p>
	GHCC could also benefit from a partnership with Johns Hopkins. It would allow the organization to offer the community a high-quality, effective program, with most of the initial funding responsibility placed on the academic partner. Sylvia McGill, then director of public education programs at GHCC, describes how the two came together:</p>
<blockquote>
	<p>
		[GHCC was] operating under the theory that you can&rsquo;t turn neighborhoods around if you don&rsquo;t have schools for people to send their kids to.&nbsp; I was out in the community trolling for programs we could bring into our schools that would improve the quality of education. Somebody knew Linda [Fried] was trying to get [Experience Corps] into Baltimore City schools and that I was looking for these programs&mdash;they connected us. You couldn&rsquo;t get into Baltimore schools unless you knew somebody, and I was already working with six principals. We had a ready-made situation.<sup><a href="case_id_125_id_874_pid_0.html#_ftn1" name="_ftnref1" title="">[11]</a></sup></p>
</blockquote>
<p>
	The two organizations agreed to join forces in 1998. As the partnership developed, the relationship between Fried at COAH and McGill at GHCC became the core of the joint venture. Each was attuned to the other&rsquo;s world. Fried been a social worker and community-based heath provider before becoming a physician and academic. McGill understood the exigencies of an academic study. Her husband was an administrator at Johns Hopkins and her father had been a professor. Mutual understanding and personal affinity would be critical throughout the course of the partnership, especially as each organization, and its constituents, measured success differently. Tensions would soon arise.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_125_id_874_pid_0.html#_ftnref1" name="_ftn1" title="">[11]</a>&nbsp; Author&rsquo;s interview with Sylvia McGill in Baltimore, on November 14, 2013. All further quotes from McGill, unless otherwise attributed, are from this interview.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_125_id_873_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;First demonstrations</a>

<a href="case_id_125_id_875_pid_0.html" class="page-next" title="Go to next page">Baltimore pilot (1999-2000)&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_125_id_244_c_bio.html">Linda&nbsp;Fried</a></li>

<li class="leaf"><a  href="case_id_125_id_245_c_bio.html">William&nbsp;Miller</a></li>

<li class="leaf"><a  href="case_id_125_id_246_c_bio.html">Sylvia&nbsp;McGill</a></li>

<li class="leaf"><a  href="case_id_125_id_247_c_bio.html">Marc&nbsp;Freedman</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
