<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Experience Corps Model: Fried | Scientific Method in the Real World: Experience Corps and the Johns Hopkins Study
  </title>
  <meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
   <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
   <style media="all" type="text/css">
    @import "css_global/book/book.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/node/node.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/system/defaults.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/system/system.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/user/user.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/img_assist/img_assist.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/knightcase/style.css";
   </style>
   <style media="print" type="text/css">
    @import "css_global/knightcase/print.css";
   </style>
   <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
   </script>
   <script src="js/img_assist.js" type="text/javascript">
   </script>
   <script src="js/audioimage.js" type="text/javascript">
   </script>
   <script src="com/jquery/jquery.metadata.js" type="text/javascript">
   </script>
   <script src="com/jquery/jquery.media.js" type="text/javascript">
   </script>
   <script src="swfobject.js" type="text/javascript">
   </script>
   <script type="text/javascript">
    var GB_ROOT_DIR = "com/greybox/";
   </script>
   <script src="com/greybox/AJS.js" type="text/javascript">
   </script>
   <script src="com/greybox/AJS_fx.js" type="text/javascript">
   </script>
   <script src="com/greybox/gb_scripts.js" type="text/javascript">
   </script>
   <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
   <script type="text/javascript">
    var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
   </script>
   <script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
   </script>
   <style>
    #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
   </style>
  </meta>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/125/test.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_125.html" title="Home">
         <span>
          Experience Corps Model: Fried
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_125.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_869.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_870.html">
          Origins: Gardner and Freedman
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_125_id_871.html">
          Experience Corps Model: Fried
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_872.html">
          Fried and Freedman join forces
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_873.html">
          First demonstrations
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_874.html">
          Experience Corps to Baltimore
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_875.html">
          Baltimore pilot (1999-2000)
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_876.html">
          Seeking NIH grant
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_877.html">
          Second attempt (2005)
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_125_id_878.html">
          Appendix
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/125/Experience Corps Final.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_125.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Experience Corps Model: Fried
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         Concurrent with Gardner and Freedman’s work, Dr. Linda Fried, then vice chair of the Department of Medicine at Johns Hopkins University, was developing a related theory and model. Through the 1980s, Fried had studied how health could be maintained into the oldest ages. Her scientific research showed that a major cause of ill health among the elderly was purposelessness. Also a practicing gerontologist, Fried found that many of her patients needed a substantive role in society as much as they needed medical care.
         <sup>
          <a href="case_id_125_id_871.html#_ftn1" name="_ftnref1" title="">
           [7]
          </a>
         </sup>
         Yet when she “prescribed” meaningful volunteer work to her older, depressed patients, they often reported back that they were unable to “fill” the prescription. If they could identify an organization they wanted to be part of, the role they were given—often licking stamps and sealing envelopes—did not feed their sense of purpose, nor take advantage of skills and talents acquired over a lifetime.
        </p>
        <div style="float:right;padding:10px">
         <img src="../../files/photos/884/Linda_Fried.jpg" style="height: 302px; width: 200px;"/>
         <br/>
         <p class="caption">
          © Mailman School of Public Health
          <br/>
          Linda Fried
         </p>
        </div>
        <p>
         What would constitute a “meaningful” role for older adults? It wasn’t a purely subjective matter to Fried. Research on human development pointed to one factor as being highly correlated with a sense of purpose among older adults: generativity. To be “generative” meant knowing that one was making a difference for future generations, and leaving the world a better place. But most roles for older adults did not satisfy this common yearning. Volunteer opportunities would have to include a generative aspect to be truly meaningful to most older adults, Fried reasoned.
        </p>
        <p>
         Physical activity was another consideration. Fried had researched the connection between activity and health among the elderly. It was a challenge to keep retirees mentally and physically active. Many shunned exercise programs, and TV often became a way to fill the empty hours of retirement. Could a generative volunteer role provide the vehicle for physical activity? By pursuing “selfless” interests, could seniors help themselves? A positive feedback loop might keep them active—and healthy—much longer.
        </p>
        <p>
         Another component of the volunteer role would be its level of intensity. Seniors would need to spend enough time each week—over an extended period—to get an adequate “dose” of prevention. A significant time commitment would also allow volunteers to make an impact on the intergenerational problem they were addressing. Moreover, it would let them build up a community of peers that would counter loneliness. High-intensity service opportunities would maximize physical, social and cognitive activity.
        </p>
        <p>
         It was not just about helping individuals, from Fried’s point of view, but also about addressing a larger societal issue. As baby boomers retired and people lived longer, the elderly would become a larger proportion of the population. These people had much to contribute to society. If they were not encouraged to stay active, however, their health would deteriorate and they would become an increasing economic burden. In the 1980s, some in government and academia were predicting a generational battle, as public funds shifted to the care of the elderly and away from education and other services for the young.
        </p>
        <p>
         From these various strands of research, Fried wove a new model of senior service that would be an intergenerational “win-win.” It would demonstrate that the untapped social capital of seniors could be harnessed to improve society and, at the same time, promote the health of older adults in an aging society. Fried organized a research team and looked for programs that would allow seniors to meet community needs.
        </p>
        <p>
         She zeroed in on serving children as being well-suited to the interests and generative impulses of older adults. If a synergistic relationship could be created that benefitted both children and adult volunteers, there could be improved health, reduced healthcare spending, and the opportunity to improve the lives of the next generation—making their own future old age a brighter prospect. In that sense, it would be a virtuous cycle. Given the high needs of inner-city elementary schools, Fried felt these should be the focus of the program. She describes her thinking:
        </p>
        <blockquote>
         <p>
          I had realized that people will not show up—and they won’t stay—for a health promotion program. But they’ll show up and stay for something that deeply matters to them…. I wanted to be able to show that older adults also could bring impact on our most important societal needs, and from my point of view, that need is that our kids stay in school. You can’t have a successful democracy unless our children are succeeding. And it’s everybody’s responsibility. So I wanted a model that was inclusive of people of all backgrounds, all abilities. Everybody in.
          <sup>
           <a href="case_id_125_id_871.html#_ftn2" name="_ftnref2" title="">
            [8]
           </a>
          </sup>
         </p>
         <p>
          <i>
           Fried on creating an inclusive model..
          </i>
          <br/>
          <!--<img alt="" border="0" class="audiofile" src="../../files/audios/358/FriedExc.mp3"/>-->
          <audio controls><source src="../../files/audios/358/FriedExc.mp3" type="audio/mpeg"></audio>
         </p>
        </blockquote>
        <div>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_125_id_871.html#_ftnref1" name="_ftn1" title="">
             [7]
            </a>
            Fried
            <em>
             et al
            </em>
            ., “Building communities that promote successful aging,”
            <em>
             Western Journal of Medicine
            </em>
            167 (1997): 216-  219.
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_125_id_871.html#_ftnref2" name="_ftn2" title="">
             [8]
            </a>
            Author’s interview with Linda Friedman in New York City, on February 14, 2014. All further quotes from Fried, unless otherwise attributed, are from this interview.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_125_id_870.html" title="Go to previous page">
          « Origins: Gardner and Freedman
         </a>
         <a class="page-next" href="case_id_125_id_872.html" title="Go to next page">
          Fried and Freedman join forces »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_125_id_244_c_bio.html">
         Linda Fried
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_125_id_245_c_bio.html">
         William Miller
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_125_id_246_c_bio.html">
         Sylvia McGill
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_125_id_247_c_bio.html">
         Marc Freedman
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="http://www.journalism.columbia.edu">
         © 2012 Columbia University Graduate School of Journalism
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
 </body>
</html>
<!-- id="container" -->
<script type="text/javascript">
 var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
 try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
</script>
