

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Seeking Partners for Press Freedom: Media Council of Tanzania and DEFIR | Seeking Partners for Press Freedom Media Council of Tanzania and DEFIR
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/123/CaseConsortiumv3.jpeg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_123.html" title="Home"><span>Seeking Partners for Press Freedom: Media Council of Tanzania and DEFIR</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  class="active"  href="case_id_123_id_848.html">Title Page</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/123/Seeking&#32;Partners&#32;for&#32;Press&#32;Freedom.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="two-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_123.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Seeking Partners for Press Freedom: Media Council of Tanzania and DEFIR</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="color: rgb(0, 0, 0); font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.200000762939453px;">
	<span style="font-size: 12px;"><strong>ABSTRACT</strong></span></div>
<div style="color: rgb(0, 0, 0); font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.200000762939453px;">
	<p style="margin-top: 0.5em; margin-bottom: 0.9em; text-indent: 0em !important;">
		<span style="font-size: 12px;"><em>This is one in a group of cases the Case Consortium developed in conjunction with the Aga Khan University Graduate School of Media and Communications, slated to open in Nairobi. The cases, which look at various aspects of journalism practice in East Africa and South Africa, are being distributed under an agreement with Columbia University. They will be available as well on the AKU website.&nbsp;</em></span></p>
	<p>
		<em>AKU-14-0003.0</em> This case examines what means and partners are available to battle endemic corruption within the media. Since the liberalization of political and press restrictions in 1992, Tanzania had seen an explosion in the number of media outlets and the exercise of press freedom. Tanzanian journalists in general espoused the values of editorial independence and ethical behavior. But over the years, these values were increasingly accompanied by some disturbing trends. Journalists were not professionally trained; they were also not adequately paid, creating conditions for illegal&mdash;but widespread&mdash;under-the&#8209;table payments to reporters as inducements to write favorable stories.</p>
	<p>
		In 2009, the Media Council of Tanzania (MCT) decided to address the problems head-on and committed itself to the goal of enlisting media outlets, advertisers and others in adopting a code of editorial independence and responsibility.&nbsp; In March 2011, MCT unveiled the Dar es Salaam Declaration on Editorial Freedom, Independence and Responsibility (DEFIR) and invited individual editors, publishers, advertisers, government officials and citizens to sign the declaration. But six months later, the response had been disappointing. Only 25 editors had signed, one government official and zero advertisers. The council members were troubled.</p>
	<p>
		Use this case to ask students to think about the role of media in a democracy, whether emerging or established. How important is it that individual journalists adhere to a code of ethics? What does an ethical media establishment contribute to democratic norms? What about the Media Council&mdash;is it a watchdog, or an advocate? Can a volunteer organization be effective in changing industry behaviour? Also look at the DEFIR document and the process of its development. What is required to unite media, government, private industry and citizens in a common enterprise?</p>
	<p style="margin-top: 0.5em; margin-bottom: 0.9em; text-indent: 0em !important;">
		Use this case in a class/course on international media; ethics; media reform; or press and politics.</p>
	<div>
		<p style="margin-top: 0.5em; margin-bottom: 0.9em;">
			<em>This case has a Teaching Note and an epilogue, visible to faculty after they register.</em></p>
		<p style="margin-top: 0.5em; margin-bottom: 0.9em;">
			Credits:</p>
		<p style="margin-top: 0.5em; margin-bottom: 0.9em; margin-left: 4.3pt;">
			<em>This case was written by&nbsp;</em><em>R. Chandrasekhar&nbsp;</em><em>for the Aga Khan University Graduate School of Media and Communications. GSMC was a member of the Case Consortium @ Columbia, which coordinated production of the case. (0512)</em></p>
		<p style="margin-top: 0.5em; margin-bottom: 0.9em; margin-left: 4.3pt;">
			&copy; 2014 The Aga Khan University Graduate School of Media and Communications. No part of this publication may be reproduced, revised, translated, stored in a retrieval system, used in a spreadsheet, or transmitted in any form or by any means (electronic, mechanical, photocopying, recording, or otherwise) without the written permission of Aga Khan University.</p>
<div>
	<strong>For further information:</strong></div>
<div>
	E-mail: <a href="mailto:ccnmtl+casestudies@columbia.edu" style="color: rgb(17, 85, 204);" target="_blank">ccnmtl+casestudies@columbia.edu</a></div>
<div>
	Website:&nbsp;<a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">https://casestudies.ccnmtl.columbia.edu</a></div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
