<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Raising Questions | After the Storms: The South Florida Sun-Sentinel Investigates FEMA
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #006699;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #003399;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/23/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_23.html" title="Home">
         <span>
          Raising Questions
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_23.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_262.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_263.html">
          Investigative Reporting at the Sun-Sentinel
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_264.html">
          Storms Galore
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_265.html">
          The Federal Emergency Management Agency
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_23_id_266.html">
          Raising Questions
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_267.html">
          Going to Print
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_268.html">
          Waiting for Records
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_269.html">
          Into the Neighborhoods
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_270.html">
          A Morning Meeting
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_271.html">
          The Next Story
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_272.html">
          Inspectors
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_273.html">
          The Data Arrives
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_274.html">
          Results and Sources
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_275.html">
          Criminals
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_276.html">
          Putting the Pieces Together
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_23_id_277.html">
          Nationwide?
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/23/South FLorida Sun Sentinel Investigates FEMA_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_23.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Raising Questions
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         By Friday, September 17, 2004, Kestin had learned a few interesting things—but she was unsure what they added up to. She had confirmed that FEMA had approved recovery funds for damages from Hurricane Frances in a county the storm had barely touched. She had also discovered that Miami-Dade County had received more FEMA money than some Florida counties much closer to the storm’s landfall, which had endured more rain and stronger winds. But she had no idea why FEMA had approved the payments. The deputy managing editor, realizing that the story’s scope was growing, on Monday, September 20 assigned social services reporter O’Matz to help Kestin.
        </p>
        <p>
         The next step, the two reporters reasoned, was to find residents of Miami-Dade who had received FEMA funds, and find out what kind of storm damage they had sustained. That was not so easy. Kestin knew there were nearly 10,000 claimants, but the county had a population of over 2 million.
         <sup>
          <a name="txtfn16" title="txtfn16">
          </a>
          <a href="case_id_23_id_266.html#fn16">
           [16]
          </a>
         </sup>
         The reporters couldn’t concentrate on storm damage zones, because there weren’t any. So to get names, Kestin on Monday emailed FEMA a Freedom of Information Act (FOIA) request.
        </p>
        <p>
         <i>
          <b>
           FOIA
          </b>
          .
         </i>
         The 1966 federal Freedom of Information Act established the public’s right to access records from federal agencies. Materials subject to FOIA included agency records, “such as print documents, photographs, videos, maps, e-mail and electronic records—that were created or obtained by a Federal agency and are, at the time the request is filed, in that agency's possession and control.”
         <sup>
          <a name="txtfn17" title="txtfn17">
          </a>
          <a href="case_id_23_id_266.html#fn17">
           [17]
          </a>
         </sup>
         The law provided nine exemptions to FOIA requests—for example, if the requested information treated national security or proprietary business matters.
        </p>
        <p>
         As a federal agency, FEMA’s records fell under FOIA’s jurisdiction. But an agency lawyer denied Kestin’s request, claiming the information she sought was exempt. Kestin, who had met with such refusals before, fired off an immediate reply demanding that he cite the specific law exempting the names and addresses. She explains:
        </p>
        <blockquote>
         <p>
          At least 50 percent of the time when you’re turned down on a FOIA request, in my experience if you challenge them on their basis for it, it’s flawed. You can often get what you’re looking for even without getting lawyers involved if you just [ask]... "What is it that you’re not going to give us and why?"
         </p>
        </blockquote>
        <p>
         In this instance, however, her persistence did not pay off. FEMA’s lawyer wrote back to invoke the “personal privacy” exemption, which states that a government agency is not bound to release “personnel and medical files and similar files the disclosure of which would constitute a clearly unwarranted invasion of personal privacy.”
         <sup>
          <a name="txtfn18" title="txtfn18">
          </a>
          <a href="case_id_23_id_266.html#fn18">
           [18]
          </a>
         </sup>
         This stance was at least legally plausible. The
         <i>
          Sun-Sentinel
         </i>
         ’s lawyers could sue for the information, but a court case could take years and still not get the paper what it wanted.
        </p>
        <p>
         <i>
          <b>
           ZIP codes.
          </b>
         </i>
         The reporters were back to square one. A frustrated Kestin asked herself: “If we can’t get the names and addresses, what can we get?” FEMA’s public affairs office, it turned out, was willing to provide a list of total aid by ZIP postal code. That would at least allow the reporters to identify which areas of Miami-Dade had received the most money—presumably, that was where they would find aid recipients. It was not an ideal solution, however; ZIP codes often encompassed several square miles.
         <sup>
          <a name="txtfn19" title="txtfn19">
          </a>
          <a href="case_id_23_id_266.html#fn19">
           [19]
          </a>
         </sup>
         But it was better than nothing, so Kestin filed a second FOIA request for the agency’s aid data by ZIP code.
        </p>
        <p>
         While Kestin and O’Matz waited for FEMA’s data, they discussed how to assemble a broad story pointing out the discrepancy between the aid Miami-Dade County had received and the area’s actual damage. They worried that another newspaper or television station might get the story first if they did not publish something soon. But until the ZIP code data arrived, FEMA would give them no information more specific than the amount of aid it had approved for each Florida county. Kestin argued that, for the first story at least, they could rely on sources closer to home. They needed to prove that Hurricane Frances had caused minimal damage in Miami-Dade County, and they would have to be thorough—one overlooked area of serious damage in the county could undermine the whole story.
        </p>
        <p>
         They decided to interview government and emergency management officials in all of Miami-Dade’s 34 municipalities. So they divided up the list and spent the last two weeks in September finding contacts and making calls. Slowly, Kestin and O’Matz grew more confident in their story as, one by one, county officials reacted with disbelief to the news that FEMA had paid large assistance sums to Miami-Dade residents. None had received reports of significant damage in their areas.
        </p>
        <p>
         By early October, the reporters’ survey had turned up only two apartment buildings with roof damage from the hurricane, and a few houses on which trees had fallen. They also learned that official damage assessments and insurance claims were not in line with the countywide aid disbursement figures that FEMA had given to Kestin on September 15. With this confirmation of their suspicions, O’Matz and Kestin decided to venture into the most storm-vulnerable parts of the county. Mobile home communities generally fared poorly in hurricanes. If they could find no damage from Hurricane Frances at area trailer parks, they reasoned, they would have exhausted all legitimate explanations for the high amount of disaster relief in Miami-Dade County. Sure enough, when O’Matz contacted a mobile home community in northwest Miami-Dade on Friday, October 1, she was told there was no damage.
        </p>
        <p>
         <span class="inline inline-left">
          <img alt="" class="image image-_original" height="150" src="../../files/sunsentinel/images/noaa_hurricane.jpg" width="240"/>
          <span class="caption" style="width: 240px;">
           Satellite image of Hurricane Frances, Courtesy NOAA
          </span>
         </span>
         <i>
          <b>
           NOAA
          </b>
          .
         </i>
         Over the same period, Database Editor Maines was concentrating on the weather, analyzing data from the National Oceanic and Atmospheric Administration (NOAA), a government agency that provided meteorological information. Examining windspeed and rainfall figures for Hurricane Frances, he confirmed that the storm in Miami-Dade did not even meet the definition of a hurricane. Frances had reached a windspeed of 145 miles per hour elsewhere. But its “maximum sustained winds”—highest average windspeed over a minute, a standard storm-force measurement—were only 53 mph, well below the hurricane-force threshold of 74 mph.
         <sup>
          <a name="txtfn20" title="txtfn20">
          </a>
          <a href="case_id_23_id_266.html#fn20">
           [20]
          </a>
         </sup>
         The National Weather Service also tracked weather data. When Maines called the organization’s Miami bureau for confirmation of his analysis, a meteorologist concurred that, “In general, there wasn’t anything we would consider strong wind or rain.”
         <sup>
          <a name="txtfn21" title="txtfn21">
          </a>
          <a href="case_id_23_id_266.html#fn21">
           [21]
          </a>
         </sup>
        </p>
        <div class="footnotesblock">
         <h3 class="footnotes">
          Footnotes
         </h3>
         <p>
          <a name="fn16" title="fn16">
          </a>
          <a class="textfn" href="case_id_23_id_266.html#txtfn16">
           [16]
          </a>
          United States Census,
          <a class="extlink" href="http://quickfacts.census.gov/qfd/states/12/12086.html" target="_blank">
           Miami-Dade County QuickFacts, 2000
          </a>
          .
         </p>
         <p>
          <a name="fn17" title="fn17">
          </a>
          <a class="textfn" href="case_id_23_id_266.html#txtfn17">
           [17]
          </a>
          National Security Archive, “
          <a class="extlink" href="http://www.gwu.edu/~nsarchiv/nsa/foia/guide.html#foia" target="_blank">
           FOIA Basics
          </a>
          ,” 2008.
         </p>
         <p>
          <a name="fn18" title="fn18">
          </a>
          <a class="textfn" href="case_id_23_id_266.html#txtfn18">
           [18]
          </a>
          Freedom of Information Act, 5 USC § 552, as amended in 2002, United States Department of Justice.
          <br/>
          For a Justice Department brief on the history and application of FOIA’s personal privacy expemption, see
          <a class="pdflink" href="http://www.usdoj.gov/oip/foia_guide07/exemption6.pdf" target="_blank">
           Exemption 6
          </a>
          .
         </p>
         <p>
          <a name="fn19" title="fn19">
          </a>
          <a class="textfn" href="case_id_23_id_266.html#txtfn19">
           [19]
          </a>
          United States Census, “
          <a class="extlink" href="http://factfinder.census.gov/servlet/GCTTable?_bm=y&amp;-context=gct&amp;-ds_name=DEC_2000_SF1_U&amp;-CONTEXT=gct&amp;-mt_name=DEC_2000_SF1_U_GCTPH1_ZI1&amp;-tree_id=4001&amp;-redoLog=true&amp;-geo_id=85000US331&amp;-format=ZI-1&amp;-_lang=en" target="_blank">
           331 3-Digit ZCTA -- 5-digit ZIP Code Tabulation Area
          </a>
          ,” Geographic Comparison Table, 2000.
         </p>
         <p>
          <a name="fn20" title="fn20">
          </a>
          <a class="textfn" href="case_id_23_id_266.html#txtfn20">
           [20]
          </a>
          <a class="extlink" href="http://www.nhc.noaa.gov/2004frances.shtml" target="_blank">
           National Hurricane Center: Tropical Cyclone Report--Hurricane Frances
          </a>
         </p>
         <p>
          <a name="fn21" title="fn21">
          </a>
          <a class="textfn" href="case_id_23_id_266.html#txtfn21">
           [21]
          </a>
          Sally Kestin and Megan O’Matz, “Amount of hurricane disaster aid to Miami-Dade County, Fla., raises questions,”
          <i>
           South Florida Sun-Sentinel,
          </i>
          October 10, 2004.
         </p>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_23_id_265.html" title="Go to previous page">
          « The Federal Emergency Management Agency
         </a>
         <a class="page-next" href="case_id_23_id_267.html" title="Go to next page">
          Going to Print »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_23_id_58_c_bio.html">
         Joe Demma
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_23_id_59_c_bio.html">
         Sally Kestin
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_23_id_60_c_bio.html">
         Megan O'Matz
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_23_id_61_c_bio.html">
         Sharon Rosenhause
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_23_id_95_c_bio.html">
         John Maines
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
