

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Room with a (Disturbing) View | Charting a Course for Change: Transforming the Albany Times Union in a Wired World
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #666666;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #003399;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/15/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_15.html" title="Home"><span>Room with a (Disturbing) View</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_15_id_157.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_15_id_158.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_15_id_159.html">History of Success</a>





</li>


<li class="leaf"><a  href="case_id_15_id_160.html">Calm Before Storm</a>





</li>


<li class="leaf"><a  href="case_id_15_id_161.html">Enter the Web</a>





</li>


<li class="leaf"><a  href="case_id_15_id_162.html">Facing the Future</a>





</li>


<li class="leaf"><a  href="case_id_15_id_163.html">One Step Forward, Two Steps Back</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_15_id_164.html">Room with a (Disturbing) View</a>





</li>


<li class="leaf"><a  href="case_id_15_id_165.html">Pinpointing the Problem</a>





</li>


<li class="leaf"><a  href="case_id_15_id_166.html">Taking Action</a>





</li>


<li class="leaf"><a  href="case_id_15_id_167.html">A Fresh Look From The Outside</a>





</li>


<li class="leaf"><a  href="case_id_15_id_168.html">What's the Blueprint?</a>





</li>


<li class="leaf"><a  href="case_id_15_id_170.html">The Prometheus Priorities</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/15/Transforming&#32;the&#32;Albany&#32;Times&#32;Union&#32;in&#32;a&#32;Wired&#32;World_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_15.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Room with a (Disturbing) View</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	<span class="inline right"><img alt="" border="0" class="image preview" height="167" src="../../files/timesunion/images/rex-office-02.preview.jpg" width="250" /></span>From his glass-walled office, Smith could look out at the newsroom&mdash;an open space filled with sounds of clicking keyboards and ringing phones. To his ever more skeptical view, the newsroom editorial process seemed to have evolved to actually impede efficiency. For example, the online team worked from one corner of the newsroom and operated as a separate entity from the rest of the group. Editorial assistants hand-carried faxes and deposited them in reporters&rsquo; and editors&rsquo; in-boxes on their desks, where the pages often sat for days, often because no one knew they were there.</p>
<p>
	Looking at this, Smith worried that readers would increasingly decide that the daily paper offered too little news too late. If that happened, he feared the paper would be forced to downsize, which in turn might force it out of business&mdash;as had happened at other publications. &ldquo;If we weren&rsquo;t efficient, we were going to lose the ballgame,&rdquo; Smith says. &ldquo;We simply wouldn&rsquo;t have enough people to deliver a product that was sufficiently differentiated in the marketplace to survive... In journalism, you can&rsquo;t cut your way to prosperity.&rdquo;</p>
<p>
	<em>Listen to Smith&rsquo;s discussion on risk.</em><br />
	<img alt="" border="0" class="audiofile" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/timesunion/rex_smith_risk.mp3" /></p>
<p>
	Smith and his team were fortunate that Hearst was a privately held company. Unlike public companies with their focus on short-term financial results, Hearst could make decisions about the newspapers it owned without pressure from stockholders to steadily increase the value of shares or dividends. It meant freedom to take risks, to strategize and set long-term targets with enviable flexibility. But no one knew what the strategy should be.</p>
<p>
	<em><strong>Role models?</strong></em> In late 2005, hoping to find a role model, Smith launched his own in-depth investigation of other newspaper websites. From his computer, Smith read online the <em>Miami Herald</em>, the <em>Los Angeles Times</em>, the <em>Washington Post</em>, and others with content-rich, vividly illustrated websites. Some used audio, others were experimenting with video. &ldquo;I saw the <em>Miami Herald</em> and the <em>Los Angeles Times</em> with all these fabulous multimedia platforms,&rdquo; he says. Some he admired; others, such as a <span class="extlink">piece by the <em>Los Angeles Times</em> on oceans</span>, he thought readers would ignore. &ldquo;The question was, to what extent were readers going to sit there and go through a multimedia presentation on this topic?&rdquo; Smith says.</p>
<p>
	Smith also researched what wealthier, larger papers had done to reorganize their newsrooms to accommodate the Web, and whether that had persuaded advertisers to transfer their advertising dollars to the website. The <em>Washington Post</em>, for example, had drawn industry attention when it restructured its newsroom to better serve its website. From what Smith could glean from industry research and in conversations with his colleagues across the country, it was still too early to tell. While there had been missteps, there were indications that advertisers, if not readers, would help pay for Web-based news.</p>
<p>
	<span class="inline right"><img alt="" border="0" class="image _original" height="161" src="../../files/timesunion/images/197131826_2903a82775_m.jpg" width="136" /></span>Smith considered how these approaches could apply to his smaller circulation, regional newspaper. For one thing, he could not lose sight of the fact that fully 94 percent of the organization&rsquo;s revenue continued to come from the print newspaper, and only 6 percent from Web advertising. Moreover, a January 2005 study had shown that 65 percent of <em>Times Union</em> readers depended on it exclusively for their news; they did not subscribe to another paper. So for a large number of customers, the print product was far from irrelevant.</p>
<p>
	He likened his role at the paper to the captain of a ship, and felt like the character in a children&rsquo;s book he kept in his office. But unlike a captain capable of plotting and changing the ship&rsquo;s course, Smith felt he had charge of an assembly-line factory; in fact, the paper was registered as a factory with the New York Department of Economic Development. &ldquo;It&rsquo;s like the Ford production line model,&rdquo; Smith says. &ldquo;You put on the nut on top of the bolt, and then somebody puts the next nut on top of the next bolt.&rdquo; Smith felt the ship needed to be turned around quickly, even if that meant some mistakes would be made. &ldquo;You may not have figured out exactly what your precise proper tack is to get where you&rsquo;re going,&rdquo; he says. &ldquo;But you eventually need to move, or you&rsquo;re going to lose the wind.&rdquo;</p>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_15_id_163_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;One Step Forward, Two Steps Back</a>

<a href="case_id_15_id_165_pid_0.html" class="page-next" title="Go to next page">Pinpointing the Problem&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_15_id_20_c_bio.html"> Mark E.&nbsp;Aldam</a></li>

<li class="leaf"><a  href="case_id_15_id_21_c_bio.html">Mary Fran&nbsp;Gleason</a></li>

<li class="leaf"><a  href="case_id_15_id_22_c_bio.html">George&nbsp;Hearst</a></li>

<li class="leaf"><a  href="case_id_15_id_23_c_bio.html">Patti&nbsp;Myers</a></li>

<li class="leaf"><a  href="case_id_15_id_24_c_bio.html">Rex&nbsp;Smith</a></li>

<li class="leaf"><a  href="case_id_15_id_25_c_bio.html">Mike&nbsp;Spain</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
