

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>El Peso del Gobierno  | ¿Amigo o enemigo? Wikileaks y the Guardian 
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/109/180-01549WikileaksSpanish.jpeg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_109.html" title="Home"><span>El Peso del Gobierno </span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_109_id_740.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_109_id_741.html">Introducción</a>





</li>


<li class="leaf"><a  href="case_id_109_id_742.html">The Guardian: breve historia</a>





</li>


<li class="leaf"><a  href="case_id_109_id_743.html">Wikileaks: breve historia</a>





</li>


<li class="leaf"><a  href="case_id_109_id_744.html">Primer contacto</a>





</li>


<li class="leaf"><a  href="case_id_109_id_745.html">Los registros de la guerra</a>





</li>


<li class="leaf"><a  href="case_id_109_id_746.html">Los registros de Irak y los cables</a>





</li>


<li class="leaf"><a  href="case_id_109_id_747.html">¿Cuándo un  trato ya no es un trato?</a>





</li>


<li class="leaf"><a  href="case_id_109_id_748.html">La tormenta del 1 de Noviembre</a>





</li>


<li class="leaf"><a  href="case_id_109_id_749.html">Redacciones y reportajes</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_109_id_750.html">El Peso del Gobierno </a>





</li>


<li class="leaf"><a  href="case_id_109_id_751.html">Precaución y preocupación</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/109/Amigo&#32;o&#32;enemigo_&#32;Wikileaks&#32;EN&#32;ESPANOL.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_109.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">El Peso del Gobierno </h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="float: right; padding: 10px;">
	<img src="../../files/photos/491/guardian_building.jpg" /><br />
	<p class="caption">
		<i>Guardian</i> building</p>
</div>
<p>
	<em>The Guardian&nbsp;</em>no se inclinaba a pedir comentarios antes de publicar. Tal acci&oacute;n habr&iacute;a desencadenado mandatos judiciales en virtud de las Ley de Secretos Oficiales alegando que el peri&oacute;dico estaba en posesi&oacute;n ilegal de documentos confidenciales. &quot;Nuestro instinto, que procede de la tradici&oacute;n europea, hubiera sido no hacerlo&quot;, se&ntilde;ala Rusbridger. Sin embargo, <em>The New York Times</em> ten&iacute;a una visi&oacute;n diferente y, el 19 de noviembre, hizo un primer acercamiento a la Casa Blanca para hacerle saber qu&eacute; cables planeaba divulgar. &quot;Cuando Bill [Keller] dijo que ibamos a salir con una semana de antelaci&oacute;n, todos est&aacute;bamos muy inquietos&quot;, recuerda Rusbridger, en parte por temor a un mandato judicial.</p>
<blockquote>
	<p>
		Pienso que todos los socios europeos estaban preocupados. Y creo que, dejados a nuestros propios recursos, no habr&iacute;amos hecho lo que Bill [Keller] hizo... Fue una situaci&oacute;n dif&iacute;cil en la que se sinti&oacute; obligado a obtener alg&uacute;n tipo de reacci&oacute;n. Pero cuanto m&aacute;s tiempo se les daba, m&aacute;s tiempo ten&iacute;an para obtener una orden judicial contra nosotros.</p>
</blockquote>
<p>
	Adem&aacute;s, se&ntilde;ala Katz, <em>The Guardian</em> era perfectamente consciente de que &quot;a menudo, las instituciones y los gobiernos visten en t&eacute;rminos de seguridad aquellos asuntos que sencillamente son embarazosos o pol&iacute;ticamente inconvenientes&quot;.</p>
<p>
	El<em>Times</em> transmiti&oacute; los comentarios de la Casa Blanca a <em>The Guardian</em>, una disposici&oacute;n complicada, ya que no estaba claro si el<em>Times</em> representaba a sus socios, y si era un procedimiento de aprobaci&oacute;n formal o informal<a href="case_id_109_id_750.html#_ftn1" name="_ftnref1" title=""><sup>[30]</sup></a>. As&iacute; que el viernes 26 de noviembre, la Casa Blanca organiz&oacute; una conferencia telef&oacute;nica con Rusbridger, el director adjunto Katz y P.J. Crowley -subsecretario de Estado de EE.UU-, representantes de Defensa, de los servicios de inteligencia y del Consejo Nacional de Seguridad. Para que los editores brit&aacute;nicos no replicaran, Crowley declar&oacute; &quot;desde nuestra perspectiva, estos documentos son robados&quot;.</p>
<p>
	Crowley solicit&oacute; a Rusbridger los n&uacute;meros de los cables que el peri&oacute;dico ten&iacute;a intenci&oacute;n de utilizar, sin embargo Rusbridger no accedi&oacute; a d&aacute;rselos. En cambio le dio a conocer el plan de publicaci&oacute;n previsto por <em>The Guardian</em>: d&iacute;a 1, Ir&aacute;n; d&iacute;a 2, Corea del Norte; d&iacute;a 3, Pakist&aacute;n. Muy pronto Crowley, preocupado porque el gobierno estaba dando m&aacute;s informaci&oacute;n de la que estaba recibiendo, termin&oacute; la llamada. Al parecer, seg&uacute;n recuerda Leigh, editor de investigaci&oacute;n, &quot;no iban a venir despu&eacute;s de nosotros. En cambio, iban a comprometerse con nosotros&quot;. Justo antes de publicar, relata Rusbridger, <em>The Guardian</em> tambi&eacute;n recibi&oacute; del gobierno brit&aacute;nico &quot;una especie de mensaje privado del n&uacute;mero 10 [Downing Street] diciendo, no se preocupen, no vamos a demandarles&rdquo;.</p>
<p>
	Para la fecha de publicaci&oacute;n prevista, 28 de noviembre, <em>The Guardian</em> ten&iacute;a m&aacute;s de 160 art&iacute;culos preparados para salir y m&aacute;s en producci&oacute;n. Sin embargo, la v&iacute;spera de la publicaci&oacute;n Rusbridger, su director, se encontr&oacute; pregunt&aacute;ndose si el peri&oacute;dico hab&iacute;a tomado la decisi&oacute;n correcta.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:10px;"><a href="case_id_109_id_750.html#_ftnref1" name="_ftn1" title="">[30]</a>&nbsp;Del mismo modo Der Spiegel fue objeto de su justa cuota de presi&oacute;n; el embajador de EE.UU. llam&oacute; a su director Mascolo para advertirle contra la publicaci&oacute;n de los cables. El gobierno tambi&eacute;n pidi&oacute; a Wikileaks no publicar y devolver todos los archivos. Assange de hecho se ofreci&oacute; a examinar las objeciones de EE.UU. y afirm&oacute; que Wikileaks no ten&iacute;a ning&uacute;n deseo de poner a nadie en peligro.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_109_id_749.html" class="page-previous" title="Go to previous page">&#171;&#160;Redacciones y reportajes</a>

<a href="case_id_109_id_751.html" class="page-next" title="Go to next page">Precaución y preocupación&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_109_id_211_c_bio.html">Jon&nbsp;Casson</a></li>

<li class="leaf"><a  href="case_id_109_id_212_c_bio.html">Nick&nbsp;Davies</a></li>

<li class="leaf"><a  href="case_id_109_id_213_c_bio.html">Ian&nbsp;Katz</a></li>

<li class="leaf"><a  href="case_id_109_id_214_c_bio.html">David&nbsp;Leigh</a></li>

<li class="leaf"><a  href="case_id_109_id_215_c_bio.html">Alan&nbsp;Rusbridger</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
dy>
</html>
