<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   El caso del padre Geoghan | Reportear una Verdad Explosiva: Boston Globe y los Abusos Sexuales  en la Iglesia Católica
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/115/180-02091_Banner Revise_JL_V1.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_115.html" title="Home">
         <span>
          El caso del padre Geoghan
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_115.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_812.html">
          Introducción
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_813.html">
          Boston Globe — una breve historia
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_814.html">
          Baron: Un nuevo rostro
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_815.html">
          Nace una investigación
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_816.html">
          El Equipo Spotlight
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_817.html">
          El escenario nacional
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_818.html">
          La “ciudad más católica”
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_819.html">
          El Cardenal Law
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_820.html">
          El Diario y el Cardenal
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_821.html">
          El Globe y los católicos de Boston
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_115_id_822.html">
          El caso del padre Geoghan
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_823.html">
          Comenzar a escarbar
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_824.html">
          Organizar los archivos
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_825.html">
          Crece la base de datos
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_826.html">
          Cuando la historia se torna personal
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_827.html">
          Reportear tu cultura
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_828.html">
          Potencial reacción
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_829.html">
          Rezendes recibe una pista
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_115_id_830.html">
          ¿Publicar o hacer una pausa?
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/115/Boston Globe y los Abusos Sexuales  en la Iglesia Católica_wm .pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_115.html">
        Home
       </a>
      </div>
      <h1 class="title">
       El caso del padre Geoghan
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         El padre John J. Geoghan—retirado en 1993 luego de 28 años como sacerdote- apareció en las noticias silenciosamente en 1996 cuando una mujer en Waltham, Massachusetts presentó una demanda, acusándolo de haber abusado sexualmente de sus tres hijos. Ocho meses más tarde, un hombre de 22 años presentó otra demanda, afirmando que Geoghan había abusado de él a partir de 1981, cuando tenía siete años. Entre 1996 y 2000, 70 personas acusaron a Geoghan de abusos sexuales. Para el verano boreal de 2001, las demandas habían conducido a cargos criminales y 84 juicios civiles, 70 de ellos presentados por sus presuntas víctimas y los demás por sus familiares. La iglesia prácticamente reconoció su culpabilidad cuando lo expulsó del sacerdocio en 1998 – la sanción más severa de acuerdo a las leyes canónicas. No obstante, en la lectura de cargos en 1999, Geoghan se declaró no culpable.
        </p>
        <p>
         El
         <em>
          Globe
         </em>
         no le dio una cobertura prominente, generalmente publicando artículos de algunas cientos de palabras dentro de la sección Metro. (Un artículo sobre Geoghan llegó a estar en portada.) Pero la columnista del
         <em>
          Globe
         </em>
         Eileen McNamara tomó cartas en el asunto. Después de que se presentara la segunda demanda en contra de Geoghan, el 15 de enero de 1997 escribió:
        </p>
        <blockquote>
         <p>
          La noticia el otro día de que el padre John. J. Geoghan, sacerdote católico romano retirado, es acusado por segunda vez en un año de abusar a niños en las parroquias de Boston no causó ningún impacto. La Arquidiócesis no sintió presión alguna para señalar qué medidas disciplinarias o terapéuticas ha tomado en este caso, si es que ha tomado alguna.
         </p>
        </blockquote>
        <blockquote>
         <p>
          Si tomamos el abuso sexual de menores tan en serio, ¿dónde está el clamor? ¿Por qué el padre Geoghan sólo enfrenta un juicio civil por la presunta violación de niños hasta de siete años? Si somos tan implacables en nuestra persecución de pedófilos, ¿por qué no los perseguimos penalmente, en vez de permitirle retirarse en los brazos acogedores de su iglesia?
         </p>
        </blockquote>
        <p>
         Mientras el caso Geoghan se arrastraba por años, el
         <em>
          Globe
         </em>
         lo cubría con diligencia pero sin fanfarria. Los artículos iban en las páginas interiores del diario. En tanto, Law se refería al escándalo sólo en términos generales, negándose a comentar sobre casos específicos. Por ejemplo, en marzo de 2000, en un discurso que intentaba expiar el racismo y antisemitismo de la iglesia, también pidió disculpas por los abusos sexuales. “Situaciones intolerables han causado gran sufrimiento y a veces han resultado en un distanciamiento de la iglesia,” dijo. “Hay casos obvios de abuso sexual que nos han indignado a todos, y casos menos llamativos de duras palabras y tratos duros e injustos.”
         <sup>
          <a href="case_id_115_id_822.html#_ftn1" name="_ftnref1" title="">
           [27]
          </a>
         </sup>
        </p>
        <p>
         <em>
          Law advertido
         </em>
         . La columnista McNamara volvió al ataque a mediados de julio de 2001. El
         <em>
          Globe
         </em>
         ya había reporteado que Geoghan se iba reiteradamente con “licencia médica” antes de reaparecer en otra parroquia, y en junio de 2001, durante la fase de presentación de evidencias previo al juicio, Law había presentado un documento que incluía una admisión: en septiembre de 1984 - antes de ocurridos los presuntos crímenes – había sido alertado sobre Geoghan. Sin nombrar la fuente, Law reconoció haber recibido una carta que señalaba que Geoghan había abusado a siete niños. El 22 de julio, McNamara escribió:
        </p>
        <blockquote>
         <p>
          ¿Se le permitirá al Cardenal Bernard F. Law jugar a las escondidas indefinidamente? ¿Alguien le exigirá al jefe de la Arquidiócesis de Boston que explique cómo fue que pastores, obispos, arzobispos y cardenales-arzobispos que supervisaban a Geoghan nunca enfrentaron, o acaso sospecharon, sus presuntos abusos de niños en cinco parroquias distintas a lo largo de 28 años?
         </p>
        </blockquote>
        <p>
         Una semana después, en un acontecimiento que llegó a la portada del
         <em>
          Globe
         </em>
         , Law finalmente se pronunció públicamente sobre el caso Geoghan. En una columna en el diario de la Arquidiócesis,
         <em>
          Pilot
         </em>
         , escribió: “Nunca hubo algún esfuerzo de mi parte de mover un problema de un lugar a otro.” La misma edición del
         <em>
          Pilot
         </em>
         publicó una carta del abogado de Law criticando a los abogados querellantes por no mencionar que Law había reubicado a Geoghan sólo después de que “una evaluación médica independiente indicara que esa reubicación era apropiada y segura.”
        </p>
        <p>
         McNamara respondió con otra columna el 29 de julio – el texto que llamó la atención de Baron. En esa columna, ella se preguntaba cómo el Cardenal Law podría haber reubicado a Geoghan a nuevas parroquias aún después de presentadas las demandas civiles por abuso sexual en su contra.
        </p>
        <blockquote>
         <p>
          O la iglesia ignoraba el tipo de abuso sexual del cual Geoghan es acusado, o sabía lo suficiente como para enviar a sus sacerdotes a centros de tratamiento para tratar de contener su pedofilia. Si lo último es verdad, ¿por qué Law no tomó más precauciones y designó a Geoghan a tareas distintas al trabajo parroquial que lo ponía en contacto diario con niños? ¿Y por qué no les cuenta a los fieles cómo supervisó a Geoghan después de mandarlo de vuelta al trabajo? ¿Cómo podría haber habido al menos 25 otras víctimas después de 1984, si el cardenal y sus agentes eran diligentes en sus esfuerzos por proteger a los niños de un sospechado predador sexual?
         </p>
        </blockquote>
        <p>
         Era el trabajo del Equipo Spotlight tratar de responder esas preguntas.
        </p>
        <div>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size:10px;">
            <a href="case_id_115_id_822.html#_ftnref1" name="_ftn1" title="">
             [27]
            </a>
            Michael Paulson, “Laws Asks Atonement for Sins of Catholics.”
            <em>
             Boston Globe,
            </em>
            12 de marzo de 2000.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_115_id_821.html" title="Go to previous page">
          « El Globe y los católicos de Boston
         </a>
         <a class="page-next" href="case_id_115_id_823.html" title="Go to next page">
          Comenzar a escarbar »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_115_id_230_c_bio.html">
         Walter Robison
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_115_id_231_c_bio.html">
         Michael Rezendes
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_115_id_232_c_bio.html">
         Sacha Pfeiffer
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_115_id_233_c_bio.html">
         Martin Baron
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_115_id_234_c_bio.html">
         Ben  Bradlee, Jr.
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
