

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>SOPHIA Reports | The Islanders and the Scientists: Post-tsunami Aid in the Nicobars
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/133/180-02547_Nicobar_EB_CN_v3.0.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_133.html" title="Home"><span>SOPHIA Reports</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_133.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_133_id_949.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_133_id_950.html">The Islands and the Anthropologist</a>





</li>


<li class="leaf"><a  href="case_id_133_id_951.html">Tsunami and First Response</a>





</li>


<li class="leaf"><a  href="case_id_133_id_952.html">Wading In</a>





</li>


<li class="leaf"><a  href="case_id_133_id_953.html">Second Tsunami</a>





</li>


<li class="leaf"><a  href="case_id_133_id_954.html">In Search of Axes</a>





</li>


<li class="leaf"><a  href="case_id_133_id_955.html">Steering a Sustainable Course</a>





</li>


<li class="leaf"><a  href="case_id_133_id_956.html">Steering Committee</a>





</li>


<li class="leaf"><a  href="case_id_133_id_957.html">Exchange Visit</a>





</li>


<li class="leaf"><a  href="case_id_133_id_958.html">Nirnay Means Decision</a>





</li>


<li class="leaf"><a  href="case_id_133_id_959.html">Up and Running</a>





</li>


<li class="leaf"><a  href="case_id_133_id_960.html">Caritas Leans In</a>





</li>


<li class="leaf"><a  href="case_id_133_id_961.html">Singh Sounds a Warning</a>





</li>


<li class="leaf"><a  href="case_id_133_id_962.html">Midcourse Correction</a>





</li>


<li class="leaf"><a  href="case_id_133_id_963.html">The SOPHIA Experiment</a>





</li>


<li class="leaf"><a  href="case_id_133_id_964.html">Taking Stock</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_133_id_965.html">SOPHIA Reports</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/133/Nicobars&#32;final&#32;080414.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_133.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">SOPHIA Reports</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	In September 2007, SOPHIA filed its final report, and it was a bombshell.<sup><a href="case_id_133_id_965.html#_ftn1" name="_ftnref1" title="">[78]</a></sup> Over the summer, communication between SOPHIA and the NYA had broken down completely. From its headquarters in Dehradun, SOPHIA had been unable to contact the Nicobarese CEO-designate, Ameen Ismail, either by telephone or by fax. No field reports had been filed. As far as SOPHIA could determine, no elections had been held, no FCRA permit secured, no bank account opened, no new projects ratified. Nothing.</p>
<p>
	In July, SOPHIA had identified a chartered accountant willing to work with the Nicobarese, but the NYA failed to send any of the documents needed to re-register as a voluntary organization and secure tax-exempt status. In fact, it was discovered that the NYA had not filed any tax returns or mandatory government reports for 10 years and was now subject to government penalties. As a consequence, SOPHIA recommended that NYA not seek to renew its registration but rather dissolve; perhaps a new nonprofit could be registered in its stead.</p>
<p>
	NYA had developed three preliminary project proposals during its collaboration with SOPHIA, but details were sketchy. After an initial outlay of about &euro;625 in SIF funds, SOPHIA declined to release any more money for these projects or for further capacity building. At the end of the contract period, in September, SOPHIA declined even to send an evaluation team to the islands as there was &ldquo;nothing to be evaluated.&rdquo; &ldquo;The objectives of the start-up project,&rdquo; SOPHIA concluded drily, &ldquo;have not been met.&rdquo;<sup><a href="case_id_133_id_965.html#_ftn2" name="_ftnref2" title="">[79]</a></sup></p>
<p>
	In a separate report, Ramanujam related the many excuses for the breakdown in relations given by Ismail and his deputy: the phone and fax were broken; people had lost enthusiasm; team members lacked confidence to speak to elders and government officials; important documents may have been lost in the tsunami. But Ramanujam reported a bigger problem:</p>
<blockquote>
	<p>
		On his experience as CEO, Ameen said that he had come to realise that it was a tough job that required immense hard work, and that he had underestimated the extent of effort required. It was a new experience for him for hitherto he had been used to following instructions rather than working as the leader of a team.</p>
</blockquote>
<p>
	As for the management team, &ldquo;it appears that the team was unable to develop a professional outlook, and functioned, where they did, more as diffident students preparing for a test rather than as enterprising citizens working together for a loftier aim,&rdquo; Ramanujam said.<sup><a href="case_id_133_id_965.html#_ftn3" name="_ftnref3" title="">[80]</a></sup> He relayed Ismail&rsquo;s assessment that NYA could not go forward without the help of an onsite &ldquo;mentor&rdquo; or &ldquo;guide&rdquo; to help with capacity building. Ramanujam himself was skeptical, remarking that the aid dependency and cultural malaise Singh had noticed a year earlier still held the Nicobarese in its grip. The people seemed unable to conceptualize their own future, he reported.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/1017/CIMG4988.JPG" style="height: 225px; width: 300px;" /><br />
	<p class="caption">
		&copy; Simron Singh<br />
		Villagers in temporary housing</p>
</div>
<p>
	<em>Next?</em> As the Steering Committee gathered around the conference table at the Institute of Social Ecology for the seventh time, on November 30, 2007, the committee members and guests were circumspect.<sup><a href="case_id_133_id_965.html#_ftn4" name="_ftnref4" title="">[81]</a></sup> Altenburg was troubled by his financial responsibilities. SIF was fast coming up on its three-year anniversary, and while Caritas prided itself on its long-term engagements, the Nicobarese situation seemed hopeless. He had lost confidence in the NYA and preferred to make no more investment in that organization; he was also uncomfortable with the lack of professional oversight on the ground. But what was the alternative? There was about &euro;300,000 still unspent in the fund. How could SIF get something accomplished?</p>
<p>
	Fischer-Kowalski was sympathetic and exasperated by turns. The Nicobarese were starting from scratch, she reminded everyone. Small steps were a start. Yet it seemed that the islanders might never be able to satisfy international accountability requirements. Singh, whose passion had launched the SIF endeavor, now seemed beyond caring. His strained relations with Rasheed had become an open rift, and he was distressed by recent incidents of profiteering and personal attacks against him in the islands. Though he believed that scientific research should continue in the Nicobars, he felt that his direct engagement should stop. &ldquo;The motivation, the inspiration, and the action has to come from within the community,&rdquo; he told a documentary film crew. &ldquo;It&rsquo;s their battle and they have to fight it.&rdquo;<sup><a href="case_id_133_id_965.html#_ftn5" name="_ftnref5" title="">[82]</a></sup></p>
<p>
	Was this just a temporary setback, or had SIF foundered? Should it simply close down and return the money to donors? What exactly constituted locally engaged sustainable development and could it be achieved? Was an academic institution able to sponsor development projects? Had Singh behaved responsibly or rashly in coming to the assistance of the Nicobarese? What about the RECOVER research? If SIF failed, could the scientific research proceed? The SIF Steering Committee remained committed to self-determined, sustainable development in the Nicobars&mdash;but how?</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_133_id_965.html#_ftnref1" name="_ftn1" title="">[78]</a>&nbsp;SOPHIA, &ldquo;Final Report for &lsquo;Start-Up Project,&rdquo; September 2007.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:11px;"><a href="case_id_133_id_965.html#_ftnref2" name="_ftn2" title="">[79]</a>&nbsp;Rasheed was dismayed by SOPHIA&rsquo;s assessment. Its expectations were unrealistic, he told the documentary film crew, and the Nicobarese were hurt by the insinuations of slacking. &ldquo;A Nicobari cannot become a project officer within 10 days,&rdquo; he protested. He felt SIF should rededicate its efforts.</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:11px;"><sup><a href="case_id_133_id_965.html#_ftnref3" name="_ftn3" title="">[80]</a></sup>&nbsp;Venkat Ramanujam Ramani, &ldquo;Independent Verification of SOPHIA&rsquo;s Report on the Start-Up Project,&rdquo; November 27, 2007.</span></p>
	</div>
	<div id="ftn4">
		<p>
			<span style="font-size:11px;"><a href="case_id_133_id_965.html#_ftnref4" name="_ftn4" title="">[81]</a>&nbsp;Information in this section taken from Minutes of the 7<sup>th</sup> SIF Steering Committee Meeting, November 30, 2007, in SIF files, and from interviews.</span></p>
	</div>
	<div id="ftn5">
		<p>
			<span style="font-size:11px;"><a href="case_id_133_id_965.html#_ftnref5" name="_ftn5" title="">[82]</a>&nbsp;Barth, <em>Aftermath</em>.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_133_id_964.html" class="page-previous" title="Go to previous page">&#171;&#160;Taking Stock</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_133_id_283_c_bio.html">Simron&nbsp;Singh</a></li>

<li class="leaf"><a  href="case_id_133_id_284_c_bio.html">Marina&nbsp;Fischer-Kowalski</a></li>

<li class="leaf"><a  href="case_id_133_id_285_c_bio.html">Willi&nbsp;Haas</a></li>

<li class="leaf"><a  href="case_id_133_id_286_c_bio.html">Georg&nbsp;Matuschkowitz</a></li>

<li class="leaf"><a  href="case_id_133_id_287_c_bio.html">Celeste&nbsp;Angus</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
