<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Steering a Sustainable Course | The Islanders and the Scientists: Post-tsunami Aid in the Nicobars
	- A Journalism Case Study
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/133/180-02547_Nicobar_EB_CN_v3.0.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_133.html" title="Home">
         <span>
          Steering a Sustainable Course
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_133.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_949.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_950.html">
          The Islands and the Anthropologist
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_951.html">
          Tsunami and First Response
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_952.html">
          Wading In
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_953.html">
          Second Tsunami
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_954.html">
          In Search of Axes
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_133_id_955.html">
          Steering a Sustainable Course
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_956.html">
          Steering Committee
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_957.html">
          Exchange Visit
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_958.html">
          Nirnay Means Decision
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_959.html">
          Up and Running
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_960.html">
          Caritas Leans In
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_961.html">
          Singh Sounds a Warning
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_962.html">
          Midcourse Correction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_963.html">
          The SOPHIA Experiment
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_964.html">
          Taking Stock
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_133_id_965.html">
          SOPHIA Reports
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/133/Nicobars final 080414.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_133.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Steering a Sustainable Course
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         On April 28, 2005, the same day the shipment of axes arrived in the Nicobars, Fischer-Kowalski sat down in Vienna with representatives of Caritas and Universal Music to firm up plans for their joint undertaking. Singh’s trip to Thailand and his account of the “second tsunami” had done a lot to focus their thinking, and the group quickly came to terms. The three parties—the Institute of Social Ecology, Caritas Austria, and Universal Music—would form a partnership, led by a Steering Committee of five members, whose mission would be to support an “integrated reconstruction” program in the Andaman and Nicobar islands.
         <sup>
          <a href="case_id_133_id_955.html#_ftn1" name="_ftnref1" title="">
           [24]
          </a>
         </sup>
         A formal agreement was signed a month later, on May 25, at which time the enterprise was finally given a name: the Sustainable Indigenous Futures fund (SIF).
         <sup>
          <a href="case_id_133_id_955.html#_ftn2" name="_ftnref2" title="">
           [25]
          </a>
         </sup>
        </p>
        <p>
         The agreement specified that the purpose of the fund was to support the “rehabilitation of the indigenous peoples” of the islands by promoting their self-determination and lending scientific guidance and financial support to development projects judged to be ecologically sustainable, socially just, economically viable, and culturally appropriate. “We chose a social and ecological balance as our starting point,” says Fischer-Kowalski.
        </p>
        <blockquote>
         <p>
          We asked, how can these peoples lead a meaningful existence in the environment they’ve inhabited for centuries? And how can we use the resources of this fund in such a way that we wouldn’t force a Western way on them? Instead we tried to find a gentle way that would enable them to survive in the globalized world, and have a good life.
          <sup>
           <a href="case_id_133_id_955.html#_ftn3" name="_ftnref3" title="">
            [26]
           </a>
          </sup>
         </p>
        </blockquote>
        <p>
         According to the agreement, the €400,000 in contributed funds would be managed by Caritas on behalf of all parties (including the fundraiser Neighbor in Need (NIN), which was the legal custodian of the CD proceeds); in particular, Caritas would approve all remittances. The institute would provide access to the islands through Singh, along with cultural understanding and scientific support.
        </p>
        <div style="float:right;padding:10px">
         <br/>
         <p class="caption">
         </p>
        </div>
        <div style="float:right;padding:10px">
         <img src="../../files/photos/1119/CIMG0411.JPG"/>
         <br/>
         <p class="caption">
          © Simron Singh
          <br/>
          Tsunami damage
         </p>
        </div>
        <p>
         Fischer-Kowalski was scrupulous about keeping the institute’s humanitarian work and its scientific research on independent but mutually supporting tracks. The institute’s application to the Austrian Science Fund for research funding was completely separate from SIF. Although Singh would work on both projects, he would not serve on the SIF Steering Committee, and would have nothing to do with money decisions. The scientific project, called Research on Coping with Vulnerability to Environmental Risk (RECOVER), was designed to be directly useful to the Nicobarese; for example, it would collect data about ecological transitions, track changes in social metabolism, and develop computer models to help the islanders decide among development options. In this way science, self-determination and sustainable development would go forward hand in hand.
        </p>
        <p>
         It was an innovative approach to reconstruction, and it had both admirers and skeptics. “What [SIF] is doing that’s so special is a combination of refusing a patronizing ‘isolationist’ option while encouraging the Nicobarese to become their own advocates,” said Brian Durrans, deputy curator of the British Museum’s Asia Department in 2006. “It’s a pretty inspiring approach in conditions of sudden catastrophe.”
         <sup>
          <a href="case_id_133_id_955.html#_ftn4" name="_ftnref4" title="">
           [27]
          </a>
         </sup>
         But Celeste Angus, director of international cooperation for World ORT, which had conducted teacher training for non-tribal peoples in the islands, was more cautious. “I should think it would be a very big challenge for an academic group to try to do NGO work, and not just because of possible conflicts of interest,” she says. “What policies and procedures would you adopt? Who would manage the projects? But I can see how groups with special expertise might see a special need, especially in such an isolated area, and they certainly bring a unique perspective.”
         <sup>
          <a href="case_id_133_id_955.html#_ftn5" name="_ftnref5" title="">
           [28]
          </a>
         </sup>
        </p>
        <div>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_133_id_955.html#_ftnref1" name="_ftn1" title="">
             [24]
            </a>
            Elisabeth Cerny, “Besprechungsprotokoll,” April 28, 2005, in SIF files.
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_133_id_955.html#_ftnref2" name="_ftn2" title="">
             [25]
            </a>
            “Vereinbarung zwischen dem Institut f
            <u>
             ü
            </u>
            r Soziale Ökologie (IFF, Universitat Klagenfurt), Universal Musik und Caritas Austria,” May 25, 2005, in SIF files.
           </span>
          </p>
         </div>
         <div id="ftn3">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_133_id_955.html#_ftnref3" name="_ftn3" title="">
             [26]
            </a>
            Barth,
            <em>
             Aftermath
            </em>
            .
           </span>
          </p>
          <p>
           <span style="font-size:11px;">
            <a href="case_id_133_id_955.html#_ftnref4" name="_ftn4" title="">
             [27]
            </a>
            In Richard Stone, “After the Tsunami: A Scientist’s Dilemma,”
            <em>
             Science
            </em>
            , Vol. 313, July 7, 2006, p. 35.
           </span>
          </p>
         </div>
         <div id="ftn5">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_133_id_955.html#_ftnref5" name="_ftn5" title="">
             [28]
            </a>
            Author’s telephone interview with Celeste Angus on February 19, 2014.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_133_id_954.html" title="Go to previous page">
          « In Search of Axes
         </a>
         <a class="page-next" href="case_id_133_id_956.html" title="Go to next page">
          Steering Committee »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_133_id_283_c_bio.html">
         Simron Singh
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_133_id_284_c_bio.html">
         Marina Fischer-Kowalski
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_133_id_285_c_bio.html">
         Willi Haas
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_133_id_286_c_bio.html">
         Georg Matuschkowitz
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_133_id_287_c_bio.html">
         Celeste Angus
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
