<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   First-ever staff cuts | Salvation or Mirage? The New York Times Paywall
  </title>
  <meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
   <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
   <style media="all" type="text/css">
    @import "css_global/book/book.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/node/node.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/system/defaults.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/system/system.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/user/user.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/img_assist/img_assist.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/knightcase/style.css";
   </style>
   <style media="print" type="text/css">
    @import "css_global/knightcase/print.css";
   </style>
   <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
   </script>
   <script src="js/img_assist.js" type="text/javascript">
   </script>
   <script src="js/audioimage.js" type="text/javascript">
   </script>
   <script src="com/jquery/jquery.metadata.js" type="text/javascript">
   </script>
   <script src="com/jquery/jquery.media.js" type="text/javascript">
   </script>
   <script src="swfobject.js" type="text/javascript">
   </script>
   <script type="text/javascript">
    var GB_ROOT_DIR = "com/greybox/";
   </script>
   <script src="com/greybox/AJS.js" type="text/javascript">
   </script>
   <script src="com/greybox/AJS_fx.js" type="text/javascript">
   </script>
   <script src="com/greybox/gb_scripts.js" type="text/javascript">
   </script>
   <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
   <script type="text/javascript">
    var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
   </script>
   <script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
   </script>
   <style>
    #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
   </style>
  </meta>
 <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/129/180-02484_NYT-Paywall_EB_NJ_v2.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_129.html" title="Home">
         <span>
          First-ever staff cuts
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_129.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_129_id_909.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_129_id_910.html">
          NYTimes business
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_129_id_911.html">
          Online
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_129_id_912.html">
          Getting serious about online
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_129_id_913.html">
          TimesSelect
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_129_id_914.html">
          First-ever staff cuts
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_129_id_915.html">
          Can we make online pay?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_129_id_916.html">
          The big bet
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/129/NYT Paywall final 061814.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_129.html">
        Home
       </a>
      </div>
      <h1 class="title">
       First-ever staff cuts
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         Meanwhile, the steady national decline in newspapers and circulation picked up speed. In 2007, the Newspaper Association of America counted 1,387 newspapers, down from 1,457 in 2004. Over the same period, weekday circulation had fallen to 50.7 million from 54.6 million, with the steepest decline in 2007—3.6 percent. Sunday circulation had fallen to 51.2 million from 57.8 million, with a 4.6 drop in 2007 alone. Print advertising, which encouragingly rose from $46.7 billion in 2004 to $47.4 billion in 2005, had reversed direction, dropping to $46.6 billion in 2006 and more steeply in 2007 to $42.2 billion.
        </p>
        <p>
         The
         <em>
          New York Times’
         </em>
         circulation remained stronger than most, but began to fall in 2006; in 2007, weekday circulation dropped 1.9 percent and Sunday circulation 3.4 percent.
         <sup>
          <a href="case_id_129_id_914.html#_ftn1" name="_ftnref1" title="">
           [22]
          </a>
         </sup>
         The
         <em>
          Times
         </em>
         was initially able to buffer the decline by raising the print price. “Circulation revenues were going up as we raised the price and our readers thought it was worth it,” says Keller. “But I think everybody realized that we needed to do something.”
        </p>
        <p>
         In spring 2008, the losses had become unsustainable. In early March, Keller announced that the newsroom would lose about 100 jobs—the first time in its history that the paper had laid off journalists. A voluntary buyout period would last until April 22. If the
         <em>
          Times
         </em>
         didn’t get 100 takers, there would be layoffs. “It was horrible,” says Geddes.  “Nobody doubted that it had to be done. But it was still hard, because it had never been done before.” Meislin was among those who took a buyout.
        </p>
        <p>
         On May 7, Keller sent a memo to the newsroom reporting that fewer than 100 had volunteered for the buyout, so there had also been some layoffs. News reports put the number of layoffs between 15 and 20.
         <a href="case_id_129_id_914.html#_ftn2" name="_ftnref2" title="">
          [23]
         </a>
         “We hope that the worst is now behind us… our plan from the outset was to move through this difficult process as quickly as possible so we do not spend a year bleeding from serial cuts,” Keller wrote.
         <a href="case_id_129_id_914.html#_ftn3" name="_ftnref3" title="">
          <sup>
           [24]
          </sup>
         </a>
        </p>
        <div style="float:right;padding:10px">
         <img src="../../files/photos/935/IMG_5295 Times Building Lobby Source Kim Patch.JPG" style="height: 300px; width: 500px;"/>
         <br/>
         <p class="caption">
          The lobby of the New York Times building
         </p>
        </div>
        <p>
         <em>
          Advertising cliff.
         </em>
         But it wasn’t over. A deep and wide recession hit the global economy in 2008. As circulation continued to decline, print advertising fell off a cliff, dropping to $34.7 billion in 2008. Even online advertising, which had hit a high of $3.2 billion in 2007, dipped to $3.1 billion. “Everything can be divided into before that recession and after that recession,” says Nisenholtz, who was by then chief digital officer for the
         <em>
          Times
         </em>
         Company. The
         <em>
          Times
         </em>
         had become the largest newspaper website in the world 2001, and advertising growth at the
         <em>
          Times
         </em>
         had been double digits from 2002 until 2008. At the end of 2008, “the world kind of collapsed,” he says.
        </p>
        <p>
         <i>
          Nisenholtz on effects of the 2008 recession.
         </i>
         <br/>
         <!--<img alt="" border="0" class="audiofile" src="../../files/audios/382/NisenholtzAmp.mp3"/>-->
         <audio controls><source src="../../files/audios/382/NisenholtzAmp.mp3" type="audio/mpeg"></audio>
        </p>
        <blockquote>
         <p>
          The entire advertising business tanked, and, not only did the print advertising fall off the side of the earth, but the digital did too. And that was a wake-up call, particularly for Arthur [Sulzberger], who is looking at the business over the long-term. You needed a second revenue stream to smooth out that incredibly cyclical advertising stream, which by the way hadn't been as downwardly cyclical as it was then since the Great Depression, so it was really bad.
          <sup>
           <a href="case_id_129_id_914.html#_ftn4" name="_ftnref4" title="">
            [25]
           </a>
          </sup>
         </p>
        </blockquote>
        <p>
         It was clear that ad markets were no longer reliable. When the digital advertising market dropped, the
         <em>
          Times
         </em>
         was already grappling with challenges on the print side. “As you started to look out a couple of years at the financials, you said, okay, where is the revenue going to come from?” says Sulzberger. In January 2009, the
         <em>
          New York Times
         </em>
         Company borrowed $250 million from Mexican telecommunications billionaire Carlos Slim at 14 percent interest.
         <sup>
          <a href="case_id_129_id_914.html#_ftn5" name="_ftnref5" title="">
           [26]
          </a>
         </sup>
         Employees took a five percent pay cut to forestall further staff reductions.
         <a href="case_id_129_id_914.html#_ftn6" name="_ftnref6" title="">
          <sup>
           [27]
          </sup>
         </a>
        </p>
        <p>
         <em>
          Bright spot.
         </em>
         NYTimes.com traffic was the one bright spot, with growing traffic and regular new products. In July 2008, the
         <em>
          Times
         </em>
         had released the first version of an iPhone app and announced a strategic relationship with the professional social media website, LinkedIn. In September, it had launched its own social network, TimesPeople, and had put up its first live streaming video: the September 26, 2008, presidential debate.
         <sup>
          <a href="case_id_129_id_914.html#_ftn7" name="_ftnref7" title="">
           [28]
          </a>
         </sup>
         By September 2008, the site averaged 19.2 million unique visitors a month.
        </p>
        <p>
         Some on the business side, including CEO Robinson, said it was time again to take a good, hard look at a paywall. “And we did,” says Sulzberger.
        </p>
        <div>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_129_id_914.html#_ftnref1" name="_ftn1" title="">
             [22]
            </a>
            Richard Perez-Pena, “Newspaper Circulation in Steep Slide Across Nation,”
            <em>
             New York Times
            </em>
            , May 1, 2007, sec. Business / Media &amp; Advertising. See:
            <a href="http://www.nytimes.com/2007/05/01/business/media/01paper.html">
             http://www.nytimes.com/2007/05/01/business/media/01paper.html
            </a>
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_129_id_914.html#_ftnref2" name="_ftn2" title="">
             [23]
            </a>
            Richard Pérez-Peña, “New York Times Moves to Trim 100 in Newsroom,”
            <em>
             New York Times
            </em>
            , October 20, 2009, sec. Business / Media &amp; Advertising. See:
            <a href="http://www.nytimes.com/2009/10/20/business/media/20times.html">
             http://www.nytimes.com/2009/10/20/business/media/20times.html
            </a>
            .
           </span>
          </p>
         </div>
         <div id="ftn3">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_129_id_914.html#_ftnref3" name="_ftn3" title="">
             [24]
            </a>
            John Koblin, “Layoffs at the Times; Keller Says ‘We Hope the Worst Is Behind Us,’”
            <em>
             New York Observer
            </em>
            , May 7, 2008. See:
            <a href="http://observer.com/2008/05/layoffs-at-the-itimesi-keller-says-we-hope-the-worst-is-behind-us/">
             http://observer.com/2008/05/layoffs-at-the-itimesi-keller-says-we-hope-the-worst-is-behind-us/
            </a>
           </span>
          </p>
         </div>
         <div id="ftn4">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_129_id_914.html#_ftnref4" name="_ftn4" title="">
             [25]
            </a>
            Author’s telephone interview with Martin Nisenholtz on March 3, 2014.
           </span>
          </p>
         </div>
         <div id="ftn5">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_129_id_914.html#_ftnref5" name="_ftn5" title="">
             [26]
            </a>
            Eric Dash, “Mexican Billionaire Invests in Times Company,”
            <em>
             New York Times
            </em>
            , January 19, 2009. See:
            <a href="http://www.nytimes.com/2009/01/20/business/media/20times.html">
             http://www.nytimes.com/2009/01/20/business/media/20times.html
            </a>
           </span>
          </p>
         </div>
         <div id="ftn6">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_129_id_914.html#_ftnref6" name="_ftn6" title="">
             [27]
            </a>
            Richard Pérez-Peña, “New York Times Moves to Trim 100 in Newsroom,”
            <em>
             New York Times
            </em>
            , October 20, 2009, sec. Business / Media &amp; Advertising. See:
            <a href="http://www.nytimes.com/2009/10/20/business/media/20times.html">
             http://www.nytimes.com/2009/10/20/business/media/20times.html
            </a>
           </span>
          </p>
         </div>
         <div id="ftn7">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_129_id_914.html#_ftnref7" name="_ftn7" title="">
             [28]
            </a>
            The New York Times Company: Our History, at
            <a href="http://www.nytco.com/who-we-are/culture/our-history/">
             http://www.nytco.com/who-we-are/culture/our-history/
            </a>
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_129_id_913.html" title="Go to previous page">
          « TimesSelect
         </a>
         <a class="page-next" href="case_id_129_id_915.html" title="Go to next page">
          Can we make online pay? »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_129_id_265_c_bio.html">
         John Geddes
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_129_id_266_c_bio.html">
         Bill Keller
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_129_id_267_c_bio.html">
         Jonathan Landman
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_129_id_268_c_bio.html">
         Rich Meislin
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_129_id_269_c_bio.html">
         Martin Nisenholtz
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_129_id_270_c_bio.html">
         Andy Rosenthal
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_129_id_271_c_bio.html">
         Vivian Schiller
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_129_id_273_c_bio.html">
         Arthur Ochs Sulzberger, Jr.
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_129_id_274_c_bio.html">
         Denise Warren
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;"></div>
<div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="http://www.journalism.columbia.edu">
         © 2012 Columbia University Graduate School of Journalism
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
 </body>
</html>
<!-- id="container" -->
<script type="text/javascript">
 var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
 try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
</script>
