

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Introduction | Salvation or Mirage? The New York Times Paywall
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/129/180-02484_NYT-Paywall_EB_NJ_v2.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_129.html" title="Home"><span>Introduction</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_129_id_908.html">Title Page</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_129_id_909.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_129_id_910.html">NYTimes business</a>





</li>


<li class="leaf"><a  href="case_id_129_id_911.html">Online</a>





</li>


<li class="leaf"><a  href="case_id_129_id_912.html">Getting serious about online</a>





</li>


<li class="leaf"><a  href="case_id_129_id_913.html">TimesSelect</a>





</li>


<li class="leaf"><a  href="case_id_129_id_914.html">First-ever staff cuts</a>





</li>


<li class="leaf"><a  href="case_id_129_id_915.html">Can we make online pay?</a>





</li>


<li class="leaf"><a  href="case_id_129_id_916.html">The big bet</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/129/NYT&#32;Paywall&#32;final&#32;061814.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_129.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Introduction</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	By late 2009, newspapers hit hard by the triple whammy of a tottering economy, declining advertising revenues and falling subscriptions were desperate to find new ways to finance operations. Even one of the nation&rsquo;s most prestigious publications, the <em>New York Times</em> (NYT), was feeling acute pain&mdash;it had laid off reporters for the first time in its history. Yet even as the organization was hemorrhaging cash, millions of readers had unpaid access to its news stories, features, photographs and video on the website, NYTimes.com.</p>
<p>
	Some news organizations, including the <em>Wall Street Journal</em>, had erected what were called paywalls: a barrier on a website that prevented readers from reading material online without paying for it. Such paywalls, however, had ideological and practical disadvantages. Ideologically, many of the Internet&rsquo;s earliest creators preached an &ldquo;information wants to be free&rdquo; philosophy. Editors and reporters in general were delighted by open access that gave their work the widest readership&mdash;sometimes global&mdash;of their careers.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/945/nytlogo379x64.gif" /></div>
<p>
	Moreover, for each successful paywall, there were more that had failed, including high-profile experiments like the <em>Los Angeles Times</em>, which had quietly ended an early paywall experiment in 2005 after less than two years. The <em>New York Times</em> had experienced a paywall failure of its own: in September 2007, it ended &ldquo;TimesSelect,&rdquo; a two-year foray into charging for online content. Editorial and technology staff alike were gratified when the wall fell. In the short term, the business side was also on board: booming online ad revenues more than made up for the modest subscription revenue that TimesSelect had brought in.</p>
<p>
	But not for long. In late 2008, as the global economy hit the skids, online advertising slowed, as did newspaper subscriptions. Across the newspaper industry, circulation, in decline for two decades, dropped another 10 percent in 2009. NYT weekday circulation fell 7.3 percent from the third quarter of 2008 to the third quarter of 2009, dipping under one million for the first time since the 1980s.<sup><a href="case_id_129_id_909_pid_0.html#_ftn1" name="_ftnref1" title="">[1]</a></sup>&nbsp;In spring 2008, the <em>Times</em> laid off journalists for the first time in its history. In January 2009, the company borrowed $250 million from a Mexican financier. A second round of layoffs&mdash;8 percent of the newsroom&mdash;followed in October 2009.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/930/Arthur&#32;Sulzberger&#32;2013&#32;Headshot&#32;Source&#32;Times.jpg" style="height: 250px; width: 158px;" /><br />
	<p class="caption">
		&copy; New York Times<br />
		&nbsp;Publisher Arthur Sulzberger</p>
</div>
<p>
	But NYTimes.com was a bright spot, with growing traffic. Moreover, the IT staff were producing ever more attractive products intended to lure additional readers. Inevitably, the question arose anew: would a paywall make sense? Surely the paper could take monetary advantage of its ballooning online readership? In early 2009, Publisher <a href="case_id_129_id_273_c_bio.html">Arthur Sulzberger Jr.</a> launched an investigation into another paywall. For the next year, Times Company leaders from the business, editorial and technology departments met repeatedly to review the options.</p>
<p>
	There were numerous models, from the <em>Wall Street Journal </em>to the <em>Financial Times</em> (FT). At the same time, comparable publications such as the <em>Washington Post</em> and the <em>Guardian</em> (UK) emphatically rejected a paywall solution. Inside the <em>Times</em>, support and opposition to the project came from unexpected quarters. Some IT staff did not want a paywall; some on the editorial side thought it worth another try. The business managers just wanted to arrest the steep decline in revenues.</p>
<p>
	By the fall of 2009, Sulzberger felt the time had come to make a decision. That October, leaders from the business, editorial and website operations assembled. All present, whether for or against a paywall, worried about taking an expensive step with an uncertain outcome. Would a paywall, no matter how permeable, stifle website traffic and alienate the next generation of readers? Would enough readers be willing to pay for something previously free? Would the enormous technical effort required mean missed opportunities to develop other money-earning products? Yet if the <em>Times</em> didn&rsquo;t find another source of income soon, there was the specter of more cuts in the newsroom.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_129_id_909_pid_0.html#_ftnref1" name="_ftn1" title="">[1]</a>&nbsp;Richard Perez-Pena, &ldquo;US Newspaper Circulation Falls 10%,&rdquo; <em>New York</em> <em>Times</em>, October 26, 2009. See: <a href="http://www.nytimes.com/2009/10/27/business/media/27audit.html">http://www.nytimes.com/2009/10/27/business/media/27audit.html</a></span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_129_id_908_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Salvation or Mirage? The New York Times Paywall</a>

<a href="case_id_129_id_910_pid_0.html" class="page-next" title="Go to next page">NYTimes business&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_129_id_265_c_bio.html">John&nbsp;Geddes</a></li>

<li class="leaf"><a  href="case_id_129_id_266_c_bio.html">Bill&nbsp;Keller</a></li>

<li class="leaf"><a  href="case_id_129_id_267_c_bio.html">Jonathan&nbsp;Landman</a></li>

<li class="leaf"><a  href="case_id_129_id_268_c_bio.html">Rich&nbsp;Meislin</a></li>

<li class="leaf"><a  href="case_id_129_id_269_c_bio.html">Martin&nbsp;Nisenholtz</a></li>

<li class="leaf"><a  href="case_id_129_id_270_c_bio.html">Andy&nbsp;Rosenthal</a></li>

<li class="leaf"><a  href="case_id_129_id_271_c_bio.html">Vivian&nbsp;Schiller</a></li>

<li class="leaf"><a  href="case_id_129_id_273_c_bio.html">Arthur&nbsp;Ochs Sulzberger, Jr.</a></li>

<li class="leaf"><a  href="case_id_129_id_274_c_bio.html">Denise&nbsp;Warren</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
