<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   New leadership | Not for Profit? The Voice of San Diego Experiment
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #c21818;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #c21818;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/51/knightcase_banner_voiceofsandiego.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_51.html" title="Home">
         <span>
          New leadership
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_51_id_541.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_523.html">
          Neil Morgan and Buzz Woolley
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_524.html">
          Nonprofit or for-profit?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_525.html">
          Nonprofits and news
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_526.html">
          Assembling a staff
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_527.html">
          Early days
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_51_id_528.html">
          New leadership
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_529.html">
          Starting over
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_530.html">
          "The money-getting operation"
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_531.html">
          Money sources
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_51_id_532.html">
          Is it sustainable?
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/51/Voice of San Diego Experiment_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_51.html">
        Home
       </a>
      </div>
      <h1 class="title">
       New leadership
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         In July 2005, five months after
         <i>
          Voice
         </i>
         ’s launch, Editor Bry stepped down. Her replacement, Glenn Rabinowitz, took the helm at a time when
         <i>
          Voice
         </i>
         ’s founding principle—to hold San Diego’s leaders to account—seemed more crucial than ever for the city. “The city’s entire power structure was collapsing,” says Donohue. On July 15, Mayor Murphy stepped down a mere seven months into his second term. His replacement, Deputy Mayor Michael Zucchet, was under indictment for corruption—his conviction was handed down the same day he took office, and he had to relinquish his hours-old mayoralty immediately. A special election was called. All the while, Lewis notes, the
         <i>
          Union-Tribune
         </i>
         had no Metro columnist to make sense of the mess—the paper had not replaced Morgan. Says Lewis: “Every city has somebody that puts things in perspective. There was just none of that” in San Diego.
        </p>
        <p>
         At the same time,
         <i>
          Voice
         </i>
         was expanding. Will Carless joined the staff midyear; in fall, Lewis returned from South Carolina to join
         <i>
          Voice
         </i>
         full time as a reporter. In November, Lewis spent three weeks in South Carolina to wrap up moving; at a morning news meeting while Lewis was gone, Rabinowitz announced his immediate resignation as editor, four months after joining
         <i>
          Voice
         </i>
         .
        </p>
        <div style="float: right; padding: 10px;">
         <img src="../../files/photos/415/Lewis-bio.gif"/>
         <br/>
         <p class="caption">
          Scott Lewis.
          <br/>
          ©
          <em>
           Voice of San Diego
          </em>
         </p>
        </div>
        <p>
         Donohue called Lewis to break the news. The two were anxious about the site’s future. Two editors had quit
         <i>
          Voice
         </i>
         in its first year. Was that a vote of no confidence? What if the board—and crucially, Woolley—decided the experiment had failed? Lewis recalls, “This place was pretty clearly in danger of folding.” Still,
         <i>
          Voice
         </i>
         ’s reporters—Donohue, Carless, McLaughlin, and Lewis—were not altogether rudderless in the absence of an editor. Neither Bry nor Rabinowitz had been especially hands-on, and Donohue had over time assumed many of the functions of a managing editor in addition to his writing responsibilities.
        </p>
        <p>
         Lewis and Donohue spent hours on the phone for days at a time trying to hash out a future for the website. They were unwilling to abandon
         <i>
          Voice
         </i>
         , and it seemed to them that the nonprofit business model could sustain it—the main challenge was to fix the editorial product. There were several areas they thought needed immediate changes. Lewis recalls: “We described [the website] then as a jungle you felt like taking a big machete to.”
        </p>
        <p>
         <strong>
          <i>
           Layout
          </i>
          .
         </strong>
         For example, the site was an ill-defined jumble of news and opinion, laid out almost arbitrarily. Lewis and Donohue thought they needed to separate clearly news from opinion and cull some of the lighter fare such as the society and food columns
         <i>
          Voice
         </i>
         occasionally published. Giving opinion writers their own section of the site would also, in their view, help VOSD showcase its contributors and capitalize on what they saw as a lack of good opinion writing in San Diego. But VOSD had to enlist better opinion writers, too. In Lewis and Donohue’s view, Morgan and Woolley had overestimated the ease of attracting worthwhile contributions to the site. Lewis explains:
        </p>
        <blockquote>
         <p>
          There was a basic theory… that there would be a whole bunch of civic thinkers who would provide… a substantial portion of the site’s content... But since then I think our definition of citizen journalism has become healthier. What the "crowd" can do for you is obviously something very valuable. But you can’t just hand them a pen. You’ve got to do something more… You’ve got to direct them, or you’ve got to assign them… But you can’t simply just say, OK, now write for us.
         </p>
        </blockquote>
        <p>
         Lewis and Donohue also felt that the site did not take advantage of the Web’s potential to engage readers. They wanted to create space on the home page for readers to discuss San Diego issues—maybe with a daily debate topic. They also saw the potential to engage readers as reporters by using the site to post queries and solicit sources.
        </p>
        <p>
         <strong>
          <i>
           Proposal to board.
          </i>
         </strong>
         Inspired, the two agreed to submit their ideas to the board, with themselves as leaders of the proposed changes. Neither had run an organization before, but they felt strongly that they understood
         <i>
          Voice
         </i>
         ’s goals and its needs better than anyone. Lewis returned to San Diego in late November, and he and Donohue hammered out a detailed 15-page proposal, which they submitted to the board.
        </p>
        <p>
         Under their plan, Donohue would continue as news editor, a role he had all but taken over in the preceding weeks. Lewis—so far a columnist—proposed to oversee the technical and personnel aspects of creating a separate opinion section and improving the site’s interactive component. They agreed to take the titles of co-executive editors, neither overseeing the other, and both reporting ultimately to the board. They wrote:
        </p>
        <blockquote>
         <p>
          The founders of the
          <i>
           Voice of San Diego
          </i>
          had an incredible idea one year ago. While the
          <i>
           Voice
          </i>
          has achieved more than many imagined since going live in February 2005, much of the vision of the founders remains just an idea. No one, to date, has taken this vision and made it a reality. We are going to give you the website that you envisioned when
          <i>
           Voice
          </i>
          was born. It won’t be costly and it won’t be complicated. Like reporting itself, the tools needed are simple: energy, communication and hard work.
          <a href="case_id_51_id_528.html#_ftn1" name="_ftnref1" title="">
           <span>
            <span>
             <span>
              <span>
               [1]
              </span>
             </span>
            </span>
           </span>
          </a>
         </p>
        </blockquote>
        <p>
         In sum, Lewis and Donohue proposed that the new
         <i>
          Voice
         </i>
         “should stand on three legs”: news, opinion, and reader interactivity. They summarized their plans:
        </p>
        <blockquote>
         <p>
          <b>
           Goal:
          </b>
          To build a website as known and recognized for the variety of opinions it provides—and the opportunities it offers in engaging readers—as we have been for our news coverage, while also freeing up resources to expand on our news coverage of both education and arts. To [pare] down our weakest content, focus on quality, diverse, intelligent submissions.
         </p>
         <p>
          <b>
           Result:
          </b>
          To make the
          <i>
           Voice of San Diego
          </i>
          vibrant. To make
          <i>
           Voice
          </i>
          the true town forum envisioned originally.
          <a href="case_id_51_id_528.html#_ftn2" name="_ftnref2" title="">
           <span>
            <span>
             <span>
              <span>
               [2]
              </span>
             </span>
            </span>
           </span>
          </a>
         </p>
        </blockquote>
        <div>
         <br clear="all"/>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size: 11px;">
            <a href="case_id_51_id_528.html#_ftnref1" name="_ftn1" title="">
             [1]
            </a>
            Andrew Donohue and Scott Lewis, “Voice of SD Proposal from Scott and Andy,” November 2005.
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <span style="font-size: 11px;">
            <a href="case_id_51_id_528.html#_ftnref2" name="_ftn2" title="">
             [2]
            </a>
            Donohue and Lewis, “Voice of SD Proposal from Scott and Andy.”
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_51_id_527.html" title="Go to previous page">
          « Early days
         </a>
         <a class="page-next" href="case_id_51_id_529.html" title="Go to next page">
          Starting over »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_51_id_143_c_bio.html">
         Andrew Donohue
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_51_id_144_c_bio.html">
         Scott Lewis
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
