

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Neil Morgan and Buzz Woolley | Not for Profit? The Voice of San Diego Experiment
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #c21818;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #c21818;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/51/knightcase_banner_voiceofsandiego.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="standard.asp%3Fcase_id=51.html" title="Home"><span>Neil Morgan and Buzz Woolley</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=541.html">Title Page</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=522.html">Introduction</a>





</li>


<li class="leaf"><a  class="active"  href="standard.asp%3Fcase_id=51&amp;id=523.html">Neil Morgan and Buzz Woolley</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=524.html">Nonprofit or for-profit?</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=525.html">Nonprofits and news</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=526.html">Assembling a staff</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=527.html">Early days</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=528.html">New leadership</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=529.html">Starting over</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=530.html">"The money-getting operation"</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=531.html">Money sources</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=532.html">Is it sustainable?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/51/Voice&#32;of&#32;San&#32;Diego&#32;Experiment_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="standard.asp%3Fcase_id=51.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Neil Morgan and Buzz Woolley</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="float: right; padding: 10px;">
	<img src="../../files/photos/418/Neil-Morgan.gif" /><br />
	<p class="caption">
		Neil Morgan.<br />
		&copy;<em> Voice of San Diego</em></p>
</div>
<div style="float: right; padding: 10px;">
	<img src="../../files/photos/419/buzz-woolley.bmp" /><br />
	<p class="caption">
		Buzz Woolley.<br />
		&copy; <em>Voice of San Diego</em></p>
</div>
<p>
	<i>Voice of San Diego</i> was born because, in 2004, the dominant San Diego newspaper, the <i>Union-Tribune</i>, fired veteran columnist Neil Morgan. Among the many outraged by the forced retirement after 55 years of a respected editorial voice was philanthropist Buzz Woolley. Like many US newspapers at the turn of the 21st century, the <i>Union-Tribune</i> had struggled to stay profitable and had cut costs by steadily paring back staff. Morgan, whose byline had appeared in San Diego newspapers for over half a century, was the highest-profile casualty to date. But his departure fit a pattern.</p>
<p>
	This pattern was precisely what worried Woolley, who had made his fortune as an entrepreneur and venture capitalist in a number of different fields and who, like Morgan, had spent most of his career in San Diego. Woolley was the head of his own charitable foundation, the Girard Foundation, which donated millions to education in the San Diego area. He also had a longstanding concern with the quality of San Diego journalism, which he felt had never been high and was declining to new lows. He recalls:</p>
<blockquote>
	<p>
		The <i>Union-Tribune</i>, being the only significant newspaper in town, has never been very strong. It&rsquo;s had some serious biases&hellip; Its credibility in a lot of areas is shaky. Even though I&rsquo;m a registered Republican, I recognized that historically it&rsquo;s been fairly far off to right and it&rsquo;s irritated a lot of people&hellip; [For example,] there&rsquo;s been a fair amount of corruption and very bad management within our government system&hellip; [Yet] nobody knew what they were doing because there wasn&rsquo;t adequate reporting.<a href="standard.asp%3Fcase_id=51&amp;id=523.html#_ftn1" name="_ftnref1" title=""><span><span><span><span>[1]</span></span></span></span></a></p>
</blockquote>
<p>
	Morgan, in Woolley&#39;s view, had been one of the few consistently skeptical voices at the <i>Union-Tribune</i>. Soon after Morgan&rsquo;s last day at the newspaper in April 2004, Woolley contacted him to suggest that the two team up to start a news venture of their own. Woolley recalls: &ldquo;I said: &lsquo;Neil, we can&rsquo;t lose your voice. Somebody&rsquo;s got to question what&rsquo;s going on.&rsquo;&rdquo; After several weeks of discussion, they agreed to create a Web-based outlet for San Diego-focused public-service journalism.</p>
<p>
	<i>Listen to Woolley describe his meeting with Morgan and what came of it.</i><br />
	<img alt="" border="0" class="audiofile" src="../../files/audios/117/Woolley&#32;on&#32;meeting&#32;with&#32;Morgan.mp3" /></p>
<p>
	The point was not simply to preserve Morgan&rsquo;s column in another venue&mdash;though Morgan planned to contribute. Instead, with a small staff of perhaps two or three young reporters at salaries in the $40,000-$50,000 range, the two hoped to address some of the <i>Union-Tribune</i>&rsquo;s investigative failures at relatively low cost. Woolley would finance the enterprise himself. The bulk of the site&rsquo;s content, they hoped, would be provided by civic-minded San Diegans whom they would convince to write blogs or columns for free. Woolley and Morgan planned to call the site <i>Voice of San Diego</i>, in part to emphasize its planned reliance on citizen journalism of this kind.</p>
<div>
	<br />
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size: 11px;"><a href="standard.asp%3Fcase_id=51&amp;id=523.html#_ftnref1" name="_ftn1" title="">[1]</a> Author&rsquo;s telephone interview with Buzz Woolley in New York, NY, on November 19, 2009. All further quotes from Woolley, unless otherwise attributed, are from this interview.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="standard.asp%3Fcase_id=51&amp;id=522&amp;pid=0.html" class="page-previous" title="Go to previous page">&#171;&#160;Introduction</a>

<a href="standard.asp%3Fcase_id=51&amp;id=524&amp;pid=0.html" class="page-next" title="Go to next page">Nonprofit or for-profit?&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=143&amp;c=bio.html">Andrew&nbsp;Donohue</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=51&amp;id=144&amp;c=bio.html">Scott&nbsp;Lewis</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
