

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>New Kind of Radio Journalism | Truthiness: This American Life and the Monologist
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/108/180-01418Truthinessv2.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_108.html" title="Home"><span>New Kind of Radio Journalism</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_108_id_729.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_108_id_730.html">Introduction</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_108_id_731.html">New Kind of Radio Journalism</a>





</li>


<li class="leaf"><a  href="case_id_108_id_732.html">Daisey on Stage</a>





</li>


<li class="leaf"><a  href="case_id_108_id_733.html">Idea for an Episode</a>





</li>


<li class="leaf"><a  href="case_id_108_id_734.html">From Stage to Radio</a>





</li>


<li class="leaf"><a  href="case_id_108_id_735.html">Checking the Facts</a>





</li>


<li class="leaf"><a  href="case_id_108_id_736.html">Taped, and Aired</a>





</li>


<li class="leaf"><a  href="case_id_108_id_737.html">The Response</a>





</li>


<li class="leaf"><a  href="case_id_108_id_738.html">One Google Search, One Phone Call</a>





</li>


<li class="leaf"><a  href="case_id_108_id_739.html">Exposing Daisey</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/108/Truthiness_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_108.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">New Kind of Radio Journalism</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	Glass was a public radio lifer. He started in 1978 as a 19-year-old intern at National Public Radio&rsquo;s (NPR) Washington, D.C., headquarters. He interned every summer of college and, after his 1982 graduation, became a full-time staff member in DC, moving up through the ranks to work on almost all NPR news programs at various production levels. In 1989, he joined the NPR Chicago bureau WBEZ. An in-depth series about Chicago school reform earned him awards from the National Education Association (1991) and the Education Writers Association (1992; 1994), along with nationwide name recognition. During this time, Glass also co-hosted with Gary Covino <em>The Wild Room </em>radio program, a live show for Chicago audiences that he described as &ldquo;free-form documentary banter.&rdquo;<sup><a href="case_id_108_id_731.html#_ftn1" name="_ftnref1" title="">[1]</a></sup></p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/673/ira_keith.360.jpeg" style="height: 188px; width: 250px; " /><br />
	<p class="caption">
		Glass, left, with veteran NPR producer Keith Talbot<br />
		around 1979. Source: <a href="http://transom.org/?p=6978">http://transom.org/?p=6978</a></p>
</div>
<p>
	<sup><a href="case_id_108_id_731.html#_ftn1" name="_ftnref1" title=""></a></sup></p>
<p>
	In March 1995, the MacArthur Foundation announced a one-year, $150,000 grant to Glass to produce and host a new weekly radio show, <em>Your Radio Playhouse</em>, to feature Chicago-based reporters, writers and performers with segments focused on one theme each week.<sup><a href="case_id_108_id_731.html#_ftn2" name="_ftnref2" title="">[2]</a>&nbsp;</sup>The program would not sound like anything else on public radio&mdash;think documentary, but on radio. Reporters would speak in conversational, not polished radio, voices. Segments would feature ordinary people dealing with some emotional question. As Glass characterized it:</p>
<blockquote>
	<p>
		As in the best of fiction, tone counts for a lot. But a lot of effective and interesting radio is based on one character who reacts to the world&hellip; Many of the best radio moments, the most compelling moments, have something at stake, some dramatic story someone tells, using all of the tools of narrative art&mdash;characters, and some issue at stake, and something that gets learned from the whole experience.<a href="case_id_108_id_731.html#_ftn3" name="_ftnref3" title=""><sup>[3]</sup></a></p>
</blockquote>
<p>
	The first episode aired on November 17, 1995 and quickly became popular among Chicago listeners.</p>
<p>
	<em>Funding</em>. The business plan for Radio Playhouse was to pilot the show with grant money, offer it to stations first at no charge and, after a while, start charging. But there was a problem: few radio stations proved willing to sign on. So in spring 1996, Glass submitted a one-year, $150,000 grant proposal to the Corporation for Public Broadcasting (CPB). CPB rejected the one-year proposal, but only because it loved the idea and had a better version. CPB proposed instead $500,000 over three years, specifically because that would reassure potential customer stations who, it perceived, had worried that the show might founder for lack of funding. Indeed, radio stations quickly lined up to syndicate it.<a href="case_id_108_id_731.html#_ftn4" name="_ftnref4" title=""><sup>[4]</sup></a></p>
<p>
	In June 1996, the show aired under the name <em>This American Life</em>. Each week, the hour-long show centered on a theme, usually told in one to three acts. Although its stories were not news-driven, TAL reporters used the tools of journalism to spotlight everyday lives. As Glass puts it, &ldquo;we apply the tools of journalism to stories so small and personal that journalists hadn&rsquo;t bothered with them.&rdquo;<sup><a href="case_id_108_id_731.html#_ftn5" name="_ftnref5" title="">[5]</a>&nbsp;</sup>The storytelling was narrative nonfiction, often in the form of memoirs or essays. Occasionally, the show aired fictional segments&mdash;but always labeled as such. Glass served as the show&rsquo;s host and executive producer. His co-executive producer was Chris Wilcha, who was also TAL&rsquo;s director.</p>
<p>
	The show was broadcast nationally on 130 stations, with Public Radio International (PRI) as distributor. In 1996, the show won its first Peabody Award; TAL received two more in 2007 and 2008. One episode &ldquo;This Giant Pool of Money,&rdquo; which used personal stories to explain the underpinnings of the housing crisis and aired in April 2008, received a 2009 duPont Columbia Award. That same year, Glass was the recipient of the Edward R. Murrow Award, given by the Corporation for Public Broadcasting.</p>
<div style="float:left;padding:10px">
	<img src="../../files/photos/675/thisamericanlifejpg.jpeg" style="height: 201px; width: 300px; float: left; " /><br />
	<p class="caption">
		Promo image for the This American Life TV show.<br />
		&copy; 2007 Showtime Networks Inc.</p>
</div>
<p>
	In 2006, Glass and his staff relocated to New York City because the cable channel Showtime was willing to adapt TALfor television (in addition to the radio program). The TV program premiered March 22, 2007. To capture the quirky essence of the radio show, the TV producers created &ldquo;a mosh-up of visual styles, with short animation, found video, highly formal interior shots and expansive exteriors,&rdquo; wrote one reviewer.<a href="case_id_108_id_731.html#_ftn6" name="_ftnref6" title=""><sup>[6]</sup></a> After two seasons, Glass decided that the weekly radio show plus the TV series demanded too much of the staff of 16 and he ended the TV show.</p>
<p>
	TAL continued to prosper. By 2012, it aired on 500 public radio stations and had a weekly audience of 1.8 million listeners. Its producers were always on the lookout for promising material, which they sometimes found on stage.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:10px;"><a href="case_id_108_id_731.html#_ftnref1" name="_ftn1" title="">[1]</a>&nbsp;Michael Miner, &ldquo;What becomes of the Brokenhearted?&rdquo; <em>The Chicago Reader</em>, November 19, 1998. Retrieved Aug. 11, 2012: <a href="http://www.chicagoreader.com/chicago/what-becomes-of-the-brokenhearted/Content?oid=897809">http://www.chicagoreader.com/chicago/what-becomes-of-the-brokenhearted/Content?oid=897809</a></span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:10px;"><a href="case_id_108_id_731.html#_ftnref2" name="_ftn2" title="">[2]</a>&nbsp;Steve Nidetz, &ldquo;WBEZ Show Gets $150,000 `Vote Of Confidence&rsquo;,&rdquo; <em>Chicago Tribune</em>, March 12, 1995. See: <a href="http://articles.chicagotribune.com/1995-03-12/features/9503120050_1_wbez-radio-playhouse-grant">http://articles.chicagotribune.com/1995-03-12/features/9503120050_1_wbez-radio-playhouse-grant</a></span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:10px;"><a href="case_id_108_id_731.html#_ftnref3" name="_ftn3" title="">[3]</a>&nbsp;Ana Marie Cox and Joanna Dionis, &ldquo;Ira Glass: Live and Uncut,&rdquo; <em>Mother Jones</em>, posted August 11, 1998, retrieved May 5, 2012. See: <a href="http://www.motherjones.com/politics/1998/08/ira-glass-live-and-uncut">http://www.motherjones.com/politics/1998/08/ira-glass-live-and-uncut</a></span></p>
	</div>
	<div id="ftn4">
		<p>
			<span style="font-size:10px;"><a href="case_id_108_id_731.html#_ftnref4" name="_ftn4" title="">[4]</a>&nbsp;For more details on the genesis of TAL, see Glass&rsquo; acceptance speech for the 2009 Edward R. Murrow award: <a href="https://www.youtube.com/watch?v=MRlbGiWckEU">https://www.youtube.com/watch?v=MRlbGiWckEU</a></span></p>
	</div>
	<div id="ftn5">
		<p>
			<span style="font-size:10px;"><a href="case_id_108_id_731.html#_ftnref5" name="_ftn5" title="">[5]</a>&nbsp;Ira Glass email to author, September 22, 2012.</span></p>
	</div>
	<div id="ftn6">
		<p>
			<span style="font-size:10px;"><a href="case_id_108_id_731.html#_ftnref6" name="_ftn6" title="">[6]</a>&nbsp;David Carr, &ldquo;A Radio Host Tries His Voice on Television,&rdquo; <em>New York Times</em>, March 21, 2007.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_108_id_730_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Introduction</a>

<a href="case_id_108_id_732_pid_0.html" class="page-next" title="Go to next page">Daisey on Stage&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_108_id_216_c_bio.html">Ira&nbsp;Glass</a></li>

<li class="leaf"><a  href="case_id_108_id_217_c_bio.html">Rob&nbsp;Schmitz</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
