

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Biography: Carol Smith | Can Investigative Journalism Pay?: InvestigateWest and the Nonprofit Model
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/111/18001672InvestigateWest5.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_111.html" title="Home"><span>Biography: Carol Smith</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_111.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_111_id_763.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_111_id_764.html">A Brief History</a>





</li>


<li class="leaf"><a  href="case_id_111_id_765.html">Business start</a>





</li>


<li class="leaf"><a  href="case_id_111_id_766.html">Editorial start</a>





</li>


<li class="leaf"><a  href="case_id_111_id_767.html">Strategic Re-think</a>





</li>


<li class="leaf"><a  href="case_id_111_id_768.html">Grant Realities</a>





</li>


<li class="leaf"><a  href="case_id_111_id_769.html">Multi-outlet Series</a>





</li>


<li class="leaf"><a  href="case_id_111_id_770.html">Elusive Business Formula</a>





</li>


<li class="leaf"><a  href="case_id_111_id_771.html">Reassessment</a>





</li>


<li class="leaf"><a  href="case_id_111_id_772.html">New Plan</a>





</li>


<li class="leaf"><a  href="case_id_111_id_773.html">Plan into Action</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/111/InvestigateWest_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_111.html">Home</a></div>		
		<h1 class="title">Biography: Carol&nbsp;Smith</h1>		
		
		  <div class="node">        
    <span class="taxonomy"></span>
    <div class="content"><div style="float:right;padding:10px">
	<img src="../../files/photos/713/Carol3.JPG" style="height: 243px; width: 250px;" /></div>
<p>
	Carol Smith was an enterprise reporter and writing coach at the <em>Post-Intelligencer</em>. She had majored in chemistry at Stanford, and held a master&rsquo;s in plant pathology from the University of Wisconsin. Smith went into journalism in the early 1980s through the American Association for the Advancement of Science&rsquo;s Mass Media Science and Engineering Fellowship. Over the years, she had filled many roles in the newsroom.</p>
<blockquote>
	<p>
		<i>Smith discusses using her science background for journalism.</i><br />
		<!-- <img alt="" border="0" class="audiofile" src="../../files/audios/314/Smith&#32;bio&#32;clip.mp3" /> -->
		<audio controls>
          <source src="../../files/audios/314/Smith&#32;bio&#32;clip.mp3" type="audio/mpeg">
        </audio>
	</p>
</blockquote>
</div>
      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->

		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_111_id_221_c_bio.html">Robert&nbsp;McClure</a></li>

<li class="leaf"><a  class="active"  href="case_id_111_id_222_c_bio.html">Carol&nbsp;Smith</a></li>

<li class="leaf"><a  href="case_id_111_id_223_c_bio.html">Rita&nbsp;Hibbard</a></li>

<li class="leaf"><a  href="case_id_111_id_224_c_bio.html">Jason&nbsp;Alcorn</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
