

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>A Newsroom Divided: Kenya, the Election Crisis, and the Nation Media Group | A Newsroom Divided: Kenya, the Election Crisis, and the Nation Media Group
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/119/CaseConsortiumv3.jpeg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="standard.asp%3Fcase_id=119.html" title="Home"><span>A Newsroom Divided: Kenya, the Election Crisis, and the Nation Media Group</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  class="active"  href="standard.asp%3Fcase_id=119&amp;id=844.html">Title Page</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/119/Kenya&#32;elxns.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="standard.asp%3Fcase_id=119.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">A Newsroom Divided: Kenya, the Election Crisis, and the Nation Media Group</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div>
	<em>This is one in a group of cases the Case Consortium @ Columbia developed in conjunction with the Aga Khan University Graduate School of Media and Communications (a Consortium member at the time). The cases, which look at various aspects of journalism practice in East Africa and South Africa, are being distributed under an agreement with Columbia University (and will be available on the AKU website).&nbsp;</em></div>
<div>
	<p>
		<b>ABSTRACT</b></p>
	<p>
		<em>AKU-13-0001.0&nbsp;</em>This case examines what happens when personal bias affects the newsroom. In mid-January 2008, post-election tribal violence in Kenya was making international headlines. The editorial director of Nation Media Group, which included the <em>Daily Nation</em> newspaper, had a crisis on his hands: the <em>Daily Nation</em> newsroom was splitting along tribal lines. Reporters who only weeks earlier had been friends and colleagues were tense and barely speaking to one another. Suspicion greeted most editorial decisions. The editorial director had to develop a strategy to address the rising tension within the organisation.</p>
	<p>
		Use the case as a basis for discussing how personal political views can boil over into the workplace. How should a news manager reconcile conflicting factions, especially when the manager may have personal views of his/her own? How much does editors&rsquo; own personal background, or others&rsquo; perception of that background, influence the news organization&rsquo;s reputation as well as editorial decisions? The case also raises questions about how to cover conflict. What should be the goal of a news outlet during a conflict&mdash;promote stability or report the unvarnished truth? Finally, how credible are sources in a situation of conflict?</p>
	<p>
		This case can be used in a class/course on journalism ethics, editorial management, reporting conflict, ethnicity and race in journalism, or reporting elections and politics.<br />
		<br />
		<em>This case has an Epilogue and a Teaching Note, visible to faculty after they register.</em></p>
	<p>
		<strong>Credits:</strong></p>
	<p style="margin-left:4.3pt;">
		<em>This case was written for the Aga Khan University Graduate School of Media and Communications.</em></p>
	<p style="margin-left:4.3pt;">
		<span style="font-size:10px;">&copy; 2013 The Aga Khan University Graduate School of Media and Communications. No part of this publication may be reproduced, revised, translated, stored in a retrieval system, used in a spreadsheet, or transmitted in any form or by any means (electronic, mechanical, photocopying, recording, or otherwise) without the written permission of Aga Khan University.</span></p>
</div>
<div>
	For further information, please contact:</div>
<div>
	Kirsten Lundberg, Director, Case Consortium @ Columbia</div>
<div>
	Tel: 857-259-2148</div>
<div>
	Email: <a href="mailto:klundberg@columbia.edu">klundberg@columbia.edu</a></div>
<div>
	Website: <a href="https://casestudies.jrn.columbia.edu">https://casestudies.jrn.columbia.edu</a></div>
<div>
	&nbsp;</div>
<div>
	Send written inquiries to:</div>
<div>
	Case Consortium @ Columbia</div>
<div>
	2950 Broadway, MC 3812</div>
<div>
	New York, NY 10027</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
