<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Pollution Information Transparency Index | Publishing Pollution Data in China: Ma Jun and the Institute of Public and Environmental Affairs
	- A Journalism Case Study
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/135/180-02586_Ma Jun_EB_NJ_v1.0.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_135.html" title="Home">
         <span>
          Pollution Information Transparency Index
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_135.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_979.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_980.html">
          Becoming an environmentalist
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_981.html">
          Obstacles to enforcement
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_982.html">
          We must fight with data
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_983.html">
          China Pollution Maps launched
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_984.html">
          Taking on supply chains
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_135_id_985.html">
          Pollution Information Transparency Index
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_986.html">
          Tainted milk, heavy metalsand more
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_987.html">
          Poison Apple
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_988.html">
          Green investment
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_989.html">
          Blueprint for blue skies
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_990.html">
          Real-time data begins
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_991.html">
          Real-time dilemma
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_992.html">
          Appendix 1
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_993.html">
          Appendix 2
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_994.html">
          Appendix 3
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_135_id_995.html">
          Appendix 4
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/135/Ma Jun final.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_135.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Pollution Information Transparency Index
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         The IPE maps and database opened up a world of possibilities. For example, cities could be ranked by pollution level—a ready-made publicity opportunity. But Ma Jun was more interested in whether local governments were making information
         <em>
          available
         </em>
         than in how polluted each location was, and that’s how he wanted to rank them. IPE would measure transparency. For example, when he launched the China Air Pollution Map in late 2007, Ma scolded Guangdong province, one of China’s most economically advanced, for its lack of candor, saying, “A report by a city government in the province said a total of 1,200 enterprises in six sectors have caused serious pollution—but it did not name even a single factory.”
         <sup>
          <a href="case_id_135_id_985.html#_ftn1" name="_ftnref1" title="">
           [16]
          </a>
         </sup>
        </p>
        <p>
         The time seemed right to hammer local governments on transparency because, also in 2007, the central government had adopted new Open Government Information (OGI) regulations.
         <sup>
          <a href="case_id_135_id_985.html#_ftn2" name="_ftnref2" title="">
           [17]
          </a>
         </sup>
         They were to go into effect May 1, 2008, and would apply not only to central agencies, but to every level of government: provinces, municipalities, counties and townships. Officials would have to publicize information about land use, government spending, public health, food and drug safety—anything directly affecting citizens. OGI appeared to signal a shift away from state secrecy toward accountability. The primary motivation was to curb corruption, particularly at the local level. But it also empowered citizens; in introducing OGI, a government official emphasized that OGI would “safeguard the public’s right to know, the right to participate and the right to supervise.”
         <sup>
          <a href="case_id_135_id_985.html#_ftn3" name="_ftnref3" title="">
           [18]
          </a>
         </sup>
         There was a caveat, however. According to the regulations, information disclosure “should not cause social instability and threaten the safety of the state, the public and the economy.”
        </p>
        <p>
         Environmental activists were eager to see how OGI would affect pollution information. In a promising step SEPA, long hampered by corrupt officials at every level of government and in every department, issued its own “Measures on Open Environmental Information,”to be implemented concurrently with OGI.
         <sup>
          <a href="case_id_135_id_985.html#_ftn4" name="_ftnref4" title="">
           [19]
          </a>
         </sup>
         The measures required EPBs and companies to disclose pollution information and to build IT systems for making such information public. Among the articles:
        </p>
        <blockquote>
         <p>
          <em>
           Article 4.
          </em>
          Environmental protection departments [EPBs] shall observe the principles of justice, fairness, convenience to the people and objectivity, and disclose government environmental information promptly and accurately. Enterprises shall disclose enterprise environmental information promptly and accurately under the principle of combining voluntary disclosure with mandatory disclosure.
         </p>
         <p>
          <em>
           Article 5.
          </em>
          Citizens, legal persons and other organizations may request environmental protection departments to obtain government environmental information.
         </p>
         <p>
          <em>
           Article 6.
          </em>
          Environmental protection departments should establish and perfect open environmental information systems.
         </p>
        </blockquote>
        <p>
         Less promising to proponents of transparency, the measures also stated that EPBs “may not disclose government environmental information that involves state secrets, commercial secrets or individual privacy,”leaving a potential loophole for polluters. Within a year of rollout, companies were making use of the commercial secrets privilege. BASF refused to divulge to Greenpeace some of the chemicals it would use at a new plant in Chongqing, situated along the Yangtze River; the Ministry of Environmental Protection (SEPA was upgraded to ministerial level in 2008) sided with BASF. There was also great variation in how fully the regulations were implemented. Some local governments were proactive, while others did little.
         <sup>
          <a href="case_id_135_id_985.html#_ftn5" name="_ftnref5" title="">
           [20]
          </a>
         </sup>
        </p>
        <p>
         <em>
          PITI.
         </em>
         Ma could see that implementation of the new rules would be highly variable. So in partnership with the Beijing office of the international environmental group Natural Resources Defense Council (NRDC), IPE began developing in 2009 the methodology for an annual ranking of cities by their level of environmental information disclosure (see Appendix 1 for criteria). Each city was scored on a scale of 0-100 and evaluation results were sent to local EPBs, whose feedback then went into a final revision of the scores. IPE and NRDC hoped the scores would draw favorable attention to cities that were being proactive—and publicly shame the dawdlers. The first ranking of 113 cities was released in 2010 (the mean score that year was 36).
         <sup>
          <a href="case_id_135_id_985.html#_ftn6" name="_ftnref6" title="">
           [21]
          </a>
         </sup>
        </p>
        <p>
         The Pollution Information Transparency Index (PITI) was designed to spur competition between cities, and this goal appeared to be met. City officials started to communicate directly with IPE and NRDC to explore ways to improve their ranking. This led to sustained interaction between local governments, especially EPBs, and the two NGOs. The partners fostered dialogue by holding workshops for officials to share best practices, and events to recognize cities taking the greatest steps toward transparency.
        </p>
        <p>
         Yan Wang a project director at NRDC in Beijing, notes that this was “the first time for a third party or an NGO to assess government performance.”
         <sup>
          <a href="case_id_135_id_985.html#_ftn7" name="_ftnref7" title="">
           [22]
          </a>
         </sup>
         When they released the inaugural PITI report, she says, “we were a bit concerned and worried how the government would see us, two NGOs, doing this kind of report.” But surprisingly, there was little blowback. Indeed, healthy competition arose between governments. “Some of the cities that are not doing well, as shown in the report, come to us and say ‘How we can do better?’” notes Yan. So This
        </p>
        <p>
         The first annual PITI report also explained why transparency was the goal. Drawing on the example of PRTRs, it said environmental information disclosure had been shown over the previous decades to be an indispensible tool globally:
        </p>
        <blockquote>
         <p>
          Information disclosure has spurred companies to take proactive measures to reduce pollution in their own facilities. It can raise public awareness of environmental issues, and give the public the tools it needs to identify and handle environmental risks. Information disclosure can empower other stakeholders, such as banks, shareholders, consumers and others, to monitor the environmental performance of companies, and work to reduce pollution. Furthermore, it can help governments to clarify enforcement priorities.
          <sup>
           <a href="case_id_135_id_985.html#_ftn8" name="_ftnref8" title="">
            [23]
           </a>
          </sup>
         </p>
        </blockquote>
        <p>
         Collins at IPE emphasizes the point. “It’s to do with how much information they’re providing, rather than how clean or how good the environment is in the area. Because for us, the first step was to get hold of this information,” he says. “Then how we use that information is the next step.”
        </p>
        <div>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_135_id_985.html#_ftnref1" name="_ftn1" title="">
             [17]
            </a>
            Shi Jiangtao, “Guangdong ‘Poor’ on Pollution Information,”
            <em>
             SCMP.com
            </em>
            , 13 December 2007. See:
            <a href="http://www.scmp.com/article/619370/guangdong-poor-pollution-information">
             http://www.scmp.com/article/619370/guangdong-poor-pollution-information
            </a>
            (accessed July 16, 2014).
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_135_id_985.html#_ftnref2" name="_ftn2" title="">
             [18]
            </a>
            “New Rules Issued to Require Government Transparency,”
            <em>
             ChinaDaily.com
            </em>
            , April 24 2007. See:
            <a href="http://www.chinadaily.com.cn/china/2007-04/24/content_858745.htm">
             http://www.chinadaily.com.cn/china/2007-04/24/content_858745.htm
            </a>
            (accessed July 16, 2014).
           </span>
          </p>
         </div>
         <div id="ftn3">
          <p style="margin-left:.25in;">
           <span style="font-size:11px;">
            <a href="case_id_135_id_985.html#_ftnref3" name="_ftn3" title="">
            </a>
           </span>
          </p>
         </div>
         <div id="ftn4">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_135_id_985.html#_ftnref4" name="_ftn4" title="">
             [19]
            </a>
            For the full text of the measures, translated into English, see:
            <a href="http://www.cecc.gov/resources/legal-provisions/measures-on-open-environmental-information-trial-cecc-full-translation">
             http://www.cecc.gov/resources/legal-provisions/measures-on-open-environmental-information-trial-cecc-full-translation
            </a>
           </span>
          </p>
         </div>
         <div id="ftn5">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_135_id_985.html#_ftnref5" name="_ftn5" title="">
             [20]
            </a>
            Tod Kaiser and Rongkun Liu, “Taking the Pulse: The One-Year Anniversary of China’s Open Government Information Measures,” Woodrow Wilson Center (August 2009). See:
            <a href="http://www.wilsoncenter.org/sites/default/files/ogi_final21.pdf">
             http://www.wilsoncenter.org/sites/default/files/ogi_final21.pdf
            </a>
            <br/>
            <br/>
            <a href="case_id_135_id_985.html#_ftnref6" name="_ftn6" title="">
             [21]
            </a>
            IPE and NRDC,
            <em>
             B
            </em>
            <em>
             reaking the
            </em>
            <em>
             i
            </em>
            <em>
             ce on
            </em>
            <em>
             e
            </em>
            <em>
             nvironmental
            </em>
            <em>
             o
            </em>
            <em>
             pen
            </em>
            <em>
             i
            </em>
            <em>
             nformation:
            </em>
            <em>
             The 2008 Pollution Information Transparency Index (PITI): First Annual Assessment of Environmental Transparency in 113 Chinese Cities,
            </em>
            September 17, 2010). See:
            <a href="http://www.ipe.org.cn/Upload/Report-PITI-2008-EN.pdf">
             http://www.ipe.org.cn/Upload/Report-PITI-2008-EN.pdf
            </a>
           </span>
          </p>
         </div>
         <div id="ftn7">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_135_id_985.html#_ftnref7" name="_ftn7" title="">
             [22]
            </a>
            Author’s interview with Yan Wang, in Beijing, on March 13, 2014. All further quotes from Yan, unless otherwise attributed, are from this interview.
           </span>
          </p>
         </div>
         <div id="ftn8">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_135_id_985.html#_ftnref8" name="_ftn8" title="">
             [23]
            </a>
            IPE and NRDC, p. 8.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_135_id_984.html" title="Go to previous page">
          « Taking on supply chains
         </a>
         <a class="page-next" href="case_id_135_id_986.html" title="Go to next page">
          Tainted milk, heavy metalsand more »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_135_id_292_c_bio.html">
         Ma Jun
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_135_id_293_c_bio.html">
         Gu Beibei
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_135_id_294_c_bio.html">
         Matthew Collins
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
