

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Appendix 1 | Publishing Pollution Data in China: Ma Jun and the Institute of Public and Environmental Affairs
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/135/180-02586_Ma Jun_EB_NJ_v1.0.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_135.html" title="Home"><span>Appendix 1</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_135_id_978.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_135_id_979.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_135_id_980.html">Becoming an environmentalist</a>





</li>


<li class="leaf"><a  href="case_id_135_id_981.html">Obstacles to enforcement</a>





</li>


<li class="leaf"><a  href="case_id_135_id_982.html">“We must fight with data”</a>





</li>


<li class="leaf"><a  href="case_id_135_id_983.html">China Pollution Maps launched</a>





</li>


<li class="leaf"><a  href="case_id_135_id_984.html">Taking on supply chains</a>





</li>


<li class="leaf"><a  href="case_id_135_id_985.html">Pollution Information Transparency Index</a>





</li>


<li class="leaf"><a  href="case_id_135_id_986.html">Tainted milk, heavy metals—and more</a>





</li>


<li class="leaf"><a  href="case_id_135_id_987.html">Poison Apple</a>





</li>


<li class="leaf"><a  href="case_id_135_id_988.html">Green investment</a>





</li>


<li class="leaf"><a  href="case_id_135_id_989.html">Blueprint for blue skies</a>





</li>


<li class="leaf"><a  href="case_id_135_id_990.html">Real-time data begins</a>





</li>


<li class="leaf"><a  href="case_id_135_id_991.html">Real-time dilemma</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_135_id_992.html">Appendix 1</a>





</li>


<li class="leaf"><a  href="case_id_135_id_993.html">Appendix 2</a>





</li>


<li class="leaf"><a  href="case_id_135_id_994.html">Appendix 3</a>





</li>


<li class="leaf"><a  href="case_id_135_id_995.html">Appendix 4</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/135/Ma&#32;Jun&#32;final.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_135.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Appendix 1</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p align="center">
	<strong>PITI Evaluation Criteria</strong></p>
<p>
	Each city was evaluated on disclosure performance for eight metrics, which all directly or indirectly relate to the environmental performance of polluting enterprises:</p>
<p>
	<strong>Records of Enterprise Violations (28 pts)</strong>: As required by the Ministry of Environmental Protection (MEP) Measures on Open Environmental Information (MEP Measures), disclosure of records for various types of facility violations, including administrative penalties and enforcement actions taken.</p>
<p>
	<strong>Results of &ldquo;Enforcement Campaigns&rdquo; Against Polluting Facilities (8 pts)</strong>: Disclosure of the results of environmental protection bureau enforcement campaigns, such as campaigns targeting specific sectors, regions, or facilities, or ordering cessation of violations by designated deadlines.</p>
<p>
	<strong>Clean Production Audit Information (8 pts)</strong>: As required by the MEP Measures, disclosure of two types of information: (i) lists of enterprises for which the government has enforced clean production audits; (ii) emissions data from enterprises selected to undergo clean production audits, which by law must be released one month after the clean production audit. This is China&rsquo;s only legal requirement for disclosure of facility-level pollutant emissions/discharge data.</p>
<p>
	<strong>Enterprise Environmental Performance Ratings (8 pts)</strong>: Disclosure of enterprise environmental performance ratings in accordance with MEP guidelines, which set forth a color-coded system representing levels of environmental performance: very good (green), good (blue), average (yellow), poor (red), and very poor (black). This system does not require disclosure of factory-level emissions data.</p>
<p>
	<strong>Disposition of Verified Petitions and Complaints (18 pts)</strong>: As required by the MEP Measures, disclosure of information on petitions and complaints, as well as their handling, including the content, target, and result of complaints and petitions, as well as general statistics on petition acceptances, investigations, and handling results.</p>
<p>
	<strong>Environmental Impact Assessment (EIA) Reports and Project Completion Approvals (8 pts)</strong>: As required by the MEP Measures, disclosure of: (i) the public comment draft of EIA reports; (ii) project completion reports, which typically include useful information about allowable enterprise emission levels.</p>
<p>
	<strong>Discharge Fee Data (4 pts)</strong>: Disclosure of discharge fee data, including the basis for such fees, standards and procedures for fees levied, fees owed compared with actual fees collected, and any waivers or discounts granted to facilities.</p>
<p>
	<strong>Response to Public Information Requests (18 pts)</strong>: Response to public information requests and whether the local environmental protection bureau has established a standard and comprehensive system for responding to public information requests, including disclosure of information regarding request procedures, provision of accurate contact information, the establishment of special offices or personnel for handling public information requests, standard and timely response to requests, and efforts to improve public convenience in making information requests.</p>
<p>
	<span style="font-size:11px;">Source: IPE and NRDC,&nbsp;<em>Breaking the ice on environmental open information: The 2008 Pollution Information Transparency Index (PITI): First Annual Assessment of Environmental Transparency in 113 Chinese Cities</em>(17 September 2010). See:&nbsp;<a href="http://www.ipe.org.cn/Upload/Report-PITI-2008-EN.pdf">http://www.ipe.org.cn/Upload/Report-PITI-2008-EN.pdf</a></span><span style="font-size:10px;"></span></p>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_135_id_991.html" class="page-previous" title="Go to previous page">&#171;&#160;Real-time dilemma</a>

<a href="case_id_135_id_993.html" class="page-next" title="Go to next page">Appendix 2&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_135_id_292_c_bio.html">Ma&nbsp;Jun</a></li>

<li class="leaf"><a  href="case_id_135_id_293_c_bio.html">Gu&nbsp;Beibei</a></li>

<li class="leaf"><a  href="case_id_135_id_294_c_bio.html">Matthew&nbsp;Collins</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
dy>
</html>
