

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Precedent? | Crowdsourcing at the Fort Myers, FL, News-Press Part B: "Help Us Investigate"
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #996632;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #996632;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/20/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_20.html" title="Home"><span>Precedent?</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_20_id_223.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_20_id_224.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_20_id_225.html">The Audit</a>





</li>


<li class="leaf"><a  href="case_id_20_id_226.html">The Onslaught</a>





</li>


<li class="leaf"><a  href="case_id_20_id_227.html">Motivating Reporters</a>





</li>


<li class="leaf"><a  href="case_id_20_id_228.html">Transparency</a>





</li>


<li class="leaf"><a  href="case_id_20_id_229.html">Results</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_20_id_230.html">Precedent?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/20/Crowdsourcing&#32;Text&#32;Part&#32;B_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_20.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Precedent?</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>Crowdsourcing the Cape Coral utilities investigation generated an overwhelming response for the newspaper. Thereafter, the <em>News-Press</em> attempted similar appeals for reader help, with mixed results. A request for information about nursing homes, for example, received only a tepid response. &ldquo;Clearly we got lucky on the Cape Coral thing,&rdquo; Warren says. &ldquo;We still think we know what topics will work for crowdsourcing and which won&rsquo;t, and we are routinely proven wrong.&rdquo; He surmises that some of the initial project&rsquo;s success stemmed from the story&rsquo;s broad impact within Cape Coral. In addition, says Warren, &ldquo;It&rsquo;s about something that&rsquo;s pretty damned important to them, and that&rsquo;s what&rsquo;s in [their] pocketbook.&rdquo;</p>
<p>Warren hoped to draw more deeply on the contributions of motivated readers, reasoning that those who participated in the Cape Coral investigation would be willing to contribute to coverage of other issues that impacted them. &ldquo;That&rsquo;s an unfulfilled dream,&rdquo; Warren says:</p>
<blockquote>
<p>The volume is too great. We have other priorities. We have to fill the paper for tomorrow. We&rsquo;ve got to get the website out today. It&rsquo;s a separate project that has to be done in... a laboratory setting where there are no new stimuli coming in, no new responsibilities.</p>
</blockquote>
<p>Ruane and Warren both felt that future crowdsourcing projects would benefit if the paper designated a &ldquo;forum beat,&rdquo; assigning a reporter to monitor reader responses all day. Ruane also thought it would be useful to adjust the forums&rsquo; organization, so that reporters would not have to sort through several different discussion threads and could instead visit a single comment page. Ruane further advocated that, to keep readers focused on a given story, the <em>News-Press</em> should use a form where users could suggest stories or ask questions. The paper should encourage readers to provide contact information.</p>
<p>Cull felt that, other than the Kessler audit, the newspaper received no concrete benefit from crowdsourcing. He advocated the method, however, to the extent that it might help the paper secure an inside source. &ldquo;I think [crowdsourcing] has a whole lot of potential if you&rsquo;re prepared to be inundated with lots of stuff that you can&rsquo;t use,&rdquo; he summarizes. He also felt that it was useful for news-press.com to provide readers with a place to register discontent. The activity on the forums was clear evidence of citizens&rsquo; anger with city officials, the extent of which a traditional news story might be unable to capture.</p>
<p><i>Listen to Cull&rsquo;s conclusions about the value of crowdsourcing.</i><br />
<span class="footnoteslength"><strong>Length:</strong> 1 min 18 sec</span><br />
<img border="0" alt="" class="audiofile" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/newspress/Jeff%20Cull%20talk%20radio.mp3" /></p>
<p>Executive Editor Marymont wished that the <em>News-Press</em> had explained the concept of crowdsourcing, and the style of its investigation, more thoroughly in its print edition. She reflects:</p>
<blockquote>
<p>Just as this was new to us... it was vastly different for our readers, too. They weren&rsquo;t accustomed to watching something like this develop... Online readers, I think, knew what was going on, but our print readers wished I had done more with columns and stories about what we were doing.</p>
</blockquote>
<p>But Marymont found that the project was far more successful than she had anticipated: &ldquo;It was messy and it was difficult at times to... work our way through... but it did what we hoped it would, and it got the community involved.&rdquo;</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_20_id_229_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Results</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_20_id_48_c_bio.html">Jeff&nbsp;Cull</a></li>

<li class="leaf"><a  href="case_id_20_id_49_c_bio.html">Tom&nbsp;Hayden</a></li>

<li class="leaf"><a  href="case_id_20_id_50_c_bio.html">Carol&nbsp;Hudler</a></li>

<li class="leaf"><a  href="case_id_20_id_51_c_bio.html">Kate&nbsp;Marymont</a></li>

<li class="leaf"><a  href="case_id_20_id_52_c_bio.html">Cindy&nbsp;McCurry-Ross</a></li>

<li class="leaf"><a  href="case_id_20_id_53_c_bio.html">Don&nbsp;Ruane</a></li>

<li class="leaf"><a  href="case_id_20_id_54_c_bio.html">Mackenzie &nbsp;Warren</a></li>

<li class="leaf"><a  href="case_id_20_id_55_c_bio.html">Betty&nbsp;Wells</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
