

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>The Onslaught | Crowdsourcing at the Fort Myers, FL, News-Press Part B: "Help Us Investigate"
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #996632;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #996632;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/20/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_20.html" title="Home"><span>The Onslaught</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_20_id_223.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_20_id_224.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_20_id_225.html">The Audit</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_20_id_226.html">The Onslaught</a>





</li>


<li class="leaf"><a  href="case_id_20_id_227.html">Motivating Reporters</a>





</li>


<li class="leaf"><a  href="case_id_20_id_228.html">Transparency</a>





</li>


<li class="leaf"><a  href="case_id_20_id_229.html">Results</a>





</li>


<li class="leaf"><a  href="case_id_20_id_230.html">Precedent?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/20/Crowdsourcing&#32;Text&#32;Part&#32;B_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_20.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">The Onslaught</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>Meanwhile, Cape Coral residents responded in droves to the paper&rsquo;s request. Forums filled with hundreds of comments a day. Hayden, Ruane, and Cull, whose contact information Hayden had provided in the original solicitation, were inundated with phone calls and emails. Executive Editor Marymont recalls:</p>
<blockquote>
<p>I don&rsquo;t think we knew, really, what we were getting into until we jumped in and just started. We didn&rsquo;t anticipate the scope of public interest and involvement... It quickly became clear that we had this onslaught of email and phone calls that we needed to manage. So we had to make quick decisions on the fly about how to put some more firepower on managing it and sifting through all of it.</p>
</blockquote>
<p>For example, who would be assigned to comb the forums for tips? Who should manage the day-to-day coverage? Did the story require extra reporters? How much of the growing online response should appear in print, and on what schedule?</p>
<p>Mackenzie Warren, deputy to the publisher for special projects, became the manager of the project. He, Ruane, and Cull began monitoring reader comments. But between the forums and the phones, the workload rapidly became unmanageable. One unexpected obstacle was that the main newsroom&rsquo;s phones did not have caller identification. &ldquo;That was a big issue for me,&rdquo; Cull recalls. &ldquo;I had to answer every phone call because I was waiting for people to call me back on other issues&mdash;officials or what have you&mdash;so I couldn&rsquo;t screen out calls from the guy who just wants to call and talk.&rdquo; This was especially vexing for him because he felt it important to take calls from readers. &ldquo;They&rsquo;re our customers,&rdquo; he remarks, elaborating:</p>
<blockquote>
<p>If we have to sit and listen to them for 20 minutes, maybe that&rsquo;s all they want. And I&rsquo;m a firm believer that they just don&rsquo;t hang up and say, &lsquo;Thanks for listening to me.&rsquo; They tell all their friends... &lsquo;I called this guy and he listened to me and said he&rsquo;d do what he could do.&rsquo;... That&rsquo;s good public relations for us. So you hate to let them go, but at the same time, you do have a job to do, so you&rsquo;ve got to get it done... Email you can ignore until you can get to it, phone calls we couldn&rsquo;t. So that basically meant that I spent the entire next week on the phone.</p>
</blockquote>
<p><span class="inline inline-right"><img width="165" height="190" border="0" src="../../files/newspress_b/images/Fig15-capecrowd.preview.png" class="image image-preview" alt="" /></span>Staying abreast of activity on the forums proved no less difficult. &ldquo;We just didn&rsquo;t have the time&rdquo; to read all the comments, Cull explains. He was busy analyzing contracts and requesting public records. Ruane, meanwhile, was knocking on doors in Cape Coral neighborhoods and asking residents how the utility project affected them. He was also covering the City Council&rsquo;s reaction to the Kessler audit and the political debate the document had sparked.</p>
<p>Aside from the sheer volume of response, Ruane found the forums difficult to navigate. Comments were organized into threads, in which users would respond to the statement that introduced the discussion topic. This meant that the comments were divided into hundreds of separate sections. Ruane recalls the result: &ldquo;All of a sudden we&rsquo;ve got... <a class="photolink" href="case_id_20_id_228_c_photo.html">a hundred things to read</a> that we have to try to catch up on.&rdquo;</p>
<p>&nbsp;</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_20_id_225_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;The Audit</a>

<a href="case_id_20_id_227_pid_0.html" class="page-next" title="Go to next page">Motivating Reporters&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_20_id_48_c_bio.html">Jeff&nbsp;Cull</a></li>

<li class="leaf"><a  href="case_id_20_id_49_c_bio.html">Tom&nbsp;Hayden</a></li>

<li class="leaf"><a  href="case_id_20_id_50_c_bio.html">Carol&nbsp;Hudler</a></li>

<li class="leaf"><a  href="case_id_20_id_51_c_bio.html">Kate&nbsp;Marymont</a></li>

<li class="leaf"><a  href="case_id_20_id_52_c_bio.html">Cindy&nbsp;McCurry-Ross</a></li>

<li class="leaf"><a  href="case_id_20_id_53_c_bio.html">Don&nbsp;Ruane</a></li>

<li class="leaf"><a  href="case_id_20_id_54_c_bio.html">Mackenzie &nbsp;Warren</a></li>

<li class="leaf"><a  href="case_id_20_id_55_c_bio.html">Betty&nbsp;Wells</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
