

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Motivating Reporters | Crowdsourcing at the Fort Myers, FL, News-Press Part B: "Help Us Investigate"
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #996632;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #996632;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/20/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_20.html" title="Home"><span>Motivating Reporters</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_20_id_223.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_20_id_224.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_20_id_225.html">The Audit</a>





</li>


<li class="leaf"><a  href="case_id_20_id_226.html">The Onslaught</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_20_id_227.html">Motivating Reporters</a>





</li>


<li class="leaf"><a  href="case_id_20_id_228.html">Transparency</a>





</li>


<li class="leaf"><a  href="case_id_20_id_229.html">Results</a>





</li>


<li class="leaf"><a  href="case_id_20_id_230.html">Precedent?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/20/Crowdsourcing&#32;Text&#32;Part&#32;B_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_20.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Motivating Reporters</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>Deputy Warren was enthusiastic about the crowdsourcing project&rsquo;s possibilities, but found it difficult to convince his reporters of its usefulness. He recalls:</p>
<blockquote>
<p>On the one hand there was me, a total believer that this is all going to work out, and... no matter what happens, it&rsquo;s going to be good. On the other end of the continuum was Jeff Cull, who said, &quot;All these people that are on [the forums], they&rsquo;re crazy... There&rsquo;s no credibility... It&rsquo;s not even worth wasting our time with.&quot;</p>
</blockquote>
<p>&ldquo;That was a big struggle,&rdquo; Warren continues. The issue was &ldquo;not just &lsquo;do I have the manpower to do this?&rsquo; but &lsquo;can I motivate a reporter to do this?&rsquo;&rdquo; Contributing to the strain was the fact that Warren was significantly younger than Cull, a veteran investigative reporter. After a tense exchange, Warren asked Cull to concentrate on blueprints and project specifications, while he and Ruane scoured the forums for promising leads. Cull&rsquo;s responsibility was now to make sure that residents were receiving what MWH had agreed to provide.</p>
<p>Cull&rsquo;s reporting showed that they were, contrary to numerous tips he had received from residents who contacted the paper. &ldquo;People said... &lsquo;When they were putting the utilities in our area, they didn&rsquo;t do what they were supposed to do. There [are] some missing pieces,&rsquo;&rdquo; Cull recalls. He visited several sites, comparing the construction to the blueprints. &ldquo;They were all done according to the drawings,&rdquo; he reports. &ldquo;They were all done according to engineering principles.&rdquo;</p>
<p>Meanwhile, Warren struggled to manage the forums. In addition to reading them himself, he occasionally pulled reporters off other projects and directed them to take a shift. He and other reporters looked for comments that recurred frequently, and used keyword searches to delve more deeply into users&rsquo; reactions to a particular topic. In essence, says Warren, &ldquo;We had to be reporters about what was being reported... We didn&rsquo;t use what was being reported by the audience as verified fact. We used it as a tip sheet.&rdquo;</p>
<p>Warren was encouraged, however, by the scope of reader interest in the investigation. He was also impressed by the independent reporting many were doing. He notes:</p>
<blockquote>
<p>[A poster] might come on and say... &ldquo;I&rsquo;m a forensic accountant, so I&rsquo;m going to look at the spreadsheet, and I&rsquo;m going to tell you where they&rsquo;re fudging the numbers.&rdquo; And other people would say, &ldquo;I&rsquo;m an engineer, and I put a Freedom of Information request in for the architectural drawings of the pipes, and here&rsquo;s what I found.&rdquo;... Here were people with expertise coming forward and asserting themselves and saying, &ldquo;I&rsquo;m part of this. I&rsquo;m going to look.&rdquo;</p>
</blockquote>
<p><i>Listen to Warren describe his reaction to reader contributions.</i><br />
<span class="footnoteslength"><strong>Length:</strong> 56 sec</span><br />
<img border="0" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/newspress/Warren%20stroke%20of%20good%20luck.mp3" class="audiofile" alt="" /></p>
<p>Ruane had a different perspective. &ldquo;A lot of [the posts were] opinions and just general comments,&rdquo; he says. &ldquo;There were threats... [and] somebody searching for girlfriends.&rdquo; He did, however, follow up on reader suggestions of what to investigate. One example was a question that appeared in the forums several times: Did Cape Coral need sewers? Ruane cited a member of City Council who felt that installing sewers throughout Cape Coral was not a priority&mdash;rather, the city urgently needed drinking water infrastructure, and could install sewers at a later date.</p>
<p>Some other intriguing questions appeared as well. How much would it cost for the city to withdraw from its contract with MWH and start over? What was included in the hourly rates MWH charged? Would the cost of coffee provided for MWH employees go up once Cape Coral&rsquo;s first Starbucks was built? Ruane incorporated some such questions into his coverage, but few of them inspired full stories of their own.</p>
<p>In general, Ruane found the forum system &ldquo;bulky and inefficient.&rdquo; &ldquo;Posters should be required to state their specific question or situation... without going into lengthy dissertations and opinion pieces,&rdquo; he wrote in a memo after monitoring the forums about an hour a day for a week.</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_20_id_226_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;The Onslaught</a>

<a href="case_id_20_id_228_pid_0.html" class="page-next" title="Go to next page">Transparency&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_20_id_48_c_bio.html">Jeff&nbsp;Cull</a></li>

<li class="leaf"><a  href="case_id_20_id_49_c_bio.html">Tom&nbsp;Hayden</a></li>

<li class="leaf"><a  href="case_id_20_id_50_c_bio.html">Carol&nbsp;Hudler</a></li>

<li class="leaf"><a  href="case_id_20_id_51_c_bio.html">Kate&nbsp;Marymont</a></li>

<li class="leaf"><a  href="case_id_20_id_52_c_bio.html">Cindy&nbsp;McCurry-Ross</a></li>

<li class="leaf"><a  href="case_id_20_id_53_c_bio.html">Don&nbsp;Ruane</a></li>

<li class="leaf"><a  href="case_id_20_id_54_c_bio.html">Mackenzie &nbsp;Warren</a></li>

<li class="leaf"><a  href="case_id_20_id_55_c_bio.html">Betty&nbsp;Wells</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
