<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Story goes to press | When the story is us: Miami Herald, Nuevo Herald and Radio Martí
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #bd3c00;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #bd3c00;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/43/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_43.html" title="Home">
         <span>
          Story goes to press
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_43.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_466.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_467.html">
          The two
          <i>
           Herald
          </i>
          s—brief history
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_468.html">
          Castañeda era
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_469.html">
          Separate cultures
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_470.html">
          Corral's series
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_471.html">
          Timing?  Competition?
         </a>
        </li>
        <li class="collapsed">
         <a href="case_id_43_id_472.html">
          Notification—Sept. 7
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_43_id_473.html">
          Story goes to press
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_474.html">
          Widespread reaction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_475.html">
          <i>
           Nuevo Herald
          </i>
          campaign
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_476.html">
          McClatchy meets Miami
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_477.html">
          Hiassen episode
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_478.html">
          The view from Sacramento
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_479.html">
          Visit to Miami
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/43/Miami Herald Nuevo Herald and Radio Marti_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_43.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Story goes to press
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <link href="file:///C:%5CDOCUME%7E1%5Ckol2101.JRN%5CLOCALS%7E1%5CTemp%5Cmsohtml1%5C01%5Cclip_filelist.xml" rel="File-List"/>
        </p>
        <p>
         Corral continued to write and revise his story until 6 p.m. on Thursday, September 7. It was what Corral terms a “nosebleed story, which is when you’re working on a story and you have six people behind you. So if you lift your head, they all get their noses busted.” At 6, the story moved out of his hands and went to a series of editors: Garcia, Managing Editor David Wilson, and Fiedler. “In fact, in my eight years at the Herald I had never seen an editor so involved in a story,” Corral says of Fiedler. When Corral next saw the copy, it was around 10 p.m.. “I was surprised they had cut it so much,” he says. “It became a space issue… It was also written in a different way when I turned it in… more nuanced.”
        </p>
        <p>
         The story had been cut by 10 column inches. Among the items removed were the names of the ethics experts Corral quoted. Also gone was reference to a 2002
         <i>
          Miami Herald
         </i>
         story that mentioned Olga Connor worked for Radio Martí.
         <a href="#_ftn1" name="_ftnref1" title="">
          <span>
           <span>
            <span>
             [1]
            </span>
           </span>
          </span>
         </a>
         Fiedler explains that “it wasn’t news earlier [in 2002, because] we hadn’t paid much attention to it back then. But when we realized the magnitude of what had happened... that just really put it up at a different level.” The fact that Alfonso had earned $175,000 drew special attention.
        </p>
        <p>
         Fiedler acknowledges that there was discussion about whether it was right to lump together Alfonso with people who had earned far less. But editors decided to treat all the reporters as a single group. “Once you start saying OK, do we draw a line and say if you got this much, then we’ll put you in, but if you got only that much, we’ll leave you out. That’s a slippery slope,” says Fiedler.
        </p>
        <blockquote>
         <p>
          When you start trying to slice and dice about how much does it cost to influence someone, everybody’s price tag may be different. So in general, journalists will tell you, you don’t take a nickel… If somebody writes you a check, and it comes from the US government, you don’t do it. You just say no.
         </p>
        </blockquote>
        <p>
         Meanwhile, Managing Editor Liza Gross brought Corral for his review a secondary story featuring the comments collected by the team that afternoon from each of the reporters named in the story. A headshot of each accompanied the sidebar. “She asked me, are these the people?,” recalls Corral. As Corral remembers the editorial process:
        </p>
        <blockquote>
         <p>
          There was confusion. There was debate. There was disagreement. But in the end we published something that was accurate, and that I do verify… You had a series of very smart, very committed journalists all trying to strike the right tone with a very controversial story.
         </p>
        </blockquote>
        <p>
         <b>
          <i>
           Page One.
          </i>
         </b>
         <i>
         </i>
         At the 4 p.m. afternoon editorial meeting, the story retained its proposed position on Page One. The decision to run it in such a visible location, says Fiedler, was his:
        </p>
        <blockquote>
         <p>
          If we had played that story somewhere other than prominently on Page One, we would have had critics who would say we were trying to cover it up… I figured if we’re going to do this, if it involved
          <i>
           El Nuevo Herald
          </i>
          , we can’t win on this. We’re going to be hit no matter what we do, so we might as well at least take away the argument that we tried to soft pedal it.
         </p>
        </blockquote>
        <p>
         Fiedler also argues that, while the possible competition from the
         <i>
          Chicago Tribune
         </i>
         accelerated the reporting somewhat, “I think we felt that the story we had was solid.” He regrets that the story included no comment from the
         <i>
          Nuevo Herald
         </i>
         reporters. But he is confident that nothing they could have said would have disproven the story or stopped its publication. “We knew to the dollar the money that they had collected…. Whether they had permission or not didn’t make it right ethically, and that’s what we were really writing about: that this is US government policy to, in effect, compromise journalists,” he says.
        </p>
        <p>
         <b>
          <i>
           The story
          </i>
          .
         </b>
         The first edition copy was ready to go by about 10 p.m. The final deadline could slide as late as 12:50 a.m., but on this night the paper closed about 10:30 p.m. The
         <a class="extlink" href="http://www.commondreams.org/headlines06/0908-12.htm" target="_blank">
          story
         </a>
         was on Page One. The headline read: “10 Miami Journalists Take U.S. Pay.” The lede said:
        </p>
        <blockquote>
         <p>
          At least 10 South Florida journalists, including three from
          <i>
           El Nuevo Heral
          </i>
          <i>
           d
          </i>
          , received regular payments from the U.S. government for programs on Radio Martí and TV Martí, two broadcasters aimed at undermining the communist government of Fidel Castro. The payments totaled thousands of dollars over several years.
         </p>
        </blockquote>
        <p>
         In the third paragraph, Corral wrote: “Alfonso and Cancio were dismissed after The Miami Herald questioned editors at El Nuevo Herald about the payments. Connor’s freelance relationship with the newspaper also was severed.” The story cited no comment from two of the three, and said reporters had been unable to locate Connor (she had been in the HR office, getting her dismissal). Díaz, however, was on the record, saying:
        </p>
        <blockquote>
         <p>
          Even the appearance that your objectivity or integrity might have been impaired is something we can’t condone, not in our business. I personally don’t believe that integrity and objectivity can be assured if any of our reporters receive monetary compensation from any entity that he or she may cover or have covered, but particularly if it’s a government agency.
         </p>
        </blockquote>
        <p>
         The article also quoted Castelló: “I lament very much that I had not been informed before by them” about the payments. Ivan Roman, executive director of the National Association of Hispanic Journalists, deplored the journalists’ conflict of interest in accepting money for reports to Cuba while reporting on Cuba to the US: “It’s definitely a line that journalists shouldn’t be crossing.” A sidebar on Page Two included headshots of 10 of the 11 named journalists, as well as comments from those who had spoken on the record.
        </p>
        <div>
         <br clear="all"/>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <div>
           <span style="font-size: smaller;">
            <a href="#_ftnref1" name="_ftn1" title="">
             [1]
            </a>
           </span>
           <span style="font-size: x-small;">
            <a href="#_ftnref1" name="_ftn1" title="">
            </a>
           </span>
           <span style="font-size: smaller;">
            Editors did not learn until later that a second story in
            <i>
             Nuevo Herald,
            </i>
            in September 2002, made it clear that Alfonso was a Radio/TV Martí regular.
           </span>
          </div>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_43_id_502_pid_472.html" title="Go to previous page">
          « Cancio's account
         </a>
         <a class="page-next" href="case_id_43_id_474.html" title="Go to next page">
          Widespread reaction »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_43_id_125_c_bio.html">
         Alberto Ibargüen
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_126_c_bio.html">
         Humberto Castelló
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_127_c_bio.html">
         Howard Weaver
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_128_c_bio.html">
         Oscar Corral
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_129_c_bio.html">
         Wilfredo Cancio Isla
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_130_c_bio.html">
         Tom Fiedler
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
