<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Timing? Competition? | When the story is us: Miami Herald, Nuevo Herald and Radio Martí
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #bd3c00;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #bd3c00;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/43/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_43.html" title="Home">
         <span>
          Timing? Competition?
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_43.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_466.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_467.html">
          The two
          <i>
           Herald
          </i>
          s—brief history
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_468.html">
          Castañeda era
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_469.html">
          Separate cultures
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_470.html">
          Corral's series
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_43_id_471.html">
          Timing?  Competition?
         </a>
        </li>
        <li class="collapsed">
         <a href="case_id_43_id_472.html">
          Notification—Sept. 7
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_473.html">
          Story goes to press
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_474.html">
          Widespread reaction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_475.html">
          <i>
           Nuevo Herald
          </i>
          campaign
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_476.html">
          McClatchy meets Miami
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_477.html">
          Hiassen episode
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_478.html">
          The view from Sacramento
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_43_id_479.html">
          Visit to Miami
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/43/Miami Herald Nuevo Herald and Radio Marti_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_43.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Timing? Competition?
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <link href="file:///C:%5CDOCUME%7E1%5Ckol2101.JRN%5CLOCALS%7E1%5CTemp%5Cmsohtml1%5C01%5Cclip_filelist.xml" rel="File-List"/>
        </p>
        <p>
         Meanwhile, Corral learned from two independent sources—and had it confirmed by Office of Cuba Broadcasting Director Pedro Roig—that the
         <i>
          Chicago Tribune
         </i>
         had requested the identical records from BBG. Corral did not know why the
         <i>
          Tribune
         </i>
         wanted them, but the fact of the request was worrying: the Tribune Company also owned the South Florida
         <i>
          Sun-Sentinel
         </i>
         , the
         <i>
          Miami Herald
         </i>
         ’s closest competitor. Corral had imagined that the Radio/TV Martí piece would run second or third in the series he planned. But when he told his editors about the
         <i>
          Chicago Tribune
         </i>
         request, they asked him instead—because of the threat that the
         <i>
          Tribune
         </i>
         might have the same story—to make it the first article. “I can’t just kick this under the rug. I know that there are another set of independent journalistic guys looking at this. So I can’t just pretend it’s not there,” Corral recalls thinking.
        </p>
        <p>
         Corral consulted daily with Assistant City Editor Marquez, and regularly with Metro Editor Garcia. Garcia pressed him to determine how serious a problem this was. Did these payments constitute a conflict of interest? Were they unusual? Corral called some 12-14 journalism ethics specialists and, he says, “they all agreed that this was a serious ethical breach.” Had the journalists publicly disclosed their Radio/TV Martí work, that could have lessened the offense. But “we didn’t find any instances of disclosure from any of the journalists,” says Corral. Two of the experts, in fact, compared these payments to those (made public in 2005) which the Bush Administration had paid TV personality Armstrong Williams to promote the No Child Left Behind education law. Those payments had caused widespread public anger at government manipulation, even bribery, of the media.
        </p>
        <p>
         By early September 2006, the story was coming together. Among the 10 or so journalists whose names appeared repeatedly in the BBG lists were three at
         <i>
          El Nuevo Herald
         </i>
         . One was Pablo Alfonso, a columnist on Cuban affairs who had spent eight years in Cuban prison for publishing an underground newsletter. The records showed that Alfonso had earned $175,000 over five years for appearances on Radio and TV Martí. The second was Wilfredo Cancio Isla, who commented on Cuban political, social and economic affairs for Martí, and had received $15,000 since 2001. Third was Olga Connor, a freelancer who covered cultural affairs, especially music. She had been paid $71,000. There were other
         <i>
          Nuevo Herald
         </i>
         names as well, individuals who had received less money for more sporadic work, but Corral had not had time to investigate all of them. Reporters earned from $75-$100 per appearance.
        </p>
        <p>
         <b>
          <i>
           Higher levels
          </i>
          .
         </b>
         In late August or early September, Garcia and Marquez took the story to
         <i>
          Miami Herald
         </i>
         Editor Tom Fiedler to let him know that it was in the works. They also told him about the
         <i>
          Chicago Tribune
         </i>
         records request. Fiedler says he was not normally involved in a story as it developed. He did attend the afternoon Page One meeting most days to stay abreast of what would appear in the paper the following day. “My standing order was I don’t want to be surprised,” says Fiedler, both for his own sake, and so he could alert the publisher to anything atypical. “It wouldn’t be unusual that I wouldn’t learn of a story until it was very close to publication.”
        </p>
        <p>
         Fiedler realized that the Radio/TV Martí story would be controversial as soon as he heard of it. But he was not aware
         <i>
          El Nuevo
         </i>
         staff were involved until close to publication. That only made it worse. Fiedler briefly considered whether it would be worth running the story:
        </p>
        <blockquote>
         <p>
          I knew once this is out there, you can’t put Pandora back in the box. I knew that we either do the story, or we don’t. And if we do the story, it’s going to be the start of the [beat up on] Tom wars.
         </p>
        </blockquote>
        <p>
         But he knew the story could not be held. Not least of his worries was that the
         <i>
          Tribune
         </i>
         would publish first, making it look as though the
         <i>
          Miami Herald
         </i>
         was covering for its own. To prevent leaks, Fiedler asked Corral not to contact any of the implicated journalists at
         <i>
          El Nuevo Herald
         </i>
         until the
         <i>
          Miami Herald
         </i>
         could make a formal approach. Fiedler says he insisted that “every one of the people involved had to be contacted. They had to have an opportunity to know we weren’t going to surprise them by putting something in the paper that they hadn’t had a chance to comment on. That was just kind of a standing order.” They did not, however, have to be contacted too far in advance. “I thought that Fiedler made the right call,” says Corral. “They were no longer kind of colleagues, they were part of a story I was working on, an investigative story.”
        </p>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_43_id_470.html" title="Go to previous page">
          « Corral's series
         </a>
         <a class="page-next" href="case_id_43_id_472.html" title="Go to next page">
          Notification—Sept. 7 »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_43_id_125_c_bio.html">
         Alberto Ibargüen
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_126_c_bio.html">
         Humberto Castelló
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_127_c_bio.html">
         Howard Weaver
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_128_c_bio.html">
         Oscar Corral
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_129_c_bio.html">
         Wilfredo Cancio Isla
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_43_id_130_c_bio.html">
         Tom Fiedler
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
