

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>McClatchy meets Miami | When the story is us: Miami Herald, Nuevo Herald and Radio Mart&iacute;
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #bd3c00;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #bd3c00;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/43/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_43.html" title="Home"><span>McClatchy meets Miami</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_43_id_465.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_43_id_466.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_43_id_467.html">The two <i>Herald</i>s&#8212;brief history</a>





</li>


<li class="leaf"><a  href="case_id_43_id_468.html">Castañeda era</a>





</li>


<li class="leaf"><a  href="case_id_43_id_469.html">Separate cultures</a>





</li>


<li class="leaf"><a  href="case_id_43_id_470.html">Corral's series</a>





</li>


<li class="leaf"><a  href="case_id_43_id_471.html">Timing?  Competition?</a>





</li>


<li class="collapsed"><a  href="case_id_43_id_472.html">Notification&#8212;Sept. 7</a>





</li>


<li class="leaf"><a  href="case_id_43_id_473.html">Story goes to press</a>





</li>


<li class="leaf"><a  href="case_id_43_id_474.html">Widespread reaction</a>





</li>


<li class="leaf"><a  href="case_id_43_id_475.html"><i>Nuevo Herald</i> campaign</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_43_id_476.html">McClatchy meets Miami</a>





</li>


<li class="leaf"><a  href="case_id_43_id_477.html">Hiassen episode</a>





</li>


<li class="leaf"><a  href="case_id_43_id_478.html">The view from Sacramento</a>





</li>


<li class="leaf"><a  href="case_id_43_id_479.html">Visit to Miami</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/43/Miami&#32;Herald&#32;Nuevo&#32;Herald&#32;and&#32;Radio&#32;Marti_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_43.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">McClatchy meets Miami</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="ProgId" content="Word.Document">
<meta name="Generator" content="Microsoft Word 11">
<meta name="Originator" content="Microsoft Word 11">
<link rel="File-List" href="file:///C:%5CDOCUME%7E1%5Ckol2101.JRN%5CLOCALS%7E1%5CTemp%5Cmsohtml1%5C01%5Cclip_filelist.xml" /><!--[if gte mso 9]><xml>
 
  Normal
  0
  
  
  false
  false
  false
  
   
   
   
   
   
  
  MicrosoftInternetExplorer4
 
</xml><![endif]--><!--[if gte mso 9]><![endif]--><!--[if !mso]>
<style>
st1\:*{behavior:url(#ieooui) }
</style>
<![endif]--><style type="text/css">
<!--
 /* Font Definitions */
 @font-face
	{
	panose-1:2 4 5 2 5 5 5 3 3 4;}
@font-face
	{"Palatino Linotype";
	panose-1:2 4 5 2 5 5 5 3 3 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;"Palatino Linotype";
	mso-fareast-"Times New Roman";
	mso-bidi-"Times New Roman";}
span.MsoFootnoteReference
	{"Palatino Linotype";
	mso-ascii-"Palatino Linotype";
	mso-hansi-"Palatino Linotype";
	position:relative;
	top:-3.0pt;
	text-decoration:none;
	text-line-through:none;
	vertical-align:super;}
p.blockquote, li.blockquote, div.blockquote
	{mso-style-name:"block quote";
	margin-top:6.0pt;
	margin-right:.75in;
	margin-bottom:0in;
	margin-left:.75in;
	margin-bottom:.0001pt;
	text-align:justify;
	line-height:15.0pt;
	font-size:10.0pt;"Palatino Linotype";
	mso-fareast-"Times New Roman";
	mso-bidi-"Times New Roman";}
p.final, li.final, div.final
	{
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:.5in;
	line-height:15.0pt;
	font-size:10.0pt;"Palatino Linotype";
	mso-fareast-"Times New Roman";
	mso-bidi-"Times New Roman";}
p.footnote2, li.footnote2, div.footnote2
	{mso-style-name:"footnote 2";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:22.0pt;
	margin-bottom:.0001pt;
	text-indent:-22.0pt;
	font-size:9.0pt;"Times New Roman";
	mso-fareast-"Times New Roman";}
 /* Page Definitions */
 @page
	{"file:///C:/DOCUME~1/kol2101.JRN/LOCALS~1/Temp/msohtml1/01/clip_header.htm") fs;"file:///C:/DOCUME~1/kol2101.JRN/LOCALS~1/Temp/msohtml1/01/clip_header.htm") fcs;"file:///C:/DOCUME~1/kol2101.JRN/LOCALS~1/Temp/msohtml1/01/clip_header.htm") es;"file:///C:/DOCUME~1/kol2101.JRN/LOCALS~1/Temp/msohtml1/01/clip_header.htm") ecs;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;}
div.Section1
	{page:Section1;}
-->
</style><!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-style-parent:"";
	font-size:10.0pt;"Times New Roman";}
</style>
<![endif]-->                                             </meta>
</meta>
</meta>
</meta>
</p>
<p>The first the McClatchy Company&mdash;which had acquired the Miami Herald Media Company only three months earlier&mdash;knew of the firestorm at its premier property was after TMH published Corral&rsquo;s article. McClatchy had owned newspapers as far back as 1857, when James McClatchy helped found the <i>Sacramento Bee</i> in California. The company went public in 1988 and expanded steadily, buying properties in the Carolinas and Minnesota. It prided itself on being a public service journalism company. On June 27, 2006, McClatchy acquired the respected Knight-Ridder newspaper chain.<a href="case_id_43_id_476_pid_0.html#_ftn1" name="_ftnref1" title=""><span><span><span><span>[1]</span></span></span></span></a></p>
<div style="padding: 10px; float: right;"><img alt="" src="../../files/photos/386/MH&#32;bldng.jpg" /><br />
<p class="caption"><i>Miami</i> and <i>Nuevo Herald</i> building</p>
</div>
<p>Even with the acquisition, the senior executive team remained small: only eight people. Reporting directly to CEO Gary Pruitt were two vice presidents of operations, a chief financial officer, a general counsel, a vice president for interactive, a vice president for human resources (HR), and a vice president for news. On June 28, McClatchy executives started visits to their new papers with a trip to the Miami Herald and El Nuevo Herald. In a conference room, CEO Pruitt and Vice President-News <a href="case_id_43_id_127_c_bio.html">Howard Weaver</a> addressed the staffs of both papers. Nuevo Herald editor Castell&oacute; remembers the day:</p>
<blockquote>
<p>In that meeting, they said &quot;McClatchy Company policy is this: you have to manage your institution as if you were the owners. You should do what you consider is correct and good for your company.&quot; Then I said to myself, I will do what I think is good for my company, in my newsroom.</p>
</blockquote>
<p><b><i>Howard Weaver.</i></b> In 2006, McClatchy&rsquo;s vice president for news was a veteran journalist. Weaver had led his hometown paper, the Anchorage Daily News, to two Pulitzers, one in 1976 (when he was 25) and the second in 1989, when he was editor. The News was a McClatchy paper, and the corporation tapped Weaver as a new media expert in 1995. He subsequently became editorial page editor for the Bee, and in 2001 returned to headquarters as vice president-news. Editors at McClatchy papers did not report to him, but they did talk to him. Weaver characterizes his job as &ldquo;part quality control and part evangelism.&rdquo;<a href="case_id_43_id_476_pid_0.html#_ftn2" name="_ftnref2" title=""></a><a href="case_id_43_id_476_pid_0.html#_ftn2" name="_ftnref2" title=""><span><span><span><span>[2]</span></span></span></span></a></p>
<blockquote>
<p>Your job is to explain the corporation to the editors, and explain the editors to the corporation&hellip; I became the champion of journalistic values in the company.</p>
</blockquote>
<p>He did not expect to hear from individual newspapers about stories they covered. &ldquo;Once in a while I would hear from editors in advance just to say, &lsquo;I want to give you a heads-up that we&rsquo;re doing this thing and it&rsquo;s going to be controversial.&rsquo; But usually not even that&hellip; They didn&rsquo;t ask permission. We didn&rsquo;t clear things.&rdquo; Weaver recalls that when McClatchy acquired the Miami Herald Media Company, it knew little about the two newsrooms. &ldquo;We have a traditional policy of lots of local autonomy at our papers, so we didn&rsquo;t anticipate a great deal of needing to know the intricacies of balance between the two newsrooms, or the two communities, or anything like that,&rdquo; he notes. Weaver himself had never been to Miami until he visited with Pruitt.</p>
<p>Weaver called ENH Editor Castell&oacute; on the Monday morning after the Corral story ran. Weaver called because &ldquo;there were immediate repercussions in the sense of community concern, grousing within the building, hurt feelings.&rdquo; Unfortunately, Castell&oacute; could not take the call because his mother had had a heart attack, and he was with her in the hospital. A couple of days later, Weaver emailed Castell&oacute; with good wishes for his mother, and asked him to return the phone call only when he was able. &ldquo;A very candid, and very good person,&rdquo; Castell&oacute; terms Weaver.</p>
<p>Weaver also contacted Fiedler: &ldquo;I was trying to talk to them as quickly as I could&hellip; [to say] &lsquo;I want to find out about this. This is blowing up. What&rsquo;s happening?&rsquo;&rdquo; While he had experienced no exact parallel situation, Weaver was an old hand at stories that caused advertisers or readers to cancel. &ldquo;I understand that when there&rsquo;s a big community blowup over something, you need to get your ducks in a row,&rdquo; he says, to determine &ldquo;was it journalistically sound?&rdquo;</p>
<blockquote>
<p>That&rsquo;s what I started out to do, to get my arms around the thing so I could presumably defend the editorial integrity in the process: Yes, it was a legitimate story. Yes, we got the facts right.</p>
</blockquote>
<p><i><i>Listen to Weaver on the process he followed.</i><br />
<img border="0" src="../../files/audios/101/Weaver&#32;text.mp3" class="audiofile" alt="" /></i></p>
<p>After his inquiries, Weaver was satisfied with the journalism. &ldquo;Do I think it was a newsworthy story?&rdquo; he says. &ldquo;Yes. Do I think the fact that it was their sister publication should have stopped them? No, I don&rsquo;t.&rdquo; While he might have handled parts of the publication process differently, he adds, &ldquo;I&rsquo;m not in the second-guessing business, because I&rsquo;ve been an editor and I know how many decisions you make quickly, and these are all good people as near as I can tell. Certainly Tom [Fiedler] and Humberto [Castell&oacute;] whom I know best out of this group are both fine people.&rdquo;</p>
<p>For his part, Weaver expected the distress to subside: &ldquo;When I heard about this for the first time, I presumed that the kind of factual and procedural things would work out&hellip; I thought we had some time.&rdquo; He adds that &ldquo;it was not an unusual situation for somebody to be pissed off at a story that appeared in one of our papers. That happened all the time. This time, it just happened to be people that worked for us.&rdquo; After 40 years in the journalism business, Weaver thought he knew the process.</p>
<blockquote>
<p>I&rsquo;d been through a lot of firestorms. Created a few of them, and been through some others as a leader. So I felt confident that we would be able to get in there, sort out what the right and wrong was in the journalism to make a decision about whether it was fair, and what the next steps were.</p>
</blockquote>
<p>He did not anticipate that a second firestorm would erupt within a week.</p>
<div><i><br clear="all" />
</i><hr width="33%" size="1" align="left" />
<div id="ftn1">
<p><span style="font-size: smaller;"><a href="case_id_43_id_476_pid_0.html#_ftnref1" name="_ftn1" title="">[1]</a></span><span style="font-size: x-small;"><a href="case_id_43_id_476_pid_0.html#_ftnref1" name="_ftn1" title=""></a></span><span style="font-size: smaller;">        The Knight Ridder purchase made McClatchy briefly the second largest newspaper publisher in the US, but it quickly sold 12 of the 32 daily newspapers.</span></p>
</div>
<div id="ftn2">
<p><span style="font-size: smaller;"><a href="case_id_43_id_476_pid_0.html#_ftnref2" name="_ftn2" title="">[2]</a></span><span style="font-size: x-small;"><a href="case_id_43_id_476_pid_0.html#_ftnref2" name="_ftn2" title=""></a></span><span style="font-size: smaller;">        Author&rsquo;s interview with Howard Weaver. April 27, 2009, in New York   City. All further quotes from Weaver, unless otherwise attributed, are from this interview.</span></p>
</div>
</div>
<p><i> </i></p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_43_id_475_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;<i>Nuevo Herald</i> campaign</a>

<a href="case_id_43_id_477_pid_0.html" class="page-next" title="Go to next page">Hiassen episode&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_43_id_125_c_bio.html">Alberto&nbsp;Ibargüen</a></li>

<li class="leaf"><a  href="case_id_43_id_126_c_bio.html">Humberto&nbsp;Castelló</a></li>

<li class="leaf"><a  href="case_id_43_id_127_c_bio.html">Howard&nbsp;Weaver</a></li>

<li class="leaf"><a  href="case_id_43_id_128_c_bio.html">Oscar&nbsp;Corral</a></li>

<li class="leaf"><a  href="case_id_43_id_129_c_bio.html">Wilfredo&nbsp;Cancio Isla</a></li>

<li class="leaf"><a  href="case_id_43_id_130_c_bio.html">Tom&nbsp;Fiedler</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
