

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Janet McNichols | Digital Deadline: The St. Louis Post-Dispatch and the Kirkwood Shooting
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #c91e1e;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #c91e1e;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/29/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_29.html" title="Home"><span>Janet McNichols</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_29.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_29_id_320.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_29_id_321.html">The St. Louis <i>Post-Dispatch</i></a>





</li>


<li class="leaf"><a  href="case_id_29_id_322.html">Sale to Lee Enterprises</a>





</li>


<li class="leaf"><a  href="case_id_29_id_323.html">Becoming Web-first</a>





</li>


<li class="leaf"><a  href="case_id_29_id_324.html">Trouble in Kirkwood</a>





</li>


<li class="leaf"><a  href="case_id_29_id_325.html">Race to the Web</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_29_id_326.html">Janet McNichols</a>





</li>


<li class="leaf"><a  href="case_id_29_id_327.html">What to Write</a>





</li>


<li class="leaf"><a  href="case_id_29_id_328.html">Outside the Newsroom</a>





</li>


<li class="leaf"><a  href="case_id_29_id_329.html">Maples and McNichols</a>





</li>


<li class="leaf"><a  href="case_id_29_id_330.html">In the Cold</a>





</li>


<li class="leaf"><a  href="case_id_29_id_331.html">First Edition</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/29/St&#32;Louis&#32;Post&#32;Dispatch&#32;and&#32;the&#32;Kirkwood&#32;Shooting_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_29.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Janet McNichols</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>Eisenhauer had reached McNichols, who was unhurt and sounded quite calm&mdash;so calm that Eisenhauer feared she was in shock. McNichols was still in City Hall, in a side room into which police had ushered the witnesses from the crime scene. She was waiting to give her report to the police. She explained that she had tried to call her daughter, but had forgotten how to operate her phone. She had wanted to call the <i>Post-Dispatch</i> as well but, she recalls: &ldquo;I couldn&rsquo;t handle that either.&rdquo;<a href="case_id_29_id_326.html#_ftn1" name="_ftnref1" title=""><span><span><span><span>[1]</span></span></span></span></a></p>
<p>&ldquo;She picked up right away,&rdquo; says <a href="case_id_29_id_87_c_bio.html">Eisenhauer</a>. &ldquo;I said, are you at the Kirkwood City Council Meeting? Yes. Did a bunch of people just get shot there? Yes.&rdquo;<a href="case_id_29_id_326.html#_ftn2" name="_ftnref2" title=""><span><span><span><span>[2]</span></span></span></span></a> Eisenhauer passed the phone to Jonsson, who asked McNichols what had happened. McNichols recollected the events she had witnessed as best she could. The meeting had just begun, she recounted, and she heard someone charge through the front doors, shouting&mdash;in a voice she recognized immediately&mdash;about shooting the mayor.</p>
<div style="padding: 10px; float: right;"><img src="../../files/photos/297/cookie_thornton.inline.jpg" alt="" /><br />
<p class="caption">Charles Lee &quot;Cookie&quot; Thornton</p>
</div>
<p>That voice belonged to Charles Lee Thornton, a man known around the neighborhood as Cookie. In her years covering Kirkwood, McNichols had become well-acquainted with Thornton, a frequent and contentious presence at City Council meetings. Thornton owed the city thousands of dollars in parking tickets from his asphalt and demolition business, charges that he thought were unfounded and racially motivated. He had sued the city numerous times for reprieve, and had two weeks earlier lost his latest legal battle with Kirkwood. &ldquo;I knew who he was the minute I heard that voice,&rdquo; McNichols says. &ldquo;He came to Council meetings all the time and yelled and carried on.&rdquo;</p>
<p>McNichols had been in the second row of the meeting room, and Thornton had come in from behind her. She did not turn to see him but watched in horror as Officer Tom Ballman, a Kirkwood police officer she held in high regard, reached for his weapon and was immediately shot in the head. In the row directly in front of her an instant later, Kirkwood Public Works Director Ken Yost crumpled to the floor, also shot. McNichols only heard the rest as she took cover under her chair. Along with the sound of gunfire, she heard Yost struggle to breathe as she waited in fear that Thornton would get her next. She heard the shooter approach the dais where the Council sat, then heard more shots fired but did not see the other victims. Moments later, the police came in shooting, soon afterwards announcing that Thornton was down. &ldquo;It probably didn&rsquo;t take more than about a minute and a half,&rdquo; recalls McNichols. &ldquo;It was over pretty quick.&rdquo;</p>
<p>Step by step, Jonsson coaxed as many details as he could from a still confused and shaken McNichols. He asked whether the shooter was already in the meeting or had come in from outside. McNichols said that Thornton had entered after the meeting began. He asked if she had seen people shot, and she confirmed Officer Ballman and Public Works Director Yost, but was unsure who the other victims were. She had known by the way Thornton was shouting that he intended to shoot the mayor. But as she left the meeting room, she was afraid to look back. She did not want to see acquaintances and friends of hers lying dead or injured on the floor. &ldquo;There were a lot of things that were unclear at that point, but [I was] just trying to run her through,&rdquo; Jonsson recalls. &ldquo;She didn&rsquo;t know the answers to everything because she was in a situation where gunshots were flying, so she pretty rapidly was not a reporter anymore and was just a person.&rdquo;</p>
<p>Jonsson had finished asking his questions, and McNichols had a few minutes to spare before she had to give her report to police. So Jonsson ran through his list of questions again, in case she remembered new details or changed others. He was trying, he says, to establish &ldquo;the category of things we don&rsquo;t know&hellip; the category of things we know&hellip; [and] the category of things we believe, based on what evidence.&rdquo; He continues:</p>
<blockquote>
<p>It&rsquo;s just hard to divide, sometimes, between what people know and what they&rsquo;re assuming. So I just wanted to make sure we weren&rsquo;t making any assumptions that would maybe go beyond what she&rsquo;d actually seen.</p>
</blockquote>
<p><span class="audioprompt"><i>Listen to Jonsson on interviewing McNichols.</i></span><span class="footnoteslength"><b>Length:</b> 1 min 50 sec</span><br />
<i><img border="0" class="audiofile" src="../../files/audios/54/Greg&#32;Jonsson&#32;on&#32;interviewing&#32;McNichols.mp3" alt="" /></i></p>
<div><i><br clear="all" />
</i><hr width="33%" size="1" align="left" />
<div id="ftn1">
<p><span style="font-size: smaller;"><a href="case_id_29_id_326.html#_ftnref1" name="_ftn1" title="">[1]</a>        Author&rsquo;s interview with Janet McNichols, on June 25, 2008, in St.   Louis, Missouri. All further quotes from McNichols, unless otherwise attributed, are from this interview.</span></p>
</div>
<div id="ftn2">
<p><a href="case_id_29_id_326.html#_ftnref2" name="_ftn2" title=""></a><span style="font-size: smaller;"><a href="case_id_29_id_326.html#_ftnref2" name="_ftn2" title="">[2]</a>        Author&rsquo;s interview with Lisa Eisenhauer, on June 24, 2008, in St.   Louis, Missouri. All further quotes from Eisenhauer, unless otherwise attributed, are from this interview.</span></p>
</div>
</div>
<p>&nbsp;</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_29_id_325.html" class="page-previous" title="Go to previous page">&#171;&#160;Race to the Web</a>

<a href="case_id_29_id_327.html" class="page-next" title="Go to next page">What to Write&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_29_id_86_c_bio.html">Stephen&nbsp;Deere</a></li>

<li class="leaf"><a  href="case_id_29_id_87_c_bio.html">Lisa&nbsp;Eisenhauer</a></li>

<li class="leaf"><a  href="case_id_29_id_88_c_bio.html">Patrick&nbsp;Gauen</a></li>

<li class="leaf"><a  href="case_id_29_id_89_c_bio.html">Adam&nbsp;Goodman</a></li>

<li class="leaf"><a  href="case_id_29_id_90_c_bio.html">David&nbsp;Hunn</a></li>

<li class="leaf"><a  href="case_id_29_id_91_c_bio.html">Greg&nbsp;Jonsson</a></li>

<li class="leaf"><a  href="case_id_29_id_92_c_bio.html">Pam&nbsp;Maples</a></li>

<li class="leaf"><a  href="case_id_29_id_93_c_bio.html">Janet&nbsp;McNichols</a></li>

<li class="leaf"><a  href="case_id_29_id_94_c_bio.html">Arnie&nbsp;Robbins</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
