

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Biography: Pam Maples | Digital Deadline: The St. Louis Post-Dispatch and the Kirkwood Shooting
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #c91e1e;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #c91e1e;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/29/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_29.html" title="Home"><span>Biography: Pam Maples</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_29_id_319.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_29_id_320.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_29_id_321.html">The St. Louis <i>Post-Dispatch</i></a>





</li>


<li class="leaf"><a  href="case_id_29_id_322.html">Sale to Lee Enterprises</a>





</li>


<li class="leaf"><a  href="case_id_29_id_323.html">Becoming Web-first</a>





</li>


<li class="leaf"><a  href="case_id_29_id_324.html">Trouble in Kirkwood</a>





</li>


<li class="leaf"><a  href="case_id_29_id_325.html">Race to the Web</a>





</li>


<li class="leaf"><a  href="case_id_29_id_326.html">Janet McNichols</a>





</li>


<li class="leaf"><a  href="case_id_29_id_327.html">What to Write</a>





</li>


<li class="leaf"><a  href="case_id_29_id_328.html">Outside the Newsroom</a>





</li>


<li class="leaf"><a  href="case_id_29_id_329.html">Maples and McNichols</a>





</li>


<li class="leaf"><a  href="case_id_29_id_330.html">In the Cold</a>





</li>


<li class="leaf"><a  href="case_id_29_id_331.html">First Edition</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/29/St&#32;Louis&#32;Post&#32;Dispatch&#32;and&#32;the&#32;Kirkwood&#32;Shooting_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_29.html">Home</a></div>		
		<h1 class="title">Biography: Pam&nbsp;Maples</h1>		
		
		  <div class="node">        
    <span class="taxonomy"></span>
    <div class="content"><div style='float:left;padding:10px'><img src='../../files/photos/304/bio_maples.jpg'><br></div>
<p>Pam Maples joined the St. Louis <i>Post-Dispatch</i> as managing editor in October 2006 from the Dallas <i>Morning News</i>, where she was assistant managing editor/projects &amp; investigations. During 16 years at the <i>News</i> she held several positions, including deputy political editor and national editor. She also was a member of the reporting team that won the 1994 Pulitzer Prize for International Reporting for a series about violence against women around the world.</p>
<p>Maples was a  Knight Fellow in Journalism at Stanford University in 2005-06. During her fellowship, she experimented with techniques for telling investigative and complex stories across print and online platforms and developed proficiency in multiple interactive tools. Earlier in her career, Pam worked as a reporter and editor at newspapers in Springfield, MO, Albuquerque, NM, and Denver, CO. She has served as a juror for the Pulitzer Prizes. She was a member of Investigative Reporters and Editors, APME, and a past board member of the Journalism and Women's Symposium. Maples grew up in Springfield, MO, and is a graduate of the University of Missouri School of Journalism.</p>
<h3>Audio</h3>
<p><span class="audioprompt"><i>Listen to Maples describe trying to establish a Web-first mentality at the </i>Post-Dispatch<i>.</i></span><span class="footnoteslength"><strong>Length:</strong> 1 min 28 sec</span><br />
<img border="0" alt="" class="audiofile" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/postdispatch/bio_maples.mp3" /></p></div>
      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->

		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_29_id_86_c_bio.html">Stephen&nbsp;Deere</a></li>

<li class="leaf"><a  href="case_id_29_id_87_c_bio.html">Lisa&nbsp;Eisenhauer</a></li>

<li class="leaf"><a  href="case_id_29_id_88_c_bio.html">Patrick&nbsp;Gauen</a></li>

<li class="leaf"><a  href="case_id_29_id_89_c_bio.html">Adam&nbsp;Goodman</a></li>

<li class="leaf"><a  href="case_id_29_id_90_c_bio.html">David&nbsp;Hunn</a></li>

<li class="leaf"><a  href="case_id_29_id_91_c_bio.html">Greg&nbsp;Jonsson</a></li>

<li class="leaf"><a  class="active"  href="case_id_29_id_92_c_bio.html">Pam&nbsp;Maples</a></li>

<li class="leaf"><a  href="case_id_29_id_93_c_bio.html">Janet&nbsp;McNichols</a></li>

<li class="leaf"><a  href="case_id_29_id_94_c_bio.html">Arnie&nbsp;Robbins</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
