<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Becoming Web-first | Digital Deadline: The St. Louis Post-Dispatch and the Kirkwood Shooting
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #c91e1e;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #c91e1e;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/29/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_29.html" title="Home">
         <span>
          Becoming Web-first
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_29.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_320.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_321.html">
          The St. Louis
          <i>
           Post-Dispatch
          </i>
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_322.html">
          Sale to Lee Enterprises
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_29_id_323.html">
          Becoming Web-first
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_324.html">
          Trouble in Kirkwood
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_325.html">
          Race to the Web
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_326.html">
          Janet McNichols
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_327.html">
          What to Write
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_328.html">
          Outside the Newsroom
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_329.html">
          Maples and McNichols
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_330.html">
          In the Cold
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_29_id_331.html">
          First Edition
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/29/St Louis Post Dispatch and the Kirkwood Shooting_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_29.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Becoming Web-first
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <div style="padding: 10px; float: right;">
         <img alt="" src="../../files/photos/294/hornbeck_and_ownby.inline.jpg"/>
         <br/>
         <p class="caption">
          Sean Hornbeck and Ben Ownby
          <br/>
          © STLtoday.com
         </p>
        </div>
        <p>
         The paper was still adjusting to online reality. The staff took advantage of the immediacy of STLtoday.com to update sports scores and breaking news, but the first major story the
         <i>
          Post-Dispatch
         </i>
         covered on its website first broke on the afternoon of January 12, 2007. Public Safety Editor Gauen was at his desk around 4 p.m. when off-duty City Police Reporter Bill Bryan called with a news tip: Police had found a boy who had been kidnapped four days earlier. What’s more, where police had found the abductee, Ben Ownby, they had also found another boy, Sean Hornbeck, who had been missing for five years. Both were being held in a suburban apartment by a pizza store manager named Michael Devlin. Gauen says: “I remember thinking for an instant, he’s kidding. Except a) it’s not funny. And b) Bill never, ever jokes.”
        </p>
        <p>
         Gauen wasn’t sure what to do with the news. It seemed to belong on STLtoday.com, but anything that went out on the Web would have a long half-life—and Gauen was nervous about the reliability of Bryan’s report. Bryan was passing along a tip from an unofficial source. On the face of it, it seemed highly unlikely that the boys were held together. “This would be such a monumental blunder if we’re not [right],” Gauen recalls thinking.
         <a href="case_id_29_id_323.html#_ftn1" name="_ftnref1" title="">
          <span>
           <span>
            <span>
             <span>
              [1]
             </span>
            </span>
           </span>
          </span>
         </a>
         Only after another reporter called with confirmation from the FBI, and television news began to report the story, did Gauen write a breaking news update for STLtoday.com.
        </p>
        <p>
         As the Devlin story evolved,
         <i>
          Post-Dispatch
         </i>
         editors and reporters fell into a pattern of reporting one kind of story on the website, and another in the paper. On the Web, reporters posted and updated frequently. They focused on describing what had happened, from hour to hour or day to day. The print writers went into greater detail, with profiles of the victims, their families, and Devlin’s troubled history. The story immediately drew national attention. It was the first time, says Gauen, that “we were a full competitor for the immediate news against television.”
        </p>
        <p>
         The
         <i>
          Post-Dispatch
         </i>
         ’s coverage of the Devlin story—both in print and online—meshed with Managing Editor Maples’ and Editor Robbins’ vision of the newspaper’s role and continued relevance in an online world. By and large, the print paper no longer focused on breaking news, which other media usually had reported by the time the paper landed on subscribers’ front lawns. Yet
         <a href="case_id_29_id_94_c_bio.html">
          Robbins
         </a>
         was aware he had to strike a delicate balance; he knew the newspaper could not ignore breaking news altogether. The problem, in Robbins’ mind, was “what are we going to say tomorrow on the front page that’s not already out there?” while at the same time serving
         <i>
          Post-Dispatch
         </i>
         readers who did not go online.
         <a href="case_id_29_id_323.html#_ftn2" name="_ftnref2" title="">
          <span>
           <span>
            <span>
             <span>
              [2]
             </span>
            </span>
           </span>
          </span>
         </a>
        </p>
        <p>
         <b>
          <i>
           Adjusting and Experimenting.
          </i>
         </b>
         <i>
         </i>
         Maples pushed her staff to make STLtoday.com a priority. Rather than plan stories for the print paper and only later consider the Web, she says: “[our writers] should be thinking… what do I do with this story right now? … What kind of story is it and what’s the best way to tell it and is that online right now?”
         <a href="case_id_29_id_323.html#_ftn3" name="_ftnref3" title="">
          <span>
           <span>
            <span>
             <span>
              [3]
             </span>
            </span>
           </span>
          </span>
         </a>
        </p>
        <p>
         Maples also wanted to experiment. In 2007, she started looking for a story that would be appropriate to cover by Twitter feed—short text strings of 140 characters or fewer that could be sent via cellular phone text messages or other applications. When a construction project closed miles of a major interstate in January 2008, she felt she had found the ideal story, one that, in her words, “would be of high interest and usefulness to the community and be likely to be developing and changing swiftly.” She wrote of the experiment later:
        </p>
        <blockquote>
         <p>
          We wanted to provide real-time information of an immediate nature that could be posted—or accessed—on the move, using wireless devices. Twitter was ideal because people didn't need, or even want, long or detailed posts to help them navigate the new situation as they were commuting.
          <span>
           <a href="case_id_29_id_323.html#_ftn4" name="_ftnref4" title="">
            <span>
             <span>
              <span>
               [4]
              </span>
             </span>
            </span>
           </a>
          </span>
         </p>
        </blockquote>
        <div style="padding: 10px; float: right;">
         <img alt="" src="../../files/photos/295/twitter_hwy40.thumbnail.jpg"/>
        </div>
        <p>
         Maples was also eager to start a breaking news blog, which she had noticed on other sites. However, she felt that method of delivering news had limitations. It could be difficult to find the narrative in a series of short updates. She explains that during Hurricane Katrina, for example:
        </p>
        <blockquote>
        </blockquote>
        <blockquote>
         <p>
          There were people who were doing both the story and then the blog where all the reporters out in the field were posting in just little updates… The problem with that is you don’t see the whole [story]. You have to wade through all of it to kind of put the pieces together.
         </p>
        </blockquote>
        <blockquote>
        </blockquote>
        <p>
         She felt there must be breaking news stories for which blogging might be appropriate, but had yet to find the right story.
        </p>
        <div>
         <br clear="all"/>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size: smaller;">
            <a href="case_id_29_id_323.html#_ftnref1" name="_ftn1" title="">
             [1]
            </a>
            Gauen’s email to author, October 23, 2008.
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <a href="case_id_29_id_323.html#_ftnref2" name="_ftn2" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_29_id_323.html#_ftnref2" name="_ftn2" title="">
             [2]
            </a>
            Author’s interview with Arnie Robbins, on June 25, 2008, in St.   Louis, Missouri. All further quotes from Robbins, unless otherwise attributed, are from this interview.
           </span>
          </p>
         </div>
         <div id="ftn3">
          <p>
           <a href="case_id_29_id_323.html#_ftnref3" name="_ftn3" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_29_id_323.html#_ftnref3" name="_ftn3" title="">
             [3]
            </a>
            Author’s interview with Pam Maples, on June 26, 2008, in St. Louis,  Missouri. All further quotes from Maples, unless otherwise attributed, are from this interview.
           </span>
          </p>
         </div>
         <div id="ftn4">
          <p>
           <a href="case_id_29_id_323.html#_ftnref4" name="_ftn4" title="">
           </a>
           <span style="font-size: smaller;">
            <a href="case_id_29_id_323.html#_ftnref4" name="_ftn4" title="">
             [4]
            </a>
            Pam Maples, "
            <a href="http://www.lunchoverip.com/2008/01/using-twitter-i.html">
             Using Twitter in news and community reporting: The St. Louis example
            </a>
            ,"
            <i>
             Lunch over IP
            </i>
            [weblog], February 2, 2008.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_29_id_322.html" title="Go to previous page">
          « Sale to Lee Enterprises
         </a>
         <a class="page-next" href="case_id_29_id_324.html" title="Go to next page">
          Trouble in Kirkwood »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_29_id_86_c_bio.html">
         Stephen Deere
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_29_id_87_c_bio.html">
         Lisa Eisenhauer
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_29_id_88_c_bio.html">
         Patrick Gauen
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_29_id_89_c_bio.html">
         Adam Goodman
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_29_id_90_c_bio.html">
         David Hunn
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_29_id_91_c_bio.html">
         Greg Jonsson
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_29_id_92_c_bio.html">
         Pam Maples
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_29_id_93_c_bio.html">
         Janet McNichols
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_29_id_94_c_bio.html">
         Arnie Robbins
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
