

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>AP at War | Worth a Thousand Words: The Associated Press and Lance Corporal Joshua Bernard
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #a31a55;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #a31a55;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/59/ap_knightcase_banner.JPG') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_59.html" title="Home"><span>AP at War</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_59.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_59_id_574.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_59_id_575.html">The Press and the Military</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_59_id_576.html">AP at War</a>





</li>


<li class="leaf"><a  href="case_id_59_id_577.html">The AP in Iraq</a>





</li>


<li class="leaf"><a  href="case_id_59_id_578.html">Afghanistan</a>





</li>


<li class="leaf"><a  href="case_id_59_id_579.html">Ambushed</a>





</li>


<li class="leaf"><a  href="case_id_59_id_580.html">At Headquarters</a>





</li>


<li class="leaf"><a  href="case_id_59_id_581.html">Debate</a>





</li>


<li class="leaf"><a  href="case_id_59_id_582.html">A Request from the Bernards</a>





</li>


<li class="leaf"><a  href="case_id_59_id_583.html">A Phone Call</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/59/Associated&#32;Press&#32;and&#32;Lance&#32;Corporal&#32;Joshua&#32;Bernard_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_59.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">AP at War</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	Covering armed conflict had been central to AP&rsquo;s mission throughout the organization&rsquo;s history. Founded in 1846 as a cooperative allowing five New York newspapers to share the cost of covering the Mexican-American War, the AP had been present with the US military during every major war since.<a href="case_id_59_id_576.html#_ftn1" name="_ftnref1" title="">[1]</a> AP reporter Mark Kellogg had died alongside General Custer&rsquo;s troops at the Battle of Little Bighorn in 1876; AP photographer Joe Rosenthal had taken the celebrated World War II photograph of United States Marines raising the American flag over a Japanese garrison on the island of Iwo Jima. Indeed, 26 of the 31 AP staffers who had died on the job were killed in conflict.</p>
<div style='float:right;padding:10px'><img src='../../files/photos/452/videographer_and_shooter.jpg'><br><p class='caption'>Courtesy U.S. Department of Defense<br></p></div>
<p>
	War coverage was among the most expensive and risky jobs a news organization could take on, and at the turn of the 21<sup>st</sup> century, more and more American newspapers found themselves ill-equipped to shoulder the financial burden of sending reporters and photographers to war zones. Instead, they increasingly turned to organizations like the AP, which maintained a sprawling global staff of more than 3,700 in 300 locations and supplied images, dispatches, and video to news organizations the world over. Those organizations could then choose which AP material to republish in their own venues.</p>
<p>
	At the AP as elsewhere, the Pentagon&rsquo;s new embed policy appeared to hold promise for improved coverage of American troops in combat, particularly for photographers. Explains Associated Press Director of Photography <a href="case_id_59_id_154_c_bio.html">Santiago Lyon</a>, who as a photojournalist had covered wars all over the world, including the 1991 Gulf War:</p>
<blockquote>
	<p>
		The nature of your job requires you to be there on the front line and witness it. It&rsquo;s not like you can pull the pieces together from other people&rsquo;s accounts, as is sometimes the case with print reporters, who through interviewing people who were there can pull together what happened. In the case of a photographer and the videographer, you must be there first hand, and there&rsquo;s no two ways about it.<a href="case_id_59_id_576.html#_ftn2" name="_ftnref2" title="">[2]</a></p>
</blockquote>
<p>
	But with access came compromise, the nature of which the Pentagon articulated in a set of embed guidelines released in February 2003. Embedded journalists would be tied to a specific unit, and not permitted to travel between units as they had in Vietnam. They could not have their own vehicles. Photographers and videographers were prohibited from showing identifiable casualties until the family of the wounded or dead soldier had been notified, nor could they publish identifiable images of detainees. The penalty for violating the guidelines could be loss of embed status.</p>
<p>
	To some, the tradeoffs built into the embed system were not unlike those involved in securing access to any story. Says John Daniszewski, AP vice president and senior managing editor for international news and photos, himself a veteran war correspondent:</p>
<blockquote>
	<p>
		I think it&rsquo;s been sort of a consensus that in order to get access to the news, it&rsquo;s a reasonable requirement of the military that you not do anything that puts military forces in danger. And I think generally, as a sort of yardstick, you don&rsquo;t ever want to report anything that&rsquo;s going to cause someone to be killed or injured&hellip; just as you would not publish the home address or the home number of someone who&rsquo;s being sought out by the mob or something like that. There is some kind of journalistic restraint that&rsquo;s necessary just out of human decency and care for human life.<a href="case_id_59_id_576.html#_ftn3" name="_ftnref3" title="">[3]</a></p>
</blockquote>
<p>
	For its part, the Department of Defense argued that the increased transparency about military operations offered by the embed system was crucial to its own objectives:</p>
<blockquote>
	<p>
		Media coverage of any future operation will, to a large extent, shape public perception of the national security environment now and in the years ahead. This holds true for the U.S. public; the public in allied countries whose opinion can affect the durability of our coalition; and publics in countries where we conduct operations, whose perceptions of us can affect the cost and duration of our involvement&hellip; We need to tell the factual story&mdash;good or bad&mdash;before others seed the media with disinformation and distortions, as they most certainly will continue to do. Our people in the field need to tell our story&mdash;only commanders can ensure the media get to the story alongside the troops.<a href="case_id_59_id_576.html#_ftn4" name="_ftnref4" title="">[4]</a></p>
</blockquote>
<p>
	Qualified support for the effort notwithstanding, there remained skepticism within both military and media quarters that the embed system could yield coverage at once responsible and accurate. General Richard B. Myers, who as chairman of the Joint Chiefs of Staff was the highest-ranking officer in the US armed forces, suggested that an embedded journalist would get only a &ldquo;soda-straw&rdquo; view of the conflict from the narrow perspective of the one unit with which he or she traveled.<a href="case_id_59_id_576.html#_ftn5" name="_ftnref5" title="">[5]</a> Some doubted it was possible to cover war thoroughly no matter what the system. Noted one former war correspondent: &ldquo;The closer you get to war, the less practical it is to write a balanced story. While traveling with a Marine patrol, you can&rsquo;t get comments from Iraqi troops&hellip; It&rsquo;s not journalism at its finest.&rdquo;<a href="case_id_59_id_576.html#_ftn6" name="_ftnref6" title="">[6]</a></p>
<div>
	<br clear="all" />
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size: 11px;"><a href="case_id_59_id_576.html#_ftnref1" name="_ftn1" title="">[1]</a> <a class="extlink" href="http://www.ap.org/pages/about/history/history_first.html" target="_blank">&ldquo;AP History,&rdquo;</a> Associated Press.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size: 11px;"><a href="case_id_59_id_576.html#_ftnref2" name="_ftn2" title="">[2]</a> Author&rsquo;s interview with Santiago Lyon in New York City, on May 10, 2010. All further quotes from Lyon, unless otherwise attributed, are from this interview.</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size: 11px;"><a href="case_id_59_id_576.html#_ftnref3" name="_ftn3" title="">[3]</a> Author&rsquo;s interview with John Daniszewski in New York City, on June 11, 2010. All further quotes from Daniszewski, unless otherwise attributed, are from this interview.</span></p>
	</div>
	<div id="ftn4">
		<p>
			<span style="font-size: 11px;"><a href="case_id_59_id_576.html#_ftnref4" name="_ftn4" title="">[4]</a> Department of Defense, &ldquo;Public Affairs Guidance on Embedding Media During Possible Operations/Deployments in the USCentral Commands (CENTCOM) Area of Responsibility (AOR),&rdquo; February 3, 2009.</span></p>
	</div>
	<div id="ftn5">
		<p>
			<span style="font-size: 11px;"><a href="case_id_59_id_576.html#_ftnref5" name="_ftn5" title="">[5]</a> Council on Foreign Relations, <a class="extlink" href="http://www.cfr.org/publication/6189/embedded_journalists_in_iraq.html?id=6189" target="_blank">&ldquo;Embedded Journalists in Iraq: Reality TV or Desert Mirage?,&rdquo;</a> July 29, 2003. Via Christopher Paul and James J. Kim, <em>Reporters on the Battlefield</em>,&rdquo; Santa Monica, RAND Corporation, 2004, p. 111.&nbsp;&nbsp;</span></p>
	</div>
	<div id="ftn6">
		<p>
			<span style="font-size: 11px;"><a href="case_id_59_id_576.html#_ftnref6" name="_ftn6" title="">[6]</a> <em>Miami Herald</em>&rsquo;s Glenn Garvin, quoted in Jack Shafer, <a class="extlink" href="http://www.slate.com/id/2079703" target="_blank">&ldquo;Full Metal Junket,&rdquo;</a> <em>Slate</em>, March 5, 2003.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_59_id_575.html" class="page-previous" title="Go to previous page">&#171;&#160;The Press and the Military</a>

<a href="case_id_59_id_577.html" class="page-next" title="Go to next page">The AP in Iraq&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_59_id_153_c_bio.html">Julie&nbsp;Jacobson</a></li>

<li class="leaf"><a  href="case_id_59_id_154_c_bio.html">Santiago&nbsp;Lyon</a></li>

<li class="leaf"><a  href="case_id_59_id_155_c_bio.html">John&nbsp;Daniszewski</a></li>

<li class="leaf"><a  href="case_id_59_id_156_c_bio.html">Kathleen&nbsp;Carroll</a></li>

<li class="leaf"><a  href="case_id_59_id_157_c_bio.html">Tom&nbsp;Curley</a></li>

<li class="leaf"><a  href="case_id_59_id_158_c_bio.html">Jim&nbsp;Collins</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
