

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Afghanistan | Worth a Thousand Words: The Associated Press and Lance Corporal Joshua Bernard
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #a31a55;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #a31a55;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/59/ap_knightcase_banner.JPG') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_59.html" title="Home"><span>Afghanistan</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_59.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_59_id_574.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_59_id_575.html">The Press and the Military</a>





</li>


<li class="leaf"><a  href="case_id_59_id_576.html">AP at War</a>





</li>


<li class="leaf"><a  href="case_id_59_id_577.html">The AP in Iraq</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_59_id_578.html">Afghanistan</a>





</li>


<li class="leaf"><a  href="case_id_59_id_579.html">Ambushed</a>





</li>


<li class="leaf"><a  href="case_id_59_id_580.html">At Headquarters</a>





</li>


<li class="leaf"><a  href="case_id_59_id_581.html">Debate</a>





</li>


<li class="leaf"><a  href="case_id_59_id_582.html">A Request from the Bernards</a>





</li>


<li class="leaf"><a  href="case_id_59_id_583.html">A Phone Call</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/59/Associated&#32;Press&#32;and&#32;Lance&#32;Corporal&#32;Joshua&#32;Bernard_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_59.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Afghanistan</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	Over the same period, the United States military had maintained a presence in Afghanistan. Since the US and allies had toppled the Taliban in 2001, their mission there had been conceived and covered primarily as one of peacekeeping and reconstruction. But by 2009, swathes of the country had fallen back under Taliban control, and a western military victory in Afghanistan seemed newly doubtful. Recently inaugurated President Barack Obama had organized a strategy review and was considering sending tens of thousands more troops to Afghanistan while preparing to withdraw from Iraq. An increasingly violent conflict and a subject of renewed public debate, the US war in Afghanistan was returning to the front pages.</p>
<p>
	Obama had by then made his own changes to the rules governing media access to the military by lifting an 18-year ban on photographing the flag-draped caskets of fallen soldiers returning to the United States. The ban had been enforced with few exceptions&mdash;some accidental&mdash;since the 1991 Gulf War. Under the new policy, a family member designated by the soldier prior to his or her deployment would determine, in the event of the soldier&rsquo;s death, whether or not to allow the members of the media to be present when his or her casket arrived. On April 5, 2009, Air Force Staff Sergeant Philip Myers, killed by a roadside bomb in Afghanistan, was the first soldier killed in action to have his remains&rsquo; arrival covered by the media under the new policy. The AP covered his return, as well as every one thereafter in which the family consented to the presence of media.</p>
<p>
	In the Afghanistan war&rsquo;s eighth year, the number of American dead was nearing 1,000. Over 4,000 more US soldiers had died in Iraq. Barely any images of dead or wounded service members on the battlefield had appeared in US media. It was much more common to see pictures of enemy casualties&mdash;the AP itself frequently distributed them and had won its 29<sup>th</sup> photography Pulitzer in 2005 for a series on the Iraq war that included several images of dead Iraqis, both civilian and combatant, a few of them children. The same series did, however, include a rare image of medics trying to resuscitate Army Specialist Travis Babbit, who later died of his wounds.<a href="case_id_59_id_578.html#_ftn1" name="_ftnref1" title="">[1]</a></p>
<p>
	In Afghanistan as well as in Iraq, the Pentagon allowed journalists to embed with US troops. On August 7, 2009, Jacobson began an embed with Golf Company, 2<sup>nd</sup> Battalion, 3<sup>rd</sup> Marines (Golf 2/3) in Helmand Province, in southern Afghanistan. Shortly after she arrived, two other AP staffers, photographer Emilio Morenatti and videographer Andi Jatmiko, were severely wounded by an improvised explosive device (IED) while embedded in the neighboring province of Kandahar. Field surgeons amputated much of Morenatti&rsquo;s left leg below the knee.</p>
<div>
	<br clear="all" />
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size: 11px;"><a href="case_id_59_id_578.html#_ftnref1" name="_ftn1" title="">[1]</a> Associated Press, <a class="extlink" href="http://www.ap.org/media/flash/pulit.swf" target="_blank">&ldquo;Pulitzer Prize-Winning Photos,&rdquo;</a> 2005.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_59_id_577.html" class="page-previous" title="Go to previous page">&#171;&#160;The AP in Iraq</a>

<a href="case_id_59_id_579.html" class="page-next" title="Go to next page">Ambushed&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_59_id_153_c_bio.html">Julie&nbsp;Jacobson</a></li>

<li class="leaf"><a  href="case_id_59_id_154_c_bio.html">Santiago&nbsp;Lyon</a></li>

<li class="leaf"><a  href="case_id_59_id_155_c_bio.html">John&nbsp;Daniszewski</a></li>

<li class="leaf"><a  href="case_id_59_id_156_c_bio.html">Kathleen&nbsp;Carroll</a></li>

<li class="leaf"><a  href="case_id_59_id_157_c_bio.html">Tom&nbsp;Curley</a></li>

<li class="leaf"><a  href="case_id_59_id_158_c_bio.html">Jim&nbsp;Collins</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
