<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   A Phone Call | Worth a Thousand Words: The Associated Press and Lance Corporal Joshua Bernard
  </title>
  <meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
   <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
   <style media="all" type="text/css">
    @import "css_global/book/book.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/node/node.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/system/defaults.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/system/system.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/user/user.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/img_assist/img_assist.css";
   </style>
   <style media="all" type="text/css">
    @import "css_global/knightcase/style.css";
   </style>
   <style media="print" type="text/css">
    @import "css_global/knightcase/print.css";
   </style>
   <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
   </script>
   <script src="js/img_assist.js" type="text/javascript">
   </script>
   <script src="js/audioimage.js" type="text/javascript">
   </script>
   <script src="com/jquery/jquery.metadata.js" type="text/javascript">
   </script>
   <script src="com/jquery/jquery.media.js" type="text/javascript">
   </script>
   <script src="swfobject.js" type="text/javascript">
   </script>
   <script type="text/javascript">
    var GB_ROOT_DIR = "com/greybox/";
   </script>
   <script src="com/greybox/AJS.js" type="text/javascript">
   </script>
   <script src="com/greybox/AJS_fx.js" type="text/javascript">
   </script>
   <script src="com/greybox/gb_scripts.js" type="text/javascript">
   </script>
   <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
   <script type="text/javascript">
    var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
   </script>
   <script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
   </script>
   <style>
    #main .title
{
	color: #a31a55;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #a31a55;
}

#media {
font-style:italic;
}
   </style>
  </meta>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/59/ap_knightcase_banner.JPG') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_59.html" title="Home">
         <span>
          A Phone Call
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_59.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_574.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_575.html">
          The Press and the Military
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_576.html">
          AP at War
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_577.html">
          The AP in Iraq
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_578.html">
          Afghanistan
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_579.html">
          Ambushed
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_580.html">
          At Headquarters
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_581.html">
          Debate
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_59_id_582.html">
          A Request from the Bernards
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_59_id_583.html">
          A Phone Call
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/59/Associated Press and Lance Corporal Joshua Bernard_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_59.html">
        Home
       </a>
      </div>
      <h1 class="title">
       A Phone Call
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         AP CEO
         <a href="case_id_59_id_157_c_bio.html">
          Tom Curley
         </a>
         was in his office at about 3:30 p.m. when the phone rang. Curley rarely got involved in AP editorial decisions, though he knew that the news department had wrestled with the question of the Bernard photo over the preceding weeks. But he was about to get pulled in more deeply. The secretary of defense himself, Robert Gates was calling to ask Curley to kill the photo. Although AP had already sent it to thousands of news organizations, it was still under embargo. Recalls Curley: “He made a pitch not to release the picture and talked about his concern for the family.”
        </p>
        <p>
         Curley’s own opinion was that the photo was a long-overdue illustration of US tactics in Afghanistan, and the news department, by sending out the package, seemed to him to have reached the same conclusion. Says Curley:
        </p>
        <blockquote>
         <p>
          For months I had seen what was happening in Afghanistan, what the policy was, and I had talked to military people and the policy was to put these fellows out on point, so, eight years, almost nine years after the war had been started, our way of fighting the war was to send people out on point to draw fire. And to me, Joshua Bernard walked into history. In the then-deadliest month of the war, he was a fellow who… knew what he was doing, volunteered to go out on point, and ultimately sacrificed his life to carry out a strategy. To me, the American people needed to know what the strategy was, and we had been looking for some time to illustrate it. And the way you illustrate it is with the personalized version: This is what happened to this fellow—there is no braver American than Joshua Bernard.
          <a href="case_id_59_id_583.html#_ftn1" name="_ftnref1" title="">
           [1]
          </a>
         </p>
        </blockquote>
        <p>
         <i>
          Listen to Curley talk about why the story should be told.
         </i>
         <br/>
         <!--<img alt="" border="0" class="audiofile" src="../../files/audios/156/Curley on the story had to be told.mp3"/>-->
        </p>
        <p>
         Curley did not argue with Gates; he believed the defense secretary was making a legitimate argument, though he disagreed. Curley instead told Gates he would reopen discussion with the news department. The phone conversation lasted about five minutes.
        </p>
        <p>
         AP’s Washington bureau regularly fielded phone calls from high-ranking political officials seeking to change or kill certain material, but Curley himself was seldom the recipient of such pressure. He called Executive Editor Carroll to discuss Gates’ objection. They agreed that the facts of the case remained substantially the same as before Gates’ call. “State secrets were not in play,” says Curley. “Nobody was lying. Nobody disputed the facts. Nobody saw anything differently. It was pretty clear.”
        </p>
        <p>
         Yet perhaps the Gates call had changed the equation. Though editors felt the package they had assembled was a respectful testament to Bernard’s sacrifice, the Department of Defense clearly disagreed. Was it AP’s job to memorialize a fallen soldier against the wishes of his family? Could the AP tell the same story about war’s costs without using this specific picture? On the other hand, was it now AP’s job to take a stand in the face of pressure from the military? How, ultimately, should the AP cover the war, and what boundaries should the organization observe in doing so?
        </p>
        <p>
         <i>
          Listen to Carroll discuss the photo's potential impact to the AP's relationship with the Department of Defense.
         </i>
         <br>
          <!--<img alt="" border="0" class="audiofile" src="../../files/audios/157/Carroll on pissing off the Pentagon.mp3"/>-->
         </br>
        </p>
        <p>
         Curley personally felt that the picture should run. But the decision, he concluded, ultimately belonged to the newsroom. There was still time for the news agency to inform its members that the embargo would not be lifted; that the photograph had been pulled from the wire. He told Carroll it was her call.
        </p>
        <div>
         <br clear="all"/>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size: 11px;">
            <a href="case_id_59_id_583.html#_ftnref1" name="_ftn1" title="">
             [1]
            </a>
            Author’s interview with Tom Curley, on June 24, 2010, in New York City. All further quotes from Curley, unless otherwise attributed, are from this interview.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_59_id_582.html" title="Go to previous page">
          « A Request from the Bernards
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_59_id_153_c_bio.html">
         Julie Jacobson
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_59_id_154_c_bio.html">
         Santiago Lyon
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_59_id_155_c_bio.html">
         John Daniszewski
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_59_id_156_c_bio.html">
         Kathleen Carroll
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_59_id_157_c_bio.html">
         Tom Curley
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_59_id_158_c_bio.html">
         Jim Collins
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="http://www.journalism.columbia.edu">
         © 2012 Columbia University Graduate School of Journalism
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
 </body>
</html>
<!-- id="container" -->
<script type="text/javascript">
 var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
 try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
</script>
