

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Reporter fulltime | Fighting Blackmail: Khadija Ismayilova and Azerbaijan’s First Family
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/126/180-02409_Fighting-Blackmail_EB_NJ_v1.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_126.html" title="Home"><span>Reporter fulltime</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_126_id_860.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_126_id_861.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_126_id_862.html">A Language Specialist</a>





</li>


<li class="leaf"><a  href="case_id_126_id_863.html">Two trainers</a>





</li>


<li class="leaf"><a  href="case_id_126_id_864.html">Journalism in Azerbaijan</a>





</li>


<li class="leaf"><a  href="case_id_126_id_865.html">RFE job</a>





</li>


<li class="leaf"><a  href="case_id_126_id_866.html">Ismayilova digs deep</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_126_id_867.html">Reporter fulltime</a>





</li>


<li class="leaf"><a  href="case_id_126_id_868.html">Fallout</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/126/Khadija&#32;Final&#32;043014.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_126.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Reporter fulltime</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p align="left">
	With the Azal Bank story, Ismayilova had rediscovered an enthusiasm for investigative journalism. So in September 2010, she stepped down as RFE bureau chief in Baku and turned her attention back to reporting&mdash;but now as a freelancer. She kept her position as host of the After Work radio program, also as a freelance contributor. &ldquo;I continued doing the radio program, but I stopped all this bullshit with administrative things,&rdquo; she says. &ldquo;I wanted to become just a reporter. I loved it.&rdquo;</p>
<p align="left">
	The transition made sense. &ldquo;It&rsquo;s difficult to be in a management role, an editorial role, and have such a pronounced opinion on many things,&rdquo; notes her RFE boss, Aliyev. As a freelancer, she could enjoy greater latitude. &ldquo;In societies like Azerbaijan,&rdquo; he adds, &ldquo;people pay attention to you more if you have an opinion. And she&rsquo;s an opinion maker.&rdquo; Aliyev found that in her investigative work, however, Ismayilova kept her views to herself. &ldquo;Her investigative reporting is always done to the highest standards of journalism. It&rsquo;s always fact-based. There no bias, no cooking of information,&rdquo; he asserts.</p>
<blockquote>
	<p>
		She is not an ordinary person. She&rsquo;s an extraordinary person, in my opinion. She can be very controversial in terms of her style of journalism. And I had a lot of difficult days working together with her, and I still do. But at the end of the day, you know this is a person, a journalist you can trust.</p>
</blockquote>
<p align="left">
	Together with RFE colleague Durna Safarli, Ismayilova started to work on a second investigative story about a bank, this time the International Bank of Azerbaijan (ABB). In public court records, the reporters noticed that the bank&mdash;although he never repaid the loans&mdash;repeatedly extended credit to a single individual using different company names. Khagani Bashirov, they learned, had a personal link to the bank president. At one point, he was arrested and mysteriously released.<sup><a href="case_id_126_id_867_pid_0.html#_ftn1" name="_ftnref1" title="">[20]</a></sup></p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/854/logo_occrp.png" /><br />
	<p class="caption">
		&copy; OCCRP</p>
</div>
<p align="left">
	As she was researching the story, Ismayilova noticed that one of the companies to which the International Bank had extended credit was registered in Panama. In September 2008, Ismayilova had attended a Global Investigative Journalism Conference in Lillehammer, Norway.<sup><a href="case_id_126_id_867_pid_0.html#_ftn2" name="_ftnref2" title="">[21]</a></sup> There she had run into Paul Radu and Drew Sullivan, who had started OCCRP 18 months earlier. Sullivan invited Ismayilova to work with the reporting project: &ldquo;She was one of the first people we chose to work with,&rdquo; he remembers. She was intrigued: &ldquo;It&rsquo;s access to training. It&rsquo;s doing what is interesting. Investigative reporting is basically what I like doing.&rdquo; But nothing concrete had come up.</p>
<p align="left">
	Now, however, she wrote to Sullivan, asking if there was a way to find out about companies registered in Panama. Radu had recently returned from a fellowship at Stanford University where, in 2009-10, he had created a tool for journalists trying to track money, shareholders and company ownership across international borders. He called it the Investigative Dashboard (ID), and it became a crucial piece of OCCRP&rsquo;s contribution to regional journalism. &ldquo;It&rsquo;s basically due diligence,&rdquo; says Radu. &ldquo;We go beyond company records. It&rsquo;s a global research desk.&rdquo; In late 2010-early 2011, the dashboard was in its early stages, but functional.<sup><a href="case_id_126_id_867_pid_0.html#_ftn3" name="_ftnref3" title="">[22]</a></sup></p>
<blockquote>
	<p>
		<i>Paul Radu explains the Investigative Dashboard.</i><br />
		<img alt="" border="0" class="audiofile" src="../../files/audios/366/PaulExcerpt.mp3" /></p>
</blockquote>
<p align="left">
	ID had found a database that a hacker had &ldquo;scraped&rdquo; from the Panama State Registry of companies.<sup><a href="case_id_126_id_867_pid_0.html#_ftn4" name="_ftnref4" title="">[23]</a></sup> OCCRP included a link to the scraped database on ID and created a video on how to use it. The original registry did not allow searching by name, but the scraped version did. &ldquo;They sent me a video tutorial on how to use that database,&rdquo; recalls Ismayilova. &ldquo;That was amazing.&rdquo; As she played around with the database, she decided to try searching for President Aliyev&rsquo;s wife and daughters. She got a hit.</p>
<p align="left">
	<em>Azerfon</em>. Ismayilova had already been researching the ownership of Azerfon, an Azerbaijani telecoms company created in March 2007. The company by 2011 had 1.7 million subscribers and a monopoly on high-speed mobile phone service. She had looked at records in the Tax Ministry, which showed that the company was owned by three Panama-registered companies: Hughson Management, Gladwin Management and Grinnell Management. That in itself was odd, because when the Communications Ministry announced the creation of Azerfon in late 2008, it said the company was owned by the German firm Siemens AG and two British firms. But Ismayilova had picked up the phone to ask Siemens about its ownership stake in Azerfon. A spokeswoman told her Siemens had never owned any part of Azerfon. Neither had the Finland-based Nokia Siemens Networks (NSN). Ismayilova was stumped.</p>
<p align="left">
	Now, thanks to OCCRP, she had access to the Panamanian registry. It yielded some interesting information. Leyla Aliyeva, the president&rsquo;s then-25-year-old daughter, was registered as president of both Gladwin and Grinell. Her sister, Arzu, was treasurer at both companies. As for Hughson, there Arzu was president and Leyla treasurer. Each company was started with an investment of $10,000. Ismayilova had found the proof she needed.</p>
<p align="left">
	Ismayilova submitted a draft of the story to RFE/RL in late spring. As always, Aliyev and other editors went through Ismayilova&rsquo;s story carefully, questioning, checking facts and trying to make it even stronger. Sometimes, says Aliyev, it could be hard to prove an allegation. If that happened, typically he would either decline the story or cut the part that was uncertain. At the same time, sometimes uncertainty had to be part of the package in reporting from Azerbaijan. &ldquo;Some of our investigative reports are not just to prove that someone is doing something wrong,&rdquo; says Aliyev, &ldquo;but also to raise the question for the public.&rdquo;</p>
<blockquote>
	<p>
		The public has to have more information about what is happening. That&rsquo;s the main goal of our investigative reporting. Because in countries like Azerbaijian, it&rsquo;s impossible to prove everything. Our goal is to raise the question, and try to get answers. We may not get the answers, but even by raising the questions I think we&rsquo;re fulfilling our role as agents of the public interest.</p>
	<p>
		<i>Kenan Aliyev describes journalism in Azerbaijan.</i><br />
		<img alt="" border="0" class="audiofile" src="../../files/audios/364/KenanExcerpt.mp3" /></p>
</blockquote>
<p align="left">
	Azerbaijani authorities had recently taken a hard line with journalists; the government apparently was worried about contagion from the &ldquo;Arab spring&rdquo; events in the Middle East. Despite what continued to be serious risk, journalists from the nonprofit Arab Reporters for Investigative Journalism, for example, had tracked the wealth of a top associate of deposed Egyptian leader Hosni Mubarak; other Arab media had reported such stories as government corruption in Tunisia and human rights abuses in Egypt.<sup><a href="case_id_126_id_867_pid_0.html#_ftn5" name="_ftnref5" title="">[24]</a></sup> The Azerbaijani government, apparently hoping to forestall similar efforts, had detained, interrogated and even abused reporters.</p>
<p align="left">
	Nonetheless, on June 27, 2011, RFE/RL published Ismayilova&rsquo;s second story portraying corruption at the highest levels of the Azerbaijani government. The story, &ldquo;Azerbaijani President&rsquo;s Daughters Tied to Fast-Rising Telecoms Firm,&rdquo; revealed the falsehood that Siemens owned the company and described in detail who actually benefited from its lucrative business.<sup><a href="case_id_126_id_867_pid_0.html#_ftn6" name="_ftnref6" title="">[25]</a></sup> The story provided another unsightly glimpse into how President Aliyev and his family were enriching themselves, often at public expense. &nbsp;</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_126_id_867_pid_0.html#_ftnref1" name="_ftn1" title="">[20]</a>&nbsp;Safarli and Ismayilova eventually published a story July 7, 2011 on Radio Azadliq. &ldquo;It was a very complicated story,&rdquo; says Ismayilova, &ldquo;with a lot of numbers, a lot of figures. I don&rsquo;t think we managed to present it in an interesting way.&rdquo; See: Durna Safarli and Khadija Ismayilova, &ldquo;How were 185 million manta in the bank,&rdquo; <em>Radio Azadliq,</em> July 7, 2011. <a href="http://www.azadliq.org/content/article/24263362.html">http://www.azadliq.org/content/article/24263362.html</a></span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:11px;"><a href="case_id_126_id_867_pid_0.html#_ftnref2" name="_ftn2" title="">[21]</a>&nbsp;For more on the conference, see: <a href="http://www.gijc2008.no/news/141">http://www.gijc2008.no/news/141</a>. The network was created to unite journalists from the Europe and the Middle East to China and the Philippines engaged in investigative work.</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:11px;"><a href="case_id_126_id_867_pid_0.html#_ftnref3" name="_ftn3" title="">[22]</a>&nbsp;The Investigative Dashboard evolved to become by 2013 a global data clearinghouse (including 400 databases), plus an international network of journalists, and a community of professionals working together to report on corruption and crime.</span></p>
	</div>
	<div id="ftn4">
		<p>
			<span style="font-size:11px;"><a href="case_id_126_id_867_pid_0.html#_ftnref4" name="_ftn4" title="">[23]</a>&nbsp;A proficient computer user can employ a computer program to &ldquo;scrape&rdquo; data from a database, making the information available in a form which can be searched in ways the original database may not have allowed. OCCRP soon hired the hacker, Daniel O&rsquo;Huiginn.</span></p>
	</div>
	<div id="ftn5">
		<p>
			<span style="font-size:11px;"><a href="case_id_126_id_867_pid_0.html#_ftnref5" name="_ftn5" title="">[24]</a>&nbsp;Feldstein, &ldquo;Muckraking Goes Global.&rdquo;</span></p>
	</div>
	<div id="ftn6">
		<p>
			<span style="font-size:11px;"><a href="case_id_126_id_867_pid_0.html#_ftnref6" name="_ftn6" title="">[25]</a>&nbsp;Khadija Ismayilova, &ldquo;Azerbaijani President&rsquo;s Daughters Tied to Fast-Rising Telecoms Firm,&rdquo; <em>RFE/RL</em>, June 27, 2011. See: <a href="http://www.rferl.org/content/azerbaijan_president_aliyev_daughters_tied_to_telecoms_firm/24248340.html">http://www.rferl.org/content/azerbaijan_president_aliyev_daughters_tied_to_telecoms_firm/24248340.html</a></span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_126_id_866_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Ismayilova digs deep</a>

<a href="case_id_126_id_868_pid_0.html" class="page-next" title="Go to next page">Fallout&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_126_id_248_c_bio.html">Paul&nbsp;Radu</a></li>

<li class="leaf"><a  href="case_id_126_id_249_c_bio.html">Drew&nbsp;Sullivan</a></li>

<li class="leaf"><a  href="case_id_126_id_250_c_bio.html">Khadija&nbsp;Ismayilova</a></li>

<li class="leaf"><a  href="case_id_126_id_251_c_bio.html">Kenan&nbsp;Aliyev</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
