

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Introduction | Reputations to Lose: BBC versus the Blair Government
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #663366;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #663366;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/22/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_22.html" title="Home"><span>Introduction</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_22.html">Title Page</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_22_id_244.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_22_id_245.html">BBC and Britain</a>





</li>


<li class="leaf"><a  href="case_id_22_id_246.html">BBC Leadership</a>





</li>


<li class="leaf"><a  href="case_id_22_id_247.html">Today Programme</a>





</li>


<li class="leaf"><a  href="case_id_22_id_248.html">Birth of a Story</a>





</li>


<li class="leaf"><a  href="case_id_22_id_249.html">Preparing to Broadcast</a>





</li>


<li class="leaf"><a  href="case_id_22_id_250.html">May 29, 6:07 2-way</a>





</li>


<li class="leaf"><a  href="case_id_22_id_251.html">First Protests</a>





</li>


<li class="leaf"><a  href="case_id_22_id_252.html">Upping the Ante</a>





</li>


<li class="leaf"><a  href="case_id_22_id_253.html">Review at High Levels</a>





</li>


<li class="leaf"><a  href="case_id_22_id_254.html">Back and Forth</a>





</li>


<li class="leaf"><a  href="case_id_22_id_255.html">Foreign Affairs Committee Hearings</a>





</li>


<li class="leaf"><a  href="case_id_22_id_256.html">BBC Response</a>





</li>


<li class="leaf"><a  href="case_id_22_id_257.html">On a Roll</a>





</li>


<li class="leaf"><a  href="case_id_22_id_258.html">Letters Flying</a>





</li>


<li class="leaf"><a  href="case_id_22_id_259.html">Campbell on Channel Four</a>





</li>


<li class="leaf"><a  href="case_id_22_id_260.html">Defuse or Fight?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/22/BBC&#32;versus&#32;the&#32;Blair&#32;Government_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_22.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Introduction</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p><span class="inline inline-right"><img width="180" height="146" class="image image-_original" src="../../files/bbc/images/bbc_logo.jpg" alt="" /></span>In June 2003, the British Broadcasting Corporation (BBC) confronted what it considered one of the most brazen challenges ever to its editorial independence. The stand-off pitted Prime Minister Tony Blair&rsquo;s Labour Party government against the BBC&rsquo;s executive team. On one side stood BBC reporter Andrew Gilligan, who on May 29 had reported&mdash;based on a single, anonymous source&mdash;that &ldquo;the government probably knew&rdquo; that information included in a key intelligence report was unreliable, but used it anyway in order to present a best-case scenario for invading Iraq in March 2003. On the other stood Communications Chief Alastair Campbell and the Blair government, accusing the BBC of biased reporting and lying.</p>
<p>The BBC was an unusual newsgathering organization. It was publicly funded but, under its charter, the government exercised no editorial control over its news programs. Historically, the BBC enjoyed a robust reputation for editorial independence and integrity. Not surprisingly, its non-partisan reporting brought it into frequent conflict with successive governments. Prime ministers and chancellors were not happy to hear their policies&mdash;on foreign affairs, the economy, education, and so forth&mdash;criticized by a news source as influential as the BBC. In most cases, these disagreements flared behind closed doors, or in the press for a few days&mdash;and died away. Sometimes, however, circumstances and personalities combined in a particularly combustible way.</p>
<p>That proved to be the case with the Gilligan report. Campbell vehemently denied that any government official had &ldquo;sexed up&rdquo; the intelligence report for political purposes. Gilligan, however, stood by his story, and his editors backed him. As the Campbell charges gathered force, escalating steadily over three weeks, BBC editors began to ask themselves if Campbell was pursuing a legitimate complaint, a vendetta or a diversionary tactic to distract voters from other government misdeeds. Quickly, matters reached a crisis. Each side sent copies of their correspondence to the press, and daily headlines referenced the BBC-government &ldquo;war.&rdquo;<sup><a name="txtfn1" title="txtfn1"></a><a href="case_id_22_id_244.html#fn1">[1]</a></sup></p>
<p>On June 27, the BBC executive team&mdash;led by Director General Greg Dyke and News Director Richard Sambrook&mdash;published a letter refuting Campbell&rsquo;s charges one by one. The letter, however, only incited Campbell to go on a nationwide television news program to demand yet again that the BBC retract its report and apologize publicly. That weekend, Dyke and Sambrook began a debate over next steps. While both were incensed by what they considered false charges, they were also well aware of the damage that a highly public fight between the BBC and the government could cause to public confidence and trust in both institutions. Moreover, the government ultimately did control BBC funding.</p>
<p>Over the next few days, the two men considered their options. Should they request an emergency board meeting and, if so, what did they want the board to do? Should they steer Campbell forcefully toward the established complaints procedure? Should they try to ratchet down the tension by calling for an independent inquiry? Or should they seek back channels to the government and try to settle this out of the public eye? Each course of action had distinct disadvantages. With each day, however, worsening relations narrowed their choices. They needed to act, and soon.</p>
<div class="footnotesblock">
<h3 class="footnotes">Footnotes</h3>
<p><a name="fn1" title="fn1"></a><a class="textfn" href="case_id_22_id_244.html#txtfn1">[1]</a>  <a href="http://www.telegraph.co.uk/news/uknews/1434158/BBC-and-No-10-in-war-of-words-over-Campbell.html" target="_blank" class="extlink">&ldquo;BBC and No. 10 in war of words over Campbell,&rdquo;</a> wrote the<i> Daily Telegraph</i> on June 27. &ldquo;BBC blasts No. 10 in row on dossier,&rdquo; proclaimed the <i>Mirror</i> the same day.</p>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_22.html" class="page-previous" title="Go to previous page">&#171;&#160;Reputations to Lose: BBC versus the Blair Government</a>

<a href="case_id_22_id_245.html" class="page-next" title="Go to next page">BBC and Britain&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_22_id_62_c_bio.html">Helen&nbsp;Boaden</a></li>

<li class="leaf"><a  href="case_id_22_id_63_c_bio.html">Mark&nbsp;Byford</a></li>

<li class="leaf"><a  href="case_id_22_id_64_c_bio.html"> Greg&nbsp;Dyke</a></li>

<li class="leaf"><a  href="case_id_22_id_65_c_bio.html">Andrew&nbsp;Gilligan</a></li>

<li class="leaf"><a  href="case_id_22_id_66_c_bio.html">Kevin&nbsp;Marsh</a></li>

<li class="leaf"><a  href="case_id_22_id_67_c_bio.html">Stephen&nbsp;Mitchell</a></li>

<li class="leaf"><a  href="case_id_22_id_68_c_bio.html">Richard&nbsp;Sambrook</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
