<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Back and Forth | Reputations to Lose: BBC versus the Blair Government
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #663366;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #663366;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/22/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_22.html" title="Home">
         <span>
          Back and Forth
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_22.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_244.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_245.html">
          BBC and Britain
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_246.html">
          BBC Leadership
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_247.html">
          Today Programme
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_248.html">
          Birth of a Story
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_249.html">
          Preparing to Broadcast
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_250.html">
          May 29, 6:07 2-way
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_251.html">
          First Protests
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_252.html">
          Upping the Ante
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_253.html">
          Review at High Levels
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_22_id_254.html">
          Back and Forth
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_255.html">
          Foreign Affairs Committee Hearings
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_256.html">
          BBC Response
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_257.html">
          On a Roll
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_258.html">
          Letters Flying
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_259.html">
          Campbell on Channel Four
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_260.html">
          Defuse or Fight?
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/22/BBC versus the Blair Government_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_22.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Back and Forth
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         A June 5
         <a class="pdflink" href="../../files/bbc/letter_20030605_campbell_to_sambrook.pdf" target="_blank">
          letter
         </a>
         from Campbell seemed to confirm Sambrook’s observation. In the letter, faxed on Friday, June 6, Campbell complained that Gilligan’s story was based on “the false claim of a single uncorroborated source that Gilligan claims to be reliable.” Campbell further noted that Gilligan himself, in his own reporting when the dossier was released in September 2002, had dismissed the 45-minute claim as “little that was new.” He also mentioned, in an apparent
         <i>
          non sequitur,
         </i>
         that Gilligan in a news report that day (June 5) had demonstrated ignorance of the intelligence community, specifically the status of the Joint Intelligence Committee (JIC). “Do you accept that what Gilligan said this morning about the composition and role of the JIC is inaccurate?” asked Campbell. Finally, he asked about BBC processes:
        </p>
        <blockquote>
         <p>
          Do you have a process to filter out potential misinformation, gossip, unreliable or uncorroborated information? What is that process?
         </p>
        </blockquote>
        <p>
         Yet again,
         <i>
          Today
         </i>
         Editor Marsh followed up on the complaint. His
         <a class="pdflink" href="../../files/bbc/email_20030609_marsh_to_mitchell.pdf" target="_blank">
          first reaction
         </a>
         was that “it’s all drivel... Downing Street has never explicitly denied the central charge—that the ‘45-minute claim’ was single sourced.” Nonetheless, Marsh looked especially into Campbell’s assertion about Gilligan’s September 2002 reporting. Marsh found that while Gilligan had judged there was little new in the document as a whole, he did identify the 45-minute claim as the “tabloid” headline of the dossier. Moreover, Gilligan had said the claim was “not really backed up by any evidence.” But the more compelling point, as Marsh noted in an
         <a class="pdflink" href="../../files/bbc/email_20030609_marsh_to_mitchell_to_damazer.pdf" target="_blank">
          email to Mitchell
         </a>
         on Monday, June 9, was that “whatever Gilligan said at the time is irrelevant.” He continued:
        </p>
        <blockquote>
         <p>
          I don’t think Campbell has anywhere to go on this--he isn’t going to shift our story: not by endless transcripts, not by regurgitating producer guidelines. Shouldn’t we be taking the view from now on that only if he makes a genuinely new point do we reply to him?”
         </p>
        </blockquote>
        <p>
         On Wednesday, June 11, Sambrook
         <a class="pdflink" href="../../files/bbc/letter_20030611_sambrook_to_campbell.pdf" target="_blank">
          replied to Campbell
         </a>
         that “I see no likelihood of us agreeing on this matter.” He addressed in particular the charge that Gilligan’s story was invalid because it relied on a single source. “If we had thought the single source incredible we would not have reported the allegation at all,” he wrote. “I am satisfied that the source knew what he/she was talking about.” He added that “there was no breach of the producer guidelines.” As to the government’s right of reply, Sambrook pointed out that the BBC had broadcast Armed Forces Minister Ingram’s reply by 7:30 a.m., then “inadvertently” missed including it in the 8 a.m. headline news, but later cited the rebuttal throughout the day. He clarified that at no point did the BBC assert that “the 45-minute point was
         <i>
          invented
         </i>
         by anyone in Downing Street”; instead, Gilligan’s reporting had raised questions about “the
         <i>
          presentation
         </i>
         of the intelligence material.”
        </p>
        <p>
         <i>
          <b>
           Quieting down?
          </b>
         </i>
         On Thursday, June 12, Marsh, Sambrook and Sambrook’s deputy Damazer went to a luncheon at Downing Street attended by Blair and Campbell. To all appearances, the Gilligan spat had run its course. “Nothing was said about this at all,” says Marsh. But as Sambrook left the lunch, a Campbell aide, Tom Kelly, took Sambrook aside to say quietly that “we’re very serious about this complaint.” It was a brief exchange. “We knew they were very unhappy about the story,” recalls Sambrook. “We felt that their complaint was a bit unfocused.”
        </p>
        <p>
         Later that day, however, there was
         <a class="pdflink" href="../../files/bbc/letter_20030612_campbell_to_sambrook.pdf" target="_blank">
          another letter
         </a>
         from Campbell. The communications director referred to the denial of Gilligan’s charge by the chairman of the Joint Intelligence Committee. “Would you accept that an emphatic denial from the Chairman of the JIC carries more weight than Mr. Gilligan’s single uncorroborated anonymous source?,” asked Campbell. He also claimed that a separate report from the Intelligence and Security Committee (ISC) “confirms Mr. Gilligan’s story was wrong.”
         <sup>
          <a name="txtfn40" title="txtfn40">
          </a>
          <a href="case_id_22_id_254.html#fn40">
           [40]
          </a>
         </sup>
         Campbell called for an internal inquiry at the BBC: “You have made very serious allegations which, if true, would amount to serious wrongdoing by me and my staff. Furthermore, you have continued to repeat them with little reference to denials by the Chairman of the JIC and vindication by the ISC.”
        </p>
        <p>
         On Monday, June 16, Sambrook again tried to appease Campbell. Addressing the issue of a single source, he
         <a class="pdflink" href="../../files/bbc/letter_20030616_sambrook_to_campbell.pdf">
          wrote
         </a>
         that “our programme makers should be
         <i>
          reluctant
         </i>
         [
         <i>
          emphasis in original
         </i>
         ] to rely on only one source. This guideline is not an outright ban.” He also challenged the assertion that the ISC report vindicated the government. “I am sorry that we still seem far apart on the validity of our reporting on the concerns about the September dossier,” he wrote. Sambrook then invited Campbell to follow established channels for complaints:
        </p>
        <blockquote>
         <p>
          I should remind you that we have a Programme Complaints Unit which functions completely separately from production arms of the BBC... If you feel it would help, you could make a formal complaint to the Head of the PCU, Fraser Steel.
         </p>
        </blockquote>
        <p>
         There the matter seemed to rest, until both Gilligan and Campbell made appearances before the Foreign Affairs Committee.
        </p>
        <div class="footnotesblock">
         <h3 class="footnotes">
          Footnotes
         </h3>
         <p>
          <a name="fn40" title="fn40">
          </a>
          <a class="textfn" href="case_id_22_id_254.html#txtfn40">
           [40]
          </a>
          On June 10, the ISC published its 2002-2003 annual report.
         </p>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_22_id_253.html" title="Go to previous page">
          « Review at High Levels
         </a>
         <a class="page-next" href="case_id_22_id_255.html" title="Go to next page">
          Foreign Affairs Committee Hearings »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_22_id_62_c_bio.html">
         Helen Boaden
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_63_c_bio.html">
         Mark Byford
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_64_c_bio.html">
         Greg Dyke
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_65_c_bio.html">
         Andrew Gilligan
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_66_c_bio.html">
         Kevin Marsh
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_67_c_bio.html">
         Stephen Mitchell
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_68_c_bio.html">
         Richard Sambrook
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
