

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Biography: Stephen Mitchell | Reputations to Lose: BBC versus the Blair Government
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #663366;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #663366;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/22/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_22.html" title="Home"><span>Biography: Stephen Mitchell</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_22.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_22_id_244.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_22_id_245.html">BBC and Britain</a>





</li>


<li class="leaf"><a  href="case_id_22_id_246.html">BBC Leadership</a>





</li>


<li class="leaf"><a  href="case_id_22_id_247.html">Today Programme</a>





</li>


<li class="leaf"><a  href="case_id_22_id_248.html">Birth of a Story</a>





</li>


<li class="leaf"><a  href="case_id_22_id_249.html">Preparing to Broadcast</a>





</li>


<li class="leaf"><a  href="case_id_22_id_250.html">May 29, 6:07 2-way</a>





</li>


<li class="leaf"><a  href="case_id_22_id_251.html">First Protests</a>





</li>


<li class="leaf"><a  href="case_id_22_id_252.html">Upping the Ante</a>





</li>


<li class="leaf"><a  href="case_id_22_id_253.html">Review at High Levels</a>





</li>


<li class="leaf"><a  href="case_id_22_id_254.html">Back and Forth</a>





</li>


<li class="leaf"><a  href="case_id_22_id_255.html">Foreign Affairs Committee Hearings</a>





</li>


<li class="leaf"><a  href="case_id_22_id_256.html">BBC Response</a>





</li>


<li class="leaf"><a  href="case_id_22_id_257.html">On a Roll</a>





</li>


<li class="leaf"><a  href="case_id_22_id_258.html">Letters Flying</a>





</li>


<li class="leaf"><a  href="case_id_22_id_259.html">Campbell on Channel Four</a>





</li>


<li class="leaf"><a  href="case_id_22_id_260.html">Defuse or Fight?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/22/BBC&#32;versus&#32;the&#32;Blair&#32;Government_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_22.html">Home</a></div>		
		<h1 class="title">Biography: Stephen&nbsp;Mitchell</h1>		
		
		  <div class="node">        
    <span class="taxonomy"></span>
    <div class="content"><p><span class="inline inline-left"><img height="150" width="130" class="image image-_original" src="../../files/bbc/images/bio_mitchell.jpg" alt="" /></span>Stephen Mitchell (born 1949) attended Manchester University and worked first for Thomson Regional Newspapers. He joined the BBC Radio Newsroom in 1974, and worked on the <i>Today </i>program. In 1992 he become managing editor, Radio News, and in 1994 was appointed editor of Radio News Programmes. In June 1997 he became deputy head, BBC News Programmes.</p>
<p>Mitchell became head of BBC Radio News in December 1999. The 800 staff of Radio News provided daily national and international journalism on all BBC domestic radio networks, local radio stations and World Service radio in English, from Today on Radio 4 to the journalism of Radio Five Live and from Newsbeat on Radio 1 to Newshour on the World Service.</p>
<h3>Audio</h3>
<p><i>Listen to Mitchell on his job:</i><br />
<span class="footnoteslength"><b>Length:</b> 14 sec</span><br />
<img border="0" class="audiofile" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/bbc/mitchell_on_his_job.mp3" alt="" /></p></div>
      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->

		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_22_id_62_c_bio.html">Helen&nbsp;Boaden</a></li>

<li class="leaf"><a  href="case_id_22_id_63_c_bio.html">Mark&nbsp;Byford</a></li>

<li class="leaf"><a  href="case_id_22_id_64_c_bio.html"> Greg&nbsp;Dyke</a></li>

<li class="leaf"><a  href="case_id_22_id_65_c_bio.html">Andrew&nbsp;Gilligan</a></li>

<li class="leaf"><a  href="case_id_22_id_66_c_bio.html">Kevin&nbsp;Marsh</a></li>

<li class="leaf"><a  class="active"  href="case_id_22_id_67_c_bio.html">Stephen&nbsp;Mitchell</a></li>

<li class="leaf"><a  href="case_id_22_id_68_c_bio.html">Richard&nbsp;Sambrook</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
