<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Letters Flying | Reputations to Lose: BBC versus the Blair Government
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #663366;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #663366;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/22/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_22.html" title="Home">
         <span>
          Letters Flying
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_22.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_244.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_245.html">
          BBC and Britain
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_246.html">
          BBC Leadership
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_247.html">
          Today Programme
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_248.html">
          Birth of a Story
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_249.html">
          Preparing to Broadcast
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_250.html">
          May 29, 6:07 2-way
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_251.html">
          First Protests
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_252.html">
          Upping the Ante
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_253.html">
          Review at High Levels
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_254.html">
          Back and Forth
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_255.html">
          Foreign Affairs Committee Hearings
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_256.html">
          BBC Response
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_257.html">
          On a Roll
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_22_id_258.html">
          Letters Flying
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_259.html">
          Campbell on Channel Four
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_22_id_260.html">
          Defuse or Fight?
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/22/BBC versus the Blair Government_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_22.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Letters Flying
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         The BBC took 24 hours to respond. Sambrook, Dyke and Damazer spent most of Thursday and early Friday drafting a reply. Occasionally, they summoned Gilligan to clarify one point or another. On Thursday, they also discussed the need to know Gilligan’s source. Sambrook was resolved that only one BBC editor should know, in order to prevent leaks. Sambrook, they decided, should be the one. The discussion among editors was, recalls Marsh, “almost a casual conversation... ‘We are going to have to know who the source is, aren’t we?’ It wasn’t a big deal.”
        </p>
        <p>
         <i>
          <b>
           Name source.
          </b>
         </i>
         To ask a reporter for his source was, says Sambrook, “very rare.” Only once before during 15 years in management had he done so. Often, says Marsh, the name of a source means nothing: “Very often the best sources, and the most reliable sources, are those who’ve got nothing to prove themselves. The best people to cultivate are the secretaries who see all the papers, rather than the people who write them.”
        </p>
        <p>
         Gilligan had no problem revealing his source to Sambrook: “I’ve always understand that your editor... has a right to ask who your source is, and you have to tell them... Obviously, he wasn’t going to tell anyone else.” When Sambrook learned the source was Kelly, he felt reassured. Kelly was “clearly an eminent British expert in WMD. And very much in the intelligence and government circles that would be consulted and know about these things. From that point of view, it felt like a pretty good source,” recalls Sambrook. He told Dyke that the source was credible.
        </p>
        <p>
         <i>
          Listen to Gilligan on revealing his source:
         </i>
         <br/>
         <span class="footnoteslength">
          <strong>
           Length:
          </strong>
          19 sec
         </span>
         <br/>
         <!-- img border="0" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/bbc/gilligan_editors_right_to_know.mp3" class="audiofile" alt="" /-->
         <audio controls="">
          <source src="https://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/bbc/gilligan_editors_right_to_know.mp3" type="audio/mpeg"/>
         </audio>
        </p>
        <p>
         The BBC delivered their reply to Campbell’s 12 questions on Friday, June 27. While he did not contribute to it, Chairman Davies had seen a draft. The letter, he would later say, “was giving, on behalf of BBC management, our best and most truthful explanation to Mr. Campbell of what we had reported.” In the
         <a class="pdflink" href="../../files/bbc/letter_20030627_sambrook_to_campbell.pdf" target="_blank">
          long and detailed letter
         </a>
         , Sambrook sought to refute or answer each of Campbell’s charges. He devoted several pages to the context: the charges of biased BBC reporting from Iraq; the news about the “dodgy dossier” of February 2003; and the reports throughout the media about unease within the intelligence community. He then denied that the BBC had accused the prime minister, the foreign secretary or other cabinet members of lying; or that the BBC had accused the prime minister of leading the country to war on a false premise.
        </p>
        <p>
         Sambrook said Gilligan had reported simply the assertion of one senior and credible source that the 45-minute claim was wrong and included late into the dossier. “The allegation was not made by the BBC, but by our source,” he wrote. “We do not report everything that every source tells us. In this instance, we believe that the source is credible and that it was legitimate to place his concerns in the public domain.” Gilligan, said Sambrook, “accurately reported the source telling him that the government ‘probably knew that the 45-minute figure was wrong’ and that the claim was ‘questionable.’” The BBC would have preferred the source to be on the record, and corroborated. “But you well know,” he added, “that in this field sources very rarely—if ever—choose to speak on the record.”
        </p>
        <p>
         Sambrook concluded by rejecting Campbell’s charges against it and Gilligan. “We have to believe that you are conducting a personal vendetta against a particular journalist whose reports on a number of occasions have caused you discomfort,” he concluded. He once again referred Campbell to the standard BBC complaints channels.
        </p>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_22_id_257.html" title="Go to previous page">
          « On a Roll
         </a>
         <a class="page-next" href="case_id_22_id_259.html" title="Go to next page">
          Campbell on Channel Four »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_22_id_62_c_bio.html">
         Helen Boaden
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_63_c_bio.html">
         Mark Byford
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_64_c_bio.html">
         Greg Dyke
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_65_c_bio.html">
         Andrew Gilligan
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_66_c_bio.html">
         Kevin Marsh
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_67_c_bio.html">
         Stephen Mitchell
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_22_id_68_c_bio.html">
         Richard Sambrook
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
