

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>On a Roll | Reputations to Lose: BBC versus the Blair Government
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #663366;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #663366;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/22/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="standard.asp%3Fcase_id=22.html" title="Home"><span>On a Roll</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=243.html">Title Page</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=244.html">Introduction</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=245.html">BBC and Britain</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=246.html">BBC Leadership</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=247.html">Today Programme</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=248.html">Birth of a Story</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=249.html">Preparing to Broadcast</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=250.html">May 29, 6:07 2-way</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=251.html">First Protests</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=252.html">Upping the Ante</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=253.html">Review at High Levels</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=254.html">Back and Forth</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=255.html">Foreign Affairs Committee Hearings</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=256.html">BBC Response</a>





</li>


<li class="leaf"><a  class="active"  href="standard.asp%3Fcase_id=22&amp;id=257.html">On a Roll</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=258.html">Letters Flying</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=259.html">Campbell on Channel Four</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=260.html">Defuse or Fight?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/22/BBC&#32;versus&#32;the&#32;Blair&#32;Government_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="standard.asp%3Fcase_id=22.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">On a Roll</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>By later in the day Thursday, June 26, it became clear that Campbell was not satisfied. He did send a conciliatory <a href="https://casestudies.jrn.columbia.edu/sites/files/bbc/letter_20030626_campbell_to_dyke.pdf" target="_blank" class="pdflink">private letter</a> to Director General Dyke. &ldquo;I was sorry that I had to say what I said about the BBC,&rdquo; wrote Campbell. But private correspondence had been &ldquo;pointless. I am regularly assured by Richard Sambrook that when the BBC makes mistakes, you admit it. I&rsquo;m afraid that is not the case.&rdquo; He asserted forcefully that: &ldquo;This story is 100 percent wrong.&rdquo; Further, he objected to Sambrook&rsquo;s statement on <i>Today</i> that the BBC was only reporting allegations, not making them. &ldquo;That is not accurate. And if it were, it means you don&rsquo;t know if the story you broadcast was true... That is not [<i>emphasis in original</i>] journalism.&rdquo;</p>
<p>Campbell reserved stronger language for a <a href="https://casestudies.jrn.columbia.edu/sites/files/bbc/letter_20030626_campbell_to_sambrook.pdf" target="_blank" class="pdflink">written response</a> to Sambrook&rsquo;s <i>Today</i> appearance.<sup><a title="txtfn45" name="txtfn45"></a><a href="standard.asp%3Fcase_id=22&amp;id=257.html#fn45">[45]</a></sup> Campbell emphasized again that, despite Sambrook&rsquo;s protestations to the contrary, the BBC had in fact alleged that the government misled Parliament about the cause for war in Iraq. He posed 12 questions, to which he requested an answer by the end of the day. He informed Sambrook he was releasing the letter to the press. Campbell also used that day&rsquo;s daily press briefing, known as &ldquo;morning questions,&rdquo; to reinforce his attack on the BBC. In addition to several questions about relying on a single source, Campbell asked:</p>
<ul>
    <li>Does the BBC still stand by the allegation it made on 29th May that Number 10 added in the 45-minute claim to the dossier? Yes or no?</li>
    <li>Does it still stand by the allegation made on that day that both we and the intelligence agencies knew the 45 minute claim to be wrong and inserted it despite knowing that? Yes or no?</li>
    <li>Does it still stand by the allegation, again on the same day, that we ordered the September dossier to be &ldquo;sexed up&rdquo;?</li>
</ul>
<p>Sambrook&rsquo;s office issued a placeholder response Thursday night. It read: &ldquo;We stand by our entire story. In my experience, this is an unprecedented level of pressure on the BBC from Downing Street... The BBC will respond properly to these matters but not to a deadline dictated by Mr. Campbell.&rdquo;</p>
<div class="footnotesblock">
<h3 class="footnotes">Footnotes</h3>
<p><a title="fn45" name="fn45"></a><a href="standard.asp%3Fcase_id=22&amp;id=257.html#txtfn45" class="textfn">[45]</a> The questions were first read out at the daily morning Prime Minister&rsquo;s Office press briefing; the letter was faxed to the BBC only in the afternoon.</p>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="standard.asp%3Fcase_id=22&amp;id=256&amp;pid=0.html" class="page-previous" title="Go to previous page">&#171;&#160;BBC Response</a>

<a href="standard.asp%3Fcase_id=22&amp;id=258&amp;pid=0.html" class="page-next" title="Go to next page">Letters Flying&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=62&amp;c=bio.html">Helen&nbsp;Boaden</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=63&amp;c=bio.html">Mark&nbsp;Byford</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=64&amp;c=bio.html"> Greg&nbsp;Dyke</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=65&amp;c=bio.html">Andrew&nbsp;Gilligan</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=66&amp;c=bio.html">Kevin&nbsp;Marsh</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=67&amp;c=bio.html">Stephen&nbsp;Mitchell</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=22&amp;id=68&amp;c=bio.html">Richard&nbsp;Sambrook</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
