

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>The Raid | Mission vs Safety: OCHA Somalia and the Baidoa Raid
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/92/180-01414JournalismSomaliav2.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_92.html" title="Home"><span>The Raid</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_92_id_710.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_92_id_709.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_92_id_711.html">A Failed State</a>





</li>


<li class="leaf"><a  href="case_id_92_id_712.html">OCHA Mission</a>





</li>


<li class="leaf"><a  href="case_id_92_id_714.html">Dangerous Conditions</a>





</li>


<li class="leaf"><a  href="case_id_92_id_715.html">Return to Baidoa</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_92_id_716.html">The Raid</a>





</li>


<li class="leaf"><a  href="case_id_92_id_717.html">Nervous in Nairobi</a>





</li>


<li class="leaf"><a  href="case_id_92_id_718.html">Consider Algiers</a>





</li>


<li class="leaf"><a  href="case_id_92_id_719.html">Incident Reports</a>





</li>


<li class="leaf"><a  href="case_id_92_id_720.html">Who's in charge?</a>





</li>


<li class="leaf"><a  href="case_id_92_id_721.html">The Frontline View</a>





</li>


<li class="leaf"><a  href="case_id_92_id_722.html">Weighing the Options</a>





</li>


<li class="leaf"><a  href="case_id_92_id_723.html">US Terror List and Aid</a>





</li>


<li class="leaf"><a  href="case_id_92_id_724.html">Multiple Interests</a>





</li>


<li class="leaf"><a  href="case_id_92_id_725.html">Return or Stay Out?</a>





</li>


<li class="leaf"><a  href="case_id_92_id_726.html">Appendix 1</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/92/Mission&#32;vs&#32;Safety&#32;OCHA_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_92.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">The Raid</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	On Monday, July 20, 2009, around 11:30 a.m., some 40 gunmen entered the UNCC in Baidoa. Some wore the uniform of al-Shabaab, others trousers and T-shirts; many were masked and all were armed. The gunmen deployed themselves around the inside perimeter of the compound and at the corners of each building. Eight men guarded the gate. In the street, a truck-mounted 20mm anti-aircraft gun was trained on the compound.</p>
<p>
	Petit was at work in the OCHA office when a call came from the radio room operator urging him to leave the compound immediately, without questions. Seeing gunmen, Petit headed toward one of the armored UN vehicles but was intercepted by militiamen, who directed him instead to a meeting with the DSS officer and the Shabaab commander. Inside the DSS office, the atmosphere was serious. The commander held several documents blazoned with the emblem of al-Shabaab: an open Koran set in a circle of green and gold, guarded by two AK-47 assault rifles.</p>
<p>
	The documents announced the immediate and permanent closure of three UN agencies. The Shabaab leader announced that&mdash;because of alleged interference in Somali politics&mdash;all foreign staff attached to UNDP, UNDSS, and UNPOS must leave immediately. He also announced that his men would seize all property belonging to those organizations.</p>
<p>
	Petit tried but failed several times to reach Sheikh Robow through a Somali colleague in OCHA.<sup><a href="case_id_92_id_716.html#_ftn1" name="_ftnref1" title="">[19]</a>&nbsp;</sup>The commander then asked Petit to surrender his mobile and satellite phones, and after he and the DSS officer attempted to reach Nairobi by Skype and email, they were told to close their computers as well. Shortly afterward, the compound&rsquo;s generators were shut down. In the radio room down the hall, the phones were left to ring unanswered.</p>
<p>
	Hotz was unaware of the incursion into the compound until around noon, when she finished up a routine meeting with Somali staff and visiting NGO workers. She saw Petit and the DSS officer in heated conversation with the Shabaab commander. Sensing trouble, she slipped into the radio room and put on her hijab, then joined a group of Somali women under a tree in the courtyard. From there she watched militiamen remove weapons from the UN guardhouse. Soon after, she switched off her phone, hidden under her hijab, for fear an incoming call might attract notice. When the time came for midday prayers, she went with the women to the mosque beside the UNICEF office. From there she could see groups of insurgents carrying off the contents of the UNDP, UNPOS, and UNDSS offices while others drove all UN vehicles out of the compound.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/658/Hotz&#32;in&#32;burqa.JPG" style="height: 225px; width: 300px; " /><br />
	<p class="caption">
		Hotz dressed in a burqa</p>
</div>
<p>
	<em>All or none.</em>In the DSS office, discussions were becoming tense. Of the three targeted agencies, only DSS had any foreign staff to expel: Field Security Coordination Officer (FSCO) Anton Boshoff. UNDP and UNPOS had had no international staff in Baidoa since the general pullout in late 2008. Boshoff argued that DSS&rsquo;s function in Baidoa was not political: his role was to protect the safety of humanitarian operations; therefore he should be allowed to stay.<a href="case_id_92_id_716.html#_ftn2" name="_ftnref2" title=""><sup>[20]</sup></a>The Shabaab commander was unmoved; he insisted that Boshoff had to go. Boshoff offered a compromise: he would remain in the UN guesthouse, but do no work.</p>
<p>
	However, under UN rules, international staff could not remain in high-security areas like Baidoa without a FSCOofficer present. Boshoff was the only such officer in Baidoa. If he left, all the international staff would have to depart&mdash;including the humanitarian workers. That meant six: Boshoff from DSS, Petit and Hotz from OCHA, two UNICEF workers, and a colleague in the UN Mine Action Service. In addition, a doctor from the World Health Organization, whom Sheikh Robow had recently requested come to the UNCC, would not be allowed to come to Baidoa.</p>
<p>
	The Shabaab commander was plainly troubled by this information. His orders were to expel the three targeted agencies but to allow UN humanitarian work to proceed. The commander faced a difficult dilemma: while he could order UN staff to leave, he could not order them to stay. All six UN international staff, including Boshoff, would have preferred to remain. &ldquo;If we had had a choice, we would have stayed,&rdquo; Petit says. &ldquo;But we had no choice.&rdquo;</p>
<p>
	With discussion at an impasse, Boshoff was permitted to call Nairobi and ask that a plane be sent to return the six international staff to Kenya. Hotz was identified and brought from the mosque without incident. The staffers collected their personal gear and what files they could, then made their way to the airstrip under armed Shabaab escort. By 5 p.m. they were boarding the plane for Nairobi.<a href="case_id_92_id_716.html#_ftn3" name="_ftnref3" title=""><sup>[21]</sup></a></p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:10px;"><a href="case_id_92_id_716.html#_ftnref1" name="_ftn1" title="">[19]</a>&nbsp;Abdirashid Mohamed, a UN national staff member, was based in Baidoa but happened to be on leave in Mandera.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:10px;"><a href="case_id_92_id_716.html#_ftnref2" name="_ftn2" title="">[20]</a>&nbsp;DSS officers were not armed. Their job was to obtain and coordinate security information.</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:10px;"><a href="case_id_92_id_716.html#_ftnref3" name="_ftn3" title="">[21]</a>&nbsp;The UN staffers made an overnight stop in the Kenyan border town of Wajir, as was standard practice, so they arrived in Nairobi the next day, Tuesday, July 21.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_92_id_715_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Return to Baidoa</a>

<a href="case_id_92_id_717_pid_0.html" class="page-next" title="Go to next page">Nervous in Nairobi&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_92_id_207_c_bio.html">Bediako&nbsp;Buahene</a></li>

<li class="leaf"><a  href="case_id_92_id_208_c_bio.html">Birgitt&nbsp;Hotz</a></li>

<li class="leaf"><a  href="case_id_92_id_209_c_bio.html">Cedric&nbsp;Petit</a></li>

<li class="leaf"><a  href="case_id_92_id_210_c_bio.html">Mark&nbsp;Bowden</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
