<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Survey | From Concept to Story: Time Magazine and "America at 300 Million"
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #cc3333;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #cc3333;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/16/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_16.html" title="Home">
         <span>
          Survey
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_16.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_172.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_173.html">
          Background
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_174.html">
          Graphics at
          <i>
           Time
          </i>
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_175.html">
          On the Shelf
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_176.html">
          Choosing Covers
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_177.html">
          A Chance to See Print
         </a>
        </li>
        <li class="expanded">
         <a href="case_id_16_id_178.html">
          Crafting a Wish List
         </a>
         <ul class="menu">
          <li class="leaf">
           <a href="case_id_16_id_179_pid_178.html">
            Demographics
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_180_pid_178.html">
            Crime
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_181_pid_178.html">
            Health
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_182_pid_178.html">
            Religion
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_183_pid_178.html">
            Use of Time
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_184_pid_178.html">
            Military
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_185_pid_178.html">
            Politics
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_186_pid_178.html">
            Education
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_187_pid_178.html">
            Income
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_188_pid_178.html">
            Consumption
           </a>
          </li>
          <li class="leaf">
           <a class="active" href="case_id_16_id_189_pid_178.html">
            Survey
           </a>
          </li>
         </ul>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_190.html">
          Narrowing it Down
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_191.html">
          The Initial Strategy
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_192.html">
          Assembling a Team
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_193.html">
          Behind the News
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_194.html">
          The Boss Checks In
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_195.html">
          The Phone Call
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/16/Time Magazine and America at 300 Million_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_16.html">
        Home
       </a>
       »
       <a href="case_id_16_id_178.html">
        Crafting a Wish List
       </a>
      </div>
      <h1 class="title">
       Survey
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <strong>
          Choose ONLY five topics you would include in the article.
         </strong>
        </p>
        <p>
         Imagine that you are Jackson Dykman. It is your job to put together a 10-page (5 spreads) graphics story which will be a "mirror on America." Unlike Dykman, you have unlimited time and resources to do this right.
        </p>
        <p>
         What five topics would you choose? What unifying theme, if any, would tie together these topics?
        </p>
        <p>
         Use the survey form below to choose your topics. You can use the categories Dykman identified, or create your own. Come to class prepared to argue for your theme.
        </p>
        <form accept-charset="UTF-8" action="https://casestudies.jrn.columbia.edu/casestudy/www/layout/survey/timemagazine.asp" id="survey-response-form" method="post">
         <div>
          <div class="form-item">
           <label>
            Demographics:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-1" type="radio" value="a) Traits. Growth, ethnic composition, age distribution"/>
              a) Traits. Growth, ethnic composition, age distribution
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-1" type="radio" value="b) Population density"/>
              b) Population density
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-1" type="radio" value="c) Other"/>
              c) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-2" maxlength="64" name="field-2" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Crime:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-3" type="radio" value="a) Rates"/>
              a) Rates
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-3" type="radio" value="b) Prisons. US incarceration rates vs. other countries"/>
              b) Prisons. US incarceration rates vs. other countries
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-3" type="radio" value="c) Location.  Changing trends in where crime occurs"/>
              c) Location.  Changing trends in where crime occurs
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-3" type="radio" value="d) Other"/>
              d) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-4" maxlength="64" name="field-4" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Healthcare:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-5" type="radio" value="a) Comparative statistics. Rates of disease in US vs. elsewhere"/>
              a) Comparative statistics. Rates of disease in US vs. elsewhere
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-5" type="radio" value="b)  Preventive care. Proportion of spending"/>
              b)  Preventive care. Proportion of spending
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-5" type="radio" value="c) Other"/>
              c) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-6" maxlength="64" name="field-6" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Religion:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-7" type="radio" value="a) Who's in church?"/>
              a) Who’s in church?
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-7" type="radio" value="b) Baylor survey"/>
              b) Baylor survey
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-7" type="radio" value="c) Other"/>
              c) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-8" maxlength="64" name="field-8" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Time use:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-9" type="radio" value="a) Time use clock"/>
              a) Time use clock
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-9" type="radio" value="b) Other"/>
              b) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-10" maxlength="64" name="field-10" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Military:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-11" type="radio" value="a) Pay"/>
              a) Pay
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-11" type="radio" value="b) Demographics"/>
              b) Demographics
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-11" type="radio" value="c) Chain of command"/>
              c) Chain of command
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-11" type="radio" value="d) Other"/>
              d) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-12" maxlength="64" name="field-12" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Politics:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-13" type="radio" value="a) Voter preference"/>
              a) Voter preference
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-13" type="radio" value="b) Other"/>
              b) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-14" maxlength="64" name="field-14" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Education:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-15" type="radio" value="a) Funding"/>
              a) Funding
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-15" type="radio" value="b) NCLB"/>
              b) NCLB
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-15" type="radio" value="c) Lifetime earning reward of college education"/>
              c) Lifetime earning reward of college education
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-15" type="radio" value="d) SAT scores over time"/>
              d) SAT scores over time
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-15" type="radio" value="e) Other"/>
              e) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-16" maxlength="64" name="field-16" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Income:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-17" type="radio" value="a) Distribution"/>
              a) Distribution
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-17" type="radio" value="b) Demographics and poverty"/>
              b) Demographics and poverty
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-17" type="radio" value="c) Other"/>
              c) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-18" maxlength="64" name="field-18" size="64" type="text" value=""/>
          </div>
          <div class="form-item">
           <label>
            Consumption:
           </label>
           <div class="form-radios">
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-19" type="radio" value="a) What we buy"/>
              a) What we buy
             </label>
            </div>
            <div class="form-item">
             <label class="option">
              <input class="form-radio" name="field-19" type="radio" value="b) Other"/>
              b) Other
             </label>
            </div>
           </div>
          </div>
          <div class="form-item">
           <input class="form-text" id="edit-field-20" maxlength="64" name="field-20" size="64" type="text" value=""/>
          </div>
          <input id="edit-nid" name="nid" type="hidden" value="36"/>
          <input class="form-submit" id="edit-submit" name="op" type="submit" value="Submit"/>
          <input id="edit-survey-response-form" name="form_id" type="hidden" value="survey_response_form"/>
         </div>
        </form>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_16_id_188_pid_178.html" title="Go to previous page">
          « Consumption
         </a>
         <a class="page-next" href="case_id_16_id_190.html" title="Go to next page">
          Narrowing it Down »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_16_id_27_c_bio.html">
         Jackson Dykman
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_16_id_28_c_bio.html">
         Nancy Gibbs
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_16_id_29_c_bio.html">
         James Kelly
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_16_id_30_c_bio.html">
         Richard Stengel
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
