<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Religion | From Concept to Story: Time Magazine and "America at 300 Million"
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #cc3333;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #cc3333;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/16/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_16.html" title="Home">
         <span>
          Religion
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_16.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_172.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_173.html">
          Background
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_174.html">
          Graphics at
          <i>
           Time
          </i>
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_175.html">
          On the Shelf
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_176.html">
          Choosing Covers
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_177.html">
          A Chance to See Print
         </a>
        </li>
        <li class="expanded">
         <a href="case_id_16_id_178.html">
          Crafting a Wish List
         </a>
         <ul class="menu">
          <li class="leaf">
           <a href="case_id_16_id_179_pid_178.html">
            Demographics
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_180_pid_178.html">
            Crime
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_181_pid_178.html">
            Health
           </a>
          </li>
          <li class="leaf">
           <a class="active" href="case_id_16_id_182_pid_178.html">
            Religion
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_183_pid_178.html">
            Use of Time
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_184_pid_178.html">
            Military
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_185_pid_178.html">
            Politics
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_186_pid_178.html">
            Education
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_187_pid_178.html">
            Income
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_188_pid_178.html">
            Consumption
           </a>
          </li>
          <li class="leaf">
           <a href="case_id_16_id_189_pid_178.html">
            Survey
           </a>
          </li>
         </ul>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_190.html">
          Narrowing it Down
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_191.html">
          The Initial Strategy
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_192.html">
          Assembling a Team
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_193.html">
          Behind the News
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_194.html">
          The Boss Checks In
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_16_id_195.html">
          The Phone Call
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/16/Time Magazine and America at 300 Million_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_16.html">
        Home
       </a>
       »
       <a href="case_id_16_id_178.html">
        Crafting a Wish List
       </a>
      </div>
      <h1 class="title">
       Religion
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         The subject of Americans’ beliefs was another that Dykman felt deserved critical scrutiny. He considered two ways of approaching a spread about religion:
        </p>
        <p>
         1.
         <b>
          <em>
           Who’s in Church?
          </em>
         </b>
         “There’s lots of empirical evidence that Americans aren’t nearly as religious as they profess,” he says. “Most of these themes come from… arguments I have with myself. The religion thing started because I had an argument: darn it, people aren’t as religious as they say they are.” He continues:
        </p>
        <blockquote>
         <p>
          Religious [studies tend] to be about polling, and people lie to pollsters. The odd thing is, people will tell the truth about money, they’ll tell the truth about sex, and they’ll lie about religion to pollsters all the time.
         </p>
        </blockquote>
        <p>
         He had long wanted to address this subject in the magazine. About 10 years earlier, he had read
         <a class="pdflink" href="../../files/pdfs/24/Church attentance study.pdf" target="_blank">
          a study
         </a>
         that compared 30 years of polling data on church attendance. The authors found that the number of Americans who reported attending church every week had held steady at around 40 percent for the entire period. But counting the number of people in church yielded a much lower rate of attendance—closer to 20 percent.
         <sup>
          <a name="txtfn21" title="txtfn21">
          </a>
          <a href="case_id_16_id_182_pid_178.html#fn21">
           [21]
          </a>
         </sup>
        </p>
        <p>
         Meanwhile, the
         <a class="extlink" href="http://www.bls.gov/" target="_blank">
          Bureau of Labor Statistics
         </a>
         , a statistical research agency serving the federal government, had also been gathering data on this subject. The Bureau collected information on labor economics and statistics, and in the course of such work, it had undertaken a
         <a class="extlink" href="http://www.bls.gov/tus" target="_blank">
          time use survey
         </a>
         to determine how Americans spent their days. Thousands of respondents recounted their activities, minute by minute, to the Bureau’s researchers. “Nobody ever mentions going to church,” Dykman says. They reported precisely how many minutes they spent watching TV, taking care of children or doing housework, but far fewer than 40 percent mentioned church.
         <sup>
          <a name="txtfn22" title="txtfn22">
          </a>
          <a href="case_id_16_id_182_pid_178.html#fn22">
           [22]
          </a>
         </sup>
         “But if you poll those same people,” Dykman emphasizes, “40 percent say they go to church. There has always been this creeping evidence of things like that, which I always found really interesting.”
        </p>
        <p>
         <span class="inline right">
          <img alt="" border="0" class="image preview" height="250" src="../../files/TimeMagazine/images/baylor_survey_cover.preview.jpg" width="192"/>
         </span>
         2.
         <b>
          <em>
           Baylor Survey
          </em>
          .
         </b>
         By an accident of good timing, Dykman had read a study that week that offered a fresh and timely examination of American religion. Sociologists at Texas’ Baylor University had produced a study called
         <a class="extlink" href="http://www.baylor.edu/content/services/document.php/33304.pdf" target="_blank">
          <em>
           American Piety in the 21st Century
          </em>
         </a>
         , during the course of which researchers asked nearly 2,000 participants 29 questions about God’s “character and behavior.”
         <sup>
          <a name="txtfn23" title="txtfn23">
          </a>
          <a href="case_id_16_id_182_pid_178.html#fn23">
           [23]
          </a>
         </sup>
         Based on the results, Baylor’s researchers had extracted “two clear and distinct dimensions of belief in God.” The first pertained to God’s level of engagement in human affairs; the second, to God’s level of dissatisfaction with the human race. Based on these factors, the Baylor study identified four distinct ways of viewing God—as benevolent, authoritarian, distant or critical. The study went on to explore the impact respondents’ perceptions of God had on their daily lives and policy stances.
        </p>
        <p>
         These results were unlike those of typical religion surveys Dykman had read, which were based on data about poll respondents’ reported church attendance and religious denominations. Though the study did not speak to Dykman’s conviction that Americans are not as religious as they professed to pollsters, it could provide a timely supplement to the concept he had been considering.
        </p>
        <div class="footnotesblock">
         <h3 class="footnotes">
          Footnotes
         </h3>
         <p>
          <a name="fn21" title="fn21">
          </a>
          <a class="textfn" href="case_id_16_id_182_pid_178.html#txtfn21">
           [21]
          </a>
          C. Kirk Hadaway, Penny Long Marler, and Mark Chaves, “
          <a class="extlink" href="http://www.stat.columbia.edu/~gelman/stuff_for_blog/church0.pdf" target="_blank">
           What the Polls Don’t Show: A Closer Look at US Church Attendance
          </a>
          ,”
          <em>
           American Sociological Review
          </em>
          , Vol. 58, Issue 6, December 1993, p. 741-753.
         </p>
         <p>
          <a name="fn22" title="fn22">
          </a>
          <a class="textfn" href="case_id_16_id_182_pid_178.html#txtfn22">
           [22]
          </a>
          Stanley Presser and Linda Stinson, “
          <a class="pdflink" href="../../files/pdfs/25/Data collection mode.pdf" target="_blank">
           Data Collection Mode and Social Desirability Bias in Self-Reported Religious Attendance
          </a>
          ,”
          <em>
           American Sociological Review
          </em>
          , Vol. 63, Issue 1, February 1998, p. 137-145.
         </p>
         <p>
          <a name="fn23" title="fn23">
          </a>
          <a class="textfn" href="case_id_16_id_182_pid_178.html#txtfn23">
           [23]
          </a>
          Baylor University,
          <em>
           <a class="extlink" href="http://www.baylor.edu/content/services/document.php/33304.pdf" target="_blank">
            American Piety in the 21st Century
           </a>
          </em>
          , September 2006.
         </p>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_16_id_181_pid_178.html" title="Go to previous page">
          « Health
         </a>
         <a class="page-next" href="case_id_16_id_183_pid_178.html" title="Go to next page">
          Use of Time »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_16_id_27_c_bio.html">
         Jackson Dykman
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_16_id_28_c_bio.html">
         Nancy Gibbs
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_16_id_29_c_bio.html">
         James Kelly
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_16_id_30_c_bio.html">
         Richard Stengel
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
