

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Military | From Concept to Story: Time Magazine and "America at 300 Million"
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #cc3333;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #cc3333;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/16/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_16.html" title="Home"><span>Military</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_16.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_16_id_172.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_16_id_173.html">Background</a>





</li>


<li class="leaf"><a  href="case_id_16_id_174.html">Graphics at <i>Time</i></a>





</li>


<li class="leaf"><a  href="case_id_16_id_175.html">On the Shelf</a>





</li>


<li class="leaf"><a  href="case_id_16_id_176.html">Choosing Covers</a>





</li>


<li class="leaf"><a  href="case_id_16_id_177.html">A Chance to See Print</a>





</li>


<li class="expanded"><a  href="case_id_16_id_178.html">Crafting a Wish List</a>


<ul class="menu">

<li class="leaf"><a  href="case_id_16_id_179_pid_178.html">Demographics</a></li>

<li class="leaf"><a  href="case_id_16_id_180_pid_178.html">Crime</a></li>

<li class="leaf"><a  href="case_id_16_id_181_pid_178.html">Health</a></li>

<li class="leaf"><a  href="case_id_16_id_182_pid_178.html">Religion</a></li>

<li class="leaf"><a  href="case_id_16_id_183_pid_178.html">Use of Time</a></li>

<li class="leaf"><a  class="active"  href="case_id_16_id_184_pid_178.html">Military</a></li>

<li class="leaf"><a  href="case_id_16_id_185_pid_178.html">Politics</a></li>

<li class="leaf"><a  href="case_id_16_id_186_pid_178.html">Education</a></li>

<li class="leaf"><a  href="case_id_16_id_187_pid_178.html">Income</a></li>

<li class="leaf"><a  href="case_id_16_id_188_pid_178.html">Consumption</a></li>

<li class="leaf"><a  href="case_id_16_id_189_pid_178.html">Survey</a></li>

</ul>




</li>


<li class="leaf"><a  href="case_id_16_id_190.html">Narrowing it Down</a>





</li>


<li class="leaf"><a  href="case_id_16_id_191.html">The Initial Strategy</a>





</li>


<li class="leaf"><a  href="case_id_16_id_192.html">Assembling a Team</a>





</li>


<li class="leaf"><a  href="case_id_16_id_193.html">Behind the News</a>





</li>


<li class="leaf"><a  href="case_id_16_id_194.html">The Boss Checks In</a>





</li>


<li class="leaf"><a  href="case_id_16_id_195.html">The Phone Call</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/16/Time&#32;Magazine&#32;and&#32;America&#32;at&#32;300&#32;Million_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_16.html">Home</a> 
		
			
		&raquo; <a href="case_id_16_id_178.html">Crafting a Wish List</a>
		
		
		
		</div>		
		<h1 class="title">Military</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>Dykman also considered a spread on the military. There were a number of angles he could explore:</p>
<p>1. <b><em>Pay</em>.</b> On October 3, soon after Dykman had embarked on his project, Congress had passed a 2.2 percent pay raise for members of the armed services.<sup><a name="txtfn24" title="txtfn24"></a><a href="case_id_16_id_184_pid_178.html#fn24">[24]</a></sup> He knew that even with the raise, a soldier&rsquo;s starting pay was roughly the same as that of a full-time <em>barista</em> at Starbucks. &ldquo;The Starbucks <em>barista</em> is not risking his/her life for the low pay,&rdquo; Dykman emphasizes, &ldquo;but a soldier very certainly is. That takes uncommon dedication. I don&rsquo;t think most Americans have the slightest clue how very little soldiers are paid.&rdquo;<sup><a name="txtfn25" title="txtfn25"></a><a href="case_id_16_id_184_pid_178.html#fn25">[25]</a></sup></p>
<p>2. <b><em>Demographics</em>.</b> He also knew that the military published its own census, called &ldquo;<a href="https://web-beta.archive.org/web/20090528001504/http://www.defenselink.mil/prhome/poprep2004/introduction/index.html" target="_blank" class="extlink">Population Representation in the Armed Services</a>,&rdquo; which reported the composition of the armed services based on ethnicity, income, geography, and a number of other factors. He was interested in the geographic distribution of soldiers and Marines, as well as their economic background. Since women comprised an ever-larger proportion of the armed services, he considered examining their role and their numbers in different segments of the military.</p>
<p>3. <b><em>Chain of Command</em>. </b>The military, furthermore, had drawn its members from a shrinking proportion of society since the end of the Vietnam War-era draft. Dykman wondered if he could produce a variation on a graphic he&rsquo;d done for <em>Time</em> in June 2006, which had produced considerable response from readers pleased to have learned something.<sup><a name="txtfn26" title="txtfn26"></a><a href="case_id_16_id_184_pid_178.html#fn26">[26]</a></sup> His <a href="case_id_16_id_235_c_photo.html" class="photolink">June chart</a> had detailed the hierarchy of the armed forces, including the size of subunits such as platoons, companies, and battalions. &ldquo;It&rsquo;s&hellip; stuff everybody knew in my father&rsquo;s generation,&rdquo; says Dykman. But the average American no longer knew much about the structure of the military. Perhaps he could explore this subject in greater depth for the &ldquo;300 Million&rdquo; story.</p>
<div class="footnotesblock">
<h3 class="footnotes">Footnotes</h3>
<p><a name="fn24" title="fn24"></a><a href="case_id_16_id_184_pid_178.html#txtfn24" class="textfn">[24]</a> Stephen Barr, &ldquo;Congress Sets Military Pay Raise, Punts on Civil Service,&rdquo; <em>Washington Post</em>, October 3, 2006, p. D4.</p>
<p><a name="fn25" title="fn25"></a><a href="case_id_16_id_184_pid_178.html#txtfn25" class="textfn">[25]</a> Email from Jackson Dykman on July 26, 2007. He continues: &quot;Starbucks claims their starting pay is $7.50 an hour, plus tips. If you enlist in the Army tomorrow you will make $14,446.80 a year (with a raise to $15,616 after four months). That&rsquo;s just under $7 an hour (it&rsquo;s actually far less than that, if you consider that deployed active-duty soldiers &lsquo;work&rsquo; much more than 40 hours a week). Congress just passed a new minimum wage law that will increase it to $7.20 an hour over two years.&quot;  Monthly armed services pay figures (2007) <a href="http://www.dfas.mil/militarypay/2006militarypaytables/2007_Web_Pay_Table.pdf" target="_blank" class="pdflink">are available</a>.</p>
<p><a name="fn26" title="fn26"></a><a href="case_id_16_id_184_pid_178.html#txtfn26" class="textfn">[26]</a> The graphic accompanied a story by Michael Duffy, Tim McGirk, and Aparism Ghosh, &ldquo;The Ghosts of Haditha,&rdquo; <em>Time</em>, June 4, 2006. <em>Time</em> broke the story about Marines who allegedly gunned down 24 unarmed Iraqis in Haditha on its website in March 2006. The revelations sparked two major military investigations, the progress of which <em>Time</em> continued to document. One investigation sought to uncover whether the Marines had deliberately killed civilian Iraqis. The other examined the possibility that Marine commanders had tried to cover up the incident.</p>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_16_id_183_pid_178.html" class="page-previous" title="Go to previous page">&#171;&#160;Use of Time</a>

<a href="case_id_16_id_185_pid_178.html" class="page-next" title="Go to next page">Politics&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_16_id_27_c_bio.html">Jackson&nbsp;Dykman</a></li>

<li class="leaf"><a  href="case_id_16_id_28_c_bio.html">Nancy&nbsp;Gibbs</a></li>

<li class="leaf"><a  href="case_id_16_id_29_c_bio.html">James&nbsp;Kelly</a></li>

<li class="leaf"><a  href="case_id_16_id_30_c_bio.html">Richard&nbsp;Stengel</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
