

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Fairness Policy | Frontline's "The Last Abortion Clinic": What's Fair in a Video World?
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #006699;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #006699;
}

#media {
font-style:italic;
}



</style>
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/2/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_2.html" title="Home"><span>Fairness Policy</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_2.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_2_id_64.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_2_id_65.html">Frontline: Brief History</a>





</li>


<li class="leaf"><a  href="case_id_2_id_66.html">Choosing the Line-up</a>





</li>


<li class="leaf"><a  href="case_id_2_id_67.html">Raney Aronson</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_2_id_68.html">Fairness Policy</a>





</li>


<li class="leaf"><a  href="case_id_2_id_69.html">Framing the Story</a>





</li>


<li class="leaf"><a  href="case_id_2_id_70.html">What Price Access?</a>





</li>


<li class="leaf"><a  href="case_id_2_id_71.html">Summer on the Road</a>





</li>


<li class="leaf"><a  href="case_id_2_id_72.html">Keeping Fairness in Mind</a>





</li>


<li class="leaf"><a  href="case_id_2_id_73.html">Assembling Material</a>





</li>


<li class="leaf"><a  href="case_id_2_id_74.html">To Use or Not to Use?</a>





</li>


<li class="leaf"><a  href="case_id_2_id_75.html">The Rough Cut</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/2/Frontline&#32;Text.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_2.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Fairness Policy</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>Aronson knew that <em>Frontline</em> was not interested in advocacy pieces.<sup><a title="txtfn7" name="txtfn7"></a><a href="case_id_2_id_68.html#fn7">[7]</a></sup>  &ldquo;If you want to make a polemic, it&rsquo;s easy,&rdquo; comments Fanning. Finding a neutral voice, introducing facts in a balanced and equitable manner, was harder. <em>Frontline</em> set itself high standards, codified in a set of <em><a target="_blank" href="http://www.pbs.org/wgbh/pages/frontline/us/guidelines.html">Guidelines on Journalistic Standards and Practices</a></em>.</p>
<p>While it was not possible to anticipate every situation, the guidelines stipulated that producers be &ldquo;interested in honest inquiry into the matter at hand, and &hellip; approach the making of programs with an open mind.&rdquo; The producer, it said, &ldquo;must be sensitive to issues of fairness if the program is to have credibility. Truth is an elusive combination of fact and opinion, of reason and experience.&rdquo; Producers &ldquo;will try to keep personal bias and opinion from influencing their pursuit of a story.&rdquo; Intent, <em>Frontline</em> stated, counted for a great deal:</p>
<blockquote>
<p>If the intent is seen to be fair, whatever message the program carries is reinforced. When a program seems to the viewer to be unfair, it defeats itself. On a controversial subject, the ideal program is one whose tone is persuasive, not argumentative.</p>
</blockquote>
<p>Fairness, the guidelines spelled out, did not mean equal time for conflicting opinions. &ldquo;However,&rdquo; they continued, &ldquo;it does require the acknowledgement of, and responsible statement of, those conflicting opinions.&rdquo; Wiley adds that <em>Frontline</em> emphasizes fairness over balance for a reason:</p>
<blockquote>
<p>The reason is that the weight of reporting may fall on one side or the other. There may just be more interesting facts and more stories and more information from one side or the other in a controversial issue. So it isn&rsquo;t a balancing test, it&rsquo;s a fairness test that I like for all of our programs.</p>
</blockquote>
<p><em>Listen to Wiley on fairness in documentaries.</em><br />
<span class="footnoteslength"><strong>Length:</strong> 1 min 35 sec</span><br />
<img border="0" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/frontline/Wiley_on_balance.mp3" class="audiofile" alt="" /></p>
<p>With a hot-button topic like abortion, expands Fanning, &ldquo;everybody&rsquo;s going into a film like this with all of their antennae out.&quot;</p>
<blockquote>
<p>This is one of those films where you have an obligation as a journalist to be extremely careful of being fair to the subject. You know you&rsquo;re going to be scrutinized. [But] if you respect the people who are going to be in your story, if you respect that they come to those conclusions, those positions, in honesty, and if you can say to yourself I&rsquo;m going to be fair to them, then you can function.</p>
</blockquote>
<p><em>Frontline</em> was no stranger to controversy, and had learned some things over the years, says Wiley: &ldquo;As a subject defines itself automatically at the high end of controversy, you focus your attention a little more on how you&rsquo;re going to deal with the fact that you&rsquo;re in controversial territory.&rdquo; Aronson intended to keep her own views to herself. &ldquo;I am very strict on this,&rdquo; she says.</p>
<blockquote>
<p>We are professional journalists, and that&rsquo;s what we do. It doesn&rsquo;t matter if I have a strong point of view on abortion. I&rsquo;m not going to share it. It doesn&rsquo;t matter what I believe, because I&rsquo;m going to actually be able to put my personal point of view aside and report on the issue.</p>
</blockquote>
<p><em>Listen to Aronson on journalistic objectivity.</em><br />
<span class="footnoteslength"><strong>Length:</strong> 39 sec</span><br />
<img border="0" src="http://ccnmtl.columbia.edu/broadcast/projects/knight_case_studies/frontline/Aronson_on_balance.mp3" class="audiofile" alt="" /></p>
<p>That goal shaped her strategy. &ldquo;Really going inside the pro-life movement was important to me, and giving them a voice was really important to me. It was also extremely important for me to go inside the pro-choice movement and look at what they were feeling were their strongest arguments. I was like a conduit,&rdquo; she explains. But first she had to decide what story she wanted to tell.</p>
<div class="footnotesblock">
<h3 class="footnotes">Footnotes</h3>
<p><a title="fn7" name="fn7"></a><a class="textfn" href="case_id_2_id_68.html#txtfn7">[7]</a> <em>Frontline</em> had, however, told some stories which advocacy groups applauded. In particular, award-winning producer Ofra Bikel had won recognition for her in-depth investigations of the criminal justice system, several of which sparked changes in legislation, re-trials or other action.</p>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_2_id_67.html" class="page-previous" title="Go to previous page">&#171;&#160;Raney Aronson</a>

<a href="case_id_2_id_69.html" class="page-next" title="Go to next page">Framing the Story&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_2_id_15_c_bio.html">Raney&nbsp;Aronson</a></li>

<li class="leaf"><a  href="case_id_2_id_16_c_bio.html">Amy&nbsp;Baxt</a></li>

<li class="leaf"><a  href="case_id_2_id_17_c_bio.html">Seth&nbsp;Bomse</a></li>

<li class="leaf"><a  href="case_id_2_id_18_c_bio.html">David &nbsp;Fanning</a></li>

<li class="leaf"><a  href="case_id_2_id_19_c_bio.html">Louis&nbsp;Wiley</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
