<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Broken windows, missing books | Fighting for Equality in Education: Student Activism in Post-apartheid South Africa
	- A Journalism Case Study
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/130/180-02558_EqualEd_EB_CN_v4.1.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_130.html" title="Home">
         <span>
          Broken windows, missing books
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_130.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_130_id_918.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_130_id_919.html">
          Unequal education: apartheid's legacy
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_130_id_920.html">
          Rediscovered activism
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_130_id_921.html">
          Educational haves and have-nots
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_130_id_922.html">
          Broken windows, missing books
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_130_id_923.html">
          Campaign for school infrastructure
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_130_id_924.html">
          Going to court
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_130_id_925.html">
          Settlement and a draft
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_130_id_926.html">
          Rushing into a quandary
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/130/Equal Education final 070714.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_130.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Broken windows, missing books
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         Equal Education’s first campaign was
         <a href="http://www.equaleducation.org.za/article/2013-02-19-broken-windows-overview" target="_blank">
          about broken windows at a single school
         </a>
         , Luhlaza High School in Khayelitsha, a township of 600,000 in metropolitan Cape Town, about 30 kilometers southeast of downtown. The school, which taught 1,000 students, had 500 windows that had been broken for more than four years. Cold winter temperatures made it difficult for students to concentrate.
        </p>
        <p>
         In June 2008, EE’s Isaacs, Dwane and Hasson met with the high school’s principal, teachers and student leaders as well as officials of the Western Cape Education Department (WCED). EE gathered 2,000 signatures on a petition and, when that got no reaction, held a rally in Cape Town on October 10 attended by 450 students from 18 high schools in Khayelitsha. Luhlaza students wrote articles for the local press and were interviewed on local radio. On November 13, Equal Education held a public meeting in Khayelitsha attended by more than 300 community members. WCED officials announced at the meeting that the windows would be fixed, and over the December/January summer break every broken window was replaced.
         <sup>
          <a href="case_id_130_id_922.html#_ftn1" name="_ftnref1" title="">
           [20]
          </a>
         </sup>
        </p>
        <p>
         Isaacs liked the campaign, dubbed Fix Our Schools, because it was intuitive and the community could see tangible results. "One of the questions of strategy and tactics in any activist organization is to be, on the one hand, guided by evidence that will point you to important issues, but on the other hand, to be guided by what regularpeople regard as important issues and what speaks to them," he says.
        </p>
        <p>
         But EE did not want to fight only for infrastructure improvements. It considered behaviors as well. For its second campaign, Equal Education decided to tackle tardiness, known in South Africa as latecoming. Like the broken windows campaign, the ‘No to Latecoming Campaign’ was chosen by the
         <em>
          equalisers
         </em>
         themselves, through discussions that aimed for consensus. On May 4, 2009,
         <em>
          e
         </em>
         <em>
          quali
         </em>
         <em>
          s
         </em>
         <em>
          ers
         </em>
         stood outside their schools at 7:30 a.m. and handed out leaflets detailing the damage latecoming caused both students and teachers. The demonstrations raised awareness, sparked discussion and dramatically reduced the number of latecomers. At one Khayelitsha high school, the tardy rate fell from 121 a day at the beginning of the month to one by the end.
         <sup>
          <a href="case_id_130_id_922.html#_ftn2" name="_ftnref2" title="">
           [21]
          </a>
         </sup>
        </p>
        <p>
         <em>
          Books.
         </em>
         The organization’s third campaign was for school libraries. Only 8 percent of South Africa’s public schools had functional libraries, and only about a quarter had a library at all.
         <sup>
          <a href="case_id_130_id_922.html#_ftn3" name="_ftnref3" title="">
           [22]
          </a>
         </sup>
         EE decided to advocate for a library and full-time librarian in every public school. On September 22, 2009, Equal Education held a march to Cape Town City Hall to launch the libraries campaign. About 3,000 students participated, and the march garnered national and international press coverage.
         <sup>
          <a href="case_id_130_id_922.html#_ftn4" name="_ftnref4" title="">
           [23]
          </a>
         </sup>
         The campaign featured the slogan “one school, one library, one librarian.”
        </p>
        <div style="float:right;padding:10px">
         <img src="../../files/photos/954/Brad Brockman.JPG" style="width: 250px; height: 288px;"/>
         <br/>
         <p class="caption">
          Brad Brockman
         </p>
        </div>
        <p>
         Six months later, seeing little improvement, EE upped the ante. On March 21, 2010, it held first an outdoor hip-hop concert and then a march to parliament in Cape Town. The events drew 10,000 people. The marchers delivered a memorandum addressed to Minister of Basic Education Angie Motshekga that reiterated the call for libraries in every school. “During that campaign, Equal Education really built a national profile,” says
         <a href="case_id_130_id_276_c_bio.html">
          Brad Brockman
         </a>
         , then-editor of the EE publication
         <em>
          The Equalizer
         </em>
         . “We really put this issue of access to books and literacy for the very poor and working-class onto the national agenda.”
         <sup>
          <a href="case_id_130_id_922.html#_ftn5" name="_ftnref5" title="">
           [24]
          </a>
         </sup>
        </p>
        <p>
         The campaign also got results. “We managed to get the national department to publish a set of guidelines for school libraries in the middle of 2010,” says Brockman. “We were also able to [impel] provincial education departments to strengthen the roll-out of school libraries.” But that still left plenty of school-related issues to address.
        </p>
        <div>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_130_id_922.html#_ftnref1" name="_ftn1" title="">
             [20]
            </a>
            Ibid.
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_130_id_922.html#_ftnref2" name="_ftn2" title="">
             [21]
            </a>
            Equal Education 2009 Annual Report. See
            <a href="http://www.equaleducation.org.za/content/2013/08/08/Equal-Education-Annual-Report-2009.pdf">
             http://www.equaleducation.org.za/content/2013/08/08/Equal-Education-Annual-Report-2009.pdf
            </a>
           </span>
          </p>
         </div>
         <div id="ftn3">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_130_id_922.html#_ftnref3" name="_ftn3" title="">
             [22]
            </a>
            Ibid.
           </span>
          </p>
         </div>
         <div id="ftn4">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_130_id_922.html#_ftnref4" name="_ftn4" title="">
             [23]
            </a>
            Celia W. Dugger, “South African Children Push for Better Schools,”
            <em>
             New York Times
            </em>
            , September 24, 2009. See:
            <a href="http://www.nytimes.com/2009/09/25/world/africa/25safrica.html?_r=2&amp;hpw">
             http://www.nytimes.com/2009/09/25/world/africa/25safrica.html?_r=2&amp;hpw
            </a>
           </span>
          </p>
         </div>
         <div id="ftn5">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_130_id_922.html#_ftnref5" name="_ftn5" title="">
             [24]
            </a>
            Author's interview with Brad Brockman in Khayelitsha, South Africa on January 21, 2014. All further quotes from Brockman, unless otherwise attributed, are from this interview.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_130_id_921.html" title="Go to previous page">
          « Educational haves and have-nots
         </a>
         <a class="page-next" href="case_id_130_id_923.html" title="Go to next page">
          Campaign for school infrastructure »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_130_id_275_c_bio.html">
         Doron Isaacs
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_130_id_276_c_bio.html">
         Brad Brockman
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_130_id_277_c_bio.html">
         Geoff Budlender
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
