<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Caricatured: Le Monde and the Mohammed Cartoons | Caricatured: Le Monde and the Mohammed Cartoons
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #ab0c0c;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #ab0c0c;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/66/le_monde_banner_1.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_66.html" title="Home">
         <span>
          Caricatured: Le Monde and the Mohammed Cartoons
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a class="active" href="case_id_66.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_588.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_589.html">
          <i>
           Jyllands-Posten
          </i>
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_590.html">
          Boycotts and burnings
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_591.html">
          France and religion
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_592.html">
          Sectarian violence
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_593.html">
          European press and cartoons
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_594.html">
          <i>
           Le Monde
          </i>
          : quoi faire?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_595.html">
          Plantu cartoon
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_66_id_596.html">
          <i>
           Le Monde
          </i>
          reconsiders
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/66/Le Monde and the Mohammed Cartoons_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="two-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_66.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Caricatured:
       <i>
        Le Monde
       </i>
       and the Mohammed Cartoons
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <strong>
          Abstract
         </strong>
        </p>
        <p>
         <em>
          CSJ-11-0036.0
         </em>
         Journalists are increasingly called on to consider religion in their daily reporting. Sometimes, the story is actually about religion. That was the case in early 2006, when news organizations across the world debated whether and how to republish Danish cartoons of the Islamic Prophet Mohammed. The cartoons had ignited protests, embassy burnings, and caused deaths in Muslim countries. The influential French paper
         <em>
          Le Monde
         </em>
         found itself balancing two priorities: to respect religious beliefs and to support freedom of expression. Its situation was complicated by the fact that Paris hosted one of the largest Muslim populations in Europe, and riots in predominantly Muslim areas in late 2005 had shaken the country.
         <em>
          Le Monde
         </em>
         editors bought themselves some time by commissioning their renowned cartoonist, Plantu, to draw a caricature of the conflict over the cartoons. But eventually they had to confront the decision: should they publish the original cartoons, and if so, which ones?
        </p>
        <p>
         Students can use this case to debate the role of religion in a secular society and the contribution the media can make to stoking or calming a conflict, the responsibility of news outlets to inform readers even if the information is inflammatory, the line between respect for religion and censorship, and the balance between religious beliefs and freedom of the press. France prides itself on its secular humanism, and
         <em>
          Le Monde
         </em>
         reflects that national philosophy. Its editors, a close-knit group who have worked together for decades, mostly consider themselves a-religious. Plantu himself was in two minds about republishing the Danish cartoons. Is there a difference between cartoons about religion and those about political figures? Between cartoons about Christianity and Islam? How does a cartoon differ from an editorial?
        </p>
        <p>
         This case can be used in a course on reporting on religion; media and democracy; media graphics; or international journalism.
        </p>
        <div>
         <p>
          <b>
           Credits
           <br/>
          </b>
         </p>
         <p>
          <i>
           This case was written by
          </i>
          <em>
           Kirsten Lundberg, Director, for the Knight Case Studies Initiative, Graduate School of Journalism, Columbia University. The faculty sponsor was
           <em>
            Professor David Klatell.
           </em>
           Funding was provided by the John S. and James L. Knight Foundation. (0211)
          </em>
          <i>
          </i>
         </p>
         <div class="footnotesblock">
         </div>
         <div>
          <strong>
           For further information:
          </strong>
         </div>
         <div>
          E-mail:
          <a href="mailto:ccnmtl+casestudies@columbia.edu" style="color: rgb(17, 85, 204);" target="_blank">
           ccnmtl+casestudies@columbia.edu
          </a>
         </div>
         <div>
          Website:
          <a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">
           https://casestudies.ccnmtl.columbia.edu
          </a>
         </div>
         <div class="book-navigation" style="clear:both">
          <div class="page-links clear-block">
           <a class="page-next" href="case_id_66_id_588.html" title="Go to next page">
            Introduction »
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
      <!-- id="main" -->
     </div>
     <!-- id="contentbody" -->
     <div class="visualclear">
     </div>
    </div>
    <!-- id="pagebody" -->
    <div style="clear: both;">
    </div>
    <div id="footer">
     <div id="footer-inner">
      <div class="block block-menu" id="block-menu-66">
       <h2 class="title">
        System menu
       </h2>
       <div class="content">
        <ul class="menu">
         <li class="leaf">
          <!-- copyright notice -->
         </li>
        </ul>
       </div>
      </div>
     </div>
     <!-- id="footer-inner" -->
    </div>
    <!-- id="footer" -->
   </div>
   <!-- id="container" -->
   <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   </script>
   <script type="text/javascript">
    try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
   </script>
  </div>
 </body>
</html>
