

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Sectarian violence | Caricatured: Le Monde and the Mohammed Cartoons
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #ab0c0c;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #ab0c0c;
}

#media {
font-style:italic;
}



</style>
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/66/le_monde_banner_1.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_66.html" title="Home"><span>Sectarian violence</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_66.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_66_id_588.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_66_id_589.html"><i>Jyllands-Posten</i></a>





</li>


<li class="leaf"><a  href="case_id_66_id_590.html">Boycotts and burnings</a>





</li>


<li class="leaf"><a  href="case_id_66_id_591.html">France and religion</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_66_id_592.html">Sectarian violence</a>





</li>


<li class="leaf"><a  href="case_id_66_id_593.html">European press and cartoons</a>





</li>


<li class="leaf"><a  href="case_id_66_id_594.html"><i>Le Monde</i>: quoi faire?</a>





</li>


<li class="leaf"><a  href="case_id_66_id_595.html">Plantu cartoon</a>





</li>


<li class="leaf"><a  href="case_id_66_id_596.html"><i>Le Monde</i> reconsiders</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/66/Le&#32;Monde&#32;and&#32;the&#32;Mohammed&#32;Cartoons_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_66.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Sectarian violence</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="float: right; padding: 10px;">
	<img src="../../files/photos/465/banlieue.jpg" /><br />
	<p class="caption">
		The <i>banlieue</i>, or bleak suburbs outside Paris,<br />
		is home to millions of Arab immigrants.<br />
		&copy; Paul Karl Lukacs/The Nomad Lawyer</p>
</div>
<p>
	For over a year, Europe had suffered attacks that seemed the result of a growing rift between Muslims and others in European society. On March 11, 2004, 191 people had died when bombs set by an Al-Qaeda&ndash;inspired terrorist cell exploded on a Madrid train. Four days later, the French National Assembly had passed a controversial law banning the wearing of overt religious symbols or clothing in public schools. The law seemed to target Muslim women in headscarves or other coverings, and protests were widespread. In November 2004, rightwing filmmaker and Islam critic Theo Van Gogh was murdered in Holland. In July 2005, Muslim bombers motivated by Al-Qaeda struck twice in London.</p>
<p>
	<strong><em>2005 riots</em>.</strong> Paris experienced its own brand of sectarian violence in the fall of 2005. This time, it was not terrorists who struck. Riots broke out in the Paris area of Clichy-sous-Bois on October 27, 2005, after the accidental deaths of two Islamic teenagers. The protests grew steadily, and on November 2, 180 cars throughout greater Paris were set on fire; police arrested 34 rioters. Then-Interior Minister Nicolas Sarkozy referred to the protesters as riffraff and promised a &ldquo;war without mercy&rdquo; to restore order. By November 12, the violence had spread to 30 cities and the government imposed a state of emergency in the worst-affected areas. It was weeks before the violence was brought under control, and the costs&mdash;both financial and social&mdash;were high.</p>
<p>
	With this history so recently put behind them, it was with some trepidation that France followed the controversy over the Mohammed cartoons as it grew through December and caught fire in late January with embassy closings, mass protests in the Middle East, and burgeoning violence.</p>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_66_id_591.html" class="page-previous" title="Go to previous page">&#171;&#160;France and religion</a>

<a href="case_id_66_id_593.html" class="page-next" title="Go to next page">European press and cartoons&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_66_id_159_c_bio.html">Sylvie&nbsp;Kauffmann</a></li>

<li class="leaf"><a  href="case_id_66_id_160_c_bio.html">Laurent&nbsp;Greilsamer</a></li>

<li class="leaf"><a  href="case_id_66_id_161_c_bio.html">Jean&nbsp;Plantureux/Plantu</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
