

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Le Monde reconsiders | Caricatured: Le Monde and the Mohammed Cartoons
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #ab0c0c;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #ab0c0c;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/66/le_monde_banner_1.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_66.html" title="Home"><span>Le Monde reconsiders</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_66_id_587.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_66_id_588.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_66_id_589.html"><i>Jyllands-Posten</i></a>





</li>


<li class="leaf"><a  href="case_id_66_id_590.html">Boycotts and burnings</a>





</li>


<li class="leaf"><a  href="case_id_66_id_591.html">France and religion</a>





</li>


<li class="leaf"><a  href="case_id_66_id_592.html">Sectarian violence</a>





</li>


<li class="leaf"><a  href="case_id_66_id_593.html">European press and cartoons</a>





</li>


<li class="leaf"><a  href="case_id_66_id_594.html"><i>Le Monde</i>: quoi faire?</a>





</li>


<li class="leaf"><a  href="case_id_66_id_595.html">Plantu cartoon</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_66_id_596.html"><i>Le Monde</i> reconsiders</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/66/Le&#32;Monde&#32;and&#32;the&#32;Mohammed&#32;Cartoons_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_66.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title"><i>Le Monde</i> reconsiders</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	The edition of Saturday, February 4 (which hit the streets at noon Friday) featured a front page headline: <em>&ldquo;Manifestations contre les caricatures de Mahomet&rdquo;</em> (demonstrations against the Mohammed cartoons). More followed inside, where Page 4 was devoted to the controversy. There were four main stories, plus a box featuring three precedents for such outrage: Salman Rushdie, Taslima Nasreen, and Theo van Gogh.<a href="case_id_66_id_596.html#_ftn1" name="_ftnref1" title="">[1]</a>One of the articles described the unease and embarrassment of French politicians, torn in how to respond to the French Muslim community.</p>
<div style="float: right; padding: 10px;">
	<img src="../../files/photos/462/le_monde_newsroom.jpg" /><br />
	<p class="caption">
		<i>Le Monde</i> newsroom</p>
</div>
<p>
	But as the editors sat down to their daily noontime meeting on Friday, February 3, they realized that all this coverage, while comprehensive, was likely not enough. The question of whether or not to reproduce the cartoons was stubbornly still with them. The reasons to avoid them had not changed. There was still the recent history of riots in Paris to consider. Kauffmann notes that &ldquo;the Middle East, the Jewish-Muslim divide&hellip; is the toughest issue in France&hellip; These debates are always very tough, and on our website it&rsquo;s terrible. It&rsquo;s the issue which gets the most reaction.&rdquo;The editors also worried about whether their correspondents in the Middle East might suffer.</p>
<p>
	There was in addition discussion of whether <em>Le Monde</em> readers took much interest in religious cartoons. As Greilsamer emphasizes, France was a thoroughly secular society. Since the 1970s, especially among the intellectuals who comprised <em>Le Monde&rsquo;</em>s core readership, religion was dismissed as akin to magic. He recalls, &ldquo;In the 1970s, in a certain milieu, to say I believe or to say I practice a religion, it was really to say you were a peasant.&rdquo; Did <em>Le Monde</em> readers seriously want to see the cartoons for themselves?</p>
<p>
	As <em>le redaction</em> looked around the table, &ldquo;people were pretty divided, I think,&rdquo; recalls Kauffmann. &ldquo;Some thought that we should print them. Others thought that it was not a good idea.&rdquo; She continues:</p>
<blockquote>
	<p>
		Some people thought yes, if Muslim readers or people abroad (because there wasn&rsquo;t so much protest in France) find it offensive, why should we add one more layer? Why should we play that against their sensitivity? And the other line was very much&hellip; the other camp was we&rsquo;re free. We are in France. We are not a Muslim country. We looked into cartoons that we published 20, 30 years ago about Jesus Christ and they were much, much worse. Even in <em>Le Monde</em>. So it was no, why should we fear anything? This is our right. It&rsquo;s freedom of speech. It&rsquo;s a principle.</p>
</blockquote>
<p>
	Greilsamer listed two conditions for the paper even to consider running the Danish cartoons: 1) obtain the views of <em>Le Monde</em> correspondents in the Middle East, and 2) ensure that <em>Le Monde</em>&rsquo;streatment of the cartoons, whatever it might be, was respectful. Then there was the secondary dilemma: If the paper decided to print the cartoons, should it run all of them, or some of them? If some, which ones? It was Friday noon, February 3. The Sunday-Monday edition would be on newsstands in 24 hours, at noon on Saturday. If <em>le redaction</em> was to get the Danish cartoons into the paper, they would have to make a decision soon.</p>
<div>
	<br clear="all" />
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size: 11px;"><a href="case_id_66_id_596.html#_ftnref1" name="_ftn1" title="">[1]</a> Nasreen was a Bangladeshi physician, writer, feminist, and human rights activist critical of Islam who fled her country and was expelled from India after denunciations and death threats from Muslim fundamentalists.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_66_id_595_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Plantu cartoon</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_66_id_159_c_bio.html">Sylvie&nbsp;Kauffmann</a></li>

<li class="leaf"><a  href="case_id_66_id_160_c_bio.html">Laurent&nbsp;Greilsamer</a></li>

<li class="leaf"><a  href="case_id_66_id_161_c_bio.html">Jean&nbsp;Plantureux/Plantu</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
