<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Rezendes Gets a Scoop | Reporting an Explosive Truth: The Boston Globe and Sexual Abuse in the Catholic Church 
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #996632;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #996632;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/14/banner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_14.html" title="Home"><span>Rezendes Gets a Scoop</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_14.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_14_id_138.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_14_id_139.html"><i>Boston Globe</i>&#8212;Brief History</a>





</li>


<li class="leaf"><a  href="case_id_14_id_140.html">Baron&#8212;A New Face</a>





</li>


<li class="leaf"><a  href="case_id_14_id_141.html">An Investigation is Born</a>





</li>


<li class="leaf"><a  href="case_id_14_id_142.html">The Spotlight Team</a>





</li>


<li class="leaf"><a  href="case_id_14_id_143.html">The National Picture</a>





</li>


<li class="leaf"><a  href="case_id_14_id_144.html">The "Most Catholic City"</a>





</li>


<li class="leaf"><a  href="case_id_14_id_145.html">Cardinal Law</a>





</li>


<li class="leaf"><a  href="case_id_14_id_146.html">The Paper and the Cardinal</a>





</li>


<li class="leaf"><a  href="case_id_14_id_147.html">The <i>Globe</i> and Boston's Catholics</a>





</li>


<li class="leaf"><a  href="case_id_14_id_148.html">Father Geoghan Case</a>





</li>


<li class="leaf"><a  href="case_id_14_id_149.html">Starting to Dig</a>





</li>


<li class="leaf"><a  href="case_id_14_id_150.html">Organizing the Files</a>





</li>


<li class="leaf"><a  href="case_id_14_id_151.html">The Database Grows</a>





</li>


<li class="leaf"><a  href="case_id_14_id_152.html">When the Story Gets Personal</a>





</li>


<li class="leaf"><a  href="case_id_14_id_153.html">Reporting Your Culture</a>





</li>


<li class="leaf"><a  href="case_id_14_id_154.html">Potential Backlash</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_14_id_155.html">Rezendes Gets a Scoop</a>





</li>


<li class="leaf"><a  href="case_id_14_id_156.html">Publish or Pause?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/14/Boston&#32;Globe&#32;and&#32;Sexual&#32;Abuse&#32;in&#32;the&#32;Catholic&#32;Church_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_14.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Rezendes Gets a Scoop</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="ProgId" content="Word.Document">
<meta name="Generator" content="Microsoft Word 11">
<meta name="Originator" content="Microsoft Word 11">
<link rel="File-List" href="file:///C:%5CDOCUME%7E1%5CKGILSI%7E1%5CLOCALS%7E1%5CTemp%5Cmsohtml1%5C01%5Cclip_filelist.xml" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="Word.Document" name="ProgId">
<meta content="Microsoft Word 11" name="Generator">
<meta content="Microsoft Word 11" name="Originator">
<link href="file:///C:%5CDOCUME%7E1%5CKGILSI%7E1%5CLOCALS%7E1%5CTemp%5Cmsohtml1%5C01%5Cclip_filelist.xml" rel="File-List" /><!--[if gte mso 9]><xml>
 
  Normal
  0
  
  
  false
  false
  false
  
   
   
   
   
   
  
  MicrosoftInternetExplorer4
 
</xml><![endif]--><!--[if gte mso 9]><![endif]--><!--[if !mso]>
<style>
st1\:*{behavior:url(#ieooui) }
</style>
<![endif]--><style type="text/css">
<!--
 /* Font Definitions */
 @font-face
	{
	panose-1:2 4 5 2 5 5 5 3 3 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;"Times New Roman";
	mso-fareast-"Times New Roman";}
p.blockquote, li.blockquote, div.blockquote
	{mso-style-name:"block quote";
	margin-top:6.0pt;
	margin-right:.75in;
	margin-bottom:0in;
	margin-left:.75in;
	margin-bottom:.0001pt;
	text-align:justify;
	line-height:15.0pt;
	font-size:12.0pt;"Times New Roman";
	mso-fareast-"Times New Roman";}
p.final, li.final, div.final
	{
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	text-indent:.5in;
	line-height:15.0pt;
	font-size:12.0pt;"Times New Roman";
	mso-fareast-"Times New Roman";}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;}
div.Section1
	{page:Section1;}
-->
</style><!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-style-parent:"";
	font-size:10.0pt;"Times New Roman";}
</style>
<![endif]-->                                                                         </meta>
</meta>
</meta>
</meta>
</meta>
</meta>
</meta>
</meta>
</p>
<p><span>In early November, Judge Sweeney took action on the <i>Globe&rsquo;s</i> request to see the documents that had disappeared from the docket file. She ordered Garabedian to re-file them. Finally, Rezendes could see the documents that Garebedian had described as &ldquo;potentially explosive.&rdquo; Fuller, the <i>Globe&rsquo;s</i> attorney, secured copies of the documents, which he copied and sent to Rezendes by courier. At his desk Rezendes excitedly opened the envelope.</span></p>
<div style="padding: 10px; float: right;"><a href="http://www.boston.com/globe/spotlight/abuse/documents/geoghan_120784.htm"><img src="../../files/photos/258/Darcy-Letter.gif" alt="" /></a><br />
<p class="caption">Bishop D'Arcy's letter to Cardinal Law<br />
<span style="font-size: smaller;"><span style="" times="" new="" roman="">Courtesy </span> </span><i><span style="font-size: smaller;">Boston Globe</span></i></p>
</div>
<p><span>The contents amounted to a smoking gun. Most significant was a letter from Bishop John D&rsquo;Arcy to Cardinal Law, written in 1984 after Law had reassigned Geoghan. D&rsquo;Arcy had objected to Law&rsquo;s decision, citing Geoghan&rsquo;s &ldquo;history of homosexual involvement with young boys.&rdquo; This December 1984 warning from his top lieutenant was different from the warning Law had admitted receiving from an unnamed source in September 1984. The D&rsquo;Arcy letter meant that a person high up in the archdiocese had accepted as fact Geoghan&rsquo;s pedophilia. The import of the letter, says Rezendes, was clear: Law knew. He knew Geoghan was a serial pedophile when he assigned him to St. Julia&rsquo;s Parish in Weston, where he was placed in charge of altar boys. Rezendes adds:</span></p>
<p><span><blockquote>Here was a letter from basically one of his top lieutenants saying Geoghan&rsquo;s a real big problem. So it showed me that Geoghan is not someone who had slipped through the cracks. Geoghan&rsquo;s fate and his deeds in fact were discussed and debated at the highest levels of the archdiocese.</blockquote></span></p>
<p><span>The documents re-filed by Garabedian also included part of a deposition by Joanne Mueller, a single mother of four boys in Melrose, a town north of Boston. Although stationed at that time in Hingham on the South Shore, Geoghan had befriended Mueller. He counseled her on spiritual matters and babysat her boys, who were between five and 12. He regularly took them to get ice cream and put them to bed. One night her third son came to her and insisted she protect him from Geoghan. &quot;I don't want him doing that to my wee-wee,&rdquo; he said, according to her testimony. She called all the boys together and learned that Geoghan had been raping them orally and anally. </span></p>
<p><span>She immediately went to a local priest and told him what had happened. Rev. Paul E. Miceli, who knew both Geoghan and her family, told her that Geoghan would &quot;never be a priest again.&quot; He also advised her not to tell anyone else what had happened &quot;[D]on't think about it,&rdquo; he told her. &ldquo;It will never happen again.&rdquo;</span></p>
<p><span>There was a third important document: a letter sent by the aunt of victims to Law&rsquo;s predecessor, Cardinal Medeiros. When he was stationed in Jamaica Plain from 1974 to 1980, Geoghan had abused the seven boys in the care of Maryetta Dussourd. Three of the boys were hers and four were her niece&rsquo;s. Dussourd discovered what had happened after the boys confided in her sister, Margaret Gallant. Dussourd complained to the pastor of a local parish, Rev. John E. Thomas, and Geoghan was placed on &ldquo;sick leave.&rdquo; But a year later, in 1981, Geoghan reemerged at St. Brendan&rsquo;s in Dorchester. Gallant wrote to Medeiros to object. &quot;It embarrasses me that the church is so negligent,&rdquo; she wrote. &ldquo;Regardless of what he says, or the doctor who treated him, I do not believe he is cured; his actions strongly suggest that he is not, and there is no guarantee that persons with these obsessions are ever cured.&rdquo;</span></p>
<p><span>The existence of any of these three documents, especially the letter from Bishop D&rsquo;Arcy, was a huge story. Together they were a bombshell. But what should the <i>Globe</i> do with them? </span></p>
<p>&nbsp;</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_14_id_154.html" class="page-previous" title="Go to previous page">&#171;&#160;Potential Backlash</a>

<a href="case_id_14_id_156.html" class="page-next" title="Go to next page">Publish or Pause?&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_14_id_74_c_bio.html">Walter&nbsp;Robinson</a></li>

<li class="leaf"><a  href="case_id_14_id_75_c_bio.html">Michael&nbsp;Rezendes</a></li>

<li class="leaf"><a  href="case_id_14_id_76_c_bio.html">Sacha&nbsp;Pfeiffer</a></li>

<li class="leaf"><a  href="case_id_14_id_77_c_bio.html">Martin&nbsp;Baron</a></li>

<li class="leaf"><a  href="case_id_14_id_78_c_bio.html">Ben&nbsp;Bradlee, Jr.</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
