<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Evidence mounts | Credible Voice: WHO-Beijing and the SARS Crisis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <style type="text/css" media="all">@import "css_global/book/book.css";</style>
    <style type="text/css" media="all">@import "css_global/node/node.css";</style>
    <style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
    <style type="text/css" media="all">@import "css_global/system/system.css";</style>
    <style type="text/css" media="all">@import "css_global/user/user.css";</style>
    <style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
    <style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
    <style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
    <script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
    <script type="text/javascript" src="js/img_assist.js"></script>
    <script type="text/javascript" src="js/audioimage.js"></script>
    <script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
    <script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
    <script type="text/javascript" src="swfobject.js"></script> 
    <script type="text/javascript">
      var GB_ROOT_DIR = "com/greybox/";
      </script>
    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>
    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>
    <script type="text/javascript">
      $(function() {
        $('a.media').media();
      });
    </script>
<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media 
{
    font-style:italic;
}
</style>
</head>
<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/112/180-0171Crediblevoicev2.jpeg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_112.html" title="Home"><span>Virulent disease</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_112.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_112_id_775.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_112_id_776.html">Brief History of WHO</a>





</li>


<li class="leaf"><a  href="case_id_112_id_777.html">WHO-Beijing</a>





</li>


<li class="leaf"><a  href="case_id_112_id_778.html">Email from Guangdong</a>





</li>


<li class="leaf"><a  href="case_id_112_id_779.html">Evidence mounts</a>





</li>


<li class="leaf"><a  href="case_id_112_id_780.html">Media Relations</a>





</li>


<li class="leaf"><a  href="case_id_112_id_781.html">Organizing for Crisis</a>





</li>


<li class="leaf"><a  href="case_id_112_id_782.html">Mission #1</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_112_id_783.html">Virulent disease</a>





</li>


<li class="leaf"><a  href="case_id_112_id_784.html">Spinning the Wheels</a>





</li>


<li class="leaf"><a  href="case_id_112_id_785.html">Getting to Guangdong</a>





</li>


<li class="leaf"><a  href="case_id_112_id_786.html">The Dam Breaks</a>





</li>


<li class="leaf"><a  href="case_id_112_id_787.html">Mission in Beijing</a>





</li>


<li class="leaf"><a  href="case_id_112_id_788.html">Intervention at what price?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/112/WHO&#32;SARS_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_112.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Virulent disease</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	WHO HQ found the reports alarming enough to notify the Global Outbreak Alert and Response Network about Hanoi. On March 7, the Western Pacific Regional office created an ad hoc emergency team and shortly afterward started daily teleconferences among the country offices in outbreak sites, Manila, and headquarters. WHO scientists and experts were uncertain what to think. Were the cases in Hanoi and Hong Kong linked? How about Singapore, or Guangdong? Was this the start of a global epidemic or pandemic? Or could it be some form of bioterrorism? Patients were not responding to the antibiotics that were often effective against atypical pneumonia. Some had died. No one was getting better. And health workers continued to be disproportionately stricken.</p>
<p>
	The need for international epidemiologists to visit Guangdong was growing only more urgent. On March 10, the WHO-Beijing office formally informed the Ministry of Health about the Hanoi outbreak, and again requested permission to visit Guangdong. As Bekedam says: &ldquo;For sure we had a period that we did not agree with China.&rdquo; Ministry officials never seemed to hold him personally accountable for the messages he brought but, like all internationals posted to China, he knew that the Chinese government could deport foreigners whose conduct displeased it.</p>
<p>
	<em>Global alerts</em>. By March 12, the situation had deteriorated sufficiently that WHO headquarters decided to issue a global alert about atypical pneumonia in Hong Kong, Vietnam and Guangdong. It was the first time the agency had ever issued a global health alert. The same day, Bekedam requested a meeting with Chinese Minister of Health Zhang Wenkang to ask for more information about Guangdong.</p>
<p>
	When they met on March 13, Bekedam briefed Minister Zhang and his colleagues on the international situation, requested additional information, and offered to help by sending public health experts to Guangdong.<sup><a href="case_id_112_id_783.html#_ftn1" name="_ftnref1" title="">[17]</a></sup> He shared laboratory information from Hong Kong and Hanoi, and urged the ministry to reciprocate. The WHO group pointedly asked MoH whether it was conducting tests. The minister agreed that a WHO mission could investigate the cause of the Guangdong outbreak&mdash;but no date was set.<sup><a href="case_id_112_id_783.html#_ftn2" name="_ftnref2" title="">[18]</a></sup></p>
<p>
	<em>A name</em>. The disease continued its inexorable spread. On March 14, it appeared in Taiwan and Toronto. Then on March 15, officials in Germany removed from an international flight and isolated a doctor who had treated the Singapore patients and subsequently developed symptoms that were becoming familiar&mdash;a fever above 101.4 Fahrenheit, difficulty breathing, chills, a dry cough and muscle aches. That evening, WHO issued a global travel advisory and gave the mysterious disease a name: Severe Acute Respiratory Syndrome (SARS). It advised that health workers seemed at particular risk.&nbsp;</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/753/sars.jpg" style="height: 150px; width: 200px;" /><br />
	<p class="caption">
		&copy;<a href="http://www.flickr.com/photos/eyesseeeyes/3987550802/in/photostream/"> Dai Rui</a></p>
</div>
<p>
	The next day WHO on its website named the affected areas: Guangdong, Hanoi, Hong Kong, Singapore, Toronto and Vancouver. It provided global health providers with a definition for a SARS case, plus reporting requirements and the tools to implement them. Until there existed a laboratory test, no country could report &quot;confirmed&quot; SARS cases, but the definition allowed them to record &quot;suspected&quot; cases and a higher level of &quot;probable&quot; cases.</p>
<p>
	WHO had two urgent goals: identify the original cause of the disease, and determine how it spread. To that end, on March 17 it set up a network of 11 laboratories in nine countries to share data on the cause of the virus. WHO provided a secure website, hosted teleconferences and enlisted scientists, epidemiologists and clinicians. It created a second network on March 20 to look at clinical aspects of the disease (78 clinicians in nine countries), and a third on March 28 to examine the epidemiology (nine sites in nine countries).<sup><a href="case_id_112_id_783.html#_ftn3" name="_ftnref3" title="">[19]</a></sup> The US CDC announced on March 17 that the US had 14 suspected SARS cases. Meanwhile, the Manila office organized action groups: an outbreak and preparedness team; a response team for affected areas; and a preparedness group for countries as yet unaffected.</p>
<p>
	By March 26, WHO was conducting twice-daily teleconferences among 80 clinicians from 13 countries on three continents to discuss the features, progress, treatment, and discharge procedures for SARS. The WHO experts had concluded that SARS almost certainly had originated in Guangdong&mdash;and was the same as the atypical pneumonia reported there.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:10px;"><a href="case_id_112_id_783.html#_ftnref1" name="_ftn1" title="">[17]</a>&nbsp;Kleinman, Watson, p.38.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:10px;"><a href="case_id_112_id_783.html#_ftnref2" name="_ftn2" title="">[18]</a>&nbsp;WHO, <em>SARS</em>, p.14.</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:10px;"><a href="case_id_112_id_783.html#_ftnref3" name="_ftn3" title="">[19]</a>&nbsp;Ibid, p.17.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_112_id_782.html" class="page-previous" title="Go to previous page">&#171;&#160;Mission #1</a>

<a href="case_id_112_id_784.html" class="page-next" title="Go to next page">Spinning the Wheels&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_112_id_225_c_bio.html">Dr. Henk&nbsp;Bekedam</a></li>

<li class="leaf"><a  href="case_id_112_id_226_c_bio.html">Alan&nbsp;Schnur</a></li>

<li class="leaf"><a  href="case_id_112_id_227_c_bio.html">Dr. Daniel&nbsp;Chin</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
