<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Skeptical Media | Cumulative or Discrete Numbers: How Should Bloomberg Measure the Bailout?
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/116/BloombergBanner.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tbody>
      <tr>
       <td style="width: 100%;">
        <h1 class="site-name">
         <a href="case_id_116.html" title="Home">
          <span>
           Skeptical Media
          </span>
         </a>
        </h1>
       </td>
       <td class="kcsi_logo">
        <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
        </a>
       </td>
      </tr>
     </tbody>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_116.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_832.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_833.html">
          Brief Histories
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_834.html">
          The Great Crash
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_116_id_835.html">
          Skeptical Media
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_836.html">
          Suing the Fed
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_837.html">
          The Data Dump
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_838.html">
          Visualizing Data
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_839.html">
          Total or Individual?
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_840.html">
          Parsing the Numbers
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_116_id_841.html">
          Appendix 1
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/116/Bloomberg and FedReserve_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_116.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Skeptical Media
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <em>
          Bloomberg
         </em>
         reporter Mark Pittman was among those in the business press skeptical about the Feds assurances. Pittman, a reporter in his early 50s, had entered journalism out of college, covering cops and crime at the
         <em>
          Coffeyville Journal
         </em>
         in Kansas. After brief stints at other papers, he brought that experience to finance reporting when he joined
         <em>
          Bloomberg News
         </em>
         in 1997. You end up with a big BS detector as a cops reporter because the cops lie to you, the victims lie to you, the people helping the victims lie to you, Pittman said in 2009. And youve got to sort through, and there will be a story that seems a certain way and it just wont beand you know it. Thats what this is about.
         <sup>
          <a href="case_id_116_id_835.html#_ftn1" name="_ftnref1" title="">
           [13]
          </a>
         </sup>
        </p>
        <p>
         His specialty became credit markets, corporate finance and the Federal Reserve. Pittman had started writing about the financial implosion early. In June 2007, he chronicled how the ratings agencies were concealing risk on $200 billion worth of questionable mortgage bonds by failing to cut the bonds credit ratings.
         <sup>
          <a href="case_id_116_id_835.html#_ftn2" name="_ftnref2" title="">
           [14]
          </a>
         </sup>
         At the time, the story attracted sharp criticism from other journalists (later retracted when the charge proved true). In December 2007, he contributed to a series on subprime mortgages, postulating that if only five percent of US mortgage borrowers missed monthly payments, it could lead to a global freeze in lending.
         <sup>
          <a href="case_id_116_id_835.html#_ftn3" name="_ftnref3" title="">
           [15]
          </a>
         </sup>
         The story was part of a series that won a Gerald Loeb award (the apogee for financial journalism) for News Services in 2008.
         <sup>
          <a href="case_id_116_id_835.html#_ftn4" name="_ftnref4" title="">
           [16]
          </a>
         </sup>
        </p>
        <p>
         But the more he researched the situation, the less Pittman understood how the Fed was operating behind the scenes. He was astonished by the astronomical amount of moneysome $2 trillion in taxpayer money by spring 2008that the Fed had lent to banks. While the cumulative number was public, the Fed had not specified which institutions had borrowed money through its emergency lending programs; it also had not made public what collateral, if any, the banks had offered for the loans.
        </p>
        <p>
         In May 2008,
         <em>
          Bloomberg
         </em>
         filed a Freedom of Information Act request asking the Fed for details about four lending programsthe Discount Window, the Primary Dealer Credit Facility, the Term Securities Lending Facility, and the Term Auction Facilityincluding the borrowers names and the amounts borrowed. Mark Pittman said all right, youve got this program. I want to know who borrowed, how much, when, and what, and his favoritewhat collateral did [the banks] put up? recalls Ivry, Pittmans colleague.
        </p>
        <p>
         <em>
          Response
         </em>
         . The Fed proved reluctant to give
         <em>
          Bloomberg News
         </em>
         the information Pittman had requested. It argued that if it identified banksthat had taken emergency loans through the discount window, it could cause a run on those institutions, undermine the loan programs and potentially hurt the economy.
         <sup>
          <a href="case_id_116_id_835.html#_ftn5" name="_ftnref5" title="">
           [17]
          </a>
         </sup>
         It was, explains Ivry, a question of stigma:
        </p>
        <blockquote>
         <p>
          Stigmas big in this story. If a bank goes to the discount window and says, I need a loan, and people find out that that the bank went to the discount window, theyre going to think that the banks in trouble. And the depositors are going to start pulling their money. The creditors, the folks who have bought their bonds or lent them money will say, pay me back. And a lot of the counterparties in trades will say, we dont want to trade with you anymore. And itll be a kind of a modern day run on the bank.
         </p>
        </blockquote>
        <blockquote>
         <p>
          <i>
           Ivry explains the effect of stigma on banks.
          </i>
          <br/>
          <!--<img alt="" border="0" class="audiofile" src="../../files/audios/344/IvryCaseAudio.mp3"/>-->
          <audio controls="">
           <source src="../../files/audios/344/IvryCaseAudio.mp3" type="audio/mpeg"/>
          </audio>
         </p>
        </blockquote>
        <p>
         But in September 2008, the crisis claimed its first major financial sector victim. On September 15, 2008, Lehman Brothers Holdings Inc., a global financial services company, declared bankruptcy. It was the largest bankruptcy in history.
         <sup>
          <a href="case_id_116_id_835.html#_ftn6" name="_ftnref6" title="">
           [18]
          </a>
         </sup>
         For the next several weeks, the world held its breath while the Federal Reserve, the US Treasury and other governments worldwide scrambled to keep financial machinery running via targeted infusions of capital.
        </p>
        <div style="float:right;padding:10px">
         <img src="../../files/photos/810/LehmanFailure.jpg" style="height: 206px; width: 550px;"/>
         <br/>
         <p class="caption">
          The news of Lehman's collapse on a ticker in London
          <br/>
          Getty Images
          <a href="http://www.npr.org/blogs/thetwo-way/2012/04/27/151539507/lehman-was-set-to-pay-50-execs-700-million-just-a-year-before-collapse">
           (via NPR)
          </a>
         </p>
        </div>
        <p>
         One of the largest interventions came from the US. In October 2008, the government intervened to prevent what many were coming to fear would be the collapse of the US banking system. On October 3, President George W. Bush signed into law the Troubled Asset Relief Program, or TARP, as part of a broader Emergency Economic Stabilization Act. TARP allowed the US Treasury to purchase or insure as much as $700 billion of bad assets owned by financial institutions.
         <sup>
          <a href="case_id_116_id_835.html#_ftn7" name="_ftnref7" title="">
           [19]
          </a>
         </sup>
        </p>
        <p>
         <em>
          Fizzled scoop
         </em>
         . TARP got a lot of media and public attention. But Pittman remained interested in the larger picture of total government spending. So in November 2008, he and Ivry decided to try to figure out how much money the government and the Federal Reserve were committing to rescue the banking system, recalls Ivry.
         <sup>
          <a href="case_id_116_id_835.html#_ftn8" name="_ftnref8" title="">
           [20]
          </a>
         </sup>
         For two intense weeks, they placed calls to every agency they could think of, including the Treasury, the Federal Reserve, the Federal Deposit Insurance Corporation (FDIC) and the Department of Housing and Urban Development (HUD). They added up all the numbers they could verify, from public and private sources. The result took them aback.
        </p>
        <p>
         On Monday, November 24, 2008, they published their findings: the US government had pledged $7.7 trillion in taxpayer dollars to support banks.
         <sup>
          <a href="case_id_116_id_835.html#_ftn9" name="_ftnref9" title="">
           [21]
          </a>
         </sup>
         The number we came up with was staggering, recalls Ivry. It made the TARP numbers look small. On October 27, the Fed alone had committed to buy up to $2.4 trillion of commercial paper (which companies use to pay bills). Overall, the Fed had pledged $4.74 trillion61 percent of the total $7.76 trillion. These were not empty promises: Federal Reserve lending for the week of November 17 had been 1,900 times the weekly average for the three years pre-crisis. Yet the story, says Ivry, landed with a thud.
        </p>
        <blockquote>
         <p>
          It was as if the numbers were too high, too unbelievable. When we werent ignored, we were vilified. Pittman and I were being irresponsible, people said. Didnt we know there was a crisis going on? Anything we did to slow the money train could have dire consequences for the world financial system, our critics said.
          <sup>
           <a href="case_id_116_id_835.html#_ftn10" name="_ftnref10" title="">
            [22]
           </a>
          </sup>
         </p>
        </blockquote>
        <p>
         But Ivry and Pittman were convinced that this was the biggest storynot
         <em>
          financial
         </em>
         story, but
         <em>
          story
         </em>
         of our careers, notes Ivry. They felt the publicand Congressshould know how much its government was willing to spend to keep the banks solvent.
        </p>
        <div>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref1" name="_ftn1" title="">
             [13]
            </a>
            Dean Starkman, The Pittman Way,
            <em>
             Columbia Journalism Review
            </em>
            , November 30, 2009. See:
            <a href="http://www.cjr.org/the_audit/what_ill_remember_about_mark_p.php?page=all">
             http://www.cjr.org/the_audit/what_ill_remember_about_mark_p.php?page=all
            </a>
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref2" name="_ftn2" title="">
             [14]
            </a>
            Mark Pittman, S&amp;P, Moody's Mask $200 Billion of Subprime Bond Risk,
            <em>
             Bloomberg
            </em>
            , June 29, 2007. See:
            <a href="http://www.bloomberg.com/apps/news?pid=newsarchive&amp;sid=aIzzx2vC10KI">
             http://www.bloomberg.com/apps/news?pid=newsarchive&amp;sid=aIzzx2vC10KI
            </a>
           </span>
          </p>
         </div>
         <div id="ftn3">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref3" name="_ftn3" title="">
             [15]
            </a>
            Mark Pittman, Subprime Securities Market Began as Group of 5 over Chinese,
            <em>
             Bloomberg
            </em>
            , December 17, 2007. Pittman wrote, presciently: The tools also magnified losses so much that a small number of defaulting subprime borrowers could devastate securities held by banks and pension funds globally, freeze corporate lending, and bring the worlds credit markets to a standstill. See:
            <a href="http://www.bloomberg.com/apps/news?pid=newsarchive&amp;sid=aA6YC1xKUoek">
             http://www.bloomberg.com/apps/news?pid=newsarchive&amp;sid=aA6YC1xKUoek
            </a>
           </span>
          </p>
         </div>
         <div id="ftn4">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref4" name="_ftn4" title="">
             [16]
            </a>
            The other
            <em>
             Bloomberg
            </em>
            reporters recognized were Bob Ivry and Kathleen Howley.
           </span>
          </p>
         </div>
         <div id="ftn5">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref5" name="_ftn5" title="">
             [17]
            </a>
            Larry Neumeister and Jeannine Aversa, Fed Must Release Data on Loans to Firms, Court Says,
            <em>
             Associated Press Financial Wire
            </em>
            , March 19, 2010.
           </span>
          </p>
         </div>
         <div id="ftn6">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref6" name="_ftn6" title="">
             [18]
            </a>
            For a comprehensive summary of the financial crisis, see the January 2011 report by the Financial Crisis Inquiry Commission:
            <a href="http://fcic.law.stanford.edu/report">
             http://fcic.law.stanford.edu/report
            </a>
           </span>
          </p>
         </div>
         <div id="ftn7">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref7" name="_ftn7" title="">
             [19]
            </a>
            Baird Webel, Troubled Asset Relief Program (TARP): Implementation and Status,
            <em>
             Congressional Research Service
            </em>
            , October 19, 2012. See:
            <a href="http://www.fas.org/sgp/crs/misc/R41427.pdf">
             http://www.fas.org/sgp/crs/misc/R41427.pdf
            </a>
           </span>
          </p>
         </div>
         <div id="ftn8">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref8" name="_ftn8" title="">
             [20]
            </a>
            Email from Ivry to author, September 1, 2013.
           </span>
          </p>
         </div>
         <div id="ftn9">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref9" name="_ftn9" title="">
             [21]
            </a>
            Mark Pittman and Bob Ivry, U.S. Pledges Top $7.7 Trillion to Ease Frozen Credit,
            <em>
             Bloomberg
            </em>
            , November 24, 2008. See:
            <a href="http://www.bloomberg.com/apps/news?sid=an3k2rZMNgDw_pid_newsarchive">
             http://www.bloomberg.com/apps/news?sid=an3k2rZMNgDw_pid_newsarchive
            </a>
           </span>
          </p>
         </div>
         <div id="ftn10">
          <p>
           <span style="font-size:11px;">
            <a href="case_id_116_id_835.html#_ftnref10" name="_ftn10" title="">
             [22]
            </a>
            Ibid. Also the following quote.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_116_id_834.html" title="Go to previous page">
          The Great Crash
         </a>
         <a class="page-next" href="case_id_116_id_836.html" title="Go to next page">
          Suing the Fed
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_116_id_236_c_bio.html">
         BobIvry
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_116_id_237_c_bio.html">
         JohnVoskuhl
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_116_id_238_c_bio.html">
         RobertFriedman
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_116_id_239_c_bio.html">
         PhilKuntz
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_116_id_240_c_bio.html">
         AmandaBennett
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="http://www.journalism.columbia.edu">
         2012 Columbia University Graduate School of Journalism
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
