<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Our Plan Doesn't Work | Evacuate or Stay? Northshore LIJ and Hurricane Sandy
  </title>
  <meta content="text/html; charset=cp1252" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
 <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/113/180-01909_NorthShore_EB_JL_v2.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tbody>
      <tr>
       <td style="width: 100%;">
        <h1 class="site-name">
         <a href="case_id_113.html" title="Home">
          <span>
           Our Plan Doesn't Work
          </span>
         </a>
        </h1>
       </td>
       <td class="kcsi_logo">
        <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
        </a>
       </td>
      </tr>
     </tbody>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_113.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_790.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_791.html">
          When Safety Is in Harm's Way
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_792.html">
          Emergency Preparedness Man
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_793.html">
          Hanging in the Balance
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_113_id_794.html">
          Our Plan Doesn't Work
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_795.html">
          Put to the Test: Hurricane Irene
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_796.html">
          Lessons Learned
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_797.html">
          Lesser of Two Evils
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/113/NorthShore LIJ_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_113.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Our Plan Doesn't Work
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         In the aftermath of Hurricane Katrina, North Shore-LIJ sent Mary Mahoney, director of Emergency Planning and Preparedness, to New Orleans to learn as much as possible about what happened at Memorial Medical Center and the other affected hospitals. "Katrina changed the way we think," says Romagnoli.
        </p>
        <blockquote>
         When we saw patients left behind, when we saw that healthcare was now not being delivered for New Orleans... we said, 'That can’t happen to us. Absolutely, positively, we cannot let that happen to us. So what are we going to do about that? Is our evacuation plan good enough?' We took out our plans and we reviewed them and we tweaked them.
        </blockquote>
        <p>
         North Shore-LIJ officials were confident that their evacuation plan was effective. They tested it by running a drill at Southside Hospital in Bay Shore on Long Island. Southside was particularly vulnerable to storm surge flooding, and Romagnoli knew that it was likely to need evacuation if a major storm hit the area. On Sunday, November 20, 2005, with hundreds of Boy Scouts and Girl Scouts standing in for patients, North Shore-LIJ carried out its evacuation plan. To Romagnoli's dismay, it failed badly. They didn't get everybody out:
        </p>
        <blockquote>
         My great plan didn’t work. We were shocked. We thought the plan was solid. And I think anybody who looked at that plan would have thought it was solid. But the fact of the matter is, when push came to shove and we really had to move bodies, words did not translate into actions. We started at 9 a.m. By 12, we had hoped to move about 100 patients. We had moved four. We had hundreds of [transportation] resources waiting in the parking lot, and patients never made it to them. It was a logjam. We had people stacked up in the hallways.
         <sup>
          <a href="case_id_113_id_794.html#_ftn1" name="_ftnref1" title="">
           [16]
          </a>
         </sup>
        </blockquote>
        <p>
         The Southside drill showed that established practices for moving patients broke down when time was short and the number of patients large. The practice of individually matching evacuees to available beds in other hospitals simply took too long. Transporting patients one by one was also impractical.
        </p>
        <p>
         Romagnoli and his team went back to the drawing board and devised an evacuation procedure that centered on moving groups of patients at a time. Hospitals were designated to receive specific types of patients, and those patients were transported as groups. Tertiary hospitals received critical care patients, and community hospitals received general medical and surgical patients. The designations made it easier for receiving hospitals to prepare beds, supplies and staff for the new patients. Evacuating hospitals moved groups of patients concurrently. Previously, patients were evacuated according to a priority list, which meant a delay in moving one patient held up everyone else in the queue.
         <sup>
          <a href="case_id_113_id_794.html#_ftn2" name="_ftnref2" title="">
           [17]
          </a>
         </sup>
        </p>
        <p>
         On Sunday, July 22, 2007, after months of training and tabletop exercises, North Shore-LIJ repeated the evacuation drill, and this time all of the
         <em>
          faux
         </em>
         patients were evacuated successfully. "It worked like a charm," says Romagnoli. North Shore-LIJ learned significant lessons in those drills, says Solazzo. "What we learned was we have to batch evacuate… We know we have 10 beds at LIJ [Long Island Jewish Medical Center] that are ICU beds. Ten patients are moved from Southside to those 10 beds."
        </p>
        <blockquote>
         <p>
          <i>
           Mark Solazzo discusses lessons learned from the evacuation drill:
          </i>
          <br/>
          <!--<img alt="" border="0" class="audiofile" src="../../files/audios/327/Solazzo text clip.mp3"/>-->
          <audio controls><source src="../../files/audios/327/Solazzo&#32;text&#32;clip.mp3" type="audio/mpeg"></audio>
         </p>
        </blockquote>
        <div>
         <hr align="left" size="1" width="33%"/>
         <div id="ftn1">
          <p>
           <span style="font-size:10px;">
            <a href="case_id_113_id_794.html#_ftnref1" name="_ftn1" title="">
             [16]
            </a>
            Author's telephone interview with James Romagnoli on April 15, 2013
           </span>
          </p>
         </div>
         <div id="ftn2">
          <p>
           <span style="font-size:10px;">
            <a href="case_id_113_id_794.html#_ftnref2" name="_ftn2" title="">
             [17]
            </a>
            Ibid.
           </span>
          </p>
         </div>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_113_id_793.html" title="Go to previous page">
          « Hanging in the Balance
         </a>
         <a class="page-next" href="case_id_113_id_795.html" title="Go to next page">
          Put to the Test: Hurricane Irene »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_113_id_228_c_bio.html">
         James Romagnoli
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_113_id_229_c_bio.html">
         Mark Solazzo
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;"></div>
<div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="http://www.journalism.columbia.edu">
         © 2012 Columbia University Graduate School of Journalism
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
