<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Biography: Mark Solazzo | Evacuate or Stay? Northshore LIJ and Hurricane Sandy
  </title>
  <meta content="text/html; charset=cp1252" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/113/180-01909_NorthShore_EB_JL_v2.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tbody>
      <tr>
       <td style="width: 100%;">
        <h1 class="site-name">
         <a href="case_id_113.html" title="Home">
          <span>
           Biography: Mark Solazzo
          </span>
         </a>
        </h1>
       </td>
       <td class="kcsi_logo">
        <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
        </a>
       </td>
      </tr>
     </tbody>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_113.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_790.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_791.html">
          When Safety Is in Harm's Way
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_792.html">
          Emergency Preparedness Man
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_793.html">
          Hanging in the Balance
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_794.html">
          Our Plan Doesn't Work
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_795.html">
          Put to the Test: Hurricane Irene
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_796.html">
          Lessons Learned
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_113_id_797.html">
          Lesser of Two Evils
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/113/NorthShore LIJ_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_113.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Biography: Mark Solazzo
      </h1>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <div style="float:right;padding:10px">
         <img src="../../files/photos/763/Solazzo - small.jpg" style="height: 246px; width: 200px;"/>
         <br/>
         <p class="caption">
          Mark Solazzo
         </p>
        </div>
        <p>
         Mark Solazzo was executive vice president and chief operating officer of North Shore-LIJ Health System. He was responsible for day-to-day operations of the health system, which consisted of 16 hospitals, more than 300 ambulatory care sites and 46,000 employees. Solazzo had worked at North Shore-LIJ since 1995. Before joining the company, Solazzo had a 15-year career at the New York State Department of Social Services. He received Harvard University's Innovations in Government Award for his work on the department's Child Assistance Program. Solazzo also taught graduatelevel health management courses as an adjunct professor at St. Joseph's College. He held an MBA in health systems management from Union College.
        </p>
        <blockquote>
         <p>
          <i>
           Mark Solazzo talks about whether to move patients:
          </i>
          <br/>
          <!--<img alt="" border="0" class="audiofile" src="../../files/audios/326/Solazzo bio clip.mp3"/>-->
          <audio controls><source src="../../files/audios/326/Solazzo&#32;bio&#32;clip.mp3" type="audio/mpeg"></audio>
         </p>
        </blockquote>
       </div>
      </div>
     </div>
     <!-- id="main" -->
    </div>
    <!-- id="contentbody" -->
    <!-- Right sidebar for Bios -->
    <div id="sidebar-right">
     <div class="block block-menu" id="block-menu-65">
      <h2 class="title">
       Biographies
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_113_id_228_c_bio.html">
          James Romagnoli
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_113_id_229_c_bio.html">
          Mark Solazzo
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <!-- id="sidebar-right" -->
    <div class="visualclear">
    </div>
   </div>
   <!-- id="pagebody" -->
   <div id="footer">
    <div id="footer-inner">
     <div class="block block-menu" id="block-menu-66">
      <h2 class="title">
       System menu
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="http://www.journalism.columbia.edu">
          © 2012 Columbia University Graduate School of Journalism
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <!-- id="footer-inner" -->
   </div>
   <!-- id="footer" -->
  </div>
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>