

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Checkpoint | A Woman's Place? Photojournalist Lynsey Addario in Libya
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/85/180-01059A-WomansPlaceBanner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_85.html" title="Home"><span>Checkpoint</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_85.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_85_id_658.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_85_id_659.html">Women Covering Conflicts</a>





</li>


<li class="leaf"><a  href="case_id_85_id_660.html">Path to Photojournalism</a>





</li>


<li class="leaf"><a  href="case_id_85_id_661.html">Personal Conduct Code</a>





</li>


<li class="leaf"><a  href="case_id_85_id_662.html">Arab Spring</a>





</li>


<li class="leaf"><a  href="case_id_85_id_663.html">Into Libya</a>





</li>


<li class="leaf"><a  href="case_id_85_id_664.html">On the Front Line</a>





</li>


<li class="leaf"><a  href="case_id_85_id_665.html">In Retreat</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_85_id_666.html">Checkpoint</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/85/Photojournalist&#32;Lynsey&#32;Addario&#32;in&#32;Libya_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_85.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Checkpoint</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	When the four left the hospital for the front line, they were in in two cars. But en route, Shadid and Farrell&rsquo;s driver quit. He stopped the car, told them he was done, and offloaded their bags and equipment. Shadid and Farrell climbed into the remaining car with Addario and Hicks. The driver was Mohammed Shaglouf, a 21-year-old engineering student and brother of a BBC driver. Hicks and Addario had hired him less than a week earlier, after a series of other drivers had left them on the front lines. Addario trusted Shaglouf, but the situation made her uncomfortable:</p>
<blockquote>
	<p>
		When you&rsquo;re in a situation with four people in a car and you don&rsquo;t have an option of taking a taxi or hiring another driver or getting out any other way, that&rsquo;s it. You&rsquo;re there. I mean you&rsquo;re stuck there.</p>
</blockquote>
<p>
	The fighting got heavier, with many accurate incoming mortar rounds. The journalists decided to pull back from the front line into Ajdabiya, whose narrow streets could offer some protection from bombs and shrapnel. Civilians were fleeing the town, and in the car there was disagreement about when the journalists should leave. Hicks and Shadid wanted to stay a little longer; Farrell and Addario wanted to go. It started to get tense. &ldquo;All day I kept saying, &lsquo;We have to leave. We have to leave. We have to leave,&rsquo;&rdquo; Addario recalls.</p>
<blockquote>
	<p>
		Now at some point, you know, at some point I don&rsquo;t want to be the girl who is saying &lsquo;Come on, I&rsquo;m scared, we have to go.&rsquo; So, I just stopped saying &lsquo;We have to go.&rsquo;</p>
</blockquote>
<p>
	<em>Leaving</em>. But eventually the four journalists, plus the driver, decided to leave. Shaglouf turned the car around toward the eastern gate and the road to Benghazi. Ahead of them was a car full of French journalists also headed that way. They were driving a back road, one they hadn&rsquo;t taken before, when suddenly Addario saw uniformed soldiers at a checkpoint about 100 yards in the distance. They were Qaddafi troops.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/553/image&#32;9&#32;tripych.jpg" style="border-top-width: 10px; border-right-width: 10px; border-bottom-width: 10px; border-left-width: 10px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; " /><br />
	<p class="caption">
		Chaos on the front lines<br />
		Photo by Lynsey Addario</p>
</div>
<p>
	Should they make a U-turn? The soldiers raised their guns. Should they try to run through the checkpoint? Hicks, in the front seat, said yes: &ldquo;Drive, drive, drive!&rdquo; In fact, the French journalists had gunned their way past the soldiers just five minutes earlier. But the <em>Times </em>driver had no choice. He stopped the car, shouting <em>&ldquo;Sahafa! Sahafa!&hellip; Journalists!&rdquo;</em></p>
<p>
	From that point, it was chaos. Addario ducked down in the back seat, expecting gunfire. The soldiers dragged the other journalists out of the car and tried to wrestle them to the ground. At that moment, rebels opened fire on the checkpoint from behind them. The journalists were caught in a firefight. &ldquo;No one really knows the script for days like these, and neither did we,&rdquo; the journalists said later.<a href="case_id_85_id_666.html#_ftn1" name="_ftnref1" title=""><sup>[36]</sup></a></p>
<p>
	Addario pulled the disks from her cameras, and tried to hide them in her bra and jacket; she was wearing jeans, a long tunic-style shirt, and running shoes&mdash;no <em>hijab</em>. As she jumped from the car, she struggled with a soldier who grabbed at her cameras and waist pack, finally surrendering them in order to break loose of his grip. Shadid was sprawled on the ground. Farrell was gesticulating wildly toward the advancing rebels. Shaglouf was nowhere in sight.</p>
<p>
	&ldquo;I saw Anthony trip and fall in front of me,&rdquo; Addario says. &ldquo;I remember screaming his name for help and I looked at his face and it was completely terrified. At that point I knew no one was going to help us.&rdquo; Addario ran after Hicks, who had made a mad dash for a nearby building. Hicks thought they should keep running&mdash;out into the desert, away from the checkpoint, out of range of the crossfire.</p>
<p>
	Addario wasn&rsquo;t so sure. It was a long way to safety, and there were soldiers and fighting everywhere. Could they make it back to the rebel lines? Should they just surrender to the government troops? Would the soldiers respect their journalism credentials? Was she about to be murdered, like Danny Pearl? Raped, like the women of Congo?</p>
<p>
	Then soldiers rounded the building, forced the journalists face down on the ground, tied their hands behind their backs, and began arguing heatedly in Arabic. The soldier in charge of Addario flipped her over and began grabbing her chest and groping her body.<a href="case_id_85_id_666.html#_ftn2" name="_ftnref2" title=""><sup>[37]</sup></a> Addario found herself with hands on her breasts and a gun to her head.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_85_id_666.html#_ftnref1" name="_ftn1" title="">[36]</a>&nbsp;Ibid.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:11px;"><a href="case_id_85_id_666.html#_ftnref2" name="_ftn2" title="">[37]</a>&nbsp;Judy Woodruff, host, Margaret Warner, interviewer, &ldquo;New York Times Journalists Recall &lsquo;Medieval&rsquo; Captivity in Libya,&rdquo; PBS, <em>NewsHour,</em> April 1, 2011. See: <a href="http://www.pbs.org/newshour/bb/world/jan-june11/nytreporters_04-01.html">http://www.pbs.org/newshour/bb/world/jan-june11/nytreporters_04-01.html</a></span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_85_id_665.html" class="page-previous" title="Go to previous page">&#171;&#160;In Retreat</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_85_id_184_c_bio.html">Lynsey&nbsp;Addario</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
