<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Personal Foul? Deadspin and an Iconic Athlete | Personal Foul? Deadspin and an Iconic Athlete
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/86/banner.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_86.html" title="Home">
         <span>
          Personal Foul? Deadspin and an Iconic Athlete
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a class="active" href="case_id_86.html">
          TItle Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_86_id_668.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_86_id_669.html">
          The Rise of
          <i>
           Deadspin
          </i>
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_86_id_670.html">
          Blogging and Journalism
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_86_id_671.html">
          Tracking Stories Down
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_86_id_672.html">
          From 'Cowgirl' to Gameday Host
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_86_id_673.html">
          Dead End
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_86_id_674.html">
          To Blog or Not to Blog
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_86_id_675.html">
          Giving Notice
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/86/Deadspin and an Iconic Athelete_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="two-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_86.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Personal Foul? Deadspin and an Iconic Athlete
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <strong>
          ABSTRACT
         </strong>
        </p>
        <p>
         CSJ-12-0042.0 This case looks at the differences between online and mainstream media to ask whether different editorial guidelines apply to the different platforms, and to question whether rules have changed. In September 2010, the editor for the online blog
         <em>
          Deadspin
         </em>
         , A.J. Daulerio, faced a decision. Should he pay for and publish graphic photos that famed Quarterback Brett Favre had allegedly sent to reporter Jenn Sterger? The
         <em>
          Deadspin
         </em>
         legal counselor had concerns. Sterger herself had refused to provide the photos. Daulerio had already published the story about the photos and associated text messages. What did the photos add?
        </p>
        <p>
         Use this case to stimulate discussion among students about the ethics of paying for news photos and information, whether and how journalism has changed in the Internet age, and the relationship of news organizations to sources. Students should consider whether
         <em>
          Deadspin
         </em>
         , which is part of the Gawker group of websites, is a journalism site or something else. If it practices journalism, what if any differences are there in how it does business? Is sports journalism different in some way from other reporting? Does Daulerio treat Sterger, a victim of sexual harassment, responsibly?  What are the pros and cons of paying for news; is doing so even worth debate? What about the role of economics, and increasing website traffic, in making editorial decisions?
        </p>
        <p>
         Students can debate the rules of online versus traditional media, and whether they are different. They could also discuss how online versus traditional media treat victims of sexual or other harassment, and whether different rules apply there. Finally, they can consider the history of sports reporting and whether
         <em>
          Deadspin
         </em>
         is the natural heir of pathbreaking sports journalists of the 1960s.
        </p>
        <p>
         The case is suitable for classes about journalism ethics, sports reporting, or digital journalism.
        </p>
        <div>
         <p>
          <strong>
           Credits
          </strong>
         </p>
         <div style="margin-left:4.3pt;">
          <p>
           <em>
            This case was written by Delia Cabe for the Case Consortium @ Columbia. The faculty sponsor was Special Lecturer Sandy Padwe. (0312)
           </em>
          </p>
          <div>
           <strong>
            For further information:
           </strong>
          </div>
          <div>
           E-mail:
           <a href="mailto:ccnmtl+casestudies@columbia.edu" style="color: rgb(17, 85, 204);" target="_blank">
            ccnmtl+casestudies@columbia.edu
           </a>
          </div>
          <div>
           Website:
           <a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">
            https://casestudies.ccnmtl.columbia.edu
           </a>
          </div>
          <div class="book-navigation" style="clear:both">
           <div class="page-links clear-block">
            <a class="page-next" href="case_id_86_id_668.html" title="Go to next page">
             Introduction »
            </a>
           </div>
          </div>
         </div>
        </div>
       </div>
       <!-- id="main" -->
      </div>
      <!-- id="contentbody" -->
      <div class="visualclear">
      </div>
     </div>
     <!-- id="pagebody" -->
     <div style="clear: both;">
     </div>
     <div id="footer">
      <div id="footer-inner">
       <div class="block block-menu" id="block-menu-66">
        <h2 class="title">
         System menu
        </h2>
        <div class="content">
         <ul class="menu">
          <li class="leaf">
           <!-- copyright notice -->
          </li>
         </ul>
        </div>
       </div>
      </div>
      <!-- id="footer-inner" -->
     </div>
     <!-- id="footer" -->
    </div>
    <!-- id="container" -->
    <script type="text/javascript">
     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
     try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
    </script>
   </div>
  </div>
 </body>
</html>
