

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Defining the Story | Voices Behind Bars: National Public Radio and Angola State Prison
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #243770;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #243770;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/54/knightcase_banner_npr.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_54.html" title="Home"><span>Defining the Story</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_54.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_54_id_543.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_54_id_544.html">National Public Radio</a>





</li>


<li class="leaf"><a  href="case_id_54_id_545.html">Tip to Story</a>





</li>


<li class="leaf"><a  href="case_id_54_id_547.html">Angola State Prison: A Short History</a>





</li>


<li class="leaf"><a  href="case_id_54_id_548.html">The Next Step</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_54_id_549.html">Defining the Story</a>





</li>


<li class="leaf"><a  href="case_id_54_id_550.html">Going to the Source</a>





</li>


<li class="leaf"><a  href="case_id_54_id_551.html">Digging Deeper</a>





</li>


<li class="leaf"><a  href="case_id_54_id_552.html">Inner Circle</a>





</li>


<li class="leaf"><a  href="case_id_54_id_553.html">What price access?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/54/National&#32;Public&#32;Radio&#32;and&#32;Angola&#32;State&#32;Prison_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_54.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Defining the Story</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p class="final">
	Sullivan went to see Drummond, her editor. After much discussion, they found themselves in agreement that the story had two separate themes. One was why Wallace and Woodfox were in solitary confinement; the second concerned whether their trials were just. Related to both was the question of which facts were accurate. &ldquo;You had what happened on that day in 1972, and then what happened in the 36 years since then,&rdquo; says Drummond.<a href="case_id_54_id_549.html#_ftn1" name="_ftnref1" style="" title=""><!--[if !supportFootnotes]--><span class="MsoFootnoteReference"><span style=""><span style=""><span class="MsoFootnoteReference"><span style="font-size: 10pt;">[1]</span></span><!--[endif]--></span></span></span></a></p>
<p class="final">
	<em>Listen to Sullivan and Drummond discuss defining the story.</em><br />
	<img alt="" border="0" class="audiofile" src="../../files/audios/122/drummond_sullivan_define_story.mp3" /></p>
<p class="final">
	As national desk editor, Drummond&rsquo;s role was to help Sullivan hash out issues as they came up and help her manage her time. A story like this could take as long as a year if Sullivan decided to chase down every lead. It was part of Drummond&rsquo;s job to help her decide what was worthwhile pursuing and for how long. On rare occasions, Sullivan might spend months working on a story and end up with nothing she could broadcast. Drummond had to decide what risks to take and how to use his resources&mdash;staff and production time, as well as money. &ldquo;There were giant gobs of material here, and that was an initial struggle for Laura in reporting this, to define a story and try to wrestle it into a manageable size,&rdquo; Drummond says.</p>
<p class="final">
	As for Sullivan, her job was to keep Drummond informed and consult him when editorial or logistical issues arose. For example, Sullivan found herself fixating on whether the two prisoners were guilty or innocent. Drummond helped persuade Sullivan that she should not let the question of who actually killed the young prison guard muddy the issue of why Woodfox and Wallace had been in solitary for 36 years, and the legal process by which they were convicted.</p>
<p class="final">
	<strong><i style="">Mounting pressure.</i></strong> Meanwhile, Angola prison officials were feeling the heat that Sullivan&rsquo;s reporting had started to generate. Included among Sullivan&rsquo;s many interviews was US Representative John Conyers, Jr. (D-MI), chairman of the House Judiciary Committee. As a result of her inquiries, his office began raising questions about Angola&rsquo;s solitary confinement policies, as well as whether the two men had been wrongly convicted. On March 20, 2008, Conyers visited the prisoners (prisoners in solitary were almost never allowed visitors). In a written statement released the next day, Conyers said:</p>
<blockquote>
	<p class="blockquote">
		I came to [Angola] to meet with inmates Herman Wallace and Albert Woodfox because I recently became aware of evidence that may suggest both Mr. Wallace and Mr. Woodfox were wrongly convicted of a 1972 murder of a prison guard. They have been held in solitary confinement for thirty-six years, possibly a longer period than any other inmate in U.S. history. I urge a swift and just resolution of this matter.<span style="font-size: 12px;"><a href="case_id_54_id_549.html#_ftn2" name="_ftnref2" style="" title=""><!--[if !supportFootnotes]--><span class="MsoFootnoteReference"><span class="MsoFootnoteReference">[2]</span></span></a></span><a href="case_id_54_id_549.html#_ftn2" name="_ftnref2" style="" title=""><!--[endif]--></a></p>
</blockquote>
<p class="final">
	At the same time, Louisiana State Representative Cedric Richmond announced that he would hold hearings about the two inmates and urged Louisiana Governor Bobby Jindal to pardon them. Finally, the lawyers for the two inmates filed a suit seeking compensation&mdash;in the millions of dollars&mdash;for keeping them in solitary for 36 years.</p>
<p class="final">
	Perhaps as a result of this heightened public attention, the prison on March 24, 2008, a few days after Conyers&rsquo; visit, moved Woodfox and Wallace out of solitary confinement and into a maximum-security dorm with about a dozen other inmates. Each day, they had one-hour access to the prison yard. Prison authorities did not, however, choose to make a public event of this change; the inmates&rsquo; co-counsel, Trenticosta, found out about it only by chance when he went to visit his clients. A statement released by the prison stated that they were moved because space was needed to house other prisoners.</p>
<div style="">
<!--[if !supportFootnotes]-->	<br clear="all" />
	<hr align="left" size="1" width="33%" />
<!--[endif]-->	<div id="ftn1" style="">
		<p class="footnote1">
			<span style="font-size: 11px;"><a href="case_id_54_id_549.html#_ftnref1" name="_ftn1" style="" title=""><!--[if !supportFootnotes]--><span class="MsoFootnoteReference"><span class="MsoFootnoteReference">[1]</span><!--[endif]--></span></a> Author&rsquo;s interview with Steven Drummond in Washington, DC, on October 1, 2009. All further quotes from Drummond, unless otherwise attributed, are from this interview.</span></p>
	</div>
	<div id="ftn2" style="">
		<p class="footnote1">
			<span style="font-size: 11px;"><a href="case_id_54_id_549.html#_ftnref2" name="_ftn2" style="" title=""><!--[if !supportFootnotes]--><span class="MsoFootnoteReference"><span class="MsoFootnoteReference">[2]</span><!--[endif]--></span></a>&nbsp;John Conyers, Jr. (D-MI), press release, <a class="extlink" href="http://judiciary.house.gov/news/032108_2.html" target="_blank">&ldquo;Conyers Visits Inmates at Louisiana State Prison,&rdquo;</a> March 21, 2009, judiciary document 110-JUD-02080.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_54_id_548.html" class="page-previous" title="Go to previous page">&#171;&#160;The Next Step</a>

<a href="case_id_54_id_550.html" class="page-next" title="Go to next page">Going to the Source&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_54_id_141_c_bio.html">Laura&nbsp;Sullivan</a></li>

<li class="leaf"><a  href="case_id_54_id_142_c_bio.html">Steven&nbsp;Drummond</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
