

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Biography: Laura Sullivan | Voices Behind Bars: National Public Radio and Angola State Prison
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #243770;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #243770;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/54/knightcase_banner_npr.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_54.html" title="Home"><span>Biography: Laura Sullivan</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_54_id_542.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_54_id_543.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_54_id_544.html">National Public Radio</a>





</li>


<li class="leaf"><a  href="case_id_54_id_545.html">Tip to Story</a>





</li>


<li class="leaf"><a  href="case_id_54_id_547.html">Angola State Prison: A Short History</a>





</li>


<li class="leaf"><a  href="case_id_54_id_548.html">The Next Step</a>





</li>


<li class="leaf"><a  href="case_id_54_id_549.html">Defining the Story</a>





</li>


<li class="leaf"><a  href="case_id_54_id_550.html">Going to the Source</a>





</li>


<li class="leaf"><a  href="case_id_54_id_551.html">Digging Deeper</a>





</li>


<li class="leaf"><a  href="case_id_54_id_552.html">Inner Circle</a>





</li>


<li class="leaf"><a  href="case_id_54_id_553.html">What price access?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/54/National&#32;Public&#32;Radio&#32;and&#32;Angola&#32;State&#32;Prison_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_54.html">Home</a></div>		
		<h1 class="title">Biography: Laura&nbsp;Sullivan</h1>		
		
		  <div class="node">        
    <span class="taxonomy"></span>
    <div class="content"><div style="float: right; padding: 10px;">
	<img src="../../files/photos/401/sullivan_bio.jpg" /></div>
<p class="MsoNormal">
	Laura Sullivan joined NPR&rsquo;s national desk as its crime and punishment reporter in 2004. Since then, her reporting received several honors, including Peabody, Investigative Reporters and Editors, Robert F. Kennedy, Alfred I. DuPont, and Edward R. Murrow awards. She was also the winner of the 2007 Daniel Schorr Journalism Prize. Previously, she was a reporter covering the U.S. Justice Department, the FBI, and terrorism for the<i style=""> Baltimore Sun</i> in its <st1:state w:st="on"><st1:place w:st="on">Washington</st1:place></st1:state> bureau. During her 10 years with the <i style="">Sun</i>, Sullivan&rsquo;s beats included the National Security Agency, the <st1:place w:st="on"><st1:placename w:st="on">Naval</st1:placename> <st1:placetype w:st="on">Academy</st1:placetype></st1:place>, county government, and suburban coverage. She graduated from Northwestern University Medill School of Journalism.</p>
<p class="MsoNormal">
	<em>Listen to Sullivan talk about her role as a crime and punishment reporter.</em><br />
	<img alt="" border="0" class="audiofile" src="../../files/audios/118/laura_sullivan_bio.mp3" /></p>
</div>
      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->

		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  class="active"  href="case_id_54_id_141_c_bio.html">Laura&nbsp;Sullivan</a></li>

<li class="leaf"><a  href="case_id_54_id_142_c_bio.html">Steven&nbsp;Drummond</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
