

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Going to the Source | Voices Behind Bars: National Public Radio and Angola State Prison
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #243770;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #243770;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/54/knightcase_banner_npr.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_54.html" title="Home"><span>Going to the Source</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_54.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_54_id_543.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_54_id_544.html">National Public Radio</a>





</li>


<li class="leaf"><a  href="case_id_54_id_545.html">Tip to Story</a>





</li>


<li class="leaf"><a  href="case_id_54_id_547.html">Angola State Prison: A Short History</a>





</li>


<li class="leaf"><a  href="case_id_54_id_548.html">The Next Step</a>





</li>


<li class="leaf"><a  href="case_id_54_id_549.html">Defining the Story</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_54_id_550.html">Going to the Source</a>





</li>


<li class="leaf"><a  href="case_id_54_id_551.html">Digging Deeper</a>





</li>


<li class="leaf"><a  href="case_id_54_id_552.html">Inner Circle</a>





</li>


<li class="leaf"><a  href="case_id_54_id_553.html">What price access?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/54/National&#32;Public&#32;Radio&#32;and&#32;Angola&#32;State&#32;Prison_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_54.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Going to the Source</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p class="final">
	About a month or two after her initial phone call, Sullivan decided it was time to call Angola&rsquo;s spokesperson again. She needed to visit the prison and interview the prisoners, and she wanted to see as many sites as possible linked to the two men held in solitary for so many years.</p>
<blockquote>
	<p class="blockquote">
		I decided that if we&rsquo;re going to do this, we need to go [there], and I knew that we would not get everything we need, that the story wasn&rsquo;t going to come together in one trip. I already knew that there were a million avenues that I was going to want to chase down. This one&mdash;I wanted to hit the hot spots, you know, and try to just get as much as we could.</p>
</blockquote>
<p class="final">
	Under US law, no one had a legal right to enter a corrections facility without permission. The warden had the discretion to choose who could or could not come through the gates. Thanks to her years covering prisons, Sullivan had become adept at negotiating with wardens and other prison administrators and navigating bureaucracies. Typically, she convinced officials of a story&rsquo;s importance by outlining her reasons for doing it, its effect on the public&rsquo;s understanding of an issue, and the benefits the story might have for the warden and his or her prison.</p>
<p class="final">
	Before Sullivan reached for the phone, she thought it through. &ldquo;I did not want in any way to lie or mislead them, but I needed access,&rdquo; she says. Without access, she had no story. It would have been possible to claim that she simply wanted to re-interview the elderly inmate for the other story she was working on, then surprise the prison authorities with a request to see Woodfox and Wallace. But Sullivan knew better. &ldquo;You cannot in any way tell a warden you are coming to do one story and then do something else,&rdquo; she says.</p>
<blockquote>
	<p class="blockquote" style="">
		This job is hard enough as it is. You are your reputation, and the only reason you get access to prisons or you are allowed to come back is because they trust you&rsquo;re going to be true to your word.</p>
</blockquote>
<p class="final">
	On the other hand, if she called to ask forthrightly for an interview with the inmates in solitary confinement, they would slam the door in her face. She hoped that she could negotiate with the prison officials. Before she picked up the phone, she plotted a strategy she hoped would work: leave no room for a rejection. &ldquo;I would like to come down and interview [the elderly inmate] again,&rdquo; she said to the spokesperson, &ldquo;and I would like to talk to you while I&rsquo;m there about Woodfox and Wallace.&rdquo; The woman reminded Sullivan that prison officials would have nothing to say about those two. But Sullivan deliberately did not press her. &ldquo;Let&rsquo;s not be hasty,&rdquo; Sullivan says. &ldquo;Why don&rsquo;t we talk about it when I get there?&rdquo;</p>
<p class="final">
	<strong><i style="">Trip to Angola.</i></strong> Sullivan scheduled a trip to Louisiana for early July 2008. Amy Walters, her producer, joined her. Once in Angola, Sullivan met with the warden, Burl Cain, and repeated the request she had made to the spokesperson. &ldquo;We don&rsquo;t talk about those. Just can&rsquo;t do it, you know, really. That&rsquo;s not the deal,&rdquo; he told her.<a href="case_id_54_id_550.html#_ftn1" name="_ftnref1" style="" title=""><!--[if !supportFootnotes]--><span class="MsoFootnoteReference"><span style=""><span style=""><span class="MsoFootnoteReference"><span style="font-size: 10pt;">[1]</span></span><!--[endif]--></span></span></span></a> So she collected what material she could without talking to them.</p>
<p class="final">
	A radio reporter needs tape of ambient sound&mdash;recordings that in this case would convey the daily sounds of the prison to her listeners. To satisfy this need, Sullivan asked for a tour of the prison, making it clear to the warden that she was pursuing both stories: the one about the elderly inmate, and the one about Woodfox and Wallace. To her relief, he allowed her to take the tour. But he stipulated that she could not interview anyone about Woodfox and Wallace. Sullivan acquiesced, hoping that in the course of the tour, she would pass by some of the spots that figured in the story of the isolated prisoners, such as Brent Miller&rsquo;s former residence or the crime scene. Melody Spragg, an Angola administrator, served as her escort. When Sullivan asked Spragg whether she could see the Brent Miller Firing Range, which was named for the slain guard, she responded: &ldquo;Absolutely not.&rdquo;</p>
<div style="float: right; padding: 10px;">
	<img src="../../files/photos/425/camp_f_dog_pen_small.jpg" /><br />
	<p class="caption">
		Camp F, which holds 4 inmate dormitories and the dog pen.<br />
		Courtesy Louisiana State Department of Corrections</p>
</div>
<p class="final">
	The tour was short, conducted by car, and tightly controlled. Spragg drove her through the neighborhood where prison employees lived and by the dog pen. The bloodhounds, attack dogs, and wolves were used to track down escaped inmates. Sullivan didn&rsquo;t let on that she was pleased to visit the dog pen, where she made recordings of barking hounds. She knew from her research that Hezekiah Brown, who had been the state&rsquo;s main witness against Woodfox and Wallace, had been assigned to oversee the dog pen as a reward. &ldquo;It was a very luxurious place to go, and that was his gift for testifying against the two men,&rdquo; she says.</p>
<p class="final">
	Every time she was allowed out of the car, Sullivan recorded more sound. At an abandoned<span class="MsoCommentReference"><span style="font-size: 9pt; display: none;">prison</span></span> building that had been shuttered decades earlier&mdash;a lone shack in a field&mdash;Sullivan taped chirping cricket &ldquo;ambi.&rdquo; But the tape she had gathered so far was insufficient for her solitary confinement story. &ldquo;Can I at least see where [Woodfox and Wallace] were in solitary?&rdquo; Sullivan asked Spragg, hoping at the very least to catch a glimpse of the building&rsquo;s exterior. Again, the answer was no. Sullivan had made her site visit, but collected very little usable material.</p>
<p class="final">
	<em>Listen to Sullivan talk about the tour.</em><br />
	<img alt="" border="0" class="audiofile" src="../../files/audios/119/sullivan_car_tour.mp3" /></p>
<p>
	&nbsp;</p>
<div style="">
	<hr align="left" size="1" width="33%" />
<!--[endif]-->	<div style="">
		<p class="footnote1">
			<span style="font-size: 11px;"><a href="case_id_54_id_550.html#_ftnref1" name="_ftn1" style="" title=""><!--[if !supportFootnotes]--><span class="MsoFootnoteReference"><span class="MsoFootnoteReference">[1]</span><!--[endif]--></span></a> Laura Sullivan, <a class="extlink" href="http://www.npr.org/templates/story/story.php?storyId=96030547" target="_blank">&ldquo;Doubts Arise About 1972 Angola Prison Murder,&rdquo;</a> <i style="">All Things Considered</i>, National Public Radio, October 27, 2008. Other interview details, unless separately attributed, are from this story.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_54_id_549.html" class="page-previous" title="Go to previous page">&#171;&#160;Defining the Story</a>

<a href="case_id_54_id_551.html" class="page-next" title="Go to next page">Digging Deeper&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_54_id_141_c_bio.html">Laura&nbsp;Sullivan</a></li>

<li class="leaf"><a  href="case_id_54_id_142_c_bio.html">Steven&nbsp;Drummond</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
