

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Into The Garret (Part 2): Breaking New Ground | Chemical Fallout: The Milwaukee Journal Sentinel and the BPA Story
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #ad36ad;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #ad36a9;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/12/chemfallout_banner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_12.html" title="Home"><span>Into The Garret (Part 2): Breaking New Ground</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_12_id_113.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_12_id_114.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_12_id_115.html">The Milwaukee <i>Journal Sentinel</i></a>





</li>


<li class="leaf"><a  href="case_id_12_id_119.html">Investigative Reporting</a>





</li>


<li class="leaf"><a  href="case_id_12_id_120.html">Early Stirrings</a>





</li>


<li class="leaf"><a  href="case_id_12_id_121.html">Bisphenol A</a>





</li>


<li class="leaf"><a  href="case_id_12_id_118.html">The Team</a>





</li>


<li class="leaf"><a  href="case_id_12_id_117.html">Background Research</a>





</li>


<li class="leaf"><a  href="case_id_12_id_116.html">Colburn Interview</a>





</li>


<li class="leaf"><a  href="case_id_12_id_123.html">The Audit</a>





</li>


<li class="leaf"><a  href="case_id_12_id_124.html">Industry View</a>





</li>


<li class="leaf"><a  href="case_id_12_id_125.html">The EPA</a>





</li>


<li class="leaf"><a  href="case_id_12_id_126.html">Into the Garret: Part 1</a>





</li>


<li class="leaf"><a  href="case_id_12_id_127.html">A Difficult Meeting</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_12_id_128.html">Into The Garret (Part 2): Breaking New Ground</a>





</li>


<li class="leaf"><a  href="case_id_12_id_129.html">Art of Science Reporting</a>





</li>


<li class="leaf"><a  href="case_id_12_id_130.html">Firsthand Analysis</a>





</li>


<li class="leaf"><a  href="case_id_12_id_131.html">NTP Report</a>





</li>


<li class="leaf"><a  href="case_id_12_id_132.html">What to write?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/12/Milwaukee&#32;Journal&#32;Sentinel&#32;and&#32;the&#32;BPA&#32;story_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_12.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Into The Garret (Part 2): Breaking New Ground</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>Following their disappointing meeting with Katches, Kissinger, Rust, and Spivak headed straight for the Garret. &ldquo;There was a lot of four-year-old type behavior in that meeting. We all griped&hellip; and had nasty things to say. I think we just needed to vent for a while,&rdquo; Rust says. It wasn&rsquo;t just that the team would now have to re-cast work that had taken months to complete and of which it was proud. Kissinger, Spivak, and particularly Rust, also worried about challenging scientific conclusions that had appeared in peer-reviewed journals, and had thus already been refereed by experts.&nbsp;Says Rust:</p>
<blockquote>
<p>For me to have to go back and unpack the research that a scientist did&hellip; He&rsquo;s a scientist and I&rsquo;m a reporter, what am I going to find that he hasn&rsquo;t found and who am I to think that I&rsquo;m going to find something that he hasn&rsquo;t found or that I need to check his work?... Obviously, other scientists have been vetting this work and have approved it for him to be able to publish it. So I was really ticked [at Katches] about that.</p>
</blockquote>
<p>Adds Kissinger: &ldquo;He [Katches] was really, really demanding a lot. And I think the worry, I mean I can only speak for me, was that we don&rsquo;t want to accuse somebody or convict somebody if we&rsquo;re not able to prove the case.&rdquo; Kissinger also questioned Katches&rsquo; premise: &ldquo;A daily newspaper from the Midwest is going to pass judgment on the safety of a chemical that&rsquo;s been studied for years?... [I was] more than a little scared that we were going off in a direction that was uncharted.&rdquo;</p>
<p>Katches, for his part, was confident in his reporters, and especially in Rust&rsquo;s science training<b>. </b>&ldquo;Susanne, with that great scientific knowledge, was the person who was going to be best capable of reading these scientific studies,&rdquo; he says. &ldquo;[She] wasn&rsquo;t intimidated by them. I think one of the reasons why very few investigative stories have been written about these [complicated scientific] things is because journalists don&rsquo;t understand them. They are very complicated, jargony, scientific mumbo-jumbo studies that it&rsquo;s sort of hard to penetrate.&rdquo;</p>
<p><i>Digging Deeper</i>. Despite their misgivings, the team set about tackling the story anew. Their first decision was to stick with the focus on the EPA. They decided to examine the various committees that comprised the EPA, trying to discover when they met and who their members were. Kissinger and Spivak headed to their desks, and to the phones. More familiar now with their subject, the reporters were more knowledgeable than during their first round of reporting, and so they were able to get &ldquo;much sharper material, sharper quotes&rdquo; from their interviewees. &ldquo;[Before] we were kind of laying the framework and we weren&rsquo;t able to say things with as much authority,&rdquo; Kissinger says. Meanwhile, Rust began to put together a plan for evaluating the bisphenol A scholarship. As she did so, she revisited her list of common science reporting pitfalls in an effort to avoid them.</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_12_id_127_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;A Difficult Meeting</a>

<a href="case_id_12_id_129_pid_0.html" class="page-next" title="Go to next page">Art of Science Reporting&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_12_id_6_c_bio.html">Susanne&nbsp;Rust</a></li>

<li class="leaf"><a  href="case_id_12_id_7_c_bio.html">Meg&nbsp;Kissinger</a></li>

<li class="leaf"><a  href="case_id_12_id_8_c_bio.html">Mark&nbsp;Katches</a></li>

<li class="leaf"><a  href="case_id_12_id_9_c_bio.html">George&nbsp;Stanley</a></li>

<li class="leaf"><a  href="case_id_12_id_10_c_bio.html">Cary &nbsp;Spivak</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
