

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Introduction | Chemical Fallout: The Milwaukee Journal Sentinel and the BPA Story
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #ad36ad;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #ad36a9;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/12/chemfallout_banner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_12.html" title="Home"><span>Introduction</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_12_id_113.html">Title Page</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_12_id_114.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_12_id_115.html">The Milwaukee <i>Journal Sentinel</i></a>





</li>


<li class="leaf"><a  href="case_id_12_id_119.html">Investigative Reporting</a>





</li>


<li class="leaf"><a  href="case_id_12_id_120.html">Early Stirrings</a>





</li>


<li class="leaf"><a  href="case_id_12_id_121.html">Bisphenol A</a>





</li>


<li class="leaf"><a  href="case_id_12_id_118.html">The Team</a>





</li>


<li class="leaf"><a  href="case_id_12_id_117.html">Background Research</a>





</li>


<li class="leaf"><a  href="case_id_12_id_116.html">Colburn Interview</a>





</li>


<li class="leaf"><a  href="case_id_12_id_123.html">The Audit</a>





</li>


<li class="leaf"><a  href="case_id_12_id_124.html">Industry View</a>





</li>


<li class="leaf"><a  href="case_id_12_id_125.html">The EPA</a>





</li>


<li class="leaf"><a  href="case_id_12_id_126.html">Into the Garret: Part 1</a>





</li>


<li class="leaf"><a  href="case_id_12_id_127.html">A Difficult Meeting</a>





</li>


<li class="leaf"><a  href="case_id_12_id_128.html">Into The Garret (Part 2): Breaking New Ground</a>





</li>


<li class="leaf"><a  href="case_id_12_id_129.html">Art of Science Reporting</a>





</li>


<li class="leaf"><a  href="case_id_12_id_130.html">Firsthand Analysis</a>





</li>


<li class="leaf"><a  href="case_id_12_id_131.html">NTP Report</a>





</li>


<li class="leaf"><a  href="case_id_12_id_132.html">What to write?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/12/Milwaukee&#32;Journal&#32;Sentinel&#32;and&#32;the&#32;BPA&#32;story_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_12.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Introduction</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="padding: 10px; float: right;"><img alt="" src="http://128.59.96.140/casestudy/files/photos/191/logo.jpg" /></div>
<p>The Milwaukee <i>Journal Sentinel</i> reporting team was frustrated and angry. Three reporters had spent six months researching and writing what they considered an excellent investigative story about bisphenol A&mdash;a chemical also known as BPA&mdash;which was widely used in clear plastic products, including such household familiars as baby bottles, nail polish, dental sealants, eyeglasses, soda, beer and food cans. The reporters&mdash;Susanne Rust, Cary Spivak, and Meg Kissinger&mdash;had exhaustively chronicled the scientific debate over BPA. Many studies found it benign; others linked it to a dizzying array of health problems in animals, including breast, testicular and prostate cancer, hyperactivity, miscarriages and diabetes.</p>
<p>On September 18, 2007, they had submitted a draft to the assistant managing editor for projects and investigations, Mark Katches. In the draft, the team weighed the arguments on both sides and examined the role of the Environmental Protection Agency (EPA), revealing how lax the agency had been in testing a wide range of chemicals thought to cause abnormalities in wildlife, and possibly humans. But Katches, to their dismay, was asking for a rewrite. Rather than repeat the various claims made about the chemical, Katches wanted the team to find out for itself: just how dangerous was BPA?</p>
<p>This put the reporters into new and uncomfortable territory. Trained to present both sides of a story, they had little experience making a judgment call, especially where opaque scientific issues were concerned. Surely their job was to present the findings of the experts, rather than judge the experts for themselves? If the team adopted Katches&rsquo; approach, Rust, in particular, would be on the hook. As the paper&rsquo;s leading science writer, it would be her job to determine the validity of the science on BPA. Eventually, and despite considerable doubts, the team agreed to take a second pass at the story.</p>
<p>Rust decided the best way to investigate the competing claims about BPA was to dive into existing scientific studies herself, rather than rely on information from interviews with experts. That in itself was daunting: after an initial search, she guessed there were at least 250 studies that she would have to review. But more frightening was the conclusion she found herself reaching the deeper she delved into the science. The preponderance of reputable studies did find BPA dangerous to humans. What&rsquo;s more, it looked as though the only studies which found it benign were funded by the chemical industry which produced BPA.</p>
<p>Rust brought her findings to the team. The implications of publishing what she had found were far-reaching. First, how could she be sure she was right?&nbsp;Although she was a former PhD candidate in biological anthropology, she had not completed her degree. Was she prepared to challenge highly trained professional scientists? Yes, there were studies which would support her conclusion that BPA was dangerous&mdash;but what might be the hidden agendas behind those supposedly independent inquiries? Finally, what about the public response if the team were to publish Rust&rsquo;s inferences? Did the paper risk generating needless panic among readers? Would they be charged with fear-mongering and sensational, tabloid-style journalism? How should the <i>Journal Sentinel</i> report this story?</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_12_id_113_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Chemical Fallout: The Milwaukee <i>Journal Sentinel</i> and the BPA Story</a>

<a href="case_id_12_id_115_pid_0.html" class="page-next" title="Go to next page">The Milwaukee <i>Journal Sentinel</i>&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_12_id_6_c_bio.html">Susanne&nbsp;Rust</a></li>

<li class="leaf"><a  href="case_id_12_id_7_c_bio.html">Meg&nbsp;Kissinger</a></li>

<li class="leaf"><a  href="case_id_12_id_8_c_bio.html">Mark&nbsp;Katches</a></li>

<li class="leaf"><a  href="case_id_12_id_9_c_bio.html">George&nbsp;Stanley</a></li>

<li class="leaf"><a  href="case_id_12_id_10_c_bio.html">Cary &nbsp;Spivak</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
