

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Value-Added Analysis | Rating Teachers: a Job for Journalists? The Los Angeles Times and "Value-Added" Analysis
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/83/banner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_83.html" title="Home"><span>Value-Added Analysis</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_83.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_83_id_637.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_83_id_638.html">Birth of the Project</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_83_id_639.html">Value-Added Analysis</a>





</li>


<li class="leaf"><a  href="case_id_83_id_640.html">Seeking the Data</a>





</li>


<li class="leaf"><a  href="case_id_83_id_641.html">Creating the Ratings</a>





</li>


<li class="leaf"><a  href="case_id_83_id_642.html">Name the Teachers?</a>





</li>


<li class="leaf"><a  href="case_id_83_id_643.html">Green Light?</a>





</li>


<li class="leaf"><a  href="case_id_83_id_644.html">Internal Resistance</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/83/Los&#32;Angeles&#32;Times&#32;and&#32;Value&#32;Added&#32;Analysis_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_83.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Value-Added Analysis</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	By the summer of 2009, several school districts were piloting the value-added model, including Dallas, Houston, New York City, Washington, DC and Chicago. Secretary of Education Arne Duncan was a supporter. When the Obama administration in July 2009 announced Race to the Top, a national initiative which allowed states to compete for federal funds to improve schools, it featured incentives to link teacher evaluations to student test scores.</p>
<p>
	Value-added metrics emerged from the world of economics. The model used complex algorithms to compute how much value a teacher added to his students&rsquo; mastery of math and English as measured through standardized tests. The value-added model tracked individual teachers over the course of several years to determine whether their students&rsquo; test scores consistently improved, declined or remained stagnant.</p>
<p>
	<em>Support</em>. Value-added supporters believed it could be a useful tool for school superintendents, principals and parents to hold teachers accountable. They argued that it controlled for socioeconomic differences among students because it rated teachers based on how much their students improved. Thus, the teacher was judged not on standard grade level expectations for students, but on their progress. Teachers in low-income areas, for example, with fewer students performing at grade level, could still receive an effective rating so long as the majority of students made significant progress.</p>
<p>
	<em>Criticism</em>. The method&rsquo;s critics, however, charged that its calculations were misleading and often wrong. For one thing, researchers in each jurisdiction were free to decide which variables to include or exclude&mdash;for example, student family income, parent educational level, race, or proficiency in English. Thus, the same set of data could generate different results based on the variables selected. This also meant that results could not be compared across states or districts because the methodology was not consistent. The model also failed to factor in important information such as whether a class was team-taught, or whether a student or teacher had been absent for prolonged periods. Finally, it depended for its findings on standardized tests, whose own validity had been the subject of intense debate for decades.</p>
<p>
	One issue that both supporters and critics agreed on was that value-added should be only one component in a teacher&rsquo;s evaluation. They differed, however, on the weight it should be given, with estimates ranging from as high as 50 percent to a low of 3 percent.</p>
<p>
	At the <em>LA Times</em>, reporters and editors knew that value-added analysis had its limitations. But the more Felch and Song researched it, the more they came to believe that it was likely the best method available for assessing a teacher&rsquo;s abilities. As Felch says: &ldquo;This was the key that these researchers were using to kind of unlock this world, where we suddenly were able to see dynamics that were going on that had been blurred before.&rdquo; They decided to see whether the value-added approach could possibly work for teachers in Los Angeles public schools.</p>
<p>
	<em>Do it here?</em> To do a valid value-added analysis, researchers required several years of continuous student test scores linked to their teachers. The LAUSD had been collecting data from the California Standards Tests (which it adopted in 2002) for seven years. Felch and Song proposed to their editors, Marquis and Shuster, that the <em>Times</em> try to obtain the LAUSD data. If successful, the <em>Times</em> could hire an expert in value-added analysis to rate the LAUSD teachers. The paper could then post the results on itswebsite, along with a series of articles putting the data in context.&nbsp; To increase the chance of influencing real policy change, the paper might even name the teachers. &nbsp;&nbsp;</p>
<p>
	Marquis and Shuster thought the idea had potential, but believed it unlikely LAUSD would release the data. AME Lauter agreed that the prospects for LAUSD cooperation were slim. But he loved the idea, and felt that if they could get the data, the <em>Times</em> would be in a position to provide a valuable public service.</p>
<p>
	Lauter also worried about the cost, especially the expense of an outside consultant. While <em>Times</em> management wanted to support ambitious journalism, 2009 had been a particularly bad year financially for newspapers. Nonetheless, Lauter advised the reporters to push ahead. In the meantime, he applied for funding to the Hechinger Institute on Education and the Media, an arm of Teachers College at Columbia University that supported major journalism projects focused on education.<sup><a href="case_id_83_id_639.html#_ftn6" name="_ftnref1" title="">[6]</a></sup></p>
<div>
	<br clear="all" />
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			&nbsp;</p>
		<p>
			<span style="font-size:11px;"><a href="case_id_83_id_639.html#_ftnref4" name="_ftn6" title="">[6]</a>&nbsp;The Hechinger Institute in August 2010 awarded the <em>Times</em> a $15,000 grant that the paper used to help defray the cost of the consultant. &nbsp;&nbsp;</span></p>
		<p>
			&nbsp;</p>
		<p>
			&nbsp;</p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_83_id_638.html" class="page-previous" title="Go to previous page">&#171;&#160;Birth of the Project</a>

<a href="case_id_83_id_640.html" class="page-next" title="Go to next page">Seeking the Data&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_83_id_176_c_bio.html">Jason&nbsp;Felch</a></li>

<li class="leaf"><a  href="case_id_83_id_177_c_bio.html">Megan&nbsp;Garvey</a></li>

<li class="leaf"><a  href="case_id_83_id_178_c_bio.html">David&nbsp;Lauter</a></li>

<li class="leaf"><a  href="case_id_83_id_179_c_bio.html">Julie&nbsp;Marquis</a></li>

<li class="leaf"><a  href="case_id_83_id_180_c_bio.html">Ken&nbsp;Schwencke</a></li>

<li class="leaf"><a  href="case_id_83_id_181_c_bio.html">Beth&nbsp;Shuster</a></li>

<li class="leaf"><a  href="case_id_83_id_182_c_bio.html">Doug&nbsp;Smith</a></li>

<li class="leaf"><a  href="case_id_83_id_183_c_bio.html">Jason&nbsp;Song</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
