

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Name the Teachers? | Rating Teachers: a Job for Journalists? The Los Angeles Times and "Value-Added" Analysis
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/83/banner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_83.html" title="Home"><span>Name the Teachers?</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_83_id_636.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_83_id_637.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_83_id_638.html">Birth of the Project</a>





</li>


<li class="leaf"><a  href="case_id_83_id_639.html">Value-Added Analysis</a>





</li>


<li class="leaf"><a  href="case_id_83_id_640.html">Seeking the Data</a>





</li>


<li class="leaf"><a  href="case_id_83_id_641.html">Creating the Ratings</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_83_id_642.html">Name the Teachers?</a>





</li>


<li class="leaf"><a  href="case_id_83_id_643.html">Green Light?</a>





</li>


<li class="leaf"><a  href="case_id_83_id_644.html">Internal Resistance</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/83/Los&#32;Angeles&#32;Times&#32;and&#32;Value&#32;Added&#32;Analysis_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_83.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Name the Teachers?</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	For months, there had been intermittent discussions about whether to name the teachers. The team did consider other options. For instance, the <em>Times</em> could just report the number of teachers in various categories at individual schools&mdash;highly effective, average, highly ineffective&mdash;without naming names. In effect, rate the schools. But Special Projects Editor Marquis, for one, saw no point in that. She elaborates:</p>
<blockquote>
	<p>
		Then what are you telling people? OK, people, 20 percent of the teachers in this district are really bad at raising students&rsquo; test scores, and we know who they are. But we&rsquo;re not going to tell you, because you might misunderstand it? I mean, that&rsquo;s what I don&rsquo;t get.</p>
</blockquote>
<p>
	Reporter Song started out more wary but came to agree with Marquis that the <em>Times</em>couldn&rsquo;t publish a story saying it had identified good and bad teachers, and then not provide readers with the underlying data. As a journalist, he believed that, in general, reliable information about public employees should be disclosed. Education Editor Shuster also favored naming the teachers. As a mother, she knew that parents usually found out about teachers through &ldquo;gossip in the parking lot.&rdquo; In a perfect world, she felt that LAUSD should have provided parents with solid teacher evaluations instead of leaving them to rely on rumors. Now the <em>Times</em> could do what the school district had not. AME Lauter initially was more skeptical, although in time he came to see naming teachers as a public service. He explains:</p>
<blockquote>
	<p>
		My grandparents were public school teachers in New York. My parents are college professors. So I&rsquo;d kind of grown up around teachers. My initial reaction was, well, I don&rsquo;t know whether I&rsquo;m comfortable doing this.</p>
</blockquote>
<p>
	In fact, many involved with the project had teachers in their families. Editor Stanton&rsquo;s oldest daughter was a public school teacher, and his mother had been one as well. Reporter Felch had been a teacher himself before he became a journalist. Felch fully understood that some teachers would be embarrassed, and their reputations damaged, if the <em>Times</em> rated them low. But he believed that the greater good to the community outweighed this concern.</p>
<p>
	<img alt="" src="http://i54.tinypic.com/1q0eia.jpg" style="margin-left: 2px; margin-right: 2px; margin-top: 2px; margin-bottom: 2px; float: left; width: 311px; height: 184px; " /></p>
<p>
	A lingering skeptic was Data Analysis Editor Smith. Smith did a lot of soul searching about posting teachers&rsquo; names. He was a 40-year veteran at the <em>Times </em>and had become the dean of computer-assisted reporting. He knew firsthand the power and the limits of data. All data, he knew, were &ldquo;dirty&rdquo; (misleading or incorrect) to one extent or another and, if not handled properly, flawed data could give unreliable results. But after the lengthy period of processing the data, and matching value-added results against classroom reality, Smith came around. He favored publishing the names.</p>
<p>
	But it was not Smith&rsquo;s call. AME Lauter decided it was time to meet again with Editor Stanton.</p>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_83_id_641_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Creating the Ratings</a>

<a href="case_id_83_id_643_pid_0.html" class="page-next" title="Go to next page">Green Light?&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_83_id_176_c_bio.html">Jason&nbsp;Felch</a></li>

<li class="leaf"><a  href="case_id_83_id_177_c_bio.html">Megan&nbsp;Garvey</a></li>

<li class="leaf"><a  href="case_id_83_id_178_c_bio.html">David&nbsp;Lauter</a></li>

<li class="leaf"><a  href="case_id_83_id_179_c_bio.html">Julie&nbsp;Marquis</a></li>

<li class="leaf"><a  href="case_id_83_id_180_c_bio.html">Ken&nbsp;Schwencke</a></li>

<li class="leaf"><a  href="case_id_83_id_181_c_bio.html">Beth&nbsp;Shuster</a></li>

<li class="leaf"><a  href="case_id_83_id_182_c_bio.html">Doug&nbsp;Smith</a></li>

<li class="leaf"><a  href="case_id_83_id_183_c_bio.html">Jason&nbsp;Song</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
