<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   The Duke Incident | Integrity on Deadline: ABC News and the Duke Lacrosse Photographs
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #006699;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #003399;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/21/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_21.html" title="Home">
         <span>
          The Duke Incident
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_21.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_232.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_233.html">
          ABC News
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_234.html">
          A Question of Standards
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_235.html">
          The Particular Challenges of Reporting on Rape
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_21_id_236.html">
          The Duke Incident
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_237.html">
          ABC Coverage
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_238.html">
          Enter the ABC
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_239.html">
          The DNA Results
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_240.html">
          The Photos
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_241.html">
          Scooped
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_21_id_242.html">
          Smith's Decision
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/21/ABC News and the Duke Lacrosse Photographs_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_21.html">
        Home
       </a>
      </div>
      <h1 class="title">
       The Duke Incident
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         The first report of the alleged rape in Durham appeared on March 18, 2006, in the local newspaper, the
         <em>
          News and Observer.
         </em>
         The three-line story stated that police were investigating a possible rape near the Duke University campus on March 13. Details about the incident remained scant, in fact, until March 24, when the
         <em>
          News and Observer
         </em>
         broke the news that police were investigating Duke’s lacrosse team in connection with the alleged assault. The team was ranked second in the nation at the time.
        </p>
        <p>
         <span class="inline inline-right">
          <img alt="" border="0" class="image image-_original" height="153" src="../../files/abcnews/images/Lacrosse-House_0.jpg" width="240"/>
          <span class="caption" style="width: 240px;">
           <span class="copyright">
            © ABC News
           </span>
          </span>
         </span>
         The basic outline of the story soon emerged. The captains of the Duke lacrosse team had hosted a party in an off-campus house on the evening of March 13, and had hired two exotic dancers from a local escort agency to perform. The women, both African-American, arrived shortly before midnight to a houseful of male college students, many drunk and rowdy. The women began dancing, but when several of the youths yelled racially insensitive remarks, the dancers left the house. After one student apologized, however, the women returned to the party.
        </p>
        <p>
         <em>
          <strong>
           The accusation.
          </strong>
         </em>
         The alleged victim—a 27-year-old single mother of two and student at nearby North Carolina Central University—told police that several partygoers grabbed her around the neck when she reentered the house. She said she was separated from the other exotic dancer, and that several men—all white—dragged her into a bathroom, where they raped, beat, and choked her over a 30-minute period. The woman said the attack was so brutal that several of her nail extensions tore off as she clawed at the men’s arms.
        </p>
        <p>
         A neighbor reported seeing the two young women leave the house at about 12:45 a.m. and said some of the lacrosse players had yelled insults. Nearly an hour later, a police officer reported an “intoxicated or disoriented” woman, later identified as the alleged rape victim, passed out in a vehicle in front of a 24-hour grocery store. The woman’s boyfriend reportedly arrived and drove her to Duke Medical Center, where she told hospital staff she had been gang raped by lacrosse players. A nurse examined the woman and indicated she had injuries consistent with a sexual assault. Hospital staff called in the police.
         <sup>
          <a name="txtfn15" title="txtfn15">
          </a>
          <a href="case_id_21_id_236.html#fn15">
           [15]
          </a>
         </sup>
        </p>
        <p>
         <span class="inline inline-right">
          <img alt="" border="0" class="image image-_original" height="181" src="../../files/abcnews/images/Richard-Broadhead.jpg" width="237"/>
          <span class="caption" style="width: 240px;">
           Richard Brodhead.
           <br/>
           <span class="copyright">
            © ABC News
           </span>
          </span>
         </span>
         <em>
          <strong>
           The investigation.
          </strong>
         </em>
         Police obtained a search warrant on March 16 and removed evidence from the lacrosse house, including acrylic fingernail extensions from the students’ bathroom. The following week, Mike Nifong, District Attorney for Durham County (North Carolina’s 14th Prosecutorial District), ordered 46 of the 47 lacrosse team players to submit DNA samples to investigators.
         <sup>
          <a name="txtfn16" title="txtfn16">
          </a>
          <a href="case_id_21_id_236.html#fn16">
           [16]
          </a>
         </sup>
         The DNA tests would take weeks to process. Meanwhile, Nifong assured the public he would take a hard line against the players and bring the assailants to justice. “We cannot tolerate this kind of behavior here in Durham,” he said on March 28, as he looked directly into television cameras.
         <sup>
          <a name="txtfn17" title="txtfn17">
          </a>
          <a href="case_id_21_id_236.html#fn17">
           [17]
          </a>
         </sup>
         That same night, a Tuesday, Duke University President Richard Brodhead suspended the lacrosse team from playing. By this point, the story was attracting national attention.
        </p>
        <p>
         The Duke lacrosse players hired attorneys and steadfastly protested their innocence. The team captains admitted to serving alcohol at their party and hiring the exotic dancers. But they consistently denied that any sexual activity, consensual or otherwise, had taken place with the alleged victim.
        </p>
        <div class="footnotesblock">
         <h3 class="footnotes">
          Footnotes
         </h3>
         <p>
          <a name="fn15" title="fn15">
          </a>
          <a class="textfn" href="case_id_21_id_236.html#txtfn15">
           [15]
          </a>
          Court documents with the woman’s account can be viewed at
          <a class="extlink" href="http://www.thesmokinggun.com/archive/0329061duke4.html" target="_blank">
           The Smoking Gun
          </a>
          .
         </p>
         <p>
          <a name="fn16" title="fn16">
          </a>
          <a class="textfn" href="case_id_21_id_236.html#txtfn16">
           [16]
          </a>
          One member of the team was black and not tested for DNA, since the woman had said her attackers were white.
         </p>
         <p>
          <a name="fn17" title="fn17">
          </a>
          <a class="textfn" href="case_id_21_id_236.html#txtfn17">
           [17]
          </a>
          Interview with Rita Cosby, MSNBC, March 28, 2006.
         </p>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_21_id_235.html" title="Go to previous page">
          « The Particular Challenges of Reporting on Rape
         </a>
         <a class="page-next" href="case_id_21_id_237.html" title="Go to next page">
          ABC Coverage »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_21_id_56_c_bio.html">
         Eric Avram
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_21_id_57_c_bio.html">
         Kerry Smith
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
