<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   The New England Patriots and Terry Glenn | New England Cable News and the Terry Glenn Story
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #1f805c;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #09704a;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/18/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_18.html" title="Home">
         <span>
          The New England Patriots and Terry Glenn
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_18.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_207.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_208.html">
          Getting off the Ground
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_209.html">
          Into the Black
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_210.html">
          The Market
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_211.html">
          NECN's Niche
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_212.html">
          A Sports-Mad City
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_18_id_213.html">
          The New England Patriots and Terry Glenn
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/18/New England Cable News and the Terry Glenn Story_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_18.html">
        Home
       </a>
      </div>
      <h1 class="title">
       The New England Patriots and Terry Glenn
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <strong>
          <em>
           A Troubled Franchise.
          </em>
         </strong>
         For much of their history, the New England Patriots  had been a troubled franchise. Nicknamed the “Pats” by supporters and the “Patsies” by detractors, they entered the American Football League as the Boston Patriots in 1960. They had sporadic success in the mid-70s and 80s, including a Super Bowl appearance in 1986. But in the late 1980s its owners, the Sullivan family, lost millions of dollars on business ventures and were forced to sell the team to Victor Kiam (majority owner).
        </p>
        <p>
         The low-point in the team’s history came in 1990, when it finished a league-worst 1-15 and was implicated in a notorious case of sexual harassment. After a game, several Patriots players verbally assaulted Lisa Olson, a reporter for the
         <em>
          Boston Herald
         </em>
         . Olson went public, sparking a national discussion about women in male locker rooms and prompting Kiam, the Patriots’ owner, to call her “a classic bitch.” The league launched an investigation, and Commissioner Paul Tagliabue fined Kiam and three players. If the Patriots weren’t league laughingstocks, they were close.
        </p>
        <p>
         <span class="inline right">
          <img alt="Terry Glenn.  © 1997 Getty Images" border="0" class="image _original" height="163" src="../../files/necn/images/terry_glenn.jpg" title="Terry Glenn.  © 1997 Getty Images" width="240"/>
          <span class="caption" style="width: 240px;">
           Terry Glenn.
           <br/>
           <span id="copyright">
            © 1997 Getty Images
           </span>
          </span>
         </span>
         Their prospects brightened after the 1992 season when the new owner, James Orthwein, hired legendary coach and two-time Super Bowl champion Bill Parcells. With rookie quarterback and number-one draft pick Drew Bledsoe at the helm, the Patriots won five games. In January of 1994, New England businessman Robert Kraft bought the team. Boston had historically reserved its strongest affections for baseball’s Red Sox, basketball’s Celtics, and hockey’s Bruins, but the Patriots began to attract a large, intense following. All the 1994 games sold out before the season and the team made the playoffs. In 1995, the Patriots drafted Ohio State wide receiver Terry Glenn and signed him to a six-year, $11.6 million contract.
        </p>
        <p>
         <strong>
          <em>
           A Controversial Player.
          </em>
         </strong>
         It would be difficult to imagine a rookie football player attended by more controversy or playing under more pressure. Glenn was the player his coach didn’t want; owner Kraft had picked him over Parcells’ objections. The pressure only intensified when Glenn missed most of the pre-season and the season opener with a pulled hamstring. Asked in training camp how Glenn was progressing, Parcells said, “She’ll be alright.” This slur on Glenn’s toughness received enormous attention in the media and led callers on talk radio to label him “Teresa.” Throughout his tenure with the Patriots, Glenn would be scrutinized and psychoanalyzed by fans and journalists.
        </p>
        <p>
         But Glenn recovered and helped the Patriots make the Super Bowl for the second time in its history. In the media furor that accompanied the 1996 Super Bowl (which the Patriots lost), stories focused on Glenn’s tragic past: He never knew his father, and when he was 13, his mother was beaten to death. Journalists cited the experience both to counter claims that Glenn wasn’t tough and to explain his aloofness, which struck some as coldness. “He’s quiet, almost introverted. He doesn’t smile much,” said one reporter.
         <sup>
          <a name="txtfn28" title="txtfn28">
          </a>
          <a href="case_id_18_id_213.html#fn28">
           [28]
          </a>
         </sup>
         Another quoted Glenn’s high school coach, who said, “The day his mom was killed his life more or less ended. When he lost her, he felt he didn’t have anyone to work for, anyone who’d be proud of him. He kind of shut down and became very introverted.”
         <sup>
          <a name="txtfn29" title="txtfn29">
          </a>
          <a href="case_id_18_id_213.html#fn29">
           [29]
          </a>
         </sup>
        </p>
        <p>
         In the next two seasons, Glenn was plagued by injuries—a torn hamstring, a sprained ankle, a broken ankle, a scratched eye—and had trouble staying in the lineup. Yet he was a key player. The Patriots, said one story, “can’t live without” a healthy Glenn.
         <sup>
          <a name="txtfn30" title="txtfn30">
          </a>
          <a href="case_id_18_id_213.html#fn30">
           [30]
          </a>
         </sup>
         The
         <em>
          Herald
         </em>
         summed up the frustration with his erratic performance:
        </p>
        <blockquote>
         <p>
          He has become the Patriots X-factor, the mystery guest, Terry Glenn has. You know the defense is always going to come to play. You know the running game is suspect. You know Ben Coates is going to catch the ball over the middle, and that if Drew Bledsoe gets some time he’s eventually going to make opposing defenses pay. But Glenn? Who really knows? In a sense he’s football’s version of schizophrenia… Are we going to see the Glenn, who has a stadium full of speed and talent, or the Glenn whose [sic] had both his heart and work ethic challenged?
          <sup>
           <a name="txtfn31" title="txtfn31">
           </a>
           <a href="case_id_18_id_213.html#fn31">
            [31]
           </a>
          </sup>
         </p>
        </blockquote>
        <p>
         Other Patriot stars were frequent guests on TV and radio shows, but Glenn kept to himself, rarely giving interviews or signing autographs. “Glenn,” said a piece in the
         <em>
          Herald
         </em>
         ,” is often silent, to the point where many fans don’t even know the sound of his voice.”
         <sup>
          <a name="txtfn32" title="txtfn32">
          </a>
          <a href="case_id_18_id_213.html#fn32">
           [32]
          </a>
         </sup>
         The 1999 season started off poorly for Glenn and the Patriots. The press began to report that Coach Peter Carroll had lost the confidence of both players and management. Rumors of Carroll’s firing swirled as the Patriots lost six of seven games in the middle of the season to fall out of playoff contention.
        </p>
        <p>
         There was a sense among reporters and fans that the players were out of control—on a personal as well as a professional level. Early in the season, second-year tight end Rod Rutledge, purportedly drag racing, crashed in a rest stop. He was escorted away from the scene of the accident by starting tight end Ben Coates, who the previous year had been arrested for domestic abuse. Just three years after their appearance in the Super Bowl, the Patriots were in disarray. “The Patriots are now a house of a cards,” wrote one reporter. “All jokers.”
         <sup>
          <a name="txtfn33" title="txtfn33">
          </a>
          <a href="case_id_18_id_213.html#fn33">
           [33]
          </a>
         </sup>
        </p>
        <p>
         Then on Thanksgiving morning 1999, late for a team meeting, Glenn was stopped by police in Walpole and charged with driving to endanger and driving without a license or registration. Glenn later admitted to drinking too much the night before at a charity function in a Saugus nightclub hosted by Patriot Willie McGinest.
        </p>
        <div class="footnotesblock">
         <h3 class="footnotes">
          Footnotes
         </h3>
         <p>
          <a name="fn28" title="fn28">
          </a>
          <a class="textfn" href="case_id_18_id_213.html#txtfn28">
           [28]
          </a>
          Rich Cimini, “Glenn’s Unlikely Ascension,”
          <em>
           New York Daily News,
          </em>
          January 26, 1997, p. 65.
         </p>
         <p>
          <a name="fn29" title="fn29">
          </a>
          <a class="textfn" href="case_id_18_id_213.html#txtfn29">
           [29]
          </a>
          Tom Archdeacon, “Troubled Past Stays With Glenn,”
          <em>
           Dayton Daily News
          </em>
          , January 25, p. 1D.
         </p>
         <p>
          <a name="fn30" title="fn30">
          </a>
          <a class="textfn" href="case_id_18_id_213.html#txtfn30">
           [30]
          </a>
          Karen Guregian, “Actions speak volumes; Pats a different team with Glenn in lineup,”
          <em>
           Boston Herald
          </em>
          , December 8, 1998, p.91
         </p>
         <p>
          <a name="fn31" title="fn31">
          </a>
          <a class="textfn" href="case_id_18_id_213.html#txtfn31">
           [31]
          </a>
          Bill Reynolds, “Killer Nickname Fits Glenn for what he did to the Oilers,”
          <em>
           Providence Journal Bulletin
          </em>
          , September 21, 1998, p. 2D.
         </p>
         <p>
          <a name="fn32" title="fn32">
          </a>
          <a class="textfn" href="case_id_18_id_213.html#txtfn32">
           [32]
          </a>
          Steve Buckley, “First and Glenn: In a rare interview, he heralded Patriots receiver discusses receptions, perceptions and deceptions,”
          <em>
           Boston Herald
          </em>
          , August 29, 1999, p. B20.
         </p>
         <p>
          <a name="fn33" title="fn33">
          </a>
          <a class="textfn" href="case_id_18_id_213.html#txtfn33">
           [33]
          </a>
          Dick Cerasuolo, “Carroll, Pats at a loss; Bring on the new coach restore confidence,”
          <em>
           Telegram &amp; Gazette
          </em>
          , November 30, 1999, p. D1.
         </p>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_18_id_212.html" title="Go to previous page">
          « A Sports-Mad City
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_18_id_37_c_bio.html">
         Charles J. Kravetz
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_18_id_38_c_bio.html">
         Thomas Melville
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_18_id_39_c_bio.html">
         Steve Safran
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
