<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Introduction | New England Cable News and the Terry Glenn Story
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #1f805c;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #09704a;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/18/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_18.html" title="Home">
         <span>
          Introduction
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a href="case_id_18.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a class="active" href="case_id_18_id_207.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_208.html">
          Getting off the Ground
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_209.html">
          Into the Black
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_210.html">
          The Market
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_211.html">
          NECN's Niche
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_212.html">
          A Sports-Mad City
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_18_id_213.html">
          The New England Patriots and Terry Glenn
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/18/New England Cable News and the Terry Glenn Story_wm.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="three-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_18.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Introduction
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p>
         <span class="inline right">
          <img alt="" border="0" class="image _original" height="96" src="../../files/necn/images/necn_logo.jpg" width="240"/>
         </span>
         In 1999, New England Cable News (NECN) was one of the largest local news networks in the country, reaching more than 2 million homes in five states.
        </p>
        <p>
         NECN’s main studio was in Newton, Massachusetts, and it had bureaus throughout New England, including one in the
         <em>
          Boston Globe
         </em>
         building. A 24-hour station, it ran mostly original programming: news updates, full-length newscasts, sports, weather, traffic, documentaries, lifestyle shows, and talk shows. For footage of national news events, NECN relied on an independent agreement with ABC NewsOne, which gave it access to ABC video.
        </p>
        <p>
         <iframe frameborder="0" height="270" src="https://www.youtube.com/embed/-lOQfmhOVgM?origin=http://ccnmtl.columbia.edu" type="text/html" width="480">
         </iframe>
        </p>
        <p>
         Defying critics who had doubted that it could survive in a crowded, competitive market, NECN in only seven years had carved out a niche between national cable news networks and local news broadcasts. It maintained weekly and monthly ratings that attracted advertisers and made it profitable. It had succeeded, observers said, by providing high-quality programming at a relatively low cost. Jim Thistle, then-director of Boston University’s broadcast journalism program and a former executive at Channel 5, told the
         <em>
          Boston Globe
         </em>
         : “It’s become the regional CNN. They’ve gone for content over flash. They’re doing longer stories, more politics, and live coverage of nonbreaking news—debates and things—that the others have forsaken.”
         <sup>
          <a name="txtfn1" title="txtfn1">
          </a>
          <a href="case_id_18_id_207.html#fn1">
           [1]
          </a>
         </sup>
        </p>
        <div class="footnotesblock">
         <h3 class="footnotes">
          Footnotes
         </h3>
         <p>
          <a name="fn1" title="fn1">
          </a>
          <a class="textfn" href="case_id_18_id_207.html#txtfn1">
           [1]
          </a>
          Suzanne C. Ryan, “Cable Station Turns 10 with a Sense of Patience,”
          <em>
           Boston Globe
          </em>
          , April 14, 2002, p. L7.
         </p>
        </div>
       </div>
       <div class="book-navigation" style="clear:both">
        <div class="page-links clear-block">
         <a class="page-previous" href="case_id_18.html" title="Go to previous page">
          « New England Cable News and the Terry Glenn Story: Background
         </a>
         <a class="page-next" href="case_id_18_id_208.html" title="Go to next page">
          Getting off the Ground »
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- id="main" -->
   </div>
   <!-- id="contentbody" -->
   <!-- Right sidebar for Bios -->
   <div id="sidebar-right">
    <div class="block block-menu" id="block-menu-65">
     <h2 class="title">
      Biographies
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <a href="case_id_18_id_37_c_bio.html">
         Charles J. Kravetz
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_18_id_38_c_bio.html">
         Thomas Melville
        </a>
       </li>
       <li class="leaf">
        <a href="case_id_18_id_39_c_bio.html">
         Steve Safran
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="sidebar-right" -->
   <div class="visualclear">
   </div>
  </div>
  <!-- id="pagebody" -->
  <div style="clear: both;">
  </div>
  <div id="footer">
   <div id="footer-inner">
    <div class="block block-menu" id="block-menu-66">
     <h2 class="title">
      System menu
     </h2>
     <div class="content">
      <ul class="menu">
       <li class="leaf">
        <!-- copyright notice -->
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- id="footer-inner" -->
  </div>
  <!-- id="footer" -->
 </body>
</html>
<!-- id="container" -->
<script type="text/javascript">
 var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
 try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
</script>
