<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Settle or fight? Far Eastern Economic Review and Singapore | Settle or fight?  Far Eastern Economic Review  and Singapore
	- A Journalism Case Study
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: #cc3333;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #cc3333;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/1/knightcase_logo.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_1.html" title="Home">
         <span>
          Settle or fight? Far Eastern Economic Review and Singapore
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a class="active" href="case_id_1.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_19.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_20.html">
          The
          <em>
           Far Eastern Economic Review
          </em>
          (FEER)
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_21.html">
          Brief History of Singapore
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_35.html">
          Singapore's Domestic Press
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_36.html">
          The Foreign Press and Singapore
         </a>
        </li>
        <li class="collapsed">
         <a href="case_id_1_id_37.html">
          Crossing the Line
         </a>
        </li>
        <li class="collapsed">
         <a href="case_id_1_id_45.html">
          Tightening the Screws
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_51.html">
          The FEER Article
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_52.html">
          Singapore Responds
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_53.html">
          FEER Conciliatory
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_54.html">
          Letter from the Ministry
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_1_id_55.html">
          Pursue or Settle?
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/1/FEER Text.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="two-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_1.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Settle or fight?
       <em>
        Far Eastern Economic Review
       </em>
       and Singapore
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <p>
        <strong>
         Abstract
        </strong>
       </p>
       <p>
        <i>
         CSJ-08-0006.0
        </i>
        This case is about the challenge faced by the
        <em>
         Far Eastern Economic Review
        </em>
        (FEER) and its parent company, Dow Jones, when in 2006 FEER ran afoul of Singapore’s leaders and its government. The case traces the history of the media, both domestic and international, in Singapore. It describes the legal challenges the Singapore authorities mounted over the years against the foreign press, culminating in charges which former Singapore President Lee Kuan Yew and his son brought against FEER for an editorial they found offensive. Within days, a government ministry upped the ante, informing FEER that it would henceforth be subject to new restrictions. Dow Jones legal counsel had to weigh competing claims: defend Western values of press freedom versus protect the interests of other Dow Jones publications active in Singapore.
       </p>
       <p>
        Students will be given a window into what it means to cover a society with a culture and rules distinctly different from the US. They will be asked to consider whether another political ideology—Confucianism—provides justification for press controls. They will also gain an understanding of how easy it can be to cross the line set by authoritarian governments—and the price journalists can pay. They will come to appreciate that the editorial and economic interests of news organizations are frequently more closely linked than both sides might wish.
       </p>
       <p>
        This case can be used in a course about international media; about the business of journalism; or on US coverage of foreign news.
       </p>
       <div>
        <p>
         <strong>
          Credits
         </strong>
        </p>
        <p>
         <em>
          This case was written by Julia Ioffe for the Knight Case Studies Initiative, Graduate School of Journalism, Columbia University. The faculty sponsor was Professor Michael Shapiro. The Columbia Center for New Media Teaching and Learning (CCNMTL) produced the multimedia, online product. Josh Stanley was the project coordinator, and Zarina Mustapha was the website designer. Funding was provided by the
         </em>
         <i>
          John S. and James L. Knight Foundation
          <em>
           .
          </em>
         </i>
        </p>
        <div class="footnotesblock">
        </div>
        <p>
        </p>
        <div>
         <strong>
          For further information:
         </strong>
        </div>
        <div>
         Email:
         <a href="mailto:ccnmtl+casestudies@columbia.edu" style="color: rgb(17, 85, 204);" target="_blank">
          ccnmtl+casestudies@columbia.edu
         </a>
        </div>
        <div>
         Website:
         <a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">
          https://casestudies.ccnmtl.columbia.edu
         </a>
        </div>
        <div class="book-navigation" style="clear:both">
         <div class="page-links clear-block">
          <a class="page-next" href="case_id_1.html" title="Go to next page">
           Introduction »
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- id="main" -->
    </div>
    <!-- id="contentbody" -->
    <div class="visualclear">
    </div>
   </div>
   <!-- id="pagebody" -->
   <div style="clear: both;">
   </div>
   <div id="footer">
    <div id="footer-inner">
     <div class="block block-menu" id="block-menu-66">
      <h2 class="title">
       System menu
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <!-- copyright notice -->
        </li>
       </ul>
      </div>
     </div>
    </div>
    <!-- id="footer-inner"  -->
   </div>
   <!-- id="footer" -->
  </div>
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
