

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Asian Wall Street Journal | Settle or fight?  Far Eastern Economic Review  and Singapore
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #cc3333;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #cc3333;
}

#media {
font-style:italic;
}



</style>
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/1/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_1.html" title="Home"><span>Asian Wall Street Journal</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_1_id_18.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_1_id_19.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_1_id_20.html">The <em>Far Eastern Economic Review</em> (FEER)</a>





</li>


<li class="leaf"><a  href="case_id_1_id_21.html">Brief History of Singapore</a>





</li>


<li class="leaf"><a  href="case_id_1_id_35.html">Singapore's Domestic Press</a>





</li>


<li class="leaf"><a  href="case_id_1_id_36.html">The Foreign Press and Singapore</a>





</li>


<li class="expanded"><a  href="case_id_1_id_37.html">Crossing the Line</a>


<ul class="menu">

<li class="leaf"><a  href="case_id_1_id_38_pid_37.html"><em>Time</em></a></li>

<li class="leaf"><a  class="active"  href="case_id_1_id_39_pid_37.html"><em>Asian Wall Street Journal</em></a></li>

<li class="leaf"><a  href="case_id_1_id_40_pid_37.html"><em>Asiaweek</em></a></li>

<li class="leaf"><a  href="case_id_1_id_41_pid_37.html">FEER</a></li>

</ul>




</li>


<li class="collapsed"><a  href="case_id_1_id_45.html">Tightening the Screws</a>





</li>


<li class="leaf"><a  href="case_id_1_id_51.html">The FEER Article</a>





</li>


<li class="leaf"><a  href="case_id_1_id_52.html">Singapore Responds</a>





</li>


<li class="leaf"><a  href="case_id_1_id_53.html">FEER Conciliatory</a>





</li>


<li class="leaf"><a  href="case_id_1_id_54.html">Letter from the Ministry</a>





</li>


<li class="leaf"><a  href="case_id_1_id_55.html">Pursue or Settle?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/1/FEER&#32;Text.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_1.html">Home</a> 
		
			
		&raquo; <a href="case_id_1_id_37.html">Crossing the Line</a>
		
		
		
		</div>		
		<h1 class="title"><em>Asian Wall Street Journal</em></h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>In February 1987, the Singaporean government again invoked the new press law, this time against the <em>Asian Wall Street Journal</em>, a Hong Kong-based Dow Jones publication. The Ministry of Information declared that the <em>Journal</em> had &ldquo;defamed the government&rdquo; and was &ldquo;engaging in the domestic politics of Singapore.&rdquo;<sup><a title="txtfn28" name="txtfn28"></a><a href="case_id_1_id_39_pid_37.html#fn28">[28]</a></sup> The <em>Journal</em>&rsquo;s circulation was cut from 5,000 to just 400 copies. (Of those, 143 libraries received priority copies in order, the Ministry said, to ensure &ldquo;continuing public access&rdquo; to the publication.<sup><a title="txtfn29" name="txtfn29"></a><a href="case_id_1_id_39_pid_37.html#fn29">[29]</a></sup>)</p>
<p>The move stemmed from a December 12, 1986, front-page story called &ldquo;Singapore Exchange Puzzles Financiers.&rdquo; The article, written by Stephen Duthie, a resident correspondent who had run afoul of Singapore&rsquo;s government before, reported on a widely held opinion in the business community that the government&rsquo;s plans to open a second securities market was just a scheme &ldquo;to unload state-controlled and government-backed companies.&rdquo;</p>
<p>The next day, Koh Beng Seng, the director of Singapore&rsquo;s Banking and Financial Institutions Department, wrote to the <em>Journal</em> accusing Duthie of bias and inaccurate reporting. He also demanded that the letter be published in full. In response, the <em>Journal</em> dispatched a senior member of its editorial staff to investigate the matter and conduct a new batch of interviews. The new reporting found that Duthie&rsquo;s December article had been accurate, and the <em>Journal</em>&rsquo;s lawyers advised its editors that Koh&rsquo;s letter defamed Duthie. The <em>Journal</em> therefore decided not to publish the letter but instead invited Koh to write in and express his views on the new securities exchange.<sup><a title="txtfn30" name="txtfn30"></a><a href="case_id_1_id_39_pid_37.html#fn30">[30]</a></sup> Koh refused, and the <em>Journal</em>&rsquo;s circulation was slashed.</p>
<p>Dow Jones fought the case in Singapore&rsquo;s courts, ultimately losing on appeal in 1989. In October 1990, Dow Jones decided to stop sales of the <em>Journal</em> in Singapore altogether. The <em>Journal</em> returned to the Singapore market, however, in the early 1990s. While a circulation cap remained in place, the numbers were higher than in 1987-90, and largely accommodated market demand.</p>
<div class="footnotesblock">
<h3 class="footnotes">Footnotes</h3>
<p><a title="fn28" name="fn28"></a><a class="textfn" href="case_id_1_id_39_pid_37.html#txtfn28">[28]</a> Arthur Richards, &ldquo;Singapore Government Lashes Out at Asian Wall Street Journal,&rdquo; <em>United Press International</em>, February 9, 1987.</p>
<p><a title="fn29" name="fn29"></a><a class="textfn" href="case_id_1_id_39_pid_37.html#txtfn29">[29]</a> Francis Keow, April 1998.</p>
<p><a title="fn30" name="fn30"></a><a class="textfn" href="case_id_1_id_39_pid_37.html#txtfn30">[30]</a> Steven Butler, &ldquo;Journal Draws the Line in Singapore,&rdquo; <em>Financial Times</em>, February 11, 1987.</p>
</div></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_1_id_38_pid_37.html" class="page-previous" title="Go to previous page">&#171;&#160;<em>Time</em></a>

<a href="case_id_1_id_40_pid_37.html" class="page-next" title="Go to next page"><em>Asiaweek</em>&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_1_id_1_c_bio.html">Yuen-Ying&nbsp;Chan</a></li>

<li class="leaf"><a  href="case_id_1_id_2_c_bio.html">David&nbsp;Plott</a></li>

<li class="leaf"><a  href="case_id_1_id_3_c_bio.html">Doreen&nbsp;Weisenhaus</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
