

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Letter from the Ministry | Settle or fight?  Far Eastern Economic Review  and Singapore
	- A Journalism Case Study

  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #cc3333;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #cc3333;
}

#media {
font-style:italic;
}



</style>
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/1/knightcase_logo.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_1.html" title="Home"><span>Letter from the Ministry</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_1_id_18.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_1_id_19.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_1_id_20.html">The <em>Far Eastern Economic Review</em> (FEER)</a>





</li>


<li class="leaf"><a  href="case_id_1_id_21.html">Brief History of Singapore</a>





</li>


<li class="leaf"><a  href="case_id_1_id_35.html">Singapore's Domestic Press</a>





</li>


<li class="leaf"><a  href="case_id_1_id_36.html">The Foreign Press and Singapore</a>





</li>


<li class="collapsed"><a  href="case_id_1_id_37.html">Crossing the Line</a>





</li>


<li class="collapsed"><a  href="case_id_1_id_45.html">Tightening the Screws</a>





</li>


<li class="leaf"><a  href="case_id_1_id_51.html">The FEER Article</a>





</li>


<li class="leaf"><a  href="case_id_1_id_52.html">Singapore Responds</a>





</li>


<li class="leaf"><a  href="case_id_1_id_53.html">FEER Conciliatory</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_1_id_54.html">Letter from the Ministry</a>





</li>


<li class="leaf"><a  href="case_id_1_id_55.html">Pursue or Settle?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/1/FEER&#32;Text.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_1.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Letter from the Ministry</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>Instead, barely 10 days later, Restall and Dow Jones CEO Richard Zannino received a letter from Singapore&rsquo;s Ministry of Information and Communications. The Ministry, the letter said, had decided to standardize its legal approach to foreign publications; it was therefore imposing a new set of conditions on FEER in order for it &ldquo;to operate on consistent principles with other offshore newspapers.&rdquo;</p>
<p>The <em>Review</em> had been circulating as a foreign newspaper since it was gazetted in 1987. When the law changed in 1990, FEER, like many other foreign publications, was categorized as an &ldquo;offshore publication.&rdquo; Several news publications, including FEER, had been granted exemptions from the requirements to retain local counsel and post a S$200,000 security deposit. Meanwhile, FEER in 2004 had moved into a separate category when it revamped its editorial structure, transforming itself from a weekly to a monthly publication. The 1990 amendments to the Newspaper and Printing Presses Act applied only to dailies and weeklies.</p>
<p>In a press release which accompanied its August 3 letter, however, the Ministry wrote that the government now felt &ldquo;it is an anomaly for FEER, which is a declared foreign newspaper, not to be subjected to the conditions that apply to the other declared foreign newspaper [sic].&rdquo; The Ministry decided simultaneously to revoke the exemptions from the 1990 provisions of several other offshore publications. From now on, the <em>International Herald Tribune</em>, the <em>Financial Times</em>, <em>Newsweek</em>, and <em>Time</em> would also have to name a local solicitor and post a S$200,000 deposit with the Ministry of Information.</p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_1_id_53.html" class="page-previous" title="Go to previous page">&#171;&#160;FEER Conciliatory</a>

<a href="case_id_1_id_55.html" class="page-next" title="Go to next page">Pursue or Settle?&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_1_id_1_c_bio.html">Yuen-Ying&nbsp;Chan</a></li>

<li class="leaf"><a  href="case_id_1_id_2_c_bio.html">David&nbsp;Plott</a></li>

<li class="leaf"><a  href="case_id_1_id_3_c_bio.html">Doreen&nbsp;Weisenhaus</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
