

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Story in inbox | Just Enough Alarm: GlobalPost and the Syrian Chemical Attack S
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/148/Syria_banner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_148.html" title="Home"><span>Story in inbox</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_148_id_1025.html">Title page</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1023.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1026.html">GlobalPost—a new entry</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1027.html">An accidental reporter</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1028.html">Onward to Syria</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1030.html">On watch for chemical weapons attacks</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1031.html">Sheikh Maqsoud research</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_148_id_1032.html">Story in inbox</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1033.html">Appendix 1</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/148/Global&#32;Post&#32;final2.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_148.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Story in inbox</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	On Sunday, April 28, GP Middle East Editor Gelling saw he had an email from Shelton. When she was on assignment in Syria, Gelling &ldquo;used to sleep with my phone under my pillow,&rdquo; he remembers, so as not to miss any message from her. The email contained her story about Sheikh Maqsoud. &nbsp;</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/1164/Gelling&#32;at&#32;desk.jpg" /><br />
	<p class="caption">
		Middle East Editor Peter Gelling</p>
</div>
<p>
	He read it through. Shelton had written what she knew. The facts of the attack. The deaths. The witness accounts. She included her doubts about whether this was a sarin attack. Despite Dr. Hassan&rsquo;s confidence, she had concluded that &ldquo;the more I looked into it, the more is seemed to be something less. It was something serious, but not like sudden death.&rdquo;</p>
<p>
	From Gelling&rsquo;s standpoint, the first question was whether to publish on Sunday. He decided it should wait. On Monday at the office, he wrote up an account based on the information from Shelton. By noon, he had a serviceable story, and took it to GP Editor Tom Mucha and Senior Editor David Case. &ldquo;I had it pretty much ready to go, based on her framework,&rdquo; recalls Gelling.</p>
<blockquote>
	<p>
		We definitely felt an urgency to publish it, more than we normally do. A) for competitive reasons, and b) it was a big story and there was a lot of momentum at that moment, with Obama and everything. We felt it was important to get on it as soon as possible, this very unique reporting.</p>
</blockquote>
<p>
	&ldquo;Peter [Gelling] brought it to me and said, hey, we&rsquo;ve got this, this is a hot story,&rdquo; remembers Mucha. All three were aware of its potential. As Mucha puts it: &ldquo;Do we have evidence that is going to catapult the United States into military action?&rdquo; But the editors had questions: who had perpetrated the attack? What kind of gas was it? Did this cross Obama&rsquo;s red line? &ldquo;Everyone was talking about the red line at that time,&rdquo; remembers Mucha. It was possible that Shelton had uncovered an incontrovertible violation. &ldquo;It was a classic case of having information that nobody else had,&rdquo; says Mucha. &ldquo;We had eyewitness accounts of some sort of chemical weapons attack on civilians in Sheikh Maqsoud.&rdquo;</p>
<p>
	At the same time, <em>GlobalPost </em>couldn&rsquo;t afford to make a mistake. It was a young news organization building its reputation. Moreover, the public and other news outlets remembered all too vividly how the media had failed in 2003 to investigate US government allegations&mdash;subsequently disproven&mdash;that Saddam Hussein had and was prepared to use weapons of mass destruction. That failure, many later concluded, contributed to the government&rsquo;s ability to lead the country into an unjustified war. So Mucha called a time out. &ldquo;The first decision we made was, let&rsquo;s slow down the process,&rdquo; he notes.</p>
<blockquote>
	<p>
		Let&rsquo;s ensure we have the proper amount of time to vet the information and make sure we learn everything we can&hellip; It&rsquo;s doubly important for a new news organization that has based itself on editorial excellence to make sure that we&rsquo;ve got things right.</p>
</blockquote>
<p>
	<i>Mucha on getting the story right&nbsp;</i><br />
	<img alt="" border="0" class="audiofile" src="../../files/audios/435/MuchaCase.mp3" /></p>
<p>
	Mucha and Case decided the next step was to contact chemical weapons experts. On Monday afternoon and Tuesday morning, Gelling and Case called their contacts and researched widely. For example, they consulted the Centers for Disease Control (CDC) website, with its detailed information on the symptoms of exposure to chemical weapons. &ldquo;We were trying to match or refute the typical symptoms of a sarin gas attack,&rdquo; says Mucha.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/1138/PhysiciansforHumanRightsTRUEweb.jpg" /><br />
	<p class="caption">
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&copy; Physicians for Human Rights</p>
</div>
<p>
	They also called Physicians for Human Rights, a respected authority which had helped determine in 1988 that Saddam Hussein used chemical weapons against Iraqi Kurds. Physicians for Human Rights confirmed that even small amounts of sarin caused constricted pupils, tremors and often death. None of those in Sheikh Maqsoud had constricted pupils. All the sources, recalls Mucha, &ldquo;were very interested in making sure that what was reported was accurate, because everybody understood the stakes were high.&rdquo; Tellingly, none of those GP contacted was prepared to say, on or off the record, that the attack had involved sarin gas. Moreover, the editors learned that sarin usually arrived in artillery shells or from spray tanks, not in a grenade-like device such as that found in Sheikh Maqsoud.</p>
<p>
	<em>Telling the story. </em>But if it wasn&rsquo;t sarin, what was it? Why had the woman and her children died? Why had Younes passed out? It was one thing to realize that the chemical used was not among the worst in Syria&rsquo;s arsenal. But it was a chemical of some kind, so it had been a chemical attack. The <em>GlobalPost</em> editors were resolved not to repeat the media&rsquo;s failure in 2003 to investigate thoroughly. Should they run the story at all?</p>
<p>
	At the same time, Shelton had a vivid and well-sourced account of what it was like to live in constant fear of a chemical attack and then to experience one. She had powerful video, interviews and photographs. Shelton was insistent that the local voices she had uncovered be heard. Assuming they ran the story, which elements should GP emphasize, and which play down? Just for starters, what should the headline be?</p>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_148_id_1031.html" class="page-previous" title="Go to previous page">&#171;&#160;Sheikh Maqsoud research</a>

<a href="case_id_148_id_1033.html" class="page-next" title="Go to next page">Appendix 1&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_148_id_306_c_bio.html">Thomas&nbsp;Mucha</a></li>

<li class="leaf"><a  href="case_id_148_id_307_c_bio.html">Tracey&nbsp;Shelton</a></li>

<li class="leaf"><a  href="case_id_148_id_308_c_bio.html">Peter&nbsp;Gelling</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
dy>
</html>
