

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>An accidental reporter | Just Enough Alarm: GlobalPost and the Syrian Chemical Attack S
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/148/Syria_banner.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_148.html" title="Home"><span>An accidental reporter</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_148_id_1025.html">Title page</a>





</li>


<li class="leaf"><a  href="case_id_148.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1026.html">GlobalPost—a new entry</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_148_id_1027.html">An accidental reporter</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1028.html">Onward to Syria</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1030.html">On watch for chemical weapons attacks</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1031.html">Sheikh Maqsoud research</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1032.html">Story in inbox</a>





</li>


<li class="leaf"><a  href="case_id_148_id_1033.html">Appendix 1</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/148/Global&#32;Post&#32;final2.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_148.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">An accidental reporter</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	One of the reporters on the <em>GlobalPost </em>team was Tracey Shelton. Shelton had grown up on a sheep farm in Darraweit Guim in the southeastern Australian state of Victoria. When she graduated from high school, &ldquo;I wanted to be an aid worker and save the world.&rdquo;<a href="case_id_148_id_1027.html#_ftn1" name="_ftnref1" title=""><sup>[7]</sup></a> So she moved to Cambodia and volunteered at an orphanage. Within a year, however, she was disillusioned. &ldquo;I realized how arrogant that attitude is, of sitting in Australia going &lsquo;I&rsquo;m white, and I&rsquo;m educated. I&rsquo;m going to save the world,&rsquo;&rdquo; she says.</p>
<p>
	She quit and, in 2005, began freelancing as a photographer and journalist. Journalism made sense to her. &ldquo;I used to travel all the time and be really fascinated by everything, and chat with everybody and ask lots of questions. I eventually realized that yeah, that&rsquo;s kind of like being a journalist,&rdquo; she observes. In 2008, she became the photo editor for Cambodia&rsquo;s Post Media, managing print photography for the <em>Phnom Penh Post</em>, <em>Post Khmer</em>, <em>Seven Days</em> magazine and other properties. Under her, the <em>Post</em>&rsquo;s photo department won several awards.<a href="case_id_148_id_1027.html#_ftn2" name="_ftnref2" title=""><sup>[8]</sup></a> Besides photography, Shelton developed skills in print reporting and video.</p>
<p>
	By mid-2009, however, she was restless and ready to leave Cambodia. She wanted to go to Africa, but had never been to the Middle East and thought &ldquo;I might as well go check it out on my way to Africa. I just loved it, and I started traveling around.&rdquo; She tried her hand again at freelancing, and before long settled in Iraq&mdash;where she stayed for 18 months. In 2009, US military forces were starting to withdraw from Iraq after six years; the simmering conflict remained a subject of interest worldwide. She filed stories for, among others, the Sydney <em>Morning Herald</em>, <em>The National</em> (Abu Dhabi) and <em>Rudaw</em> (Kurdish media)<em>. </em>She also became a contributor to <em>GlobalPost.</em></p>
<p>
	Shelton was able to deliver material across platforms&mdash;as a writer, photographer and multimedia producer. She also started to pick up Arabic (she later developed a Libyan accent, but could understand Syrian and Iraqi Arabic as well). Eventually, she could manage informal conversations and travel on her own, but she always looked for an interpreter for interviews.</p>
<p>
	<em>Arab Spring</em>. By late 2010, Shelton was ready to resume her travel to Africa&mdash;but what became known as the Arab Spring started unfolding with the self-immolation of a street vendor in Tunisia on December 17. In February 2011, Egyptian President Hosni Mubarak resigned under the pressure of public protests. In neighboring Libya, demonstrations began against strongman Moammar Gaddafi. Within weeks, the protests had evolved into a civil war.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/1144/Tracey&#32;face.jpg" /><br />
	<p class="caption">
		&copy; Tracey Shelton</p>
</div>
<p>
	In May 2011, Shelton decided to go to Libya under a freelance arraignment with <em>The National</em>. She fell in love with the country and decided to stay. She set herself up in the rebel-controlled city of Misrata, and traveled frequently to Benghazi, where the anti-Gaddafi uprising began. On August 11, she was in a Benghazi hotel room when two armed men broke in at 3 a.m., tied her, beat her and said they would kidnap her.<a href="case_id_148_id_1027.html#_ftn3" name="_ftnref3" title=""><sup>[9]</sup></a> Shelton managed to free her hands and feet and escaped by jumping to a neighboring balcony. Rebels told her the assailants were Gaddafi infiltrators, though there was no confirmation. The attack, says Shelton, &ldquo;made me a lot stronger.&rdquo;</p>
<blockquote>
	<p>
		At that point, I wasn&rsquo;t doing great with the freelancing. I was in a little bit of a funk, because people weren&rsquo;t interested in Libya any more&hellip; I was actually considering leaving Libya, doing something else and coming back. But after that happened, I was determined to stay.</p>
</blockquote>
<p>
	<i>Shelton discusses the effect on her of the attack</i><br />
	<img alt="" border="0" class="audiofile" src="../../files/audios/437/SheltonCase.mp3" /></p>
<p>
	The assailants had stolen all her gear; she had no laptop, no camera and no money. Friends told her to go home. &ldquo;But that didn&rsquo;t make any sense to me, because I hadn&rsquo;t lived in Australia for years. There was nothing there for me. What was I going to do? Stop work, go back and feel sorry for myself?,&rdquo; she says.</p>
<p>
	After her beating, the rebels&rsquo; National Transitional Council gave her a free room in another Benghazi hotel. The receptionist let her eat for free at the evening buffet (it was the holy month of Ramadan), and allowed her to type stories on the hotel reception computer late at night. &ldquo;I started getting work immediately after [the attack),&rdquo; recalls Shelton. &ldquo;I started going to the front lines.&rdquo; When she returned to Misrata, still with black eyes from her beating, &ldquo;everybody looked after me.&rdquo; One acquaintance loaned her a camera, another a laptop.</p>
<p>
	In late August 2011, rebel forces captured Tripoli and Gaddafi fled. He was on the run until October 20, when rebels captured and killed him in his hometown of Sirte. That event thrust Shelton into the journalism limelight. On October 20, she got into a car headed for Sirte. But her rebel companions told her it was too dangerous and made her stay with the so-called &ldquo;backline&rdquo; fighters holding the rear. &ldquo;That is the first time they had ever said &lsquo;no&rsquo; to me,&rdquo; she later recalled. &ldquo;But no one expected Gaddafi to be there.&rdquo;<a href="case_id_148_id_1027.html#_ftn4" name="_ftnref4" title=""><sup>[10]</sup></a></p>
<p>
	Later that day, the rebel commander radioed his backline fighters and told them to bring Shelton up: the rebels had captured and killed Gaddafi. Shelton was on the scene within minutes; she started asking if anyone had shot video of the events. One rebel she knew well said he had footage, and offered it to her exclusively. It showed Gaddafi being dragged out of a tunnel, thrown into the back of a truck and killed.</p>
<p>
	Shelton was certain the video was authentic, and <em>GlobalPost</em> published it.<a href="case_id_148_id_1027.html#_ftn5" name="_ftnref5" title=""><sup>[11]</sup></a>&ldquo;There were multiple videos going around. This one was the clearest. We were the first to get it and that whole experience spoke to Tracey&rsquo;s value and her skill in cultivating sources&hellip; He could have sold that for God knows how much money,&rdquo; recalls <em>GlobalPost</em> Editor Gelling. For her reports on the fall of Gadaffi&rsquo;s hometown and his capture, Shelton won the 2012 Overseas Press Club award for best coverage of a breaking news event.</p>
<p>
	<i>Gelling on Shelton and the video of Gaddafi&nbsp;</i><br />
	<img alt="" border="0" class="audiofile" src="../../files/audios/433/GellingCase.mp3" /></p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<a href="case_id_148_id_1027.html#_ftnref1" name="_ftn1" title=""><span style="font-size:10px;">[<span style="font-size:11px;">7</span></span>]</a> &nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size:11px;">Author&rsquo;s interview with Tracey Shelton via Skype on October 2, 2014. All further quotes from Shelton, unless otherwise attributed, are from this interview.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<a href="case_id_148_id_1027.html#_ftnref2" name="_ftn2" title="">[<span style="font-size:11px;">8</span>]</a> &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:11px;"> It won the Society of Publishers in Asia award for excellence in news photography, and the 2009 World Association of Newspapers-IFRA multimedia award. See: www.globalpost.com/bio/tracey-shelton</span></p>
	</div>
	<div id="ftn3">
		<p>
			<a href="case_id_148_id_1027.html#_ftnref3" name="_ftn3" title="">[<span style="font-size:11px;">9</span>]</a> &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:11px;"> &ldquo;Australian journalist attacked by assailants in Benghazi,&rdquo; Committee to Protect Journalists, August 22, 2011. See: https://cpj.org/2011/08/australian-journalist-attacked-by-assailants-in-be.php</span></p>
	</div>
	<div id="ftn4">
		<p>
			<a href="case_id_148_id_1027.html#_ftnref4" name="_ftn4" title="">[<span style="font-size:11px;">10</span>]</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:11px;"> &ldquo;Libya frontline exclusive for Tracey,&rdquo; <em>The Bolt,</em> Summer 2012, p.11. See: http://www.bolton.ac.uk/MediaCentre/TheBolt/The-Bolt-Summer-2012.pdf</span></p>
	</div>
	<div id="ftn5">
		<p>
			<a href="case_id_148_id_1027.html#_ftnref5" name="_ftn5" title=""><span style="font-size:11px;">[11</span>]</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size:11px;">To see the video, click <a href="http://www.globalpost.com/dispatches/globalpost-blogs/the-casbah/gaddafi-dead-video-initial-capture-exclusive">here</a>.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_148_id_1026.html" class="page-previous" title="Go to previous page">&#171;&#160;GlobalPost—a new entry</a>

<a href="case_id_148_id_1028.html" class="page-next" title="Go to next page">Onward to Syria&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_148_id_306_c_bio.html">Thomas&nbsp;Mucha</a></li>

<li class="leaf"><a  href="case_id_148_id_307_c_bio.html">Tracey&nbsp;Shelton</a></li>

<li class="leaf"><a  href="case_id_148_id_308_c_bio.html">Peter&nbsp;Gelling</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
