

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Introduction | Higher Truth or Just the Facts? Hell and Back Again
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/110/18001672HigherTruth2.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_110.html" title="Home"><span>Introduction</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_110_id_752.html">Title Page</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_110_id_753.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_110_id_754.html">Documentaries</a>





</li>


<li class="leaf"><a  href="case_id_110_id_755.html">From Photojournalist to Filmmaker</a>





</li>


<li class="leaf"><a  href="case_id_110_id_756.html">Machine Gun Hill</a>





</li>


<li class="leaf"><a  href="case_id_110_id_757.html">Studio or Independent?</a>





</li>


<li class="leaf"><a  href="case_id_110_id_758.html">One Man's (Subjective) Experience</a>





</li>


<li class="leaf"><a  href="case_id_110_id_759.html">Partners</a>





</li>


<li class="leaf"><a  href="case_id_110_id_760.html">Editing Room</a>





</li>


<li class="leaf"><a  href="case_id_110_id_761.html">Nobody Likes Nathan</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/110/Hell&#32;&amp;&#32;Back_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_110.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Introduction</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	On July 2, 2009, after years of covering combat in Afghanistan, embedded freelance photojournalist <a href="case_id_110_id_218_c_bio.html">Danfung Dennis</a> found himself in an intense firefight between US Marines and the Taliban deep behind enemy lines. Dennis videotaped the combat, and over the next four months pondered what to do with the extraordinary footage. Then on November 17, he attended the homecoming of the same Marine unit&mdash;and decided to produce a documentary on war, injury and returning home.</p>
<p>
	As protagonist of his story, Dennis chose Sgt. Nathan Harris, who in the heat of battle had handed a thirsty Dennis his water bottle&mdash;the first gesture in what would become a strong friendship. Harris had been severely wounded in early November and sent home. Dennis spent the nine months from November 2009 to July 2010 documenting Harris&rsquo; recovery and reintegration into life in North Carolina.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/699/Screen&#32;Shot&#32;2013-02-05&#32;at&#32;4.09.13&#32;PM.png" /><br />
	<p class="caption">
		Sgt. Nathan Harris</p>
</div>
<p>
	Dennis was a well regarded photojournalist, but had no training as a filmmaker. He had chosen to add video to his portfolio because he felt that still images of war were losing their impact. The PBS documentary show <em>Frontline</em> had used some of his footage in a 2009 film. But Dennis wanted to make his own documentary, under his editorial control. He wanted to avoid glorifying combat, but instead provide an immersive experience that conveyed the emotional reality of war.</p>
<p>
	Dennis teamed up with documentary film editor <a href="case_id_110_id_219_c_bio.html">Fiona Otway.</a> Their goal was ambitious: use video to portray a highly subjective experience, but without narration, captions or other overtly expository techniques. They had two distinct sets of footage to work with: combat in Afghanistan and Harris in North Carolina. They decided on a flashback structure to integrate the two. They were willing to use cinematic techniques, but wanted to avoid anything that looked gimmicky or contrived.</p>
<p>
	After considerable experimentation, they were able to establish flashbacks by, for example, starting combat audio before transitioning from a North Carolina scene; or using slow motion at the end of a North Carolina scene before transitioning to a combat scene. They also wrestled with showing the mangled body of a dead Afghan National Army soldier. Dennis wanted to expose the brutal reality of war, but the filmmakers did not intend to overwhelm viewers.</p>
<p>
	As the documentary came together, Dennis and Otway were largely satisfied. But when they screened it in September 2010, to their dismay Harris came across as unsympathetic. They realized that they had not conveyed sufficiently that Harris was in severe pain and heavily medicated during his recovery, which accounted for his sometimes erratic behavior. But without a voiceover or commentator, how could they make Harris&rsquo; state clear to viewers?</p>
<p>
	They looked at footage of a pain specialist discussing with Harris the likelihood he would become addicted, but the scene was flat and overly expository. One cinematic technique that might fix it was to periodically fade the audio while the doctor was speaking, making it seem that Harris was dazed and uncomprehending. But they felt uncomfortable with that option. They had no idea whether Harris had been dazed in that moment. A documentary&rsquo;s credibility rested in large part on its creators&rsquo; implicit guarantee that viewers were watching a true story. Using Hollywood production tricks to imply a character&rsquo;s experience could undercut that credibility.</p>
<p>
	Otway and Dennis had to wrap the film by September 24. They debated at length how to convey Harris&rsquo; emotional, psychological and physical state. Should they use the fading technique? Might something else work as well, without requiring as much compromise? Or were they holding themselves to an unrealistic standard?</p>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_110_id_752_pid_0.html" class="page-previous" title="Go to previous page">&#171;&#160;Higher Truth or Just the Facts? <i>Hell and Back Again</i></a>

<a href="case_id_110_id_754_pid_0.html" class="page-next" title="Go to next page">Documentaries&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_110_id_218_c_bio.html">Danfung&nbsp;Dennis</a></li>

<li class="leaf"><a  href="case_id_110_id_219_c_bio.html">Fiona&nbsp;Otway</a></li>

<li class="leaf"><a  href="case_id_110_id_220_c_bio.html">Mike&nbsp;Lerner</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
