

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Introduction | Reporters or cops? CONTACTO and the search for Paul Schaefer
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: #e8123d;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: #e8123d;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/49/knightcase_logo_contacto.JPG') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="standard.asp%3Fcase_id=49.html" title="Home"><span>Introduction</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=480.html">Title Page</a>





</li>


<li class="leaf"><a  class="active"  href="standard.asp%3Fcase_id=49&amp;id=481.html">Introduction</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=482.html">Paul Schaefer</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=483.html">Schaefer and the Chilean Authorities</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=484.html">CONTACTO</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=485.html">Leads to Argentina</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=486.html">Chivilcoy</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=487.html">Is undercover justified?</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=488.html">Digging In</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=489.html">Hugo Placente</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=490.html">Dangerous People</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=491.html">The Second Trip&#8212;an Unmasking</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=492.html">The Hidden Camera Dilemma</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=493.html">Undercover in Chivilcoy</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=494.html">Cops and Robbers?</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=495.html">Doubts in Santiago</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=496.html">La Solita</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=497.html">A Breakthrough</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=49&amp;id=498.html">Nowhere to Turn?</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/49/CONTACTO&#32;ENGLISH_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="standard.asp%3Fcase_id=49.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Introduction</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p><span>In December 2003, Chilean investigative reporter Carola Fuentes received a call she never expected. The attorney for the victims of Paul Schaefer had a tip on where the No. 1 wanted man in Chile was hiding. </span>Schaefer had set up <i>Colonia Dignidad</i>, an infamous German religious compound in southern Chile where he sexually abused children and helped the regime of military dictator Augusto Pinochet torture and kill dissidents.<span> Schaefer had slipped the authorities and vanished without a trace in 1997, but the lawyer said he had a clue to his location. </span></p>
<div style="padding: 10px; float: right;"><img alt="" src="../../files/photos/390/contacto_program_logo.jpg" /></div>
<p><span>Fuentes and her editors at CONTACTO, a television program known in Chile for its innovative investigations, were intrigued. It was a tenuous lead&mdash;there was no proof that the 83-year-old Schaefer was even alive. But if it led to something&mdash;tracing Schaefer&rsquo;s escape from justice, or even his capture&mdash;it would be a major coup for CONTACTO, perhaps the biggest in the program&rsquo;s 12-year history. Patricia Baz&aacute;n Cardemil, CONTACTO&rsquo;s executive editor, asked Fuentes to pursue the story. </span></p>
<p><span>As Fuentes began to investigate, she traced the lead to a small enclave of Schaefer&rsquo;s bodyguards&mdash;and possibly Schaefer himself&mdash;in Chivilcoy, Argentina. However, Fuentes could pursue it no further because as a Chilean she might raise the Germans&rsquo; suspicions. So Baz&aacute;n Cardemil assigned a veteran staff investigative reporter of Italian descent, Gustavo Villarrubia, to the story. </span></p>
<p><span>Under the supervision of Editor Pilar </span>Rodr&iacute;guez<span>, the news team decided that, despite risks of discovery and some ethical qualms, it made sense to send Villarrubia to Chivilcoy undercover. He would pose as a sociologist researching Italian immigration to the area. When he arrived in January 2004, Villarrubia was able to win the trust of residents and lived for extended periods of time near La Solita, a ranch occupied by Germans where he suspected Schaefer was hiding. </span></p>
<p><span>The next six months were frustrating, as dead ends multiplied; more than once Baz&aacute;n Cardemil considered canceling the project. Moreover, as the danger mounted that Villarrubia might be discovered, the team repeatedly questioned whether it was wise to leave the reporter in harm&rsquo;s way. Was this a matter for police, or for reporters? Nor were all team members comfortable with undercover reporting. Did the end justify the means? Or was it a deceptive practice? </span></p>
<p><span>Finally in July 2004, Villarrubia stumbled across plausible proof that Schaefer was living in Chivilcoy and, by the end of the year, he and Fuentes had established Schaefer&rsquo;s location. The search was over, but now what? Should CONTACTO notify the police? If so, which police&mdash;Argentine? Chilean? International? Baz&aacute;n Cardemil had always intended to involve police, but suddenly it seemed risky. In 1997, Schaefer had likely escaped Chile after an ally in the government or police force had tipped him off. The television news team had to assume that Schaefer had similar ties in Argentina. No one wanted to see him disappear a second time.</span></p>
<p><span>One option was to approach Interpol, the international police organization, but this posed a problem as well. What if Interpol did not allow CONTACTO to film the moment of Schaefer&rsquo;s arrest? After a year of laborious investigation, this seemed too high a price to pay. But to report on Schaefer&rsquo;s whereabouts without police involvement was also risky. If there was violence or he fled again, CONTACTO could be held responsible. </span></p>
<p><span>Meanwhile, Villarrubia&rsquo;s presence in Chivilcoy had finally awakened the suspicions of Schaefer&rsquo;s German entourage. CONTACTO had to move soon, or lose all it had worked toward for a year. </span></p></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="standard.asp%3Fcase_id=49&amp;id=480&amp;pid=0.html" class="page-previous" title="Go to previous page">&#171;&#160;Reporters or cops? CONTACTO and the search for Paul Schaefer</a>

<a href="standard.asp%3Fcase_id=49&amp;id=482&amp;pid=0.html" class="page-next" title="Go to next page">Paul Schaefer&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
