

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Kelso in charge | Community Savings, or Community Threat? California Policy for Ill and Elderly Inmates
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/90/Community_Savings.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="standard.asp%3Fcase_id=90.html" title="Home"><span>Kelso in charge</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=676.html">Title Page</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=677.html">Introduction</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=678.html">CA Prison Health</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=679.html">Receivership</a>





</li>


<li class="leaf"><a  class="active"  href="standard.asp%3Fcase_id=90&amp;id=680.html">Kelso in charge</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=681.html">California Medical Facility</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=682.html">Find Savings</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=683.html">Enter Medical Parole</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=684.html">The case of Carl Wade</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=685.html">Medical parole for Carl Wade?</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=686.html">Appendix 1</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/90/California&#32;Policy&#32;for&#32;Ill&#32;and&#32;Elderly&#32;Inmates_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="standard.asp%3Fcase_id=90.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Kelso in charge</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="float:left;padding:10px">
	<img src="../../files/photos/597/clark&#32;kelso.JPG" style="margin-left: 10px; margin-right: 10px; width: 200px; height: 267px; " /><br />
	<p class="caption">
		Clark Kelso</p>
</div>
<p>
	So in January 2008, Judge Henderson replaced Sillen with J. Clark Kelso, a law professor (and former clerk to then-9<sup>th</sup> Circuit Appeals Court Judge Anthony Kennedy) who had overhauled some of the state&rsquo;s largest systems, including insurance and information technology. &ldquo;This was the most broken of the things that I&rsquo;ve been involved with,&rdquo; comments Kelso.<a href="standard.asp%3Fcase_id=90&amp;id=680&amp;pid=0.html#_ftn1" name="_ftnref1" title=""><sup>[9]</sup></a></p>
<p>
	Kelso took the job for three reasons. One was legal: he hoped to prove the current Supreme Court wrong in its reluctance to give district courts the authority to require government to carry out legally-mandated reforms. A second was personal: he admired Judge Henderson, who was nearing retirement, and wanted to help him reform prison healthcare. But most important, Kelso felt he could do the job. He says:</p>
<blockquote>
	<p>
		I&rsquo;d have real power and independence to come up with a plan, have [Henderson] approve it, and implement the thing, without too much interference from political forces.&nbsp; So I thought I could be successful at it.</p>
</blockquote>
<p>
	<em>System changes</em>. Kelso&rsquo;s goal was to put in place a sustainable system that would thrive and survive after the receivership went out of business&mdash;hopefully by 2014&mdash;and control of prison healthcare reverted to the state. To do that he needed to change not only the culture, but the organizational structure. One problem was that corrections personnel&mdash;notably the warden&mdash;remained in charge of each prison, including healthcare. Corrections officers historically had a single priority: security. Increasingly, this was at odds with the physician priority to provide compassionate care. Each prison already had a chief medical officer (CMO), but the CMO reported to the warden. The Receiver&rsquo;s Office public affairs officer, <a href="standard.asp%3Fcase_id=90&amp;id=194&amp;c=bio.html">Nancy Kincaid</a>, notes:</p>
<blockquote>
	<p>
		The wardens were so entrenched in their culture, and custody didn&rsquo;t understand healthcare, usually didn&rsquo;t agree&hellip; Their focus is putting all their resources towards security and safety. [Kelso] said we need management that knows healthcare.<sup><a href="standard.asp%3Fcase_id=90&amp;id=680&amp;pid=0.html#_ftn2" name="_ftnref2" title="">[10]</a></sup></p>
</blockquote>
<blockquote>
	<p>
		<i>Listen to Nancy Kincaid discuss medical personnel reporting to wardens.&nbsp;</i><br />
		<img alt="" border="0" class="audiofile" src="../../files/audios/242/Nancy&#32;Kincaid&#32;pg&#32;5.mp3" /></p>
</blockquote>
<p>
	The solution was to create a new position within each prison of chief executive officer, or CEO. The CEO was the prison&rsquo;s senior healthcare official, charged with managing its resource needs from staff to administrative support, procurement and technology. The CEO had authority equal to the warden, but reported directly to Kelso. Eventually, CCHCS created and filled 25 CEO positions (to restrain costs, a few oversaw two prisons). The CEOs came from a medical management background. The arrangement was challenging, concedes Kelso.</p>
<blockquote>
	<p>
		It&rsquo;s been an often difficult thing to manage. Organizationally, it&rsquo;s a little awkward&hellip; when they&rsquo;ve got a bunch of employees who don&rsquo;t report to the warden.&nbsp;</p>
</blockquote>
<div style="float:right;padding:10px">
	<img src="../../files/photos/616/photo&#32;(1).JPG" style="width: 150px; height: 200px; " /><br />
	<p class="caption">
		Nancy Kincaid</p>
</div>
<p>
	In November 2010, Kelso brought in <a href="standard.asp%3Fcase_id=90&amp;id=192&amp;c=bio.html">Dr. Steven Tharratt </a>as statewide medical executive to coordinate all medical services across the state&rsquo;s 33 prisons. Kelso also successfully sued the State Personnel Board to transfer physician review from the board&mdash;which knew nothing about medicine&mdash;to a panel of three independent physicians. CCHCS had also instituted educational programs for physicians, along with a pilot program at the University of California-San Diego to bring medical students and residents into prison medical facilities.</p>
<p>
	Kelso also updated information technology. Many prisons still kept paper records; some of the older doctors had no idea how to use a computer. Installing IT for prisoners&rsquo; health records was additionally complicated because it required special security measures to meet privacy requirements. But by 2010, CCHSC had outfitted every prison with fiber optic lines and installed some 10,000 computers statewide.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:10px;"><a href="standard.asp%3Fcase_id=90&amp;id=680&amp;pid=0.html#_ftnref1" name="_ftn1" title="">[9]</a>&nbsp;Lundberg&rsquo;s interview with Clark Kelso on December 1, 2011, in Sacramento, CA. All further quotes from Kelso, unless otherwise attributed, are from this interview.</span></p>
		<p>
			<span style="font-size:10px;"><a href="standard.asp%3Fcase_id=90&amp;id=680&amp;pid=0.html#_ftnref2" name="_ftn2" title="">[10]</a>&nbsp;Lundberg&rsquo;s interview with Nancy Kincaid on November 29, 2011, in Sacramento, CA. All further quotes from Kincaid, unless otherwise attributed, are from this interview.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="standard.asp%3Fcase_id=90&amp;id=679&amp;pid=0.html" class="page-previous" title="Go to previous page">&#171;&#160;Receivership</a>

<a href="standard.asp%3Fcase_id=90&amp;id=681&amp;pid=0.html" class="page-next" title="Go to next page">California Medical Facility&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=191&amp;c=bio.html">Clark&nbsp;Kelso</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=192&amp;c=bio.html">Dr. Steven&nbsp;Tharrat</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=193&amp;c=bio.html">Joyce&nbsp;Hayhoe</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=194&amp;c=bio.html">Nancy&nbsp;Kincaid</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=195&amp;c=bio.html">Carl&nbsp;Wade</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=196&amp;c=bio.html">Dr. Joseph&nbsp;Bick</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=197&amp;c=bio.html">Dr. Ricki&nbsp;Barnett</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
