

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>The case of Carl Wade | Community Savings, or Community Threat? California Policy for Ill and Elderly Inmates
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/90/Community_Savings.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="standard.asp%3Fcase_id=90.html" title="Home"><span>The case of Carl Wade</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=676.html">Title Page</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=677.html">Introduction</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=678.html">CA Prison Health</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=679.html">Receivership</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=680.html">Kelso in charge</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=681.html">California Medical Facility</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=682.html">Find Savings</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=683.html">Enter Medical Parole</a>





</li>


<li class="leaf"><a  class="active"  href="standard.asp%3Fcase_id=90&amp;id=684.html">The case of Carl Wade</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=685.html">Medical parole for Carl Wade?</a>





</li>


<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=686.html">Appendix 1</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/90/California&#32;Policy&#32;for&#32;Ill&#32;and&#32;Elderly&#32;Inmates_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="standard.asp%3Fcase_id=90.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">The case of Carl Wade</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><div style="float:right;padding:10px">
	<img src="../../files/photos/600/Carl&#32;Wade.JPG" style="width: 200px; height: 191px; " /><br />
	<p class="caption">
		Carl Wade</p>
</div>
<p>
	Carl Wade, or California state prisoner E18321, was born on March 26, 1946. He had been at the California Medical Facility since July 2003, when an emphysema diagnosis qualified him for transfer. He lived in the hospital wing, in a cell with another 11 inmates. The floor was locked, although the cell door often stood open. A day room was nearby, and doctors could examine him in a room across the hall. Several violent and abusive prisoners lived on the same hall in single cells behind a second set of locked doors. &nbsp;</p>
<p>
	Wade&rsquo;s prison medical report described his condition as &ldquo;severe obstructive pulmonary disease with chronic hypoxia complicated by cor pulmonale,&rdquo; requiring continuous oxygen therapy. Even when resting, or taking the few steps from his bed to a wheelchair, he was short of breath. He also had coronary artery disease with &ldquo;associated ischemic cardiomyopathy and congestive heart failure with chronic angina.&rdquo;<a href="standard.asp%3Fcase_id=90&amp;id=684.html#_ftn1" name="_ftnref1" title=""><sup>[22]</sup></a></p>
<p>
	Wade, 65, had smoked for 42 years, and also worked in a furniture factory for a decade, &ldquo;breathing all the sawdust and the different Formica dust&hellip; and then I worked construction, so I was around a lot of dust.&rdquo;<a href="standard.asp%3Fcase_id=90&amp;id=684.html#_ftn2" name="_ftnref2" title=""><sup>[23]</sup></a> In prison, a cardiologist visited him onsite, but he had to see a pulmonologist in a community medical facility. &ldquo;The care&rsquo;s real good here,&rdquo; says Wade. &ldquo;They take you outside to the hospital all the time. See a lot of specialists.&rdquo; He had been hospitalized three times for procedures to insert stents, a pacemaker and a defibrillator. He also received treatment for pneumonia. Each time, he required ambulance transport for his oxygen needs, while two guards attended him at all times in the hospital.</p>
<blockquote>
	<p>
		<i>Listen as Carl Wade discusses how his respiratory problems began.&nbsp;</i><br />
		<img alt="" border="0" class="audiofile" src="../../files/audios/230/Carl&#32;Wadecl&#32;pg&#32;12&#32;clip.mp3" /></p>
</blockquote>
<p>
	Wade started the process of applying for compassionate release after his primary care physician suggested it. Both his pulmonologist and cardiologist at Queen of the Valley Medical Center in Napa, 30 miles from CMF, assessed Wade&rsquo;s life expectancy at less than six months. Wade&rsquo;s older sister, along with a daughter who lived with her, had agreed to take him in. Wade submitted his application on July 11, 2011.</p>
<p>
	CMO Dr. Bick, whose recommendation was needed for the CR application to progress, made a point of visiting Wade in person. Prison doctors deliberately did not know their patients&rsquo; criminal histories for fear it might affect their medical judgment. &ldquo;If I wanted to know, that information&rsquo;s available to me,&rdquo; says Bick. He could also infer, for example, that an inmate serving life without parole had probably killed someone. &ldquo;But it&rsquo;s unusual that I know,&rdquo; he says.</p>
<blockquote>
	<p>
		I generally have to go out of my way to know it&hellip; As a husband and father, I don&rsquo;t want on some level to be influenced in my decision about someone&rsquo;s life expectancy or how infirm they are.</p>
	<p>
		<i>Dr. Joseph Bick outlines his policy on inmates&#39; criminal records.&nbsp;</i><br />
		<img alt="" border="0" class="audiofile" src="../../files/audios/234/Dr&#32;Joseph&#32;Bick&#32;cilp2&#32;.mp3" /></p>
</blockquote>
<p>
	In Wade, Dr. Bick saw a &ldquo;permanently medically incapacitated&rdquo; patient with severely diseased heart and lungs. But predicting Wade&rsquo;s likely date of death was &ldquo;more challenging,&rdquo; he says. Wade had no cancer, no liver cirrhosis. &ldquo;He&rsquo;s getting very careful medical care here. In some ways, we&rsquo;re probably extending his life expectancy,&rdquo; notes Bick. &ldquo;Would I be astounded if Mr. Wade lived a year? No. Would I be astounded if tomorrow morning he didn&rsquo;t wake up? No.&rdquo; Bick calls Wade&rsquo;s case &ldquo;a difficult decision&rdquo; on medical grounds and one he took seriously.</p>
<blockquote>
	<p>
		I think it matters on many levels. One, I think the program itself is important, and the integrity of the program&hellip; If I&rsquo;m not discharging my responsibility with a certain sense of gravity, then I could impair the program. As chief medical executives go, I think I have a disproportionate ability to do that because of the role of this prison.&nbsp; People are being released throughout the state, but we have many of the sickest people and we have our hospice unit.&nbsp; &nbsp;</p>
</blockquote>
<p>
	After weighing the information available, Dr. Bick signed off, forwarding the application first to the regional medical director (Dr. Alan Frueh), and thence to statewide Chief Medical Executive Dr. Tharratt.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/617/photo&#32;(2).JPG" style="width: 200px; height: 150px; " /><br />
	<p class="caption">
		Dr. Steven Tharrat</p>
</div>
<p>
	Unlike Bick, Tharratt did know Wade&rsquo;s criminal record. He didn&rsquo;t look at it carefully, but recalls that he happened to see the file. Tharratt requested more tests for pulmonary function, and an echocardiogram. Satisfied by the results, Tharratt says he was &ldquo;comfortable&rdquo; with a diagnosis of terminal medical illness for Wade, but adds &ldquo;[i]f I was really splitting hairs, I would call him more permanently medically incapacitated.&rdquo;</p>
<blockquote>
	<p>
		My understanding of Mr. Wade is he can still feed himself, he can transfer. He may need assistance in these kinds of things, but [not at the level of] someone who&rsquo;s in a persistent vegetative state who needs toileting, needs feeding, needs artificial everything, basically.</p>
	<p>
		<i>Dr. Steven Tharrat discusses Carl Wade&#39;s medical condition.&nbsp;</i><br />
		<img alt="" border="0" class="audiofile" src="../../files/audios/238/Dr&#32;Steven&#32;Tharratt&#32;pg&#32;14.mp3" /></p>
</blockquote>
<p>
	On the other hand, Wade&rsquo;s congestive heart failure was never &ldquo;going to be fixed,&rdquo; never &ldquo;something that&rsquo;s spontaneously going to resolve.&rdquo; On September 7, Tharratt signed off on Wade&rsquo;s form. It then went to the custody authorities, who also approved.</p>
<p>
	On October 18, the Board of Parole Hearings voted 10-1 to refer Wade&rsquo;s case to Lake County Superior Court, the court which had sentenced Wade originally.<sup><a href="standard.asp%3Fcase_id=90&amp;id=684.html#_ftn3" name="_ftnref3" title="">[24]</a>&nbsp;</sup>On November 2, Judge Andrew Blum heard from witnesses, and two relatives of the victim testified that they would feel threatened if Wade were released. Judge Blum turned down the application for compassionate release. &ldquo;In this court&#39;s view,&rdquo; he said, &ldquo;Mr. Wade is exactly where he belongs. He&#39;s in custody and he should stay there.&rdquo;<a href="standard.asp%3Fcase_id=90&amp;id=684.html#_ftn4" name="_ftnref4" title=""><sup>[25]</sup></a> The judge admonished the parole board for sending only a summary, instead of original medical reports, and for insufficient research into Wade&rsquo;s proposed post-release living situation with his sister, who was deaf.</p>
<p>
	<a class="pdflink" href="../../files/pdfs/58/waiver&#32;of&#32;defendant&#32;presence.pdf">Waiver of Defendant&#39;s Personal Presence, signed by Carl Wade prior to his October 18 hearing.</a></p>
<p>
	Wade appealed the decision to the First District Court of Appeals. But in December 2011, his case came to the attention of Dr. Barnett; his medical condition put him in the MP pool.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:10px;"><a href="standard.asp%3Fcase_id=90&amp;id=684.html#_ftnref1" name="_ftn1" title="">[22]</a>&nbsp;From Carl Wade &ldquo;chrono&rdquo; (i.e. medical summary and custody file) submitted with application for compassionate release, July 11, 2011.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:10px;"><a href="standard.asp%3Fcase_id=90&amp;id=684.html#_ftnref2" name="_ftn2" title="">[23]</a>&nbsp;Lundberg&rsquo;s interview with Carl Wade, on November 30, 2011, in Vacaville, CA. All further quotes from Wade, unless otherwise attributed, are from this interview.</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:10px;"><a href="standard.asp%3Fcase_id=90&amp;id=684.html#_ftnref3" name="_ftn3" title="">[24]</a>&nbsp;Lake County lay some 100 miles north of Vacaville in Lakeport, near Mendocino State Forest.</span></p>
	</div>
	<div id="ftn4">
		<p>
			<span style="font-size:10px;"><a href="standard.asp%3Fcase_id=90&amp;id=684.html#_ftnref4" name="_ftn4" title="">[25]</a>&nbsp;Elizabeth Larson, &ldquo;Judge Denies Compassionate Release to Man,&rdquo; <em>Lake County News</em>, November 2, 2011.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="standard.asp%3Fcase_id=90&amp;id=683&amp;pid=0.html" class="page-previous" title="Go to previous page">&#171;&#160;Enter Medical Parole</a>

<a href="standard.asp%3Fcase_id=90&amp;id=685&amp;pid=0.html" class="page-next" title="Go to next page">Medical parole for Carl Wade?&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=191&amp;c=bio.html">Clark&nbsp;Kelso</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=192&amp;c=bio.html">Dr. Steven&nbsp;Tharrat</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=193&amp;c=bio.html">Joyce&nbsp;Hayhoe</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=194&amp;c=bio.html">Nancy&nbsp;Kincaid</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=195&amp;c=bio.html">Carl&nbsp;Wade</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=196&amp;c=bio.html">Dr. Joseph&nbsp;Bick</a></li>

<li class="leaf"><a  href="standard.asp%3Fcase_id=90&amp;id=197&amp;c=bio.html">Dr. Ricki&nbsp;Barnett</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8456305-3");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
