

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Preparing to regulate | Voluntary or Regulated? The Trans Fat Campaign in New York City
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/91/180-01155_NYCTransfatv4.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_91.html" title="Home"><span>Preparing to regulate</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_91.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_91_id_699.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_91_id_700.html">Trans Fat</a>





</li>


<li class="leaf"><a  href="case_id_91_id_701.html">New York City Department of Health</a>





</li>


<li class="leaf"><a  href="case_id_91_id_702.html">Choosing a campaign</a>





</li>


<li class="leaf"><a  href="case_id_91_id_703.html">Mandatory or Voluntary? </a>





</li>


<li class="leaf"><a  href="case_id_91_id_704.html">Measures and Partners</a>





</li>


<li class="leaf"><a  href="case_id_91_id_705.html">Campaign launches</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_91_id_706.html">Preparing to regulate</a>





</li>


<li class="leaf"><a  href="case_id_91_id_707.html">Clear and enforceable?</a>





</li>


<li class="leaf"><a  href="case_id_91_id_708.html">Appendix 1</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/91/Voluntary&#32;or&#32;Regulated_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_91.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Preparing to regulate</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	Like Assistant Commissioner Silver, Associate Commissioner Marcus had been skeptical that restaurants, particularly large chains, would give up using trans fat on their own. &ldquo;It&rsquo;s costly for them,&rdquo; says Marcus. &ldquo;For McDonald&rsquo;s, for the fries, they told us that they needed like a nine month lead-in so that they could have the people that grow the corn from which they make the oil change the formulation. For them it&rsquo;s a sea change, it&rsquo;s like turning the Titanic.&rdquo; Silver chose to look on the bright side: at least the educational campaign had been beneficial. &ldquo;I wouldn&rsquo;t say it was entirely unsuccessful,&rdquo; she comments.</p>
<blockquote>
	<p>
		The guy who has a <em>cuchifrito </em>stand in the Bronx, you can&rsquo;t expect him to know that partially hydrogenated vegetable oil is trans fat. Half the people in the health department didn&rsquo;t know that. It was complicated stuff; people don&rsquo;t have PhDs in biochemistry when they&rsquo;re working in a restaurant, or at the health department. So making it comprehensible to people, raising consciousness about it, creating educational tools so people could look at a product and even understand whether it had trans fat in it or not was important.</p>
</blockquote>
<p>
	<em>Labeling</em>? But now Silver and her colleagues faced a dilemma. Volunteerism had not worked; it would have to be regulation. But what kind? She, Angell, Goldstein, Marcus, lawyer Martha Robinson, and the department&rsquo;s general counsel Lopez spent hours discussing the range of options. Would it suffice simply to label trans fat, or should they be actively restricted? Were there enough trans fat-free options for both frying oils and baking shortening?</p>
<p>
	Labeling, they decided, was not a viable option because it would benefit only those consumers who knew enough about trans fat to avoid it. That excluded several populations, including children, and left them still at risk of consuming too much trans fat. Moreover, the department was already lobbying for restaurants to display the number of calories in different dishes on their posted menu boards. They felt listing the number of calories as well as grams of trans fat on menus might be confusing for consumers. Moreover, they considered it wrong to allow restaurants to continue using trans fat, even with labeling, knowing it was harmful and that there were alternatives. &ldquo;You should have zero artificial trans fat in your food,&rdquo; says Goldstein.</p>
<blockquote>
	<p>
		So we felt like labeling was not the answer for trans fat. This was something that you simply don&rsquo;t need to have and you shouldn&rsquo;t have in your food... It&rsquo;s kind of like labeling for arsenic. Why would you do that, why wouldn&rsquo;t you just take it out?<a href="case_id_91_id_706.html#_ftn1" name="_ftnref1" title=""><sup>[28]</sup></a></p>
</blockquote>
<p>
	<em>Replacements</em>? By early summer, they had decided that the only sensible course of action was to restrict restaurants from using trans fat. But first, they had to educate themselves on what to recommend in its place, and whether there was a sufficient supply of alternatives. &ldquo;We had some concerns about what would replace trans fat,&rdquo; says Goldstein.</p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/645/800px-Glazed-Donut.jpg" style="width: 200px; height: 131px; " /></div>
<p>
	One alternative to trans fat-containing products are products made with &nbsp;interesterified oil, which is a process involving enzymes. But nobody knows how an interesterified fat might affect the body. It makes a nice solid fat and works well in baked goods. But it hasn&rsquo;t been studied much, although supposedly they&rsquo;d been using it in Europe forever&hellip; At the time there were some crude versions of blended oils, which didn&rsquo;t work as well for baking. And then there&rsquo;s palm oil. Palm oil has environmental implications, doesn&rsquo;t have the same technical properties as other shortenings and it&rsquo;s also high in saturated fat. Now there are many viable 0 grams trans fat free options that work as well or better than the items they replaced.</p>
<p>
	The team had learned, when they accompanied the food safety inspectors on restaurant visits, that they would have to evaluate frying and baking products separately. While there were several trans fat-free options for fry oils, there weren&rsquo;t as many for baking shortenings. &ldquo;Shortenings are tricky because shortening has very specific properties that allow a crust to puff and flake and be tender and all sorts of things, or to make a frosting stick,&rdquo; says Goldstein. The team debated whether the proposed restriction should therefore apply only to fry oils. But they concluded that to restrict trans fat exclusively in cooking oils and spreads would be insufficient, as baked goods were the largest dietary source of trans fat.<sup><a href="case_id_91_id_706.html#_ftn2" name="_ftnref2" title="">[29]</a>&nbsp;</sup>Says Silver:</p>
<blockquote>
	<p>
		The largest portion of trans fat in the diet came from baked goods. So even though it was harder to reformulate them, I felt that the public health impact of the law would be greatly diminished if we didn&rsquo;t cover them.</p>
</blockquote>
<p>
	The team also considered whether the taste of foods would be altered. &ldquo;The Commissioner even surprised us one day, organizing a tasting of trans fat-free donuts from a local bakery to see if they were good. They were delicious,&rdquo; says Silver. &ldquo;We didn&rsquo;t want to take away people&rsquo;s pleasure in food and give them something that tasted awful.&rdquo;<a href="case_id_91_id_706.html#_ftn3" name="_ftnref3" title=""><sup>[30]</sup></a> The other question was supply. Would there be enough alternatives available? &ldquo;The American Heart Association and others were raising concerns about whether the supply of trans fat alternatives would be sufficient, so we researched that very carefully,&rdquo; says Silver.</p>
<blockquote>
	<p>
		We went to the conferences, we listened to the industrial projections from the companies. They were basically saying that by 2009, the supply would be sufficient for the nation. We were only about 3 percent of the US population&hellip; We concluded, based on these conversations, that with the timeframe we were providing, that the supply for New York City would be adequate.</p>
</blockquote>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_91_id_706.html#_ftnref1" name="_ftn1" title="">[28]</a>&nbsp;Author&rsquo;s telephone interview with Gail Goldstein on January 27, 2012.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:11px;"><a href="case_id_91_id_706.html#_ftnref2" name="_ftn2" title="">[29]</a>&nbsp;&ldquo;Revealing trans fats,&rdquo; <em>FDA Consumer,</em> September 1, 2003&nbsp;</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:11px;"><a href="case_id_91_id_706.html#_ftnref3" name="_ftn3" title="">[30]</a>&nbsp;Author&rsquo;s interview with Dr. Lynn Silver on January 27, 2012.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_91_id_705.html" class="page-previous" title="Go to previous page">&#171;&#160;Campaign launches</a>

<a href="case_id_91_id_707.html" class="page-next" title="Go to next page">Clear and enforceable?&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_91_id_198_c_bio.html">Elliot&nbsp;Marcus</a></li>

<li class="leaf"><a  href="case_id_91_id_199_c_bio.html">Lynn &nbsp;Silver</a></li>

<li class="leaf"><a  href="case_id_91_id_200_c_bio.html">Gail&nbsp;Goldstein</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
