

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Measures and Partners | Voluntary or Regulated? The Trans Fat Campaign in New York City
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/91/180-01155_NYCTransfatv4.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_91.html" title="Home"><span>Measures and Partners</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_91.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_91_id_699.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_91_id_700.html">Trans Fat</a>





</li>


<li class="leaf"><a  href="case_id_91_id_701.html">New York City Department of Health</a>





</li>


<li class="leaf"><a  href="case_id_91_id_702.html">Choosing a campaign</a>





</li>


<li class="leaf"><a  href="case_id_91_id_703.html">Mandatory or Voluntary? </a>





</li>


<li class="leaf"><a  class="active"  href="case_id_91_id_704.html">Measures and Partners</a>





</li>


<li class="leaf"><a  href="case_id_91_id_705.html">Campaign launches</a>





</li>


<li class="leaf"><a  href="case_id_91_id_706.html">Preparing to regulate</a>





</li>


<li class="leaf"><a  href="case_id_91_id_707.html">Clear and enforceable?</a>





</li>


<li class="leaf"><a  href="case_id_91_id_708.html">Appendix 1</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/91/Voluntary&#32;or&#32;Regulated_wm.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_91.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Measures and Partners</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	Silver asked <a href="case_id_91_id_198_c_bio.html">Elliott Marcus</a>, associate commissioner of the Bureau of Food Safety and Community Sanitation, to send inspectors to survey current restaurant use of trans fat. She explained that they would need to re-survey a year later to see if there had been any progress. At first, Marcus was hesitant. Goldstein says: &ldquo;The first time [Dr. Silver] went to him and asked, &lsquo;Can we use your restaurant inspectors to survey the restaurants and see what they&rsquo;re serving?&rsquo; he said no. I think he said no twice. [But] Lynn doesn&rsquo;t take no for an answer and went back again.&rdquo;</p>
<div style="float:left;padding:10px">
	<img src="../../files/photos/611/ElliottMarcus1.jpg" style="height: 133px; width: 200px; " /><br />
	<p class="caption">
		Elliot Marcus</p>
</div>
<p>
	Traditionally, food safety inspectors ensured that restaurant workers used proper sanitary measures and that restaurants were clean. Silver was asking inspectors to address an issue that was not part of their normal domain. &ldquo;A lot of the work we&rsquo;ve done recently has focused on re-conceiving that area and saying that our control of food safety should also address illness,&rdquo; says Silver. &ldquo;That was new for Elliott [Marcus], and new around the country, and they already didn&rsquo;t have enough inspectors.&rdquo;<a href="case_id_91_id_704.html#_ftn1" name="_ftnref1" title=""><sup>[20]</sup></a></p>
<p>
	Marcus worried that measuring trans fat would take too much time. &ldquo;I wanted to make sure that the time it would take to administer the survey would be minimized,&rdquo; he says, &ldquo;and integrated in the inspectors&rsquo; use of handheld computer technology, so as not to add to the weight of packs inspectors lug around all day.&rdquo; He adds:</p>
<blockquote>
	<p>
		These are small things to others, but integral considerations for a field operation unit with specific mandates and union concerns. There is a tendency to believe that, because we visit every food service establishment in the city, it is easy and inconsequential to add activities to the inspection. But adding even five minutes to an inspection, when you inspect 26,000 facilities, results in sizable productivity concerns.</p>
</blockquote>
<p>
	But over several meetings, Silver and her team presented scientific evidence of the dangers of trans fat. Silver also met with an advisory group of restaurants. Once Marcus saw that restaurant owners seemed interested in using trans fat-free products, he came around.</p>
<p>
	<em>Baseline</em>. In May and June 2005, the department&rsquo;s restaurant inspectors conducted a baseline survey of 500 restaurants during their regular inspections to estimate how many were using trans fat. The answer was: about half.<a href="case_id_91_id_704.html#_ftn2" name="_ftnref2" title=""><sup>[21]</sup></a>The high percentage of establishments already not using trans fat products provided persuasive evidence that there were viable alternatives to partially hydrogenated oils. The cardiovascular program staff then visited bakeries, kosher bakeries, and ethnic restaurants to understand if there were issues specific to the preparation of bread products or ethnic foods. Goldstein also talked to cooking oil companies and their research branches to learn more about non-hydrogenated oil blends that were either currently in production or under research.</p>
<p>
	The department developed a working partnership with the American Heart Association (AHA), which had just received a $7 million settlement from McDonald&rsquo;s. In 2003, the consumer advocacy group bantransfats.com had filed a lawsuit against McDonald&rsquo;s, claiming that the restaurant chain had failed to inform customers that it was still using trans fat despite its highly publicized 2002 announcement that it would stop.<a href="case_id_91_id_704.html#_ftn3" name="_ftnref3" title=""><sup>[22]</sup></a>Bantransfat.com won and donated the money to AHA, which took a new interest in trans fat. &ldquo;They came out to hear about our plans to do an education campaign,&rdquo; says Goldstein.</p>
<blockquote>
	<p>
		We decided to develop a three-pronged approach, where we would educate consumers about trans fat and ask them to ask their restaurants to not serve trans fat; educate the restaurants about trans fat, and ask them to ask their suppliers for trans fat-free products; and educate the suppliers about trans fat, and encourage them to provide 0 grams trans fat products to their restaurant customers. The idea was to use a market-based strategy, where supply and demand would change the food environment.</p>
</blockquote>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_91_id_704.html#_ftnref1" name="_ftn1" title="">[20]</a>&nbsp;Author&rsquo;s telephone interview with Dr. Lynn Silver on January 27, 2012.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:11px;"><a href="case_id_91_id_704.html#_ftnref2" name="_ftn2" title="">[21]</a>&nbsp;Goldstein clarifies that inspectors were not always able to determine the incidence of trans fats because a third of NYC restaurants did not have labeling for their food. So of those restaurants where trans fat use could be measured, half were using them.</span></p>
	</div>
	<div id="ftn3">
		<p>
			<span style="font-size:11px;"><a href="case_id_91_id_704.html#_ftnref3" name="_ftn3" title="">[22]</a>&nbsp;&ldquo;McDonald&rsquo;s To Pay $8.5 Million For Misleading Public About Use of Trans Fat,&rdquo; <em>Democracy Now</em>, PBS, February 16, 2005. See: http://www.democracynow.org/2005/2/16/mcdonalds_to_pay_8_5_million</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_91_id_703.html" class="page-previous" title="Go to previous page">&#171;&#160;Mandatory or Voluntary? </a>

<a href="case_id_91_id_705.html" class="page-next" title="Go to next page">Campaign launches&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_91_id_198_c_bio.html">Elliot&nbsp;Marcus</a></li>

<li class="leaf"><a  href="case_id_91_id_199_c_bio.html">Lynn &nbsp;Silver</a></li>

<li class="leaf"><a  href="case_id_91_id_200_c_bio.html">Gail&nbsp;Goldstein</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
