

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Due diligence | Merging Two Worlds?: Reston Dental Arts and American Dental Partners
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/134/180-02408_Dental-Arts_v2.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_134.html" title="Home"><span>Due diligence</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  href="case_id_134.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_134_id_968.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_134_id_969.html">Trailblazers: Reston Dental Arts</a>





</li>


<li class="leaf"><a  href="case_id_134_id_970.html">Life Is Good, Mostly</a>





</li>


<li class="leaf"><a  href="case_id_134_id_971.html">Overture from ADP</a>





</li>


<li class="leaf"><a  href="case_id_134_id_972.html">A proposal</a>





</li>


<li class="leaf"><a  href="case_id_134_id_973.html">Industry Changes</a>





</li>


<li class="leaf"><a  class="active"  href="case_id_134_id_974.html">Due diligence</a>





</li>


<li class="leaf"><a  href="case_id_134_id_975.html">Appendix 1</a>





</li>


<li class="leaf"><a  href="case_id_134_id_976.html">Appendix 2</a>





</li>


<li class="leaf"><a  href="case_id_134_id_977.html">Appendix 3</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/134/Reston&#32;Dental&#32;Arts&#32;PtA&#32;060914.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="three-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_134.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Due diligence</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	As the RDA partners weighed the pros and cons of the ADP offer, the looming industry changes were much on their minds and led them to favor a partnership. The mechanics of a deal moved forward after the September 1997 with a letter of intent. But both sides still had to conduct due diligence, engage lawyers and accountants to vet drafts of the evolving contract, and assemble the necessary documentation.</p>
<p>
	Typically, a group like Reston Dental entertaining an offer from a management firm would consider what the control of operations and profit would mean for the practice, both in fact and in appearance. It might examine details of the organizational structure going forward, whether the culture would change, how much the management firm would earn from the deal, and the legality or enforceability of non-compete agreements for any dentists who might choose to leave.<sup><a href="case_id_134_id_974.html#_ftn1" name="_ftnref1" title="">[16]</a></sup></p>
<div style="float:right;padding:10px">
	<img src="../../files/photos/1072/268763415_70cbfcf5fb_z.jpg" style="height: 231px; width: 300px;" /><br />
	<p class="caption">
		&copy; <a href="https://www.flickr.com/photos/65172294@N00/268763415/in/photostream/">get directly down/Flickr</a></p>
</div>
<p>
	Drs. Eichler, Kirkpatrick and Dodrill took the lead on due diligence for RDA. Constituting themselves as a finance committee, they asked the practice&rsquo;s accountant, John E. Smithers, to research the business side and report back to them. Among other questions, the dentists went back and forth on the proposed formula for their future earnings.</p>
<p>
	<em>Formula</em>. Typically, dentists in an ADP-affiliated practice earned 30 percent of revenue off the top. So taking a hypothetical $100 in earnings, the first $30 went to the PC for the dentists to pay themselves. ADP then paid all monthly expenses, such as staff salaries, maintenance, purchases and so forth. Of the hypothetical $100, that might come to $50. What remained was called a contribution margin or practice profit&mdash;in this example, $20. ADP commonly divided that with the dentists 85/15&mdash;85 percent went to ADP, and 15 percent to the dentists. To continue with the $100 example, ADP would get about $17 of the $20 profit, and the dentists would get $3. So overall, the dentists would collect $33 per $100 earned, and ADP $17. What&rsquo;s more, the dentists would be guaranteed their first 30 percent, while the absolute value of the 20 percent profit would vary depending on earnings.</p>
<p>
	Kirkpatrick, however, did not like that formula. He was disturbed that ADP would get 85 percent and the dentists only 15 percent of any part of earnings. He insisted, with his partners&rsquo; backing, that expenses be taken right off the top, and profits be divided 70/30&mdash;70 percent to the dentists and 30 percent to ADP. Again looking at the $100 model, that meant that of the $50 remaining after expenses, $35 would go to the doctors, and $15 to ADP. ADP pointed out that the doctors&rsquo; share would now fluctuate depending on earnings, but Kirkpatrick was adamant. After months of negotiations, ADP by spring 1998 accepted the RDA formula.&nbsp;</p>
<p>
	Meanwhile, the dentists looked at other possible consequences for the practice of accepting the ADP offer. They visited other practices that had elected to join ADP, including Park Dental in Minnesota. In interviews with peers in these practices, the dentists asked questions about the experience, including whether the ADP partners would do it again. Overall, the response was positive. Recalls Eichler: &ldquo;[Park Dental] had a review every month where they looked at everybody&rsquo;s charts and made sure that everybody was doing things the right way. From a dentistry perspective, we felt like hayseeds because [Park Dental] had their act together&hellip; We were so impressed!&rdquo;</p>
<p>
	The partners debated among themselves ADP&rsquo;s terms and, more importantly, the offer price. Employees were not included in their deliberations. While there was a significant amount of money to be realized in the short-term, there were also compelling reasons to keep things as they were. The dentists had been fortunate to have built a substantial business, earned a comfortable living and worked in an environment that felt like a family. Moreover, the move could be seen as risky. The Reston Dental doctors were placing all their bets on a company and management new to them. Could they be sure they had considered every possibility and option?</p>
<p>
	After a year of back and forth, the time had come to decide. The partners called a meeting for Thursday, May 21, 1998 to take a final vote on the ADP proposal. Accountant Smithers brought with him a statement of revenue and expenses for the practice for the first four months of 1998. The statement included a putative payment of 30 percent of margin to ADP, paid after expenses but before compensation to doctors.<sup><a href="case_id_134_id_974.html#_ftn2" name="_ftnref2" title="">[17]</a></sup></p>
<p>
	<em>Deal?&nbsp;</em>The partners gathered, as they so often had before, in Dr. Kirkpatrick&rsquo;s living room. Each was given a copy of the spreadsheet and of ADP&rsquo;s offer. Discussion quickly grew animated. Heated conversation at monthly partners&rsquo; meetings was not uncommon but, with high stakes, the participants settled in for a long day. The younger doctors, including Canal and Messina, saw no real reason to fix what was not broken. They were working amenable hours, honing their craft and earning good salaries. The older dentists, among them Eichler and Averne, liked the idea of cashing out early. Those practitioners who brought in the largest percentages of group revenue, such as Kirkpatrick, were enthusiastically in favor.</p>
<p>
	The partners were determined to leave the meeting with a decision. They had a few hours, and then would have to vote.</p>
<div>
	<hr align="left" size="1" width="33%" />
	<div id="ftn1">
		<p>
			<span style="font-size:11px;"><a href="case_id_134_id_974.html#_ftnref1" name="_ftn1" title="">[16]</a>&nbsp; Becker, Scott, Lauralee R. Lawley and Payal Keshvani, &ldquo;Investing in Dental Practice Management: Key Issues and Notable Transactions.&rdquo; <em>McGuireWoods</em>.com, October 23, 2012.</span></p>
	</div>
	<div id="ftn2">
		<p>
			<span style="font-size:11px;"><a href="case_id_134_id_974.html#_ftnref2" name="_ftn2" title="">[17]</a>&nbsp; For the spreadsheet, see Appendix 3. The offer itself remains confidential.</span></p>
	</div>
</div>
</div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_134_id_973.html" class="page-previous" title="Go to previous page">&#171;&#160;Industry Changes</a>

<a href="case_id_134_id_975.html" class="page-next" title="Go to next page">Appendix 1&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->
		<!-- Right sidebar for Bios -->
	<div id="sidebar-right">
		  <div class="block block-menu" id="block-menu-65">
    <h2 class="title">Biographies</h2>
    <div class="content">
<ul class="menu">

<li class="leaf"><a  href="case_id_134_id_288_c_bio.html">Vincent&nbsp;Mascia</a></li>

<li class="leaf"><a  href="case_id_134_id_289_c_bio.html">Robert&nbsp;Averne</a></li>

<li class="leaf"><a  href="case_id_134_id_290_c_bio.html">Thomas&nbsp;Eichler</a></li>

<li class="leaf"><a  href="case_id_134_id_291_c_bio.html">Gregory&nbsp;Serrao</a></li>


</ul>
</div>
 </div>
	</div><!-- id="sidebar-right" -->
	

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><a href="http://www.journalism.columbia.edu">© 2012 Columbia University Graduate School of Journalism</a></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
