<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   Merging Two Worlds?:  Reston Dental Arts and American Dental Partners | Merging Two Worlds?: Reston Dental Arts and American Dental Partners
  </title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <style media="all" type="text/css">
   @import "css_global/book/book.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/node/node.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/defaults.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/system/system.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/user/user.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/img_assist/img_assist.css";
  </style>
  <style media="all" type="text/css">
   @import "css_global/knightcase/style.css";
  </style>
  <style media="print" type="text/css">
   @import "css_global/knightcase/print.css";
  </style>
  <script src="com/jquery/jquery-1.2.6.js" type="text/javascript">
  </script>
  <script src="js/img_assist.js" type="text/javascript">
  </script>
  <script src="js/audioimage.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.metadata.js" type="text/javascript">
  </script>
  <script src="com/jquery/jquery.media.js" type="text/javascript">
  </script>
  <script src="swfobject.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   var GB_ROOT_DIR = "com/greybox/";
  </script>
  <script src="com/greybox/AJS.js" type="text/javascript">
  </script>
  <script src="com/greybox/AJS_fx.js" type="text/javascript">
  </script>
  <script src="com/greybox/gb_scripts.js" type="text/javascript">
  </script>
  <link href="com/greybox/gb_styles.css" media="all" rel="stylesheet" type="text/css"/>
  <script type="text/javascript">
   var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
  </script>
  <script type="text/javascript">
   $(function() {
        $('a.media').media();
    });
  </script>
  <style>
   #main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}
  </style>
  <link href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" rel="stylesheet"/>
  <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js">
  </script>
 </head>
 <body>
  <div id="container">
   <!-- Banner header -->
   <div id="header" style="background: url('../../files/global/134/180-02408_Dental-Arts_v2.jpg') top left no-repeat;">
    <table border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td style="width: 100%;">
       <h1 class="site-name">
        <a href="case_id_134.html" title="Home">
         <span>
          Merging Two Worlds?:  Reston Dental Arts and American Dental Partners
         </span>
        </a>
       </h1>
      </td>
      <td class="kcsi_logo">
       <a class="knightlogo" href="https://casestudies.jrn.columbia.edu/" target="_blank">
       </a>
      </td>
     </tr>
    </table>
   </div>
   <!-- id="header" -->
   <!-- Primary links, if enabled -->
   <!-- Secondary links, if enabled -->
   <!-- <div></div> -->
   <div id="pagebody">
    <!-- Left sidebar -->
    <div id="sidebar-left">
     <div class="block block-menu" id="block-menu-63">
      <h2 class="title">
       Sections
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <a class="active" href="case_id_134.html">
          Title Page
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_968.html">
          Introduction
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_969.html">
          Trailblazers: Reston Dental Arts
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_970.html">
          Life Is Good, Mostly
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_971.html">
          Overture from ADP
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_972.html">
          A proposal
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_973.html">
          Industry Changes
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_974.html">
          Due diligence
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_975.html">
          Appendix 1
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_976.html">
          Appendix 2
         </a>
        </li>
        <li class="leaf">
         <a href="case_id_134_id_977.html">
          Appendix 3
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="block block-block" id="block-block-1">
      <h2 class="title">
      </h2>
      <div class="content">
       <div class="content">
        <ul class="menu">
         <li class="printpdf">
          <a href="../../files/global/134/Reston Dental Arts PtA 060914.pdf" target="_blank">
           Download this case as a PDF
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <!-- id="sidebar-left" -->
    <!-- Main content of page -->
    <div class="two-column" id="contentbody">
     <div id="main">
      <div class="breadcrumb">
       <a href="case_id_134.html">
        Home
       </a>
      </div>
      <h1 class="title">
       Merging Two Worlds?:  Reston Dental Arts and American Dental Partners
      </h1>
      <div class="tabs">
      </div>
      <div class="node">
       <span class="taxonomy">
       </span>
       <div class="content">
        <p style="margin-top: 0.5em; margin-bottom: 0.9em; color: rgb(0, 0, 0); font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.200000762939453px;">
         <strong>
          ABSTRACT
         </strong>
        </p>
        <p>
         <em>
          CCC-14-0006.0
         </em>
         This case takes students into the world of medical management, the challenges of group practice and the growing prevalence of medical management firms. The case looks at the experience of a Virginia dental group, Reston Dental Arts (RDA). In 1998, the member dentists—who had formed a group in the late 1980s—had in hand an offer from American Dental Partners (ADP). The management firm would take over all front office responsibilities, allow the doctors to focus on patients, and compensate them according to an agreed-on formula. In Part A, students are asked: should RDA accept the offer or not? In Part B, they consider some of the subsequent challenges.
        </p>
        <p>
         The case raises for student discussion problems of medical practice valuation, of partnership and of management. Use it to help future medical practitioners prepare for lives not just as doctors, but as businesspeople. Ask them how they would best value RDA, using any of a number of suggested methods. How important is “culture” to a practice, and should that be part of its value? What about the role of insurance in dental services? Students will also learn about the interpersonal dynamics of a group practice and have an opportunity to consider how those can best be managed.
        </p>
        <p align="left">
         Use this case in a class/course on dentistry professional practice, medical management, mergers and acquisitions or human resources. It can also be used as a history of dental business in the US, including trends in managed care and insurance.
        </p>
        <p align="left">
         There are two parts to this case. Students can access Part A online.
         <strong>
          Part B is visible to faculty only
         </strong>
         , after sign in, and is coupled with the epilogue. Should you choose to use Part B, please print and distribute in class, or forward the pdf to students in advance of class. You will have to separate Part B from the epilogue.
        </p>
        <p style="margin-top: 0.5em; margin-bottom: 0.9em; color: rgb(0, 0, 0); font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.200000762939453px;">
         <strong>
          Credits
         </strong>
         :
        </p>
        <div style="margin-left:4.3pt;">
         <p>
          <em>
           This case was written by Kirsten Lundberg, Director, for the Case Consortium @ Columbia and the College of Dental Medicine. The faculty sponsor was Prof. Tamar Schiller of the College of Dental Medicine. (0914)
          </em>
         </p>
        </div>
        <p style="margin-top: 0.5em; margin-bottom: 0.9em; color: rgb(0, 0, 0); font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.200000762939453px;">
         <div>
          <strong>
           For further information:
          </strong>
         </div>
         <div>
          E-mail:
          <a href="mailto:ccnmtl+casestudies@columbia.edu" style="color: rgb(17, 85, 204);" target="_blank">
           ccnmtl+casestudies@columbia.edu
          </a>
         </div>
         <div>
          Website:
          <a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">
           https://casestudies.ccnmtl.columbia.edu
          </a>
         </div>
         <div class="book-navigation" style="clear:both">
          <div class="page-links clear-block">
           <a class="page-next" href="case_id_134_id_968.html" title="Go to next page">
            Introduction »
           </a>
          </div>
         </div>
        </p>
       </div>
      </div>
     </div>
     <!-- id="main" -->
    </div>
    <!-- id="contentbody" -->
    <div class="visualclear">
    </div>
   </div>
   <!-- id="pagebody" -->
   <div style="clear: both;">
   </div>
   <div id="footer">
    <div id="footer-inner">
     <div class="block block-menu" id="block-menu-66">
      <h2 class="title">
       System menu
      </h2>
      <div class="content">
       <ul class="menu">
        <li class="leaf">
         <!-- copyright notice -->
        </li>
       </ul>
      </div>
     </div>
    </div>
    <!-- id="footer-inner" -->
   </div>
   <!-- id="footer" -->
  </div>
  <!-- id="container" -->
  <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
   try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}
  </script>
 </body>
</html>
