<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
  <title>Swaziland, HIV and Option B+: What Can We Afford? | Swaziland, HIV and Option B+: What Can We Afford?
  </title>
 
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

  <style type="text/css" media="all">@import "css_global/book/book.css";</style>
<style type="text/css" media="all">@import "css_global/node/node.css";</style>
<style type="text/css" media="all">@import "css_global/system/defaults.css";</style>
<style type="text/css" media="all">@import "css_global/system/system.css";</style>
<style type="text/css" media="all">@import "css_global/user/user.css";</style>
<style type="text/css" media="all">@import "css_global/img_assist/img_assist.css";</style>
<style type="text/css" media="all">@import "css_global/knightcase/style.css";</style>
<style type="text/css" media="print">@import "css_global/knightcase/print.css";</style>
<script type="text/javascript" src="com/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="js/img_assist.js"></script>
<script type="text/javascript" src="js/audioimage.js"></script>
<script type="text/javascript" src="com/jquery/jquery.metadata.js"></script> 
<script type="text/javascript" src="com/jquery/jquery.media.js"></script> 
<script type="text/javascript" src="swfobject.js"></script> 

 <script type="text/javascript">
        var GB_ROOT_DIR = "com/greybox/";
    </script>

    <script type="text/javascript" src="com/greybox/AJS.js"></script>
    <script type="text/javascript" src="com/greybox/AJS_fx.js"></script>

    <script type="text/javascript" src="com/greybox/gb_scripts.js"></script>
    <link href="com/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	


    <script type="text/javascript">
      var GB_ANIMATION = true;
      $(document).ready(function(){
        $("a.greybox").click(function(){
          var t = this.title || this.innerHTML || this.href;
          GB_show(t,this.href,600,800);
          return false;
        });
      });
    </script>


<script type="text/javascript">
    $(function() {
        $('a.media').media();
    });
</script>

<style>
#main .title
{
	color: ;
	font: normal 1.8em "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#main a,
#sidebar-left a,
#sidebar-right a
{
	color: ;
}

#media {
font-style:italic;
}



</style>
<link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
<script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>

<body>

<div id="container">

<!-- Banner header -->

<div id="header" style="background: url('../../files/global/146/180-02616_Swaziland_jl_v2.jpg') top left no-repeat;">
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width: 100%;">
		<h1 class='site-name'><a href="case_id_146.html" title="Home"><span>Swaziland, HIV and Option B+: What Can We Afford?</span></a></h1>						</td>
		<td class="kcsi_logo"><a href="https://casestudies.jrn.columbia.edu/" target="_blank" class="knightlogo"></a></td>
	</tr>

</table>
      
      
</div><!-- id="header" -->


<!-- Primary links, if enabled -->


<!-- Secondary links, if enabled -->

     <!-- <div></div> -->


<div id="pagebody">

	
	<!-- Left sidebar --><div id="sidebar-left">

		  <div class="block block-menu" id="block-menu-63">
    <h2 class="title">Sections</h2>
    <div class="content">
<ul class="menu">



<li class="leaf"><a  class="active"  href="case_id_146_id_999.html">Title Page</a>





</li>


<li class="leaf"><a  href="case_id_146.html">Introduction</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1001.html">HIV in Sub-Saharan Africa</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1002.html">Treating mothers-to-be</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1004.html">HIV in Swaziland</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1005.html">Okello on board</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1006.html">ICAP arrives</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1007.html">Money headaches</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1008.html">Collecting evidence</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1009.html">Treat to prevent</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1010.html">Is this right for Swaziland?</a>





</li>


<li class="leaf"><a  href="case_id_146_id_1011.html">Appendix</a>





</li>


</ul>
</div>
 </div>

  <div class="block block-block" id="block-block-1">
    <h2 class="title"></h2>

	
    <div class="content"><div class="content">
<ul class="menu">
<li class="printpdf">
<a href="../../files/global/146/Swaziland&#32;HIV&#32;FINAL.pdf" target="_blank">Download this case as a PDF</a></li>
</ul>
</div>
</div>


 </div>
	</div><!-- id="sidebar-left" -->
	
	<!-- Main content of page -->
	
	<div id="contentbody" class="two-column" >
				
		<div id="main">
		<div class="breadcrumb"><a href="case_id_146.html">Home</a> 
		
		
		
		
		</div>		
		<h1 class="title">Swaziland, HIV and Option B+: What Can We Afford?</h1>
		
		
		
		<div class="tabs"></div>

		
	  <div class="node">
    <span class="taxonomy"></span>
    <div class="content"><p>
	<em>MSPH-14-0008.0 </em>This case study examines the challenges and tradeoffs for a small sub-Saharan African country with limited resources as it tries to combat one of the highest rates of HIV-AIDS infection in the world. Swaziland in 1999 declared HIV-AIDS a national disaster. However, under the direction of Dr. Velphi Okello as national antiretroviral therapy (ART) coordinator at the Ministry of Health, the country gradually began to take charge of its own treatment and prevention programs. Okello learned to leverage both internal and international resources to maintain supplies of the essential but expensive ART drugs needed to treat and prevent the further spread of HIV.</p>
<p>
	Preventing mother-to-child transmissions (MTCT) had long been a priority of public health officials. Swaziland worked with global partners, including ICAP of Columbia University, to promote treatment of pregnant women infected with HIV. The country largely managed to adhere to international standards set by the World Health Organization (WHO). But in 2012, WHO guidelines called for a new regimen, Option B+, which while beneficial would impose even greater burdens on an already-stretched national budget. Okello and a multi-stakeholder Technical Working Group faced a tough call. &nbsp;</p>
<p>
	Use this case to promote student discussion of the challenges to a small, poor country of tackling an enormous public health crisis. That meant funding both treatment and prevention measures, accepting international aid while maintaining control of the process, and adapting international guidelines and best practices to the political, financial and cultural realities on the ground. Also ask students to discuss the ethics of prioritizing treatment for pregnant and breast-feeding women over men or never-pregnant women.</p>
<p>
	Use this case in a course/class on public health policy, HIV-AIDS, Africa, multinational aid, medical ethics or evidence-based medicine.</p>
<p style="margin-top: 0.5em; margin-bottom: 0.9em; font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.2000007629395px;">
<p style="margin-top: 0.5em; margin-bottom: 0.9em; font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.2000007629395px;">
	<strong>Credits</strong></p>
<p style="margin-top: 0.5em; margin-bottom: 0.9em; font-family: arial, helvetica, verdana, sans-serif; font-size: 14px; line-height: 19.2000007629395px;">
	<i style="font-family: Arial, Verdana, sans-serif; font-size: 12px;">This case was written by Eric Smalley for the Case Consortium @ Columbia and the Mailman School of Public&nbsp;</i><i style="font-family: Arial, Verdana, sans-serif; font-size: 12px;">Health. Additional funding was provided by the Open Society Foundations. (0914)</i></p>
<div>
	<strong>For further information:</strong></div>
<div>
	E-mail: <a href="mailto:ccnmtl+casestudies@columbia.edu" style="color: rgb(17, 85, 204);" target="_blank">ccnmtl+casestudies@columbia.edu</a></div>
<div>
	Website:&nbsp;<a href="http://casestudies.ccnmtl.columbia.edu/" target="_blank">https://casestudies.ccnmtl.columbia.edu</a></div>


<div class="book-navigation" style="clear:both"><div class="page-links clear-block">


<a href="case_id_146.html" class="page-next" title="Go to next page">Introduction&#160;&#187;</a>

</div>
</div></div>

      </div>
				</div><!-- id="main" -->
	</div><!-- id="contentbody" -->

	
	<div class="visualclear"></div>


</div><!-- id="pagebody" -->



<div style="clear: both;"></div>
<div id="footer">
	<div id="footer-inner">
	  <div class="block block-menu" id="block-menu-66">
    <h2 class="title">System menu</h2>
    <div class="content">
<ul class="menu">
<li class="leaf"><!-- copyright notice --></li>

</ul>
</div>
 </div>
			</div><!-- id="footer-inner" -->

</div><!-- id="footer" -->



</div><!-- id="container" -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-51144540-10");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
